@charset 'utf-8';

.focused {
  position: relative;

  &:before {
    content: ' ';
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    border: 1px solid transparent;
    border-radius: 4px;
    transform: scale(1.1);
    transition:
      transform 0.1s ease,
      border-color 0.3s;
  }

  &:focus,
  &.focus {
    box-shadow: none !important;
    outline: none !important;

    &:before {
      transform: scale(1);
      border-color: $red;
    }
  }
}

.triangle-inside-bottom-right {
  position: relative;
  overflow: hidden;
}

.triangle-inside-bottom-right:after {
  content: '';
  display: block;
  position: absolute;
  right: 2.1rem;
  bottom: 0;
  width: 3rem;
  height: 3rem;
  background-color: $epflred;
  transform: rotate(135deg);
  transform-origin: bottom right;
}

.btn-epfl {
  // TODO: finish this style when we have all states visual
  background-color: $epflred;
  padding: 1rem;
  border-radius: 0;
  border: 0;
  color: $white;
}

.text-small {
  font-size: 0.778rem;
}

@each $key, $value in $grays {
  .bg-gray-#{$key} {
    background: $value !important;
  }
}

.offscreen {
  display: inline !important;
  position: fixed !important;
  left: -9999999rem !important;
  max-height: max-content !important;
}
