@charset 'utf-8';

.focused {
  position: relative;

  &:before {
    content: ' ';
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    border: 1px solid transparent;
    border-radius: 4px;
    transform: scale(1.1);
    transition:
      transform 0.1s ease,
      border-color 0.3s;
  }

  &:focus,
  &.focus {
    box-shadow: none !important;
    outline: none !important;

    &:before {
      transform: scale(1);
      border-color: $red;
    }
  }
}

.text-small {
  font-size: 0.778rem;
}

.triangle-inside-bottom-right {
  position: relative;
  overflow: hidden;
}

.triangle-inside-bottom-right:after {
  content: '';
  display: block;
  position: absolute;
  right: 2.1rem;
  bottom: 0;
  width: 3rem;
  height: 3rem;
  background-color: $epflred;
  transform: rotate(135deg);
  transform-origin: bottom right;
}

$trapeze-height: 0.5rem;

.trapeze-horizontal {
  display: block;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: $trapeze-height * -1;
  border-top: $trapeze-height solid $gray-200;
  border-left: $trapeze-height solid transparent;
  border-right: $trapeze-height solid transparent;
  height: 0;
  transition: 0.2s;
  z-index: 0;
}

*:hover > .trapeze-horizontal {
  bottom: -$trapeze-height;
}

.trapeze-vertical {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  margin-right: $trapeze-height * -1;
  border-right: $trapeze-height solid $gray-200;
  border-top: $trapeze-height solid transparent;
  border-bottom: $trapeze-height solid transparent;
  transition: 0.2s;
  z-index: 0;
}

@each $key, $value in $grays {
  .bg-gray-#{$key} {
    background: $value !important;
  }
}