@charset 'utf-8';

.focused {
  &:focus,
  &.focus {
    box-shadow: 0 0 0 2px $red !important;
  }
}

.triangle-inside-bottom-right {
  position: relative;
  overflow: hidden;
}

.btn-epfl {
  // TODO: finish this style when we have all states visual
  background-color: $epflred;
  padding: 1rem;
  border-radius: 0;
  border: 0;
  color: $white;
  transition: 0.2s ease;

  &:before,
  &:after {
    transition: 0.2s ease;
  }

  &:hover {
    background: darken($epflred, 15%);
    color: $white;

    @include media-breakpoint-up(xl) {
      padding-left: 2rem;
    }

    &:before,
    &:after {
      background: none;
      border-top-color: darken($epflred, 15%);
    }
  }
}

.text-small {
  font-size: 0.778rem;
}

.triangle-outer-bottom-right {
  position: relative;
}

.triangle-outer-bottom-right:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -0.24rem;
  left: -1.3rem;
  border-left: 1rem solid transparent;
  border-top: 1rem solid $epflred;
  border-right: 1rem solid transparent;
  width: 0;
  height: 0;
  transform: rotate(-45deg);
}
