@charset 'utf-8';

@import 'variables';
@import '../../node_modules/bootstrap/scss/functions';
@import 'bootstrap-variables';

.styleguide {
  font-family: $font-family-base;
}

.tlbx-sidebar {
  @media screen and (min-width: 768px) {
    position: fixed;
    max-height: 100vh;
    overflow-y: scroll;
    width: 240px;
  }
}

.tlbx-content-wrapper {
  padding-top: 1.8rem;
}

.tlbx-sidebar-item-list {
  margin-left: 0;
  padding: 0;

  a {
    padding: 0.25rem 0.5rem;
    padding-left: 2rem;
    background: none !important;
    border-bottom: none !important;
    box-shadow: none !important;
    &.active { color: $red !important; }
  }

  li:before { content: none; }
}

.tlbx-item-preview.tlbx-picture img { width: auto; }

.tlbx-event-teaser-event-teaser-large {
  .event-teaser {
    max-width: 800px;
  }
}

#styleguide .tlbx-sidebar-item-list li {
  a {
    position: relative;
    z-index: 1;

    &:before {
      content: none;
    }

    &:after {
      content: ' ';
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: #e0e0e0;
      border: none;
      transform: scaleX(0);
      transform-origin: 0 50%;
      transition: none;
    }
  }

  a:focus,
  a.active,
  a:active {
    font-weight: normal !important;

    &:after {
      transform: scaleX(1);
      transition: 0.4s ease-out;
    }
  }
}

.tlbx-notes {
  code {
    padding: 0.05em 0.1em;
    border-radius: 2px;
    background-color: rgba($epflred, 0.3);
    border: 1px solid rgba($epflred, 0.3);
  }
}
