@charset 'utf-8';

@import 'variables';
@import '../../node_modules/bootstrap/scss/functions';
@import 'bootstrap-variables';

.styleguide {
  font-family: $font-family-base;
}

.tlbx-toolbar-wrapper {
  position: static;

  @media screen and (min-width: 768px) {
    position: fixed;
  }
}


.tlbx-doc-markdown-wrapper {
  max-width: map-get($container-max-widths, 'md');
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .tlbx-toolbar {
    position: fixed;
  }

  .tlbx-sidebar {
    position: fixed;
    max-height: 100vh;
    overflow-y: scroll;
    width: 240px;
  }
}

.tlbx-item-preview {
  overflow: hidden;
}

/*  Dropdown needs `overflow: visible` to allow it to
    escape its container. */
.tlbx-item-preview.tlbx-component-dropdown {
  overflow: visible;
}


.tlbx-sidebar-item-list {
  margin-left: 0;
  padding: 0;

  a {
    padding: 0.25rem 0.5rem;
    padding-left: 2rem;
    background: none !important;
    border-bottom: none !important;
    box-shadow: none !important;
    &.active { color: $red !important; }
  }

  li:before { content: none; }
}

.tlbx-item-preview.tlbx-picture img { width: auto; }
.tlbx-item-preview.tlbx-component-popover .popover { position: static; }

.tlbx-event-teaser-event-teaser-large {
  .event-teaser {
    max-width: 800px;
  }
}

#styleguide .tlbx-sidebar-item-list li {
  a {
    position: relative;
    z-index: $zindex-1;

    &:before {
      content: none;
    }

    &:after {
      content: ' ';
      position: absolute;
      z-index: $zindex-background;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: #e0e0e0;
      border: none;
      transform: scaleX(0);
      transform-origin: 0 50%;
      transition: none;
    }
  }

  a:focus,
  a.active,
  a:active {
    font-weight: normal !important;

    &:after {
      transform: scaleX(1);
      transition: 0.4s ease-out;
    }
  }
}

.tlbx-notes {
  code {
    padding: 0.05em 0.1em;
    border-radius: 2px;
    background-color: rgba($red, 0.3);
    border: 1px solid rgba($red, 0.3);
  }
}

.tlbx-item-code {
  pre code {
    display: flex;
    flex-direction: column;

    > span {
      &:hover {
        background-color: rgba($white, 0.05);
      }
    }
  }
}

.tlbx-component-access-nav {
  position: relative;
  padding-bottom: 45px;

  &:after {
    content: 'Focus here and press <Tab>.';
    color: $text-muted;
  }

  .access-nav {
    position: static;

    li a {
      position: absolute;
    }
  }
}

.tlbx-component-nav-toggle-mobile {
  .nav-toggle-mobile {
    display: flex !important;
    margin-left: 0;
  }
}

.tlbx-component-search {
  .d-lg-none {
    display: block !important;
  }
}

.tlbx-component-nav {
  min-height: 250px;
  padding: 0;

  .nav-toggle .nav-main {
    position: absolute;
  }

  @media (min-width: 1200px) {
    .desktop-menu-open .nav-toggle .nav-main {
      left: 20px;
    }
  }
}
