@charset 'utf-8';

@import 'variables';
@import '../../node_modules/bootstrap/scss/functions';
@import 'bootstrap-variables';

.styleguide {
  font-family: $font-family-base;
}

.tlbx-content-wrapper {
  padding-top: 1.8rem;
}

.tlbx-sidebar-item-list {
  margin-left: 0;
  padding: 0;

  a {
    padding: 0.25rem 0.5rem;
    padding-left: 2rem;
    border-bottom: none !important;
    box-shadow: none !important;
  }

  li:before { content: none; }
}

.tlbx-item-preview picture img { width: auto; }

.tlbx-event-teaser,
.tlbx-event-teaser-event-teaser-passed {
  .event-teaser {
    max-width: 400px;
  }
}

.tlbx-event-teaser-event-teaser-large {
  .event-teaser {
    max-width: 800px;
  }
}

