@charset 'utf-8';

/*
  trapezes
*/

// vertical

.trapeze-vertical-container {
  @include trapeze-span-vertical-container();
}

.trapeze-vertical {
  @include trapeze-span-vertical();
}

// horizontal

.trapeze-horizontal-container {
  @include trapeze-span-horizontal-container();
}

.trapeze-horizontal {
  @include trapeze-span-horizontal();
}

// use pseudo-classes for the trapeze instead of <span>

.link-trapeze-vertical {
  @include link-trapeze();
}

.link-trapeze-horizontal {
  @include link-trapeze(horizontal);
}
