@charset 'utf-8';

/*
  trapezes
*/

// vertical

.trapeze-vertical-container {
  display: block;
  position: relative;
  z-index: 0;
  transition:
    margin $trapeze-animation-duration,
    padding $trapeze-animation-duration;

  &:hover {
    padding-left: $trapeze-height;
    margin-right: $trapeze-height * -1;

    .trapeze-vertical {
      border-right-width: $trapeze-height;
    }
  }
}

.trapeze-vertical {
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  margin-right: $trapeze-height * -1;
  border-right: 0 solid $gray-200;
  border-top: $trapeze-height solid transparent;
  border-bottom: $trapeze-height solid transparent;
  transition: border $trapeze-animation-duration;
}

// horizontal

.trapeze-horizontal-container {
  display: block;
  position: relative;
  z-index: 0;
  transition:
    margin $trapeze-animation-duration,
    padding $trapeze-animation-duration;

  &:hover {
    margin-top: -$trapeze-height !important;
    padding-bottom: $trapeze-height;

    .trapeze-horizontal {
      border-top-width: $trapeze-height;
    }
  }
}

.trapeze-horizontal {
  display: block;
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  margin-top: $trapeze-height * -1;
  border-top: 0 solid $gray-200;
  border-left: $trapeze-height solid transparent;
  border-right: $trapeze-height solid transparent;
  transition: border $trapeze-animation-duration;
}


// use pseudo-classes for the trapeze instead of <span>

.link-trapeze-vertical {
  @include link-trapeze();
}

.link-trapeze-horizontal {
  @include link-trapeze(horizontal);
}
