@charset 'utf-8';

html,
body {
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);

  @include media-breakpoint-down(sm) { font-size: 16px; }

  @include media-breakpoint-down(xs) { font-size: 14px; }
}

h1 {
  line-height: 1.111em;
  font-weight: $font-weight-bold;
}

h3,
.h3 {
  line-height: 1.35em;
  font-weight: $font-weight-bold;
}

h4,
.h4 {
  line-height: 1.35em;
}

h5,
.h5 {
  line-height: 1.4em;
  font-weight: $font-weight-bold;
}

h6,
.h6 {
  line-height: 1.5em;
  text-transform: uppercase;
}

small {
  color: $gray-600;
}

del,
s { color: $gray-600; }

blockquote {
  padding-left: 1.66rem;
  border-left: 1px solid $gray-200;

  p {
    line-height: 1.3em;
    font-style: italic;
  }

  p:before {
    content: "\201C";
    padding-right: 0.2rem;
  }

  p:after {
    content: "\201D";
    padding-left: 0.2rem;
  }

  &.blockquote-fr p:before { content: "\00AB"; }
  &.blockquote-fr p:after { content: "\00BB"; }

  .blockquote-footer {
    margin-top: 0.72rem;
    font-size: $font-size-sm;
    cite { font-style: normal; }
  }
}

ul {
  padding-left: 0;
  margin-left: -0.7rem;

  li {
    list-style-type: none;

    &:before {
      content: '\2022';
      display: inline-block;
      padding-right: 0.3rem;
      height: 0.9rem;
      font-size: 1.1rem;
      line-height: 0.9rem;
      color: $red;
    }
  }

  ul { padding-left: 1.6rem; }
  ul li:before { content: '\25e6'; }
  ul ul li:before { content: '\25aa'; }
}

ol {
  counter-reset: item;
  padding-left: 0;
  margin-left: -0.9rem;

  li {
    list-style-type: none;

    &:before {
      content: counter(item);
      counter-increment: item;
      display: inline-block;
      padding-right: 0.5rem;
      font-size: 0.8rem;
      font-weight: $font-weight-bold;
      color: $red;
    }
  }

  ol {
    counter-reset: secondary-item;
    padding-left: 2.2rem;
  }
  ol ol { counter-reset: third-item; }

  ol li:before {
    content: counter(item) "." counter(secondary-item);
    counter-increment: secondary-item;
    font-weight: $font-weight-normal;
  }

  ol ol li:before {
    content: counter(item) "." counter(secondary-item) "." counter(third-item);
    counter-increment: third-item;
  }
}

table {
  font-size: 0.83rem;
}
