@charset 'utf-8';

@import "./social-color.scss";

$mine-shaft:      #212121;

$tamarillo:       #a80e17;
$epflred:         #e30713;
$wild-watermelon: #fe6971;

<<<<<<< HEAD
/*
  Variables for trapezes card
*/
$trapeze-height: 0.5rem;
=======
$gray-light: #c1c1c1;
>>>>>>> dev
