@charset 'utf-8';

@import "./social-color.scss";

/*
  Variables for trapezes card
*/
$trapeze-height: 0.5rem;
$trapeze-animation-duration: 0.2s;

$header-height: 5.5rem;
$main-nav-width: 28rem;

// mobile-menu (mm) variables
$mm-breadcrumbs-height: 3.5rem;
$mm-lang-height: 3rem;
$mm-lang-width: 5.8rem;

$opacities: () !default;
$opacities: map-merge((
  "0": 0,
  "10": .1,
  "20": .2,
  "25": .25,
  "30": .3,
  "40": .4,
  "50": .5,
  "60": .6,
  "70": .7,
  "75": .75,
  "80": .8,
  "90": .9,
  "100": 1,
), $opacities);

// Legacy font-size
$legacy-font-size-xl:   1.25rem;
$legacy-font-size-lg:   1.125rem;
$legacy-font-size-base: 1rem;
$legacy-font-size-sm:   0.875rem;
$legacy-font-size-xs:   0.75rem;
