@charset 'utf-8';

@import "./social-color.scss";

$mine-shaft:      #212121;

$tamarillo:       #a80e17;
$epflred:         #e30713;
$wild-watermelon: #fe6971;

$gray-light: #c1c1c1;

/*
  Variables for trapezes card
*/
$trapeze-height: 0.5rem;
$trapeze-animation-duration: 0.2s;

$header-height: 6.5rem;
$breadcrumbs-height: 0;
