@charset 'utf-8';

@import "./social-color.scss";

$mine-shaft:      #212121;

$tamarillo:       #a80e17;
$epflred:         #e30713;
$wild-watermelon: #fe6971;

$gray-light: #c1c1c1;

/*
  Variables for trapezes card
*/
$trapeze-height: 0.5rem;
$trapeze-animation-duration: 0.2s;

$header-height: 6.5rem;
$main-nav-width: 25rem;

// mobile-menu (mm) variables
$mm-breadcrumbs-height: 2.9rem;
$mm-lang-height: 3.5rem;
$mm-lang-width: 7rem;

