<ol class="list-numbered">
  <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, facere! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, facere! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, facere!</li>
  <li>Lorem ipsum dolor sit amet.</li>
  <li>Lorem ipsum dolor sit amet consectetur adipisicing
    <ol>
      <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, facere! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, facere! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, facere!</li>
      <li>Lorem ipsum
        <ol>
          <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, facere! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, facere! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, facere!</li>
        </ol>
      </li>
    </ol>
  </li>
  <li>Lorem ipsum</li>
</ol>
