<ul class="list-bullet">
  <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, facere! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, facere! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, facere!</li>
  <li>Lorem ipsum dolor sit amet.</li>
  <li>Lorem ipsum dolor sit amet consectetur adipisicing.
    <ul>
      <li>Lorem ipsum dolor sit amet consectetur.
        <ul>
          <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, facere! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, facere! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, facere!</li>
        </ul>
      </li>
    </ul>
  </li>
  <li>Lorem ipsum dolor sit amet consectetur.</li>
</ul>
