<div class="row justify-content-center align-items-center">
  <div class="col-md-4">
    {% include '@molecules/sponsor/sponsor-link.twig' %}
  </div>
  <div class="col-md-4">
    {% include '@molecules/sponsor/sponsor-link.twig' %}
  </div>
  <div class="col-md-4">
    {% include '@molecules/sponsor/sponsor-link.twig' %}
</div>