@charset "utf-8";

.carousel {
  overflow: hidden;
}

.carousel-control {
  padding: 0 2rem;
  background: transparent;
  border: 0;
  cursor: pointer;
  font-size: 2rem;
  transition: all .3s ease-in-out;

  .icon {
    width: 1.5em;
    height: 1.5em;
    padding: 0.5rem;
    background: rgba(255,255,255,0.6);
    border-radius: 50%;
    color: #000;
    transition: all .2s;
  }

  &:hover {
    opacity: 1;
    padding-left: 1rem;
    padding-right: 1rem;

    .icon {
      background: rgba(255,255,255,0.8);
    }
  }
}

.carousel-control-prev {
  justify-content: flex-start;

  .icon {
    padding-right: 0.625rem;
    padding-left: 0.375rem;
  }
}
.carousel-control-next {
  justify-content: flex-end;

  .icon {
    padding-right: 0.375rem;
    padding-left: 0.625rem;
  }
}

.carousel-indicators {
  bottom: 0;
  margin: 0;
  padding: 0 15% 1rem;

  &:before {
    content: "";
    position: absolute;
    top: auto; right: 0; bottom: 0; left: 0;
    height: 6rem;
    opacity: .3;
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }

  li {
    border-top: inherit;
    border-bottom: inherit;
    border-radius: 50%;
    cursor: pointer;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    padding: 0;
    
    &:before {
      content: none;
    }
  }
}

@include media-breakpoint-down(lg) {

  .carousel-control {
    display: none;
  }

  .carousel-indicators {
    position: static;
    padding: 1.5rem 15% 0;

    &:before {
      display: none;
    }

    li {
      width: 14px;
      height: 14px;
      background: $gray-200;

      &.active {
        background: $red;
      }
    }
  }

  .carousel-highlighted-news {

    .carousel-indicators {
      padding-top: .5rem;
    }
  }
}
