<div class="links-group links-group-teaser">
  <h5 id="links-group-title"><a class="link-pretty" href="#">Vue d’ensemble de l’EPFL</a></h5>
  <ul class="list-unstyled">
    <li><a class="link-pretty" href="#">Chiffres clés</a></li>
    <li><a class="link-pretty" href="#">3 missions de l’EPFL</li>
    <li><a class="link-pretty" href="#">Organigrammes de la direction</li>
    <li><a class="link-pretty" href="#">Réalisations importantes de l’EPFL</li>
  </ul>
</div>
