<a href="#" class="card card-overlay link-trapeze-horizontal">
  <picture class="card-img">
    <img class="img-fluid" src="./images/event_teaser.png" alt="a portrait of professor Xile Hu">
  </picture>
  <div class="card-img-overlay">
    <h3 class="h4 card-title">
      <span class="text-padded">Faculté de l’Environnement Naturel, Architectural et Construit</span>
    </h3>
    <p class="h4">
      <strong class="text-padded">ENAC</strong>
    </p>
  </div>
</a>
