<a href="#" class="card link-trapeze-horizontal">
  <div class="card-body">
    <p class="text-muted small">ACC</p>
    <h3 class="h5 card-title">Association des Cadres de la Confédération</h3>
    <div class="card-info card-info-bordered">
      <span>Aide à la vie professionnelle</span>
    </div>
    <p class="card-text">First experiences of celestial bodies begins when we saw our first stars.</p>
  </div>
</a>
