<div class="row">
  <div class="col-md-6">
    <a href="#" class="card link-trapeze-horizontal">
      <div class="card-body">
        <h3 class="h5 card-title text-arrow mb-0">Analytical Chemistry</h3>
      </div>
    </a>
  </div>
  <div class="col-md-6">
    <a href="#" class="card link-trapeze-horizontal">
      <picture class="card-img-top">
        <img src="./images/event_teaser.png" class="img-fluid" title="professor Xile Hu" alt="a portrait of professor Xile Hu" />
      </picture>
      <div class="card-body">
        <h3 class="h5 card-title text-arrow mb-0">Analytical Chemistry</h3>
      </div>
    </a>
  </div>
</div>
