<div class="row">
  <div class="col-md-6 d-flex">
    <a href="#" class="card link-trapeze-horizontal">
      <div class="card-body">
        <div class="card-header">
          <span>Bachelor</span>
        </div>
        <h3 class="h5 card-title">Génie Électrique et Électronique</h3>
        <hr>
        <p class="card-text">L’électricité est un élément indispensable de notre vie quotidienne : il est difficile de s’en passer ne serait-ce qu’un seul jour. C’est une ressource unique, dotée d’une double propriété : elle est à la fois énergie et vecteur d’information. Le génie électrique et électronique se trouve constamment à la croisée de ces deux domaines.</p>
      </div>
    </a>
  </div>
  <div class="col-md-6 d-flex">
    <a href="#" class="card link-trapeze-horizontal">
      <div class="card-body">
        <div class="card-header">
          <span>Master</span>
        </div>
        <h3 class="h5 card-title">Architecture</h3>
        <hr>
        <p class="card-text">Le Master en architecture de l'EPFL s'inscrit dans la tradition de formation polytechnique d'architectes concepteurs et praticiens disposant d'un solide bagage théorique : le projet à l'échelle architecturale, urbaine et territoriale, se nourrit en tant que discipline centrale des apports de la théorie et de l'histoire, de la sociologie et de l'économie.</p>
      </div>
    </a>
  </div>
</div>
