<a href="#" class="card link-trapeze-horizontal">
  <div class="card-body">
    <h3 class="card-title">Doctorats</h3>
    <p class="card-text">Une école doctorale de 20 programmes pour 20 disciplines, qui catalysent une communauté scientifique toujours plus dynamique et innovante.</p>
  </div>
</a>
