<nav
  id="nav-aside"
  class="nav-aside"
  role="navigation"
  aria-describedby="nav-aside-title"
>
  <h2 class="sr-only">Navigation latérale</h2>
  <ul>
    <li><a href="#">S'inscrire au Master</a></li>
    <li><a href="#">Plan d'études</a></li>
    <li><a href="#">En cours d'études</a></li>
    <li><a href="#">Mineurs</a></li>
    <li><a href="#">Projets de semestre</a></li>
    <li class="active">
      <a href="#">Projets de Master <span class="sr-only">(page courante)</span></a>
      <ul>
        <li><a href="#">Projets par laboratoire</a></li>
        <li><a href="#">Master's project expectations</a></li>
      </ul>
    </li>
    <li><a href="#">Contacts</a></li>
    <li><a href="#">Stages</a></li>
    <li><a href="#">Bourse de recherche du programme MSc</a></li>
  </ul>
</nav>
