@charset 'utf-8';

@keyframes rotation {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.loader {
  display: inline-block;
  width: 0.9rem;
  height: 0.9rem;
  border: 3px solid gray('200');
  border-right-color: gray('600');
  border-radius: 100%;
  animation: rotation 1s linear infinite;
}
