<article>
  <div class="row">
    <div class="col-sm-6">
      <p>Maintaining <a href="#sidenotes" aria-describedby="sidenote-label" id="sidenotes-ref">sidenotes</a> manually can be a pain. By using <a href="#css" aria-describedby="sidenote-label" id="css-ref">CSS</a> <a href="#css-counters" aria-describedby="sidenote-label" id="css-counters-ref">counters</a> to add the numbered references in the text and an ordered list to display the actual sidenotes in the aside, it becomes extremely easy.</p>
    </div>

    <div class="col-sm-5 ml-auto">
      <aside>
        <h2 class="sr-only" id="sidenote-label">Sidenotes</h2>
        <ol>
          <li id="sidenotes">Sidenotes are notes placed at the right of a page. They cite references or comment on a designated part of the text above it.</li>

          <li id="css">Cascading Style Sheets</li>

          <li id="css-counters">CSS counters are, in essence, variables maintained by CSS whose values may be incremented by CSS rules to track how many times they're used.</li>
        </ol>
      </aside>
    </div>
  </div>
</article>
