@charset 'utf-8';
$card-margin: 0.5rem;

.card-deck {
  display: flex;
  flex-wrap: wrap;
  gap: $spacer;
  box-sizing: border-box;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  justify-content: center;

  > .card {
    flex: 0 1 calc((100% - 2 * #{$spacer} - 6 * #{$card-margin}) / 3);
    margin: $card-margin;
    min-width: 30%;
    max-width: 100%;
    box-sizing: border-box;
    z-index: 1;
  }

  &.spaced-cards {
    .card {
      flex: 1 1 calc((100% - 2 * #{$spacer} - 6 * #{$card-margin}) / 2);
    }
  }

  @include media-breakpoint-down(md) {
    > .card {
      flex: 1 1 calc((100% - 2 * #{$spacer} - 6 * #{$card-margin}) / 2);
    }
  }

  @include media-breakpoint-down(xs) {
    > .card {
      flex: 0 1 100%;
      margin: 0;
    }
  }

  &.card-deck-line {

    &:before {
      content: ' ';
      position: absolute;
      top: 50%;
      left: 5%;
      width: 30%;
      z-index: $zindex-0;
      border-bottom: 1px solid $gray-100;

      .bg-gray-100 & {
        border-bottom-color: $gray-300;
      }
    }

    &:after {
      content: ' ';
      position: absolute;
      top: 50%;
      right: 5%;
      width: 30%;
      z-index: $zindex-0;
      border-bottom: 1px solid $gray-100;

      .bg-gray-100 & {
        border-bottom-color: $gray-300;
      }
    }

    > .card {
      &:before {
        content: ' ';
        display: block;
        position: absolute;
        top: 0;
        left: calc(#{$spacer * -1} - 1px);
        width: $spacer;
        height: 100%;
        background: white;

        .bg-gray-100 & {
          background-color: $gray-100;
        }
      }

      &:after {
        content: ' ';
        display: block;
        position: absolute;
        top: 0;
        right: calc(#{$spacer * -1} - 1px);
        width: $spacer;
        height: 100%;
        background: white;

        .bg-gray-100 & {
          background-color: $gray-100;
        }
      }
    }
  }

}