{% set bottomlink = bottomlink|default(true) %}
<div class="list-group mb-5">
  {% for i in 1..4 %}
    <div class="list-group-item list-group-item-publication">
      <div class="row">
        <div class="col-md-8">
          <h4 class="h5">Measuring Latency: Am I doing it right?</h4>
          <p class="text-muted small mb-0">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br>
            Author(s): <a class="text-muted" href="#">John Doe</a>, <a class="text-muted" href="#">John Doe</a>, <a class="text-muted" href="#">John Doe</a>
          </p>
        </div>
        <div class="col-md-3 offset-md-1 text-right">
          <p>
            <a href="#" class="btn btn-secondary btn-sm">Detailed record</a>
          </p>
          <p class="text-muted small mb-0">
            <a class="text-muted" href="#">Full text</a> -
            <a class="text-muted" href="#">Bib TeX</a> -
            <a class="text-muted" href="#">Endnote XML</a>
          </p>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% if bottomlink %}
<p class="text-center">
  <a class="link-pretty" href="#">See all publications</a>
</p>
{% endif %}
