<div class="collapse-group">
  <button
    class="collapse-title collapse-title-desktop collapsed"
    type="button"
    data-toggle="collapse"
    data-target="#collapse-1"
    aria-expanded="false"
    aria-controls="collapse-1"
  >
    Titre du contenu déroulant
  </button>
  <div class="collapse collapse-item collapse-item-desktop" id="collapse-1">
    <p>
      Ipsum doloribus dignissimos accusamus. Dolore necessitatibus doloribus quis. Iste officiis ut quaerat unde vel nobis. Adipisci doloremque tempore sit autem saepe molestiae quas. Beatae sit itaque. Libero maiores dolor.
    </p>
  </div>
  <button
    class="collapse-title collapse-title-desktop collapsed"
    type="button"
    data-toggle="collapse"
    data-target="#collapse-2"
    aria-expanded="false"
    aria-controls="collapse-2"
  >
    Eius architecto laudantium dicta.
  </button>
  <div class="collapse collapse-item collapse-item-desktop" id="collapse-2">
    <p>
      Quae quisquam laborum repellendus debitis. Voluptatem minima nam eius unde quos. Culpa consequuntur atque hic repellendus.
    </p>
    <p>
      Velit accusamus explicabo natus. Incidunt odit ut similique laboriosam repellat. Eos distinctio aperiam ipsa animi sequi animi.
    </p>
  </div>
</div>
