<div class="bg-gray-100 py-5">
  <div class="container">
    <div class="social-share-container">
      <div class="social-share ">

        <div class="social-share-text">
          Partager sur
        </div>
          {% include '@atoms/social-icon/social-icon-link-group.twig' with { discrete: true } %}
      </div>

      <div class="social-share-copylink">

        <div class="social-share-text">
          Copier le lien
        </div>

        <div class="input-group">
          <input type="text" class="form-control" value="www.epfl.ch/xyz" aria-label="Lien de partage">
          <div class="input-group-append">
            <button class="btn btn-primary btn-sm social-share-copy" type="button" data-success="Copié !">Copier</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
