<div class="links-group links-group-teaser">
  <h5 id="links-group-title"><a class="link-pretty" href="#">Vue d’ensemble de l’EPFL</a></h5>
  <nav
    class="nav flex-column flex-wrap align-items-start"
    role="navigation"
    aria-labelledby="links-group-title"
  >
    <a class="nav-link link-pretty" href="#">Chiffres clés</a>
    <a class="nav-link link-pretty" href="#">3 missions de l’EPFL</a>
    <a class="nav-link link-pretty" href="#">Organigrammes de la direction</a>
    <a class="nav-link link-pretty" href="#">Réalisations importantes de l’EPFL</a>
  </nav>
</div>
