<div class="links-group">
  <h5 id="links-group-title">Plus d'informations sur la faculté</h5>
  <nav
    class="nav flex-column flex-wrap align-items-start"
    role="navigation"
    aria-labelledby="links-group-title"
  >
    <a class="nav-link link-pretty" href="#">Tous les laboratoires de la faculté</a>
    <a class="nav-link link-pretty" href="#">Liste des professeurs de la faculté</a>
    <a class="nav-link link-pretty" href="#">Postes à pourvoir à l'ENAC</a>
    <a class="nav-link link-pretty" href="#">Services internes</a>
    <a class="nav-link link-pretty" href="#">L'organisation de la faculté</a>
    <a class="nav-link link-pretty" href="#">Chaires de l'ENAC</a>
  </nav>
</div>
