@charset 'utf-8';

//
// Inner nav styles
//
.nav {
  background: white;
  z-index: 100;
  transition: left 0.3s;
  border-right: 1px solid gray('100');

  .nav-wrapper {
    width: 100%;
    height: 100%;
    overflow: scroll;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .nav-container {
    display: block;
    position: relative;
    width: 100%;
    margin-left: -100%;
    padding-left: 100%;
  }

  ul {
    $nav-spacer: 4px;

    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    margin: 0;
    padding: 0 2rem 0 3rem;
    transition: left 0.2s;

    &.parent {
      display: block;
      left: 0;
    }

    &.active {
      display: block;
      left: 100%;
    }

    li {
      display: flex;
      flex-flow: row nowrap;
      border-bottom: 1px solid lightgray;

      &.active {
        & > a,
        & > a:hover {
          background: $epflred;
          font-weight: bold;
          color: $white;
        }
      }

      a {
        display: block;
        flex: 1 1 auto;
        margin: $nav-spacer 0;
        padding: 0.4rem;
        transition: all 0.2s;
        text-decoration: none;
        margin-left: -0.7 * $spacer;
        padding-left: 0.7 * $spacer;

        &:before {
          content: none;
        }

        &:hover,
        &:focus {
          color: $body-color;

          &:not(.nav-arrow) {
            background: gray('100');
          }

          .icon-container {
            background: gray('100');
          }
        }

        & + .nav-arrow {
          margin-left: $nav-spacer;
        }
      }

      .nav-arrow {
        flex: 0 0 3rem;
        position: relative;
        margin-top: $nav-spacer;
        margin-bottom: $nav-spacer;
        padding: 0 $nav-spacer 0 $nav-spacer+1;
        font-size: 1.3rem !important;
        line-height: 1rem !important;
        font-weight: normal !important;

        .icon-container {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          transition: background-color 0.3s;
        }

        &:before,
        &:after {
          content: ' ';
          position: absolute;
          top: 5%;
          left: 0;
          width: 1px;
          height: 90%;
          background: gray('200');
        }

        &:after {
          left: 100%;
        }

        .icon {
          width: 1rem;
          transform: translateY(-0.1rem);
        }

        &:hover {
          .icon-container {
            background: gray('100');
          }
        }
      }
    }
  }

  // back button (back one level)
  .back-container {
    &:hover {
      &:before {
        left: 1.3rem;
      }
    }

    img {
      position: absolute;
      top: 0.6rem;
      left: 1.6rem;
      width: 1.3rem;
      transition: all 0.2s;
    }
  }

  // home indicator (level 0)
  .nav-home,
  .nav-back {
    display: block;
    padding-bottom: 1.2rem;
    border-bottom: none;
    margin-left: -2rem;
    padding-left: 2rem;

    a {
      color: gray('500');
    }

    .icon {
      fill: gray('300');
    }
  }

  .nav-back {
    .icon {
      width: 0.8rem;
      margin-right: 0.2rem;
      transition: transform 0.2s fill 0.2s;
      fill: gray('300');
    }

    &:hover {
      .icon {
        transform: translateX(-0.2rem);
        fill: $body-color;
      }
    }
  }

  .nav-home {
    .icon {
      width: 0.6rem;
      margin-top: 0.1 * $spacer;
    }
  }
}

//
// Close button for toggle menu
// 
.nav-close {
  z-index: 999;
  position: absolute;
  top: 1rem;
  right: -1rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: white;
  padding-left: 9px;
  border: 1px solid lightgrey;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    background: lightgrey;

    &:before,
    &:after {
      background: black;
    }
  }

  &:before,
  &:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 0.95rem;
    width: 16px;
    height: 2px;
    background: gray;
    border-radius: 2px;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}
//
// Desktop
//
@include media-breakpoint-up (xl) {
  // Solid nav
  .nav-solid {
    display: flex;
    flex-flow: row nowrap;

    .nav {
      flex: 0 0 25rem;
      max-width: 25rem;
    }

    .content {
      flex: 1 1 auto;
    }
  }

  // Toggle nav
  .nav-toggle {
    .content {
      position: relative;

      &.open {
        overflow: hidden;

        .overlay {
          display: block;
        }
      }
    }
  }

  .nav {
    li {
      font-size: 0.9 * $font-size-base;
    }
  }
}

//
// Mobile
// 
@include media-breakpoint-down (lg) {
  .main-container {
    position: relative;
    height: calc(100% - 6.5rem);
  }

  .nav {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: 1rem;
    border-top: 1px solid gray('100');
    transform: translateX(-100%);
    transition: transform 0.2s;

    ul {
      padding: 0 1.2 * $spacer;

      li {
        a {
          font-size: 1.2 * $font-size-base;
          padding-top: 0.8 * $spacer;
          padding-bottom: 0.8 * $spacer;
        }

        .nav-arrow {
          flex: 0 0 4rem;
        }
      }
    }

    .nav-home {
      display: none;
    }
  }

  // toggle menu
  .mobile-menu-open {
    .nav {
      transform: translateX(0);
    }

    main.content {
      max-height: 0;
    }
  }
}

//
// Overlay
//
.overlay {
  content: ' ';
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
  z-index: 50;
  opacity: 0;
  background: $white;
  transition: opacity 0.3s;
}
