@charset 'utf-8';

.list-group-item {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  
  p:last-child {
    margin-bottom: 0;
  }
}

.list-group-item-borderless {
  padding-right: 0;
  padding-left: 0;
  border-right: 0;
  border-left: 0;
}

.list-group-item-gray .list-group-teaser-container {
  background: gray('100');
  transition: background 0.25s;
  &:hover { background: $white; }
}

.list-group {
  
  li,
  li.list-group-item {
    
    &:before {
      content: none;
    }
  }
  
  .list-group-teaser {
    display: block;
    text-decoration: none;
    padding: 0;
    border: none;

    &:hover {
      z-index: $zindex-10;
    }
    
    & + .list-group-teaser {
      margin-top: -1px;
    }
  }

  .list-group-teaser-thumbnail{
    flex: 0 0 12rem;
    padding: 1rem;
    padding-top: 1rem;
    z-index: $zindex-1;
    
    > a {
      display: block;
    }

    @include media-breakpoint-up(lg) {
      border-right: none;
    }

    @include media-breakpoint-down(md) {
      border-bottom: none;
    }
  }

  .list-group-teaser-content {
    flex: 0 1 100%;
    padding: 1rem;
    z-index: $zindex-1;

    @include media-breakpoint-down(md) {
      border-top: none;
    }

    span {
      color: $body-color;
    }

    p {
      margin: 0;

      &.h5 {
        margin-bottom: 0.4rem;
      }
    }
    
    .teaser-url {
      overflow-wrap: break-word;
      word-wrap: break-word;
      word-break: break-word;
    }
  }

  .list-group-teaser-container {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    border: 1px solid gray('200');
    transition: border-color 0.2s;

    @include media-breakpoint-down(md) {
      flex-direction: column;
      
      .list-group-teaser-thumbnail {
        flex-basis: 0;
        padding-bottom: 0;
      }
    }

    &:hover {
      //border-color: $black;
      
      .list-group-teaser-content,
      .list-group-teaser-thumbnail {
        border-color: $black;
      }
    }
    
    &.teaser-img-right {
      flex-direction: row-reverse;
      
      @include media-breakpoint-down(md) {
        display: block;
        
        .list-group-teaser-thumbnail {
          float: right;
          max-width: 50%;
          padding-bottom: 1rem;
          width: calc( 100px + 2rem );
        }
      }
    }
  }

  .list-group-teaser-more {
    display: block;
    padding: 0.4rem 1rem;
    background: $white;
    border: 1px solid gray('200') !important;
    font-size: 90%;
    background-image: none !important;
    text-align: center;
    margin-top: 1rem;
    transition: border 0.2s, color 0.3s;

    &:hover {
      border: 1px solid $black !important;
    }
  }
  
  .item-metadata {
    
    p {
      display: inline-block;
      margin-bottom: 0;
    }
    
    .item-date {
      font-size: 1rem;
      font-weight: bold;
      margin-right: 0.5em;
    }
  }
}

.list-group-item-infoscience {
  
  &.has-thumbnail {
    display: flex;
    
    .list-group-thumbnail{
      flex: 0 0 8rem;
      margin-right: 1rem;
      z-index: $zindex-1;
    }
    
    .list-group-content {
      flex: 0 1 100%;
      z-index: $zindex-1;
    }
    
  }
}
