@charset 'utf-8';

.cover {
  position: relative;

  figcaption {
    position: absolute;
    right: ($grid-gutter-width / 2);
    bottom: ($grid-gutter-width / 2);
    z-index: $zindex-1;

    @include media-breakpoint-up(md) {
      right: $grid-gutter-width;
      bottom: $grid-gutter-width;
    }
  }
}
