{% extends "@templates/base/base.twig" %}

{% block grid %}{% endblock %}

{% block content %}

<div class="container mb-5">
  <h1>Actualités</h1>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-4">
      {% include '@molecules/filters/filters.twig' %}
    </div>
    <div class="col-md-8" id="tour-sponsors">
      <div class="row">
        {% include '@content-types/news/news.twig' %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

