<div class="bg-gray-100 py-5">
  <div class="container">
    <div class="social-share-container">
      <div class="social-share ">

        <div class="social-share-text">
          Partager sur
        </div>
          {% include '@atoms/social-icon/social-icon-link-group.twig' with { discrete: true } %}
      </div>

      <div class="social-share-copylink">

        <div class="input-group">
          <input type="text" class="form-control sr-only" value="www.epfl.ch/xyz" aria-label="Lien de partage">
          <button class="btn btn-primary btn-sm social-share-copy" title="Copier le lien de la page" type="button" data-success="Lien copié !">Copier le lien</button>
        </div>
      </div>
    </div>
  </div>
</div>
