<div class="row">
  <div class="social-share-container social-share-light">

    <div class="social-share ">
      <p class="social-share-text">
        Suivez nous sur <span class="sr-only">les réseaux sociaux</span>
      </p>
      {% include '@atoms/social-icon/social-icon-link-group.twig' with { discrete: true, social_mastodon: true, social_tiktok: true } %}
    </div>

  </div>
</div>