@charset 'utf-8';

.social-share-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem 1.5rem;
  background: $white;
  color: $gray-600;

  @include media-breakpoint-up(lg) {
    flex-flow: row nowrap;
    justify-content: space-between;
  align-items: center;
  }

  &.social-share-light {
    display: inline-block;
  }
}

.social-share {
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  @include media-breakpoint-up(lg) {
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .social-icon {
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;

    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
    }
  }

  .social-share-text {
    flex-basis: 100%;
    margin-right: 0.5rem;
    margin-bottom: 0.25rem;

    @include media-breakpoint-up(lg) {
      flex-basis: auto;
      margin-bottom: 0;
    }
  }
}

.social-share-copylink {
  display: flex;
  white-space: nowrap;
  align-items: center;

  @include media-breakpoint-up(lg) {
    margin-top: 0;
  }

  @include media-breakpoint-down(md) {
    white-space: normal;
  }

  .input-group {

    .form-control {
      border: none !important;
      box-shadow: none !important;
      &:before { content: none; }

      &.sr-only {
        position: absolute;
      }
    }
  }
}
