@charset 'utf-8';

.project-data {
  margin-bottom: 0;
  
  & + .project-data {
    margin-top: .125rem;
  }
  
  .available {
    font-weight: bold;
    color: $green-text;
  }
  .completed {
    font-weight: bold;
  }
}

.project-completed {
  .actions {
    margin-top: .25rem;
    
    .btn {
      margin: .25rem .25rem 0 0;
    }
  }
}

@include media-breakpoint-down(sm) {
  
  .project-completed .actions {
    max-height: 240px;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
  }
  
  .collapsed .project-completed .actions {
    max-height: 0;
  }
}

.project-thumb {
  margin-bottom: 1rem;
  
  @include media-breakpoint-up(sm) {
    float: right;
    margin-left: 1rem;
    width: 150px;
    max-width: 25%;
  }
}
