@charset 'utf-8';

.datepicker {
  display: none;
}

.datepicker-wrapper .picker__holder {
  padding: 0.5rem 0;
  background: $white;
  border: 1px solid $gray-100;
}

.datepicker-wrapper .picker__header {
  margin-bottom: 1.4em;

  @include media-breakpoint-down(sm) {
    text-align: left;
  }
}

.datepicker-wrapper .picker__month { font-weight: 700; }
.datepicker-wrapper .picker__year { font-style: normal; }

.datepicker-wrapper .picker__nav--next,
.datepicker-wrapper .picker__nav--prev {
  right: 0;
  width: 2.4rem;
  height: 2.4rem;
  padding: 0;
  border: 1px solid $gray-100;
  border-radius: 100%;
  text-align: center;
  transition: border 0.2s;

  &:hover,
  &:focus {
    background: transparent;
    border: 1px solid $gray-600;
  }
}

.datepicker-wrapper .picker__nav--prev {
  right: auto;
  left: 0;

  @include media-breakpoint-down(sm) {
    right: 3rem;
    left: auto;
  }
}

.datepicker-wrapper .picker__nav--next:before,
.datepicker-wrapper .picker__nav--prev:before {
  content: ' ';
  display: inline-block;
  position: relative;
  top: 0.95rem;
  right: 0.1rem;
  width: 0.5rem;
  height: 0.5rem;
  border-style: solid;
  border-width: 2px 2px 0 0;
  border-color: $black $black transparent transparent;
  transform: rotate(45deg);
  vertical-align: top;
}

.datepicker-wrapper .picker__nav--prev:before {
  right: auto;
  left: 0.1rem;
  transform: rotate(-135deg);
}

.datepicker-wrapper .picker__day {
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  background: transparent !important;
  line-height: 1.65rem;
  border-radius: 100%;

  &:hover,
  &:focus {
    border: 1px solid $gray-100;
  }

  &.picker__day--today {
    border-color: $red;
    &:before { content: none; }
  }

  &.picker__day--highlighted {
    border-color: $gray-300;
  }

  &.picker__day--selected {
    background: $red !important;
    border-color: $red;
  }
}
