<h5>non-link</h5>
<span class="tag tag-plain">Plain</span>
<span class="tag tag-primary">Primary</span>
<span class="tag tag-secondary">Secondary</span>
<span class="tag tag-success">Success</span>
<span class="tag tag-danger">Danger</span>
<span class="tag tag-warning">Warning</span>
<span class="tag tag-info">Info</span>
<span class="tag tag-light">Light</span>
<span class="tag tag-dark">Dark</span>
<hr>
<h5>link</h5>
<a href="#" class="tag tag-plain">Plain</a>
<a href="#" class="tag tag-primary">Primary</a>
<a href="#" class="tag tag-secondary">Secondary</a>
<a href="#" class="tag tag-success">Success</a>
<a href="#" class="tag tag-danger">Danger</a>
<a href="#" class="tag tag-warning">Warning</a>
<a href="#" class="tag tag-info">Info</a>
<a href="#" class="tag tag-light">Light</a>
<a href="#" class="tag tag-dark">Dark</a>
<hr>
<h5>removable</h5>
<span class="tag tag-plain">
  Plain
  <a href="javascript:void(0)" class="remove" tabindex="-1" title="Remove">×</a>
</span>
<span class="tag tag-primary">
  Primary
  <a href="javascript:void(0)" class="remove" tabindex="-1" title="Remove">×</a>
</span>
<span class="tag tag-secondary">
  Secondary
  <a href="javascript:void(0)" class="remove" tabindex="-1" title="Remove">×</a>
</span>
<span class="tag tag-success">
  Success
  <a href="javascript:void(0)" class="remove" tabindex="-1" title="Remove">×</a>
</span>
<span class="tag tag-danger">
  Danger
  <a href="javascript:void(0)" class="remove" tabindex="-1" title="Remove">×</a>
</span>
<span class="tag tag-warning">
  Warning
  <a href="javascript:void(0)" class="remove" tabindex="-1" title="Remove">×</a>
</span>
<span class="tag tag-info">
  Info
  <a href="javascript:void(0)" class="remove" tabindex="-1" title="Remove">×</a>
</span>
<span class="tag tag-light">
  Light
  <a href="javascript:void(0)" class="remove" tabindex="-1" title="Remove">×</a>
</span>
<hr>
<h5>small</h5>
<span class="tag tag-sm tag-plain">Plain</span>
<span class="tag tag-sm tag-primary">Primary</span>
<span class="tag tag-sm tag-secondary">Secondary</span>
<span class="tag tag-sm tag-success">Success</span>
<span class="tag tag-sm tag-danger">Danger</span>
<span class="tag tag-sm tag-warning">Warning</span>
<span class="tag tag-sm tag-info">Info</span>
<span class="tag tag-sm tag-light">Light</span>
<span class="tag tag-sm tag-dark">Dark</span>
<hr>
