{% extends "@templates/base/base.twig" %}

{% block content %}

<div class="container-full">
  <div class="hero">
    <div class="hero-content-container">
      <h1 class="hero-title">Innovation</h1>
    </div>
    <div class="hero-img">
      <img src="images/styleguide/gallery/gallery_01.jpg" alt="IMAGE DESCRIPTION HERE" class="img-fluid">
    </div>
  </div>
</div>

<div class="mt-5">
  <p>
    La vice-présidence pour l'innovation (VPI) est l'interface entre l'EPFL et les milieux économiques. Elle encourage l'entrepreneuriat et la création de start-ups, elle favorise l'innovation et la recherche en aidant l'industrie à développer des partenariats avec l'EPFL. la VPI est également en charge de la plateforme Switzerland Innovation Park Network West, qui est étroitement liée à l'extension des autres campus de l'EPFL.
  </p>
</div>

<div class="container-full bg-gray-100 py-5 mt-5">
  <div class="container">
    <h2 class="mb-4 mt-4">Key numbers</h2>
  </div>
  {% include '@organisms/key-number-group/key-number-group.twig' %}
</div>

<div class="container">
  {% include '@content-types/news/news-latest-two.twig' %}
</div>

<div class="container py-5 mt-5">
  <div class="row">
    <div class="col-md-6">
      {% include '@content-types/basic-page/basic-page.twig' %}
    </div>
    <div class="col-md-6">
      {% include '@content-types/basic-page/basic-page.twig' %}
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      {% include '@content-types/basic-page/basic-page.twig' %}
    </div>
    <div class="col-md-6">
      {% include '@content-types/basic-page/basic-page.twig' %}
    </div>
  </div>
</div>

<div class="container-full bg-gray-100 py-5 mt-5">
  <div class="overflow-hidden">
    <div class="container">
      <h2 class="mb-4 mt-4">The next events</h2>
      {% include '@organisms/card-slider/card-slider.twig' %}
    </div>
  </div>
</div>

<div class="container py-5 mt-5">
  <div class="row">
    <div class="col-md-6">
      {% include '@organisms/contact/contact-compact.twig' %}
    </div>
    <div class="col-md-6">
      {% include '@molecules/links-group/links-group.twig' %}
    </div>
  </div>
</div>

{% endblock %}
