<aside>
  <div class="d-flex justify-content-between px-3 p-md-0 align-baseline">
    <h3 class="h5 mb-0 font-weight-normal">Filtrer les articles</h3>
    <button
      class="btn btn-sm btn-secondary d-lg-none collapsed collapse-drop-toggle"
      type="button"
      data-toggle="collapse"
      data-target="#form-filters"
      aria-expanded="false"
      aria-controls="form-filters"
    >
      Filtres
      {% include '@atoms/icon/icon.twig' with {'icon': 'icon-triangle'} %}
    </button>
  </div>
  <div class="collapse collapse-lg-show collapse-drop" id="form-filters">
    <form class="p-3 p-lg-0 mt-md-3">
      
      <div class="form-group">
        <div class="form-group">
          <label>Catégories</label>
          <select id="select-input" class="custom-select">
            <option selected>Toutes les catégories</option>
            <option value="1">Catégorie 1</option>
            <option value="2">Catégorie 2</option>
            <option value="3">Catégorie 3</option>
            <option value="4">The fourth choice</option>
            <option value="5">42</option>
          </select>
        </div>
      </div>
      
      <div class="form-group">
        <div class="form-group">
          <label>Archives</label>
          <select id="select-input" class="custom-select">
            <option selected>Toutes les années</option>
            <option value="2020">2020</option>
            <option value="2019">2019</option>
            <option value="2018">2018</option>
            <option value="2017">2017</option>
          </select>
        </div>
      </div>
      
    </form>
  </div>
</aside>
