<div class="site">
{% include '@molecules/access-nav/access-nav.twig' %}

{% block fullintro %}{% endblock %}

{% block header %}
  {% include '@organisms/header/header.twig' %}
{% endblock %}

<div class="main-container">
  {% block breadcrumb %}
    {% if not isSpecial %}
    <div class="breadcrumb-container">
      {% if hasTaggedBreadcrumb %}
       {% include '@molecules/breadcrumb/breadcrumb-tagged.twig' %}
      {% else %}
       {% include '@molecules/breadcrumb/breadcrumb-dropdown.twig' %}
      {% endif %}
    </div>
    {% endif %}
  {% endblock %}

  <div class="nav-toggle-layout{% if not isSpecial %} nav-aside-layout{% endif %}">

    {% block nav %}
      {% include '@organisms/nav-mobile/nav-mobile.twig' %}
    {% endblock %}

    <div class="w-100 pb-5">

      {% block main %}
        <main id="main" role="main" class="content {% block grid %}container-grid{% endblock %}">
          {% block content %}{% endblock %}
        </main>
      {% endblock %}

    </div>
  </div>

  {% block footer_container %}
  <div class="bg-gray-100 pt-5">
    <div class="container">
      {% block footer %}
        {% include '@organisms/footer/footer-dark.twig' %}
      {% endblock %}
    </div>
  </div>
  {% endblock %}
  </div>
</div>
</div>
