<a href="#" class="card link-trapeze-horizontal">
  <div class="card-body">
    <div class="card-header">
      <span>Bachelor</span>
    </div>
    <h3 class="h5 card-title">Génie Électrique et Électronique</h3>
    <hr>
    <p class="card-text">L’électricité est un élément indispensable de notre vie quotidienne : il est difficile de s’en passer ne serait-ce qu’un seul jour. C’est une ressource unique, dotée d’une double propriété : elle est à la fois énergie et vecteur d’information. Le génie électrique et électronique se trouve constamment à la croisée de ces deux domaines.</p>
  </div>
</a>
