<a href="#" class="badge badge-primary">Primary</a>
<a href="#" class="badge badge-secondary">Secondary</a>
<a href="#" class="badge badge-success">Success</a>
<a href="#" class="badge badge-danger">Danger</a>
<a href="#" class="badge badge-warning">Warning</a>
<a href="#" class="badge badge-info">Info</a>
<a href="#" class="badge badge-light">Light</a>
<a href="#" class="badge badge-dark">Dark</a>
<br>
<div class="badge-group">
  <a href="#" class="badge badge-primary badge-dismissible">Primary</a>
  <a href="#" class="badge badge-secondary badge-dismissible">Secondary</a>
  <a href="#" class="badge badge-success badge-dismissible">Success</a>
  <a href="#" class="badge badge-danger badge-dismissible">Danger</a>
  <a href="#" class="badge badge-warning badge-dismissible">Warning</a>
  <a href="#" class="badge badge-info badge-dismissible">Info</a>
  <a href="#" class="badge badge-light badge-dismissible">Light</a>
  <a href="#" class="badge badge-dark badge-dismissible">Dark</a>
</div>
