@charset 'utf-8';

.badge {
  padding: 0.4em 0.6em;
  margin: 0 0.1em 0.2em 0;
  text-decoration: none;
  background: $white;
  border: 1px solid $gray-400;
  font-weight: 400;
  color: $gray-800;
  transition:
    color 0.2s ease-in-out,
    background 0.2s ease-in-out;

  &.badge-dismissible:after {
    content: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{$gray-600}' viewBox='0 0 24 24'%3E%3Cpath d='M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z'/%3E%3C/svg%3E"), "#", "%23");
    display: inline-block;
    font-size: 1em;
    margin-left: 0.45em;
    width: 0.6em;
    height: 0.6em;
  }

  &.badge-dismissible:hover:after {
    content: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{$epflred}' viewBox='0 0 24 24'%3E%3Cpath d='M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z'/%3E%3C/svg%3E"), "#", "%23");
  }

  @each $color, $value in $theme-colors {
    &.badge-#{$color} {
      @if $color == "secondary" {
        border-bottom: 1px solid $black;
      }
      @else if $color == "light"{
        border-bottom: 1px solid $gray-400;
      }
      @else {
        border-bottom: 1px solid $value;
      }
    }

    &.badge-#{$color}:focus,
    &.badge-#{$color}:hover {
      background: $gray-100;
      border-top-color: $gray-500;
      border-right-color: $gray-500;
      border-left-color: $gray-500;
      color: $black;
    }
  }
}

.badge-group {
  background: darken($white, 5%);
  padding: 0.1em 0.2em;
  border-radius: $border-radius;
  border: 1px solid $gray-300;
}
