@charset 'utf-8';
@use 'sass:math';

.media-map {
  display: flex;
  flex: 1 1 100%;
  position: relative;

  figure {
    flex: 1 1 100%;
  }

  picture {
    width: 100%;
    margin-bottom: 0;
  }

  img {
    height: 100%;
    object-fit: cover;
    font-family: 'object-fit: cover;'; /* stylelint-disable-line */
  }
}

.media-map-over {
  position: absolute;
  right: math.div($grid-gutter-width, 2);
  bottom: math.div($grid-gutter-width, 2);
  left: math.div($grid-gutter-width, 2);
}
