<div class="question">

  <div class="question-img">
    {% include '@atoms/picture/picture-question.twig' %}
  </div>

  <div class="question-content">
    <p class="h3">À quoi l'éternel brouillard de San Francisco est-il dû ?</p>

    <div class="question-answers">
      {% for i in [1,2,3] %}
          <input type="radio" id="custom-radio{{i}}" name="customRadio" class="custom-control-input">
          <label class="custom-control-label" for="custom-radio{{i}}">
            <span class="custom-control-label-content">
            {{ label ?: 'Option ' ~ i }}</span>
            <span class="trapeze-horizontal d-none d-lg-block"></span>
            <span class="trapeze-vertical d-lg-none"></span>
          </label>
      {% endfor %}
    </div>
  </div>
</div>