<div class="social-feed-group">
  <div class="social-feed-container">
    {% include '@molecules/social-feed/social-feed.twig' %}
  </div>
  <div class="social-feed-container">
    {% include '@molecules/social-feed/social-feed-instagram.twig' %}
  </div>
  <div class="social-feed-container">
    {% include '@molecules/social-feed/social-feed-facebook.twig' %}
  </div>
</div>
