@charset 'utf-8';

$icon-size-base: 1em;

.icon {
  display: inline-flex;
  align-self: center;
  position: relative;
  top: 0.11em;
  width: $icon-size-base;
  height: $icon-size-base;
  color: inherit;
  fill: currentColor;
  transition: transform 0.2s;

  svg {
    width: $icon-size-base;
    height: $icon-size-base;
  }

  .icon-right & { margin-left: 0.4em; }
  .icon-left & { margin-right: 0.4em; }
}

.icon-rotate-90 {
  transform: rotate(90deg);
}
.feather {
  width: 12px;
  height: 12px;
  stroke: currentColor;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}
