{% extends "@templates/base/base.twig" %}

{% block content %}

  <h1 class="mb-5">Bienvenue dans le monde associatif de l'EPFL</h1>

  <p>Grâce à une septentaine d’associations d’étudiants actives sur le campus de l’EPFL, notre communauté bénéficie d’un lieu d’études dynamique, où chaque semaine la diversité s’invite à travers de nombreux évènements.</p>
  <p>Conscient de la charge de travail que représente la gestion d'une association, le Domaine de la formation met à disposition des étudiants des outils et des ressources pour que la vie associative soit source d'épanouissement et s'allie au mieux avec le déroulement des études.</p>

<div class="container mt-6">
  <h2 class="mb-4">Nos associations</h2>
  <div class="row">
    <div class="col-md-4">
      {% include '@molecules/filters/filters.twig' %}
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-6">
          {% for i in 1..6 %}
            {% include '@content-types/association/association.twig' %}
          {% endfor %}
        </div>
        <div class="col-md-6">
          {% for i in 1..7 %}
            {% include '@content-types/association/association.twig' %}
          {% endfor %}
        </div>
      </div>
      {% include '@molecules/pagination/pagination.twig' %}
    </div>
  </div>
</div>
{% endblock %}

