{% set isSpecial = true %}

{% extends "@templates/base/base.twig" %}

{% block header %}
<header role="banner" class="header header-light">
  {% include '@atoms/drawer/drawer.twig' %}
  <div class="header-light-content">
    <a class="logo" href="#">
      <img src="svg/epfl-logo.svg" alt="Logo EPFL, École polytechnique fédérale de Lausanne" class="img-fluid">
    </a>
    <h1>Online People Directory</h1>
    {% include '@molecules/search/search-mobile.twig' %}
    {% include '@molecules/search/search.twig' %}
    {% include '@atoms/nav-lang/nav-lang.twig' %}
    {% include '@atoms/nav-toggle-mobile/nav-toggle-mobile.twig' %}
  </div>
</header>
{% endblock %}

{% block breadcrumb %}
<div class="breadcrumb-container">
  {% include '@molecules/breadcrumb/breadcrumb.twig' %}
</div>
{% endblock %}

{% block grid %}{% endblock %}

{% block content %}
  <div class="container">
    {# Title and actions #}
    <div class="d-flex flex-wrap justify-content-between align-items-baseline">
      <h1 class="mr-3">Prenom Nom</h1>
      <div>
        {% include '@atoms/icon/icon.twig' %}
        <a href="#">
          Edit profile <span class="sr-only">of Prenom Nom</span>
        </a>
      </div>
    </div>

    {# Header area #}
    <div class="row mt-5">
      <div class="col-md-12">
        <div class="row people-basic-info">

          <div class="col-md-4 col-lg-3 offset-lg-1 mb-3">
            {# Person avatar and buttons #}
            <div class="row">
              <div class="col-sm-12 mb-3">
                <!-- Default profile picture markup -->
                
                <!--
                {% include '@atoms/picture/picture-portrait.twig' %}
                -->

                <!-- Placeholder when there is no profile picture -->
                <img src="svg/portrait-placeholder.svg" alt="Avatar placeholder image" class="img-fluid bg-gray-100">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                
                <p>
                  <small>
                    <a href="#">Liste complète des adresses et fonctions</a>
                    <br/>
                    {% include "@atoms/icon/icon.twig" with { icon: 'icon-lock' } %}<a href="#">Données administratives</a>
                  </small>
                </p>
                
              </div>
            </div>
          </div>

          <div class="people-contacts col-md-8">
            <div class="row">
              <div class="col-sm-12 mb-4">
                <h2 class="people-title mb-3">Professeur titulaire, directeur du département XY</h2>
                <p>
                  <a href="#" class="btn btn-sm btn-primary">prenom.nom@epfl.ch</a>
                  <a href="#" class="btn btn-sm btn-secondary">+41 21 666 77 88</a>
                  <a href="#" class="btn btn-sm btn-secondary">abbr.epfl.ch</a>
                </p>
                <p>Nationalité: suisse et allemande</p>
                <div class="mt-1">
                  <p>
                    <a href="true" class="social-icon social-icon-details social-icon-linkedin social-icon-discrete" rel="nofollow" title="View on LinkedIn">
                      <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-linkedin"></use>
                      </svg>
                      <span class="user">firstname.name</span>
                    </a>
                    <a href="true" class="social-icon social-icon-details social-icon-google social-icon-discrete" rel="nofollow" title="View on Google Scholar">
                      <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-google"></use>
                      </svg>
                      <span class="user">firstname.name</span>
                    </a>
                    <a href="true" class="social-icon social-icon-details social-icon-discrete" rel="nofollow" title="View on Scopus">
                      <span class="user">Scopus: 123456789</span>
                    </a>
                    <a href="true" class="social-icon social-icon-details social-icon-discrete" rel="nofollow" title="View on Orcid">
                      <span class="user">Orcid: 123456789</span>
                    </a>
                    <a href="true" class="social-icon social-icon-details social-icon-discrete" rel="nofollow" title="View on ResearcherID">
                      <span class="user">ResearcherID: 123456789</span>
                    </a>
                  </p>
                </div>
              </div>
            </div>
            {# Collapsible info #}
            {% include '@molecules/collapse-group/collapse-group-people-contacts.twig' with { title: false } %}
            <hr>
            <div class="row">
              <div class="people-extra-info col-sm-12 mt-5">
                <p><strong>Informations complémentaires</strong></p>
                <p>Disponibilités: absente un vendredi sur deux.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque auctor urna id nulla ornare, placerat gravida nulla tincidunt. Nullam scelerisque mauris neque. Quisque condimentum nisl dolor, id auctor lorem interdum non.</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="position-relative mt-5">
    {# Intermediate navigation #}
    <nav class="nav-tabs-light-wrapper sticky-top" id="intermediate-nav">
      <div class="container">
        <ul class="nav nav-tabs-light">
          <li class="nav-item">
            <a class="nav-link active" href="#biography">Biographie</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#publications">Publications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#teaching-and-phd">Teaching &amp; PhD</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#research">Research</a>
          </li>
        </ul>
      </div>
    </nav>
    
    <div class="container people-contents">
      {# Biography area #}
      <div class="my-5">
        <h2 id="biography">Biographie <span class="sr-only">de Xavier Alexandre</span></h2>
        <!--{% include '@atoms/collapse/collapse-partial.twig' %} -->
        <div class="biogaphy-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque auctor urna id nulla ornare, placerat gravida nulla tincidunt. Nullam scelerisque mauris neque. Quisque condimentum nisl dolor, id auctor lorem interdum non. Pellentesque ut ligula imperdiet, dictum risus eu, cursus eros. Curabitur elementum sapien nec velit egestas consequat. Ut fermentum dolor eu purus efficitur rutrum ac at purus. Curabitur eu risus vel leo vehicula auctor. Aenean in velit nisi. Curabitur ultricies lacinia odio, sed egestas ex facilisis nec. Pellentesque et sagittis justo, id consequat odio. Nullam molestie sit amet eros quis consequat.</p>
          <h3>Mission</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque auctor urna id nulla ornare, placerat gravida nulla tincidunt. Nullam scelerisque mauris neque. Quisque condimentum nisl dolor, id auctor lorem interdum non. Pellentesque ut ligula imperdiet, dictum risus eu, cursus eros.</p>
          <p>Curabitur elementum sapien nec velit egestas consequat. Ut fermentum dolor eu purus efficitur rutrum ac at purus. Curabitur eu risus vel leo vehicula auctor. Aenean in velit nisi. Curabitur ultricies lacinia odio, sed egestas ex facilisis nec. Pellentesque et sagittis justo, id consequat odio. Nullam molestie sit amet eros quis consequat.</p>
          <h3>Travail en cours</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque auctor urna id nulla ornare, placerat gravida nulla tincidunt. Nullam scelerisque mauris neque. Quisque condimentum nisl dolor, id auctor lorem interdum non. Pellentesque ut ligula imperdiet, dictum risus eu, cursus eros. Curabitur elementum sapien nec velit egestas consequat. Ut fermentum dolor eu purus efficitur rutrum ac at purus.</p>
        </div>
        <div class="mt-5">
          <h3>Champs de compétences</h3>
          <p>
            <a href="#" class="tag tag-primary">Mot clé</a>
            <a href="#" class="tag tag-primary">Mot clé</a>
            <a href="#" class="tag tag-primary">Mot clé</a>
            <a href="#" class="tag tag-primary">Mot clé</a>
            <a href="#" class="tag tag-primary">Mot clé</a>
            <a href="#" class="tag tag-primary">Mot clé</a>
            <a href="#" class="tag tag-primary">Mot clé</a>
            <a href="#" class="tag tag-primary">Mot clé</a>
          </p>
          {# Free content area #}
          <p>architecture web, ergonomie, usability, ergonomie, design et architecture de l’information, cms, iconographie, graphisme web, charte graphique, design, logo, expertise communication web, html, css2, ui design</p>
        </div>
        <div class="mt-5">
          <h3>Formation</h3>
          <div class="list-group">
            <div class="list-group-item list-group-item-borderless education-list">
              <p><strong>Dr. ès Sciences</strong></p>
              <p>Microtechnologie</p>
              <p>Université de Neuchâtel</p>
              <p>2001</p>
            </div>
            <div class="list-group-item list-group-item-borderless education-list">
              <p><strong>Master in Applied Sciences</strong></p>
              <p>Engineering Physics</p>
              <p>École Polytechnique de Montréal</p>
              <p>1997</p>
            </div>
          </div>
        </div>
        <div class="mt-5">
          <h3>Parcours professionnel</h3>
          <div class="list-group">
            {% for i in 1..3 %}
            <div class="list-group-item list-group-item-borderless">
              <p><strong>Intitulé du poste</strong></p>
              <p>Description du poste, lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel tortor nulla. In vehicula ante vel turpis rhoncus, ut malesuada magna tincidunt. Pellentesque purus sapien, porta ut aliquet et, sagittis ut diam.</p>
              <div class="item-metadata">
                <p class="item-date">2017 – 2019</p>
                <p class="small">Nom de l'entreprise – <a href="#">Lien</a></p>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="mt-5">
          <h3>Récompenses</h3>
          <div class="list-group">
            {% for i in 1..4 %}
            <div class="list-group-item list-group-item-borderless">
              <p><strong>Titre de la récompense</strong></p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel tortor nulla. In vehicula ante vel turpis rhoncus, ut malesuada magna tincidunt. Pellentesque purus sapien, porta ut aliquet et, sagittis ut diam.</p>
              <div class="item-metadata">
                <p class="item-date">12.11.2019</p>
                <p class="small">Type: Lorem ipsum dolor – Source: Nom de l'institution – <a href="#">Lien</a></p>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    
    <hr class="darker">
    
    <div class="container people-contents">
      {# Publications #}
      <div class="my-5">
        <h2 id="publications">Publications <span class="sr-only">de Xavier Alexandre</span></h2>
        <div class="mt-5">
          <h3>Infoscience</h3>
          {% include '@molecules/list-group/list-group-infoscience.twig' %}
        </div>
        <div class="mt-5">
        <h3>Autres publications</h3>
          {% include '@molecules/list-group/list-group-infoscience.twig' %}
        </div>
      </div>
    </div>
    
    <hr class="darker">

    <div class="container people-contents">
      {# Teaching and PHD area #}
      <div class="my-5">
        <h2 id="teaching-and-phd">Enseignement <span class="sr-only">of Xavier Alexandre</span></h2>
        <div class="mt-5">
          <h3 class="h4">Matières enseignées</h3>
          <p>Informatique, Systèmes de communication, Architecture logiciels</p>
          <h3 class="h4">Programmes doctoraux</h3>
          <p>Doctoral program in computer and communication science, Doctoral program in Electrical Engineering</p>
          <h3 class="h4">Doctorant·es</h3>
          <p><a href="#">Gwendoline Woodroff</a>, <a href="#">Hurlu Berlu</a>, <a href="#">Anne Hughes</a>, <a href="#">Martin Richard-Foy</a></p>
          <h3 class="h4">Ancien·nes doctorant·es</h3>
          <p><a href="#">Gwendoline Woodroff</a>, <a href="#">Hurlu Berlu</a>, <a href="#">Anne Hughes</a>, <a href="#">Martin Richard-Foy</a>, <a href="#">Gwendoline Woodroff</a>, <a href="#">Hurlu Berlu</a>, <a href="#">Anne Hughes</a>, <a href="#">Martin Richard-Foy</a>, <a href="#">Gwendoline Woodroff</a>, <a href="#">Hurlu Berlu</a>, <a href="#">Anne Hughes</a>, <a href="#">Martin Richard-Foy</a>, <a href="#">Gwendoline Woodroff</a>, <a href="#">Hurlu Berlu</a>, <a href="#">Anne Hughes</a>, <a href="#">Martin Richard-Foy</a>, <a href="#">Gwendoline Woodroff</a>, <a href="#">Hurlu Berlu</a>, <a href="#">Anne Hughes</a>, <a href="#">Martin Richard-Foy</a></p>
        </div>
        <div class="mt-5">
          <h3>Cours <span class="sr-only">of Xavier Alexandre</span></h3>
          <div class="list-group">
            {% for i in 1..3 %}
            <div class="list-group-item list-group-item-borderless">
              <h4><a href="#">Nom du cours</a></h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel tortor nulla. In vehicula ante vel turpis rhoncus, ut malesuada magna tincidunt. Pellentesque purus sapien, porta ut aliquet et, sagittis ut diam.</p>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    
    <hr class="darker">

    <div class="container people-contents">
      {# Research area #}
      <div class="mt-5">
        <h2 id="research">Recherche <span class="sr-only">of Xavier Alexandre</span></h2>
        <div class="mt-5">
          <h3>Sujets</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>

          <h3>Projets de recherche en cours</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
      </div>
    </div>
    
  </div>
{% endblock %}

{% block footer %}
  {% include '@organisms/footer/footer-light.twig' %}
{% endblock %}
