<a href="#" class="event-teaser event-teaser-highlighted card p-4">
  <picture class="card-img-top">
    <img src="./images/event_teaser_large.jpg" class="d-block" alt="a portrait of professor Xile Hu" />
  </picture>
  <div class="card-body">
    <h3 class="card-title">Startup Acceleration Workshops</h3>
    <p class="card-text mb-0">Avec <strong>John Doe</strong></p>
    <p class="card-text mb-0">10.01.2018 <span>—</span> 13:00 <small>></small> 17:30</p>
    <p class="card-text mb-0">Lieu: ArtLab EPFL</p>
    <p class="card-text mb-0">Catégorie: <strong>IPG Seminar</strong></p>
  </div>
</a>