<a href="#" class="event-teaser card p-4">

  <picture class="card-img-top">
    <img src="./images/event_teaser.png" class="d-block" title="professor Xile Hu" aria-labelledby="event-teaser-label" />
  </picture>
  <p id="event-teaser-label" class="sr-only">a portrait of professor Xile Hu</p>

  <div class="card-body mt-2">
    <h3 class="card-title">Startup Acceleration Workshops</h3>
    <p class="mb-0">Avec <strong>John Doe</strong></p>
    <p class="mb-0">10.01.2018 <span>—</span> 13:00 <small>></small> 17:30</p>
    <p class="mb-0">Lieu: ArtLab EPFL</p>
    <p class="mb-0">Catégorie: <strong>IPG Seminar</strong></p>
  </div>
</a>