<a href="#" class="event-teaser card p-2 event-teaser-small">

  <picture class="mr-2">
    <img src="./images/event_teaser.png" aria-labelledby="event-teaser-label" width="153px" height="auto" />
  </picture>
  <p id="event-teaser-label" class="sr-only">a drone</p>

  <div class="card-body">
    <h3 class="card-title mb-0">Portes ouvertes - C.A.S en coordination BIM</h3>
    <p class="mb-0">Lundi 29 janvier 2018 13:30 - 17:30 ELA 2</p>
  </div>
</a>