@charset 'utf-8';

.search {
  flex: 0 0 auto;

  .dropdown-toggle {
    padding: $spacer;
    &:after {
      display: none;
    }
  }

  .search-form {
    display: flex;
    border: none;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  input[type="text"] {
    width: 12rem;
    box-shadow: none !important;
  }
}

.search-mobile-toggle {

  .icon {
    width: 16px;
    height: 16px;
  }
}

.search-mobile {
  display: none;

  @include media-breakpoint-down (xl) {
    display: flex;
    flex-flow: row nowrap;
    position: absolute;
    top: -$mm-lang-height;
    right: 0;
    bottom: auto;
    left: 0;
    //width: calc(100% - #{ $mm-lang-width });
    width: 100%;
    height: $mm-lang-height;
    background: $black;
    transition: bottom 0.3s;
    z-index: $zindex-mobile-lang - 1;

    .form-control {
      padding: 0 0 0 (0.4 * $spacer);
      background: $black;
      border: 0;
      color: $white;
      box-shadow: none !important;
      border-radius: 0;

      &::placeholder {
        color: gray('300');
      }
    }

    .input-group-text {
      background: $black;
      border-radius: 0;
      border: 0;
    }

    .icon {
      color: gray('300');
    }

    .searchform-controller .icon {
      display: block;
      transition: color .2s ease-in-out;
    }

    .search-mobile-close {
      align-items: center;
      display: flex;
      margin: 0 (0.9 * $spacer);

      &:hover .icon {
        color: #fff;
      }
    }
  }
}
