{% if language is not defined %}{% set language = 'fr' %}{% endif %}

<form action="#" class="d-xl-none">
  <a id="search-mobile-toggle" class="search-mobile-toggle searchform-controller" href="#">
    {% include '@atoms/icon/icon.twig' with { icon: 'icon-search' } %}
    {% if language == 'fr' %}
    <span class="toggle-label sr-only">Afficher / masquer le formulaire de recherche</span>
    {% endif %}
    {% if language == 'en' %}
    <span class="toggle-label sr-only">Show / hide the search form</span>
    {% endif %}
  </a>
  <div class="input-group search-mobile" role="search">
    <div class="input-group-prepend">
      <span class="input-group-text">
        {% include '@atoms/icon/icon.twig' with { icon: 'icon-search' } %}
      </span>
    </div>
    {% if language == 'fr' %}
    <label for="search" class="sr-only">Rechercher sur le site</label>
    <input type="text" class="form-control" name="search" placeholder="Rechercher">
    {% endif %}
    {% if language == 'en' %}
    <label for="search" class="sr-only">Search on the site</label>
    <input type="text" class="form-control" name="search" placeholder="Search">
    {% endif %}
    <div class="input-group-append">
      <a id="search-mobile-close" class="search-mobile-close searchform-controller" href="#">
        {% include '@atoms/icon/icon.twig' with { icon: 'icon-close' } %}
        {% if language == 'fr' %}
        <span class="toggle-label sr-only">Masquer le formulaire de recherche</span>
        {% endif %}
        {% if language == 'en' %}
        <span class="toggle-label sr-only">Hide the search form</span>
        {% endif %}
      </a>
    </div>
  </div>
</form>