<form action="#" class="d-xl-none">
  <div class="input-group search-mobile" role="search">
    <div class="input-group-prepend">
      <span class="input-group-text">
        {% include '@atoms/icon/icon.twig' with { icon: 'icon-search' } %}
      </span>
    </div>
      <label for="search" class="sr-only">Rechercher sur le site</label>
      <input type="text" class="form-control" name="search" placeholder="Rechercher">
  </div>
</form>
