{% if language is not defined %}{% set language = 'fr' %}{% endif %}

<div class="dropdown dropright search d-none d-xl-block">
  <a class="dropdown-toggle" href="#" data-toggle="dropdown">
    {% include "@atoms/icon/icon.twig" with { icon: 'icon-search' } %}
  </a>
  <form action="#" class="dropdown-menu border-0 p-0">
    <div class="search-form mt-1 input-group">
      {% if language == 'fr' %}
      <label for="search" class="sr-only">Rechercher sur le site</label>
      <input type="text" class="form-control" name="search" placeholder="Rechercher" >
      <button type="submit" class="d-none d-xl-block btn btn-primary input-group-append">Valider</button></div>
      {% endif %}
      {% if language == 'en' %}
      <label for="search" class="sr-only">Search on the site</label>
      <input type="text" class="form-control" name="search" placeholder="Search" >
      <button type="submit" class="d-none d-xl-block btn btn-primary input-group-append">Validate</button></div>
      {% endif %}
      {% if language == 'de' %}
      <label for="search" class="sr-only">Forschen</label>
      <input type="text" class="form-control" name="search" placeholder="Forschen" >
      <button type="submit" class="d-none d-xl-block btn btn-primary input-group-append">Bestätigen</button></div>
      {% endif %}
  </form>
</div>
