<div class="dropdown search d-none d-xl-block">
  <a class="dropdown-toggle" href="#" data-toggle="dropdown">
    {% include "@atoms/icon/icon.twig" with { icon: 'icon-search' } %}
  </a>
  <form action="#" class="dropdown-menu border-0 p-0">
    <div class="search-form">
      <label for="search" class="sr-only">Rechercher sur le site</label>
      <input type="text" class="form-control" name="search" placeholder="Rechercher" >
      <button type="submit" class="d-none d-xl-block btn btn-primary" type="button">{% include '@atoms/icon/icon.twig' with { icon: 'icon-search' } %}</button></div>
  </form>
</div>
