<div class="footer-faculties footer-collapse">
  <p class="footer-title">Facultés</p>
  <ul class="footer-links">
    <li>
      <a href="#">Environnement Naturel, Architectural et Construit <strong>ENAC</strong></a>
    </li>
    <li>
      <a href="#">Sciences de Base <strong>SB</strong></a>
    </li>
    <li>
      <a href="#">Sciences et Techniques de l'Ingénieur <strong>STI</strong></a>
    </li>
    <li>
      <a href="#">Informatique et Communications <strong>IC</strong></a>
    </li>
    <li>
      <a href="#">Sciences de la Vie <strong>SV</strong></a>
    </li>
    <li>
      <a href="#">Collège du Management de la Technologie <strong>CDM</strong></a>
    </li>
    <li>
      <a href="#">Collège des Humanités <strong>CDH</strong></a>
    </li>
  </ul>
</div>