{% if language is not defined %}{% set language = 'fr' %}{% endif %}

{% if language == 'fr' %}
<p class="footer-title footer-title-no-underline">Pratique</p>
<a href="https://www2018.epfl.ch/campus/services" class="btn btn-secondary btn-sm">Services et ressources</a>
<a href="tel:+41216933000" class="btn btn-secondary btn-sm">Urgences : +41 21 693 3000</a>
{% endif %}

{% if language == 'en' %}
<p class="footer-title footer-title-no-underline">Practical</p>
<a href="https://www2018.epfl.ch/campus/services" class="btn btn-secondary btn-sm">Services and ressources</a>
<a href="tel:+41216933000" class="btn btn-secondary btn-sm">Emergencies: +41 21 693 3000</a>
{% endif %}
