{% if language is not defined %}{% set language = 'fr' %}{% endif %}
{% if language == 'fr' %}
<p class="footer-title footer-title-no-underline">Suivez l'EPFL sur les réseaux sociaux</p>
{% endif %}
{% if language == 'en' %}
<p class="footer-title footer-title-no-underline">Follow EPFL on social media</p>
{% endif %}
<div class="footer-social">
  {% include '@atoms/social-icon/social-icon-link-group.twig' with { negative: true } %}
</div>
