<div class="footer-faculties">
  <button class="footer-title collapse-title" type="button" data-toggle="collapse" data-target="#collapse-fac" aria-expanded="false" aria-controls="collapse-fac">
    Facultés
  </button>
  <div class="collapse collapse-item" id="collapse-fac">
    <ul class="footer-links">
      <li>
        <a href="#">Environnement Naturel, Architectural et Construit <strong>ENAC</strong></a>
      </li>
      <li>
        <a href="#">Sciences de Base <strong>SB</strong></a>
      </li>
      <li>
        <a href="#">Sciences et Techniques de l'Ingénieur <strong>STI</strong></a>
      </li>
      <li>
        <a href="#">Informatique et Communications <strong>IC</strong></a>
      </li>
      <li>
        <a href="#">Sciences de la Vie <strong>SV</strong></a>
      </li>
      <li>
        <a href="#">Collège du Management de la Technologie <strong>CDM</strong></a>
      </li>
      <li>
        <a href="#">Collège des Humanités <strong>CDH</strong></a>
      </li>
    </ul>
  </div>
</div>
