{% if language is not defined %}{% set language = 'fr' %}{% endif %}

{% if language == 'fr' %}
<div class="footer-legal">
  <div class="footer-legal-links">
    <a href="https://www.epfl.ch/about/overview/fr/reglements-et-directives/mentions-legales/">Accessibilité</a>
    <a href="https://www.epfl.ch/about/overview/fr/reglements-et-directives/mentions-legales/">Mentions légales</a>
    <a href="https://go.epfl.ch/protection-des-donnees/">Protection des données</a>
  </div>
  <div>
    <p>&copy; 2021 EPFL, tous droits réservés</p>
  </div>
</div>
{% endif %}
{% if language == 'en' %}
<div class="footer-legal">
  <div class="footer-legal-links">
    <a href="https://www.epfl.ch/about/overview/regulations-and-guidelines/disclaimer/">Accessibility</a>
    <a href="https://www.epfl.ch/about/overview/regulations-and-guidelines/disclaimer/">Disclaimer</a>
    <a href="https://go.epfl.ch/privacy-policy/">Privacy policy</a>
  </div>
  <div>
    <p>&copy; 2021 EPFL, all rights reserved</p>
  </div>
</div>
{% endif %}
{% if language == 'de' %}
  <div class="footer-legal">
    <div class="footer-legal-links">
      <a href="https://www.epfl.ch/about/overview/regulations-and-guidelines/disclaimer/">Zugänglichkeit</a>
      <a href="https://www.epfl.ch/about/overview/regulations-and-guidelines/disclaimer/">Impressum</a>
      <a href="https://go.epfl.ch/privacy-policy/">Datenschutzerklärung</a>
    </div>
    <div>
      <p>&copy; 2021 EPFL, alle Rechte vorbehalten</p>
    </div>
  </div>
{% endif %}
