<div class="footer-legal">
  <div class="footer-legal-links">
    <a href="">Accessibilité</a>
    <a href="">Mentions légales</a>
  </div>
  <div>
    <p>&copy; 2018 EPFL, tous droits réservés</p>
  </div>
</div>