<p class="footer-title footer-title-no-underline">Suivre les pulsations de l’EPFL sur les réseaux sociaux</p>
<div class="footer-social">
  {% include 'atoms::social-icon/social-icon-link-group.twig' with { negative: true } %}
</div>