@charset 'utf-8';

.footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.footer-group {
  margin-bottom: 1rem;
  flex-basis: 100%;
}

.footer-sitemap {
  display: flex;
  flex-flow: column nowrap;
}

.footer-title {
  padding-top: 0.9rem;
  padding-bottom: 0.9rem;
  margin-bottom: 0;
  font-size: 1.1rem;
  font-weight: 800;
}

.footer-faculties {
  border-bottom: 1px solid $gray-400;

  @include media-breakpoint-up(md) {
    flex: 0 0 100%;
    border: none;
  }

  &.active .footer-links {
    padding-top: 0.5rem;
  }

  .footer-links {
    display: flex;
    flex-flow: row wrap;

    @include media-breakpoint-up(md) {
      display: flex;
      padding-top: 0.5rem;
    }

    li {
      flex: 0 0 50%;
      position: relative;
      padding-right: 1.5rem;
      margin-bottom: 1rem;

      @include media-breakpoint-up(md) {
        flex: 0 0 20%;
      }

      &:before {
        content: ' ';
        display: block;
        position: absolute;
        top: 0.55rem;
        left: -0.95rem;
        width: 0.5rem;
        height: 0.23rem;
        background: $red;
      }

      a {
        margin: 0;
      }

      strong {
        display: block;
      }
    }
  }
}

.footer-legal {
  display: flex;
  border-top: 1px solid $gray-200;
  padding-top: 2rem;
  flex-flow: column wrap;
  text-align: center;
  flex-basis: 100%;

  @extend .text-muted;

  a:not(:hover) {
    border: none;

    @extend .text-muted;
  }

  a + a {
    margin-left: 1rem;
  }
}

.footer-links {
  margin: 0;

  a {
    display: inline-block;
    background-image: none !important;
    font-size: 0.85rem;
    line-height: 1.2rem;
    color: $gray-600;
    border-bottom: 1px solid transparent;

    @extend .text-small;
  }

  li {
    display: inline-block;
    margin: 0.5rem 0;

    &:before {
      content: none;
    }
  }
}

.footer-bottom {
  display: flex;
}

@include media-breakpoint-down(sm) {
  .footer-sitemap {
    margin-bottom: 0;
  }

  .footer-collapse {
    .footer-title {
      $icon-size: 1rem;
      $icon-size-half: $icon-size/2;
      $icon-thickness: 2px;
      $icon-thickness-half: $icon-thickness/2;

      border-top: 1px solid $gray-300;
      position: relative;

      &:after {
        content: ' ';
        display: block;
        position: absolute;
        top: calc(50% - #{$icon-thickness-half});
        right: 0;
        width: $icon-size;
        height: $icon-thickness;
        background: $gray-400;
        transition: background 0.2s;
      }

      &:before {
        content: ' ';
        display: block;
        position: absolute;
        top: calc(50% - #{$icon-size-half});
        right: calc(#{$icon-size-half} - #{$icon-thickness-half});
        width: $icon-thickness;
        height: $icon-size;
        background: $gray-400;
        transition: transform 0.3s;
      }
    }
  }

  .footer-social {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .btn {
    margin: 0 0.4em 0.6rem 0;
  }

  .footer-links {
    max-height: 0;
    overflow: hidden;
    transition: 0.2s;

    li:last-child {
      margin-bottom: 1rem;
    }
  }

  .footer .active {
    .footer-title:before {
      transform: scaleY(0);
    }

    .footer-title:after {
      background: $red;
    }

    .footer-links {
      max-height: 30rem;
      overflow: visible;
    }
  }
}

@include media-breakpoint-up(md) {
  .footer-title {
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    margin-bottom: 0.4rem;
    font-size: 0.85rem;
    color: $gray-600;
    border-bottom: 1px solid $gray-100;
  }

  .footer-buttons,
  .footer-socials {
    margin-bottom: 2rem;
    flex-basis: auto;
  }

  .footer-title-no-underline {
    border: none;
    padding-bottom: 0.3rem;
  }

  .footer-sitemap-col {
    padding-right: 0.8rem;
    flex: 1 1 auto;
  }

  .footer-legal {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;

    & > div {
      flex: 0 0 auto;
    }

    &,
    p {
      font-size: 0.85rem;
      opacity: 0.6;
    }
  }

  .footer-sitemap {
    flex-flow: row nowrap;
  }
}
