@charset 'utf-8';

.footer-light {
  a {
    background-image: none !important;
  }

  ul {
    li {
      color: $gray-300;

      &:first-child {
        color: $body-color;
      }
    }
  }
}

.footer-light-socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  padding: 0.5rem 0;
  border-top: 1px solid $gray-100;

  .social-icon-negative .icon {
    font-size: 1.35rem;
  }
}

// ----------------
// Dark footer
// ----------------
.bg-dark {
  .footer-light-socials,
  .footer-legal {
    border-color: $gray-700;
  }

  .social-icon .icon {
    fill: $white;
  }

  .footer-legal-links a {
    color: $gray-300;

    &:hover {
      color: $white;
    }
  }

  .footer-light {
    ul {
      li {
        small {
          color: $gray-300;
        }

        &:first-child {
          color: $white;
        }
      }
    }
  }
}
