<p class="footer-title footer-title-no-underline">Portail interne de l’EPFL</p>
<a href="#" class="btn btn-secondary btn-sm">Enseignants et chercheurs</a>
<a href="#" class="btn btn-secondary btn-sm">Étudiants</a>
<a href="#" class="btn btn-secondary btn-sm">Collaborateurs</a>