<div class="footer-sitemap-col footer-collapse">
  <p class="footer-title">A propos de l’EPFL</p>
  <ul class="footer-links">
    <li>
      <a href="#">Vue d’ensemble</a>
    </li>
    <li>
      <a href="#">Histoire de l’EPFL</a>
    </li>
    <li>
      <a href="#">Actualités</a>
    </li>
    <li>
      <a href="#">Organisation administrative</a>
    </li>
    <li>
      <a href="#">Actions pour le public extérieur</a>
    </li>
    <li>
      <a href="#">Emplois</a>
    </li>
    <li>
      <a href="#">Mécénats et dons</a>
    </li>
    <li>
      <a href="#">Presse et média</a>
    </li>
  </ul>
</div>