<nav class="language-switcher d-none d-xl-flex pr-5">
  <ul>
    <li>
      <span class="active" aria-label="Français">FR</span>
    </li>
    <li>
      <a href="#" aria-label="English">EN</a>
    </li>
  </ul>
</nav>

