<table class="table">
  <tbody>
    {% for icon in icons %}
      <tr>
        <td>{% include "@atoms/icon/icon.twig" with { icon: 'icon-' ~ icon } %}</td>
        <td><code>#icon-{{icon}}</code></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
