<div class="card">
  <div class="card-body">
    <div class="my-3">
      <img class="img-fluid rounded-circle" src="https://randomuser.me/api/portraits/women/2.jpg" alt="Heidy Traill">
    </div>
    <h3><a class="link-pretty" href="#">Heidy Traill</a></h3>
    {% include '@organisms/definition-list/definition-list-grid.twig' %}
    <a class="btn btn-block btn-primary mb-2" href="mailto:heidy.traill@epfl.ch">heidy.traill@epfl.ch</a>

    <div class="dropdown">
      <button class="btn btn-block btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Téléphones
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">079 349 72 18</a>
        <a class="dropdown-item" href="#">079 349 72 18</a>
      </div>
    </div>
  </div>
</div>
