<a href="#" class="card link-trapeze-vertical">
  <div class="card-body">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam aliquid architecto culpa cumque dolores dolorum, eius eveniet hic inventore iste itaque laborum nemo nobis nostrum odit, perferendis quae tempora.
  </div>
</a>

<a href="#" class="card link-trapeze-horizontal">
  <div class="card-body">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam aliquid architecto culpa cumque dolores dolorum, eius eveniet hic inventore iste itaque laborum nemo nobis nostrum odit, perferendis quae tempora.
  </div>
</a>
