<div class="container my-4">
  <h1 class="h2">Card types</h1>
  {% block all_cards %}
    <h2 class="h4 mb-3">News teasers</h2>
    <div class="row">
      <div class="col-md-4 d-flex">
        {% include '@components/news/news-basic-teaser.twig' %}
      </div>
      <div class="col-md-4 d-flex">
        {% embed '@components/news/news-press-release.twig' %}
          {% block img %}{% endblock %}
        {% endembed %}
      </div>
      <div class="col-md-4 d-flex">
        {% include '@components/news/news-press-release.twig' %}
      </div>
      <div class="col-md-4 d-flex">
        {% embed '@components/news/news-distinction.twig' %}
          {% block img %}{% endblock %}
        {% endembed %}
      </div>
      <div class="col-md-4 d-flex">
        {% include '@components/news/news-distinction.twig' %}
      </div>
    </div>

    <h2 class="h4 mb-3">Mission teasers</h2>

    <p><strong>Section</strong></p>
    <div class="row">
      <div class="col-md-4 d-flex">
        {% embed '@components/teaser-mission/teaser-mission.twig' %}
          {% block img %}{% endblock %}
        {% endembed %}
      </div>
      <div class="col-md-4 d-flex">
        {% include '@components/teaser-mission/teaser-mission.twig' %}
      </div>
    </div>

    <p><strong>Faculty</strong></p>
    <div class="row">
      <div class="col-md-4 d-flex">
        {% include '@components/teaser-mission/teaser-mission-faculty.twig' %}
      </div>
    </div>

    <p><strong>Institutes</strong></p>
    <div class="row">
      <div class="col-md-4 d-flex">
        {% include '@components/teaser-mission/teaser-mission-institute.twig' %}
      </div>
    </div>

    <p><strong>Laboratories</strong></p>
    <div class="row">
      <div class="col-md-4 d-flex">
        {% include '@components/teaser-mission/teaser-mission-laboratory.twig' %}
      </div>
    </div>

    <p><strong>Research field</strong></p>
    <div class="row">
      <div class="col-md-4 d-flex">
        {% include '@components/teaser-mission/teaser-mission-research-field.twig' %}
      </div>
      <div class="col-md-4">
        {% embed '@components/teaser-mission/teaser-mission-research-field.twig' %}
          {% block img %}{% endblock %}
        {% endembed %}
        {% embed '@components/teaser-mission/teaser-mission-research-field.twig' %}
          {% block img %}{% endblock %}
        {% endembed %}
      </div>
    </div>

    <p><strong>Research project</strong></p>
    <div class="row">
      <div class="col-md-4 d-flex">
        {% include '@components/teaser-mission/teaser-mission-research-project.twig' %}
      </div>
    </div>

    <p><strong>Cursus</strong></p>
    <div class="row">
      <div class="col-md-4 d-flex">
        {% include '@components/teaser-mission/teaser-mission-cursus.twig' %}
      </div>
    </div>

    <p><strong>Associations</strong></p>
    <div class="row">
      <div class="col-md-4 d-flex">
        {% include '@components/teaser-mission/teaser-mission-association.twig' %}
      </div>
    </div>

    <p><strong>Program</strong></p>
    <div class="row">
      <div class="col-md-4 d-flex">
        {% include '@components/teaser-mission/teaser-mission-program.twig' %}
      </div>
    </div>

    <p><strong>Bachelor project</strong></p>
    <div class="row">
      <div class="col-md-4 d-flex">
        {% include '@components/teaser-mission/teaser-mission-bachelor-project.twig' %}
      </div>
      <div class="col-md-4 d-flex">
        {% include '@components/teaser-mission/teaser-mission-bachelor-project.twig' with {'count': 2} %}
      </div>
    </div>
  {% endblock %}
</div>

<div class="bg-gray-100 py-4">
  <div class="container">
    <h1 class="h2 mb-3">The same on gray background</h1>
    {{ block('all_cards') }}
  </div>
</div>
