<div class="card-slider-wrapper">
  <div class="card-slider">
    <div class="card-slider-cell card-slider-cell-lg">
      {% include "@content-types/event/event-highlight.twig" %}
    </div>
    <div class="card-slider-cell">
      {% include "@content-types/event/event-just-finished.twig" %}
    </div>
    <div class="card-slider-cell">
      {% include "@content-types/event/event-invitation.twig" %}
    </div>
    <div class="card-slider-cell">
      {% include "@content-types/event/event.twig" %}
    </div>
    <div class="card-slider-cell">
      {% include "@content-types/event/event.twig" %}
    </div>
    <div class="card-slider-cell">
      {% include "@content-types/event/event.twig" %}
    </div>
    <div class="card-slider-cell">
      {% include "@content-types/event/event.twig" %}
    </div>
    <div class="card-slider-cell">
      {% include "@content-types/event/event.twig" %}
    </div>
  </div>

  <div class="card-slider-footer">
    <div>
      <button role="button" id="card-slider-prev" class="card-slider-btn link-trapeze-horizontal disabled">
        {% include "@atoms/icon/icon.twig" with { icon: 'icon-chevron-left' } %}
      </button>
      <button role="button" id="card-slider-next" class="card-slider-btn link-trapeze-horizontal">
        {% include "@atoms/icon/icon.twig" with { icon: 'icon-chevron-right' } %}
      </button>
    </div>
    <div>
      <a href="#">Voir l’agenda complet des événements</a>
    </div>
  </div>
</div>
