{% extends "@templates/base/base.twig" %}

{% set nav_aside_items = [{
  label: "Facultés",
  children: ["Architecture, Civil and Environmental Engineering ENAC", "Basic Sciences SB", "Engineering STI", "Computer and Communication Sciences IC", "Life Sciences SV", "Management of Technology CDM", "College of Humanities CDH", "EPFL Middle East"]
}] %}
{% set nav_aside_active = 0 %}

{% block grid %}{% endblock %}

{% block content %}

<div class="container">
  <div class="container-grid mt-5 mb-6">
    <h1 class="mb-5">Les facultés de l'EPFL</h1>
    <p>What is a faculty ? Explain in a few sentences.</p>
  </div>
</div>

<div class="container">
  <div class="row">
    {% for i in 1..10 %}
      <div class="col-md-4">
        {% include '@content-types/faculty/faculty.twig' %}
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
