<div class="event-teaser-highlighted row">
  <div class="col-sm-12 col-md-6 col-lg-6">
    {% include '@molecules/event-teaser-item/event-teaser-item-highlighted.twig' %}
  </div>
  <div class="col-sm-12 col-md-6 col-lg-6 d-flex flex-column justify-content-start">
    {% include '@molecules/event-teaser-item/event-teaser-item-small.twig' %}
    {% include '@molecules/event-teaser-item/event-teaser-item-small.twig' %}
    {% include '@molecules/event-teaser-item/event-teaser-item-small.twig' %}
    {% include '@molecules/event-teaser-item/event-teaser-item-small.twig' %}
  </div>
</div>
