<div class="social-feed bg-gray-100">
  <div class="container">
    <div class="social-feed-container">

      <div class="social-feed-item-container">
        {% include 'molecules::social-feed-item/social-feed-item.twig' %}
      </div>

      <div class="social-feed-item-container">
        {% include 'molecules::social-feed-item/social-feed-item.twig' %}
      </div>

      <div class="social-feed-item-container">
        {% include 'molecules::social-feed-item/social-feed-item.twig' %}
      </div>

    </div>
  </div>
</div>
