@charset 'utf-8';

.nav-tabs {
  .nav-item {
    + .nav-item {
      .nav-link {
        margin-left: -1px;
      }
    }

    &:first-child {
      .nav-link {
        border-top-left-radius: $nav-tabs-border-radius;
      }
    }

    &:last-child {
      .nav-link {
        border-top-right-radius: $nav-tabs-border-radius;
      }
    }
  }

  .nav-link {
    position: relative;
    background-color: gray('100');
    border-color: $nav-tabs-border-color;
    text-decoration: none;
    border-radius: 0;

    &:hover {
      z-index: 1;
      background-color: darken(gray('100'), 5%);
      color: $body-color;
    }

    &:focus:not(:active) {
      z-index: 1;
      border-color: gray('400');
      outline: $nav-tabs-border-width solid gray('400');
      border-radius: 0 !important; // Make sure the border-radius is removed for first and last elements.
    }

    &:active {
      z-index: 1;
      background: linear-gradient(0deg, gray('100') 0%, darken(gray('100'), 5%) 100%);
    }

    &.disabled {
      background-color: darken(gray('100'), 5%);
      border-color: $nav-tabs-border-color;
      color: gray('300');
      cursor: not-allowed;
    }
  }

  .nav-link.active,
  .nav-item.show .nav-link {
    color: $body-color;

    &:hover {
      background-color: $nav-tabs-link-active-bg;
    }
  }
}

.nav-tabs-vertical-wrapper {
  display: flex;

  .nav-tabs {
    flex: 1 0 30%;
    max-width: 30%;
    margin-right: -$nav-tabs-border-width;
    border-top: $nav-tabs-border-width solid $nav-tabs-border-color;
  }

  .nav-item {
    &:first-child {
      .nav-link {
        border-top: 0;
      }
    }

    .nav-link {
      margin-top: 0;
      margin-left: 0;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .tab-content {
    flex: 2 1 70%;
    border: $nav-tabs-border-width solid $nav-tabs-border-color;
  }
}

.nav-tabs-vertical {
  flex: 1 1 auto;
  flex-direction: column;
  border-bottom: none;

  .nav-item {
    &:first-child {
      .nav-link {
        border-top-left-radius: 0;
      }
    }

    &:last-child {
      .nav-link {
        border-top-right-radius: 0;
      }
    }
  }

  .nav-link {
    &.active {
      border-right: $nav-tabs-border-width solid $white;
      border-bottom-color: $nav-tabs-border-color;
    }
  }
}
