<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
  </li>
</ul>

<div class="tab-content p-3">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Collatio igitur ista te nihil iuvat. Si longus, levis dictata sunt.
      Nulla profecto est, quin suam vim retineat a primo ad extremum. Res enim fortasse verae, certe graves, non ita tractantur,
      ut debent, sed aliquanto minutius. Animum autem reliquis rebus ita perfecit, ut corpus; At coluit ipse amicitias.
    </p>
  </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <p>
      Sic vester sapiens magno aliquo emolumento commotus cicuta, si opus erit, dimicabit. Cenasti in vita numquam bene, cum omnia
      in ista Consumis squilla atque acupensere cum decimano. Nam et complectitur verbis, quod vult, et dicit plane, quod
      intellegam; Duae sunt enim res quoque, ne tu verba solum putes. Non quaeritur autem quid naturae tuae consentaneum
      sit, sed quid disciplinae. Haec dicuntur inconstantissime. Ut enim consuetudo loquitur, id solum dicitur honestum,
      quod est populari fama gloriosum. Ita ne hoc quidem modo paria peccata sunt. Confecta res esset.
    </p>
  </div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
    <p>
      Consequens enim est et post oritur, ut dixi. Duo Reges: constructio interrete. Indicant pueri, in quibus ut in speculis natura
      cernitur. Sed quoniam et advesperascit et mihi ad villam revertendum est, nunc quidem hactenus; Scaevola tribunus plebis
      ferret ad plebem vellentne de ea re quaeri. Quodsi ipsam honestatem undique pertectam atque absolutam. Paupertas si
      malum est, mendicus beatus esse nemo potest, quamvis sit sapiens. Sint modo partes vitae beatae. Si quae forte-possumus.
    </p>
  </div>
</div>
