<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="#">Lu</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#">Ma</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Me</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Je</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Ve</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Sa</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Di</a>
  </li>
</ul>
