<nav class="nav-tabs-light-wrapper">
  <ul class="nav nav-tabs-light">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact">Contact</a>
    </li>
  </ul>
</nav>
