@charset 'utf-8';

.nav-tabs {
  .nav-item {
    + .nav-item {
      .nav-link {
        margin-left: -1px;
      }
    }

    &:first-child {
      .nav-link {
        border-top-left-radius: $nav-tabs-border-radius;
      }
    }

    &:last-child {
      .nav-link {
        border-top-right-radius: $nav-tabs-border-radius;
      }
    }
  }

  .nav-link {
    position: relative;
    background-color: gray('100');
    border-color: $nav-tabs-border-color;
    text-decoration: none;
    border-radius: 0;

    &:hover {
      z-index: 1;
      background-color: darken(gray('100'), 5%);
      color: $body-color;
    }

    &:focus:not(:active) {
      z-index: 1;
      border-color: gray('400');
      outline: $nav-tabs-border-width solid gray('400');
      border-radius: 0 !important;
    }

    &:active {
      z-index: 1;
      background: linear-gradient(0deg, gray('100') 0%, darken(gray('100'), 5%) 100%);
    }

    &.disabled {
      background-color: darken(gray('100'), 5%);
      border-color: $nav-tabs-border-color;
      color: gray('300');
    }
  }

  .nav-link.active,
  .nav-item.show .nav-link {
    color: $body-color;

    &:hover {
      background-color: $nav-tabs-link-active-bg;
    }
  }
}
