<div class="publication-author">
  <div class="publication-author-title">
    {% include '@atoms/picture/picture-avatar.twig' %}
    <p class="h4">James Larus's Publications</p>
  </div>

  <a class="link-pretty" href="">Profile</a>
</div>

<div class="card card-publication">
  <div class="card-body">
    <p class="card-title h5">Measuring Latency: Am I doing it right?</p>
    <p class="card-text">14th USENIX Symposium on Networked Systems Design and Implementation, Boston, Massachusetts, USA, 2017.</p>
    <p class="card-text card-subtitle">Author(s)</p>
    <div class="card-links">
      <a class="link-pretty" href="#">M. Kogias</a>
      <a class="link-pretty" href="#">C. Kozyrakis</a>
      <a class="link-pretty" href="#">E. Bugnion</a>
    </div>
  </div>
  <div class="card-footer">
    <a href="#" class="btn btn-secondary btn-sm">Go somewhere</a>
    <a class="link-pretty" href="#">Full text</a>
    <a class="link-pretty" href="#">View at publisher</a>
  </div>
</div>
