@charset 'utf-8';

.breadcrumb {
  padding-left: 0;
}

.breadcrumb-item {
  display: inline-block;
  position: relative;
  font-size: 0.82rem;
  line-height: 1.5rem;

  &:before {
    content: ' ';
    display: block;
    position: absolute;
    bottom: -0.1rem;
    left: 0;
    width: 0;
    height: 1px;
    padding: 0;
    background: $red;
    transition: width 0.3s ease;
  }

  &:not(.active):hover:before {
    width: calc(100% - 0.6rem);
  }

  &:after {
    content: '\203A';
    padding-left: 0.3rem;
    color: $gray-600;
  }

  a {
    background-image: none !important;
    color: $gray-600;
    text-decoration: none;

    &:hover {
      color: $black;
    }
  }

  &:last-child:after {
    content: none;
  }

  &.active {
    color: $gray-600;
  }
}
