@charset 'utf-8';

.breadcrumb {
  padding-left: 0;

  @include media-breakpoint-down(lg) {
    height: $mm-breadcrumbs-height;
    overflow-x: scroll;
    white-space: nowrap;
    margin: 0;
    padding: (0.64 * $spacer) (0.8 * $spacer) 0;
    z-index: 110;

    .icon {
      color: gray('300');
    }

    li:last-child {
      padding-right: 5rem;
    }
  }
}

.breadcrumb-container {
  position: relative;

  @include media-breakpoint-down(lg) {
    padding: 0;
    background: gray('100');

    &:before {
      content: ' ';
      position: absolute;
      top: 0;
      right: 0;
      width: 3 * $spacer;
      height: 100%;
      background: linear-gradient(to right, transparent 0%, gray('100') 80%, gray('100') 100%);
      z-index: 120;
    }
  }
}

.breadcrumb-item {
  display: inline-block;
  position: relative;
  font-size: 0.82rem;
  line-height: 1.5rem;

  &:before {
    content: ' ';
    display: block;
    position: absolute;
    bottom: -0.1rem;
    left: 0;
    width: 0;
    height: 1px;
    padding: 0;
    background: $red;
    transition: width 0.3s ease;
  }

  &:not(.active):hover:before {
    width: calc(100% - 0.6rem);
  }

  &:after {
    content: '\203A';
    padding-left: 0.3rem;
    color: $gray-600;
  }

  a {
    background-image: none !important;
    color: $gray-600;
    text-decoration: none;

    &:hover {
      color: $black;
    }
  }

  &:last-child:after {
    content: none;
  }

  &.active {
    color: $gray-600;
  }
}
