<nav aria-label="breadcrumb">

  <button id="breadcrumb-burger" class="breadcrumb-burger">
    <span class="sr-only">Toggle the navigation</span>
    <span class="line" aria-hidden="true"></span>
    <span class="line" aria-hidden="true"></span>
    <span class="line" aria-hidden="true"></span>
  </button>

  <ol class="breadcrumb">
    <li class="breadcrumb-item d-xl-none">{% include '@atoms/icon/icon.twig' with {icon: 'icon-home'} %}</li>
    <li class="breadcrumb-item"><a href="#">EPFL</a></li>
    <li class="breadcrumb-item"><a href="#">Schools</a></li>
    <li class="breadcrumb-item active" aria-current="page">ENAC</li>
  </ol>
</nav>
