<a href="#" class="card link-trapeze-horizontal">
  {% block img %}
    <picture class="card-img-top">
      <img src="./images/event_teaser.png" class="img-fluid" title="professor Xile Hu" alt="a portrait of professor Xile Hu" />
    </picture>
  {% endblock %}
  <div class="card-body">
    <h3 class="h5 card-title text-arrow mb-0">Analytical Chemistry</h3>
  </div>
</a>
<!-- 🛠 Research field component -->
