<div class="list-group search-results graph-search-results">
  
  <div class="list-group-item list-group-item-borderless col-12 col-lg-8">
    <p class="tag tag-sm tag-light-gray mb-2"><strong>Concepts</strong></p>
    <h3 class="h5 my-1"><a href="#">Biology</a></h3>
    <p class="text-small text-muted mb-1">https://graphsearch.epfl.ch/…</p>
    <p><i>Biology</i> is the scientific study of life. It is a natural science with a broad scope but has several unifying themes that tie it together as a single, coherent …</p>
  </div>
  
  <div class="list-group-item list-group-item-borderless col-12 col-lg-8">
    <p class="tag tag-sm tag-light-gray mb-2"><strong>Courses</strong></p>
    <h3 class="h5 my-1"><a href="#">CH-313 - Chemical biology </a></h3>
    <p class="text-small text-muted mb-1">https://graphsearch.epfl.ch/…</p>
    <p>Closely interfacing with bioengineering and medicine, this course provides foundational concepts in applying small-molecule chemical toolsets to probe the functions …</p>
  </div>
  
  <div class="list-group-item list-group-item-borderless col-12 col-lg-8">
    <p class="tag tag-sm tag-light-gray mb-2"><strong>Publications</strong></p>
    <h3 class="h5 my-1"><a href="#">Chemical and Biological Gradients along the Damma Glacier Soil Chronosequence, Switzerland</a></h3>
    <p class="text-small text-muted mb-1">https://graphsearch.epfl.ch/…</p>
    <p class="search-result-metadata text-sm mt-2 mb-1">
      {% include '@atoms/icon/icon.twig' with { icon:  'calendar', icon_classes:'feather' } %}
      <span>Published in 2011</span>
    </p>
    <p class="search-result-metadata text-sm mb-2">
      {% include '@atoms/icon/icon.twig' with { icon:  'users', icon_classes:'feather' } %}
      <span class="sr-only">Authors: </span><span><a href="#"><strong>Camille Sigi</strong></a>, <a href="#"><strong>Lou Pereira</strong></a>, <a href="#"><strong>Charlie Müller</strong></a></span>
    </p>
    <p>PhD at the Biocenter, University of Basel 1989-1992. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae lacus vulputate, congue ligula id …</p>
  </div>
  
</div>