@charset 'utf-8';

.menu-toggle-mobile {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  margin-left: 1rem;
  padding: 0.7rem 1.2rem;
  font-size: 1.25 * $font-size-base;
  font-weight: bold !important;

  .hamburger {
    margin-left: 0.4rem;

    span {
      display: block;
      width: 0.85rem;
      height: 2px;
      background: $body-color;

      & + span {
        margin-top: 3px;
      }
    }
  }
}
