@charset 'utf-8';

.menu-toggle-mobile {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  margin-left: 1 * $spacer;
  padding: (0.7 * $spacer) (1.2 * $spacer);
  font-size: 1.25 * $font-size-base;
  font-weight: bold !important;

  .hamburger {
    margin-left: 0.4 * $spacer;

    span {
      display: block;
      width: 1 * $spacer;
      height: 2px;
      background: $body-color;
      opacity: 1;
      transition:
        transform 0.3s,
        opacity 0.3s;

      & + span {
        margin-top: 3px;
      }
    }
  }
}

.menu-toggle-mobile-opened {
  .hamburger {
    position: relative;

    span {
      background: color('red');

      &:nth-child(1) {
        transform:
          rotate(45deg)
          translateY(0.27 * $spacer)
          translateX(0.27 * $spacer);
      }

      &:nth-child(2) {
        transform:
          rotate(-45deg)
          translateY(0.04 * $spacer)
          translateX(0.01 * $spacer);
      }

      &:nth-child(3) {
        opacity: 0;
      }
    }
  }
}
