<div class="input-group search">
  <div class="input-group-prepend">
    <span class="input-group-text">
      {% include '@atoms/icon/icon.twig' with { icon: 'icon-search' } %}
    </span>
  </div>
  <input type="text" class="form-control" placeholder="Rechercher">
</div>