@charset 'utf-8';

.header .search {
  display: none;

  @include media-breakpoint-down (lg) {
    display: flex;
    flex-flow: row nowrap;
    position: fixed;
    bottom: 0;
    left: 0;
    width: calc(100% - #{ $mm-lang-width });
    height: $mm-lang-height;
    z-index: 120;

    .form-control {
      padding: 0 0 0 (0.4 * $spacer);
      background: $black;
      border: 0;
      color: $white;
      box-shadow: none !important;
      border-radius: 0;

      &::placeholder {
        color: gray('300');
      }
    }

    .input-group-text {
      background: $black;
      border-radius: 0;
      border: 0;
    }

    .icon {
      color: gray('300');
    }
  }
}
