<nav aria-label="breadcrumb" class="breadcrumb-wrapper" id="breadcrumb-wrapper">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">
        {% include '@atoms/icon/icon.twig' with { icon: 'icon-home' } %}
      </a>
    </li>
    <li class="breadcrumb-item breadcrumb-tags-wrapper">
      <a href="#" class="tag tag-primary">School</a>
      <a href="#" class="tag tag-primary">Innovation</a>
      <a href="#" class="tag tag-primary">W3C</a>
    </li>
    <li class="breadcrumb-item"><a href="#">Schools</a></li>
    <li class="breadcrumb-item"><a href="#">ENAC</a></li>
    <li class="breadcrumb-item"><a href="#">Formations</a></li>
    <li class="breadcrumb-item active" aria-current="page">Projets</li>
  </ol>
</nav>
