@charset 'utf-8';

.table-restauration {
  
  tr td {
    padding: .5rem;
    
    &:first-child {
      padding-left: 0;
    }
    
    &:last-child {
      padding-right: 0;
    }
    
    .tablesaw-cell-label {
      @extend .sr-only;
    }
  }
  
  td.menu {
    
    .menu-content {
      display: flex;
      align-items: center;
    }
    .logo {
      img {
        max-width: 100%;
        height: auto;
        vertical-align: top;
      }
    }
    
    .nutrimenu {
      margin-left: auto;
      padding-right: .5rem;
    }
  }
  
  td.prices {
    span.price {
      display: block;
    }
  }
    
  @include media-breakpoint-down(xs) {
    td.menu .logo {
      display: none;
    }
  }
  
  @media only screen and (max-width: 639px)  {
    
    tr td {
      padding: .5rem 0;
      border: 0;
    }
    
    tr > td:first-child {
      padding-top: 1rem;
      border-top: 2px solid $gray-200;
    }
    tr > td:last-child {
      margin: 0;
      padding-bottom: 1rem;
    }
    tr + tr {
      border-width: 0;
    }
    
    td.menu {
      
      .tablesaw-cell-content {
        max-width: none;
        width: 100%;
      }
      .logo {
        margin-right: .25rem;
        width: 30%;
      }
      .nutrimenu {
        padding-left: 1rem;
        
        img {
          height: 64px;
        }
      }
    }
    
    td.restaurant,
    td.prices {
      clear: none;
      padding-top: 0;
      width: auto;
      white-space: nowrap;
    }
    
    td.restaurant {
      padding-right: 1rem;
    }
    
    td.prices {
      span.price {
        display: inline-block;
        
        & + .price {
          margin-left: .25rem;
        }
      }
    }
  }
}

