<button
  class="collapse-title collapse-title-desktop collapsed"
  type="button"
  data-toggle="collapse"
  data-target="#collapse-1"
  aria-expanded="false"
  aria-controls="collapse-1"
>
  On the Origin of Species
</button>

<div class="collapse collapse-item collapse-item-desktop" id="collapse-1">
  <p>Book by Charles Darwin, 1859 — On the Origin of Species, published on 24 November 1859, is a work of scientific literature by Charles Darwin which is considered to be the foundation of evolutionary biology.</p>
</div>
