<nav class="nav-lang justify-self-end" aria-label="Change language">
  <ul>
    <li>
      <a href="#" class="active" aria-label="Français (Current language)">FR</a>
    </li>
    <li>
      <a href="#" aria-label="English">EN</a>
    </li>
  </ul>
</nav>
