<nav class="nav-lang ml-auto dropdown" aria-label="Change language">
  <a href="#" class="dropdown-toggle btn btn-secondary" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
    {% include '@atoms/icon/icon.twig' with {icon: 'icon-planet'} %}
    <span>FR</span>
  </a>
  <ul class="dropdown-menu">
    <li>
      <a aria-label="Français (Current language)" class="active dropdown-item" >
        {% include '@atoms/icon/icon.twig' with {icon: 'icon-planet'} %}
        <span>FR</span>
      </a>
    </li>
    <li>
      <a href="#" aria-label="English" class="dropdown-item">
        <span>EN</span>
      </a>
    </li>
    <li>
      <a href="#" aria-label="русский" class="dropdown-item">
        <span>RU</span>
      </a>
    </li>
    <li>
      <a href="#" aria-label="Deutsch" class="dropdown-item">
        <span>DE</span>
      </a>
    </li>
  </ul>
</nav>

<select name="nav-lang" class="nav-lang-mobile form-control">
  <option value="/en" data-url="https://your-other-language-url/en">
    EN
  </option>
  <option value="/fr" selected data-url="https://your-other-language-url/fr">
    {% include '@atoms/icon/icon.twig' with {icon: 'icon-planet'} %}
    FR
  </option>
  <option value="/ru" data-url="https://your-other-language-url/ru">
    RU
  </option>
  <option value="/de" data-url="https://your-other-language-url/de">
    DE
  </option>
</select>
