@charset 'utf-8';

.nav-lang {
  margin-right: $spacer * 3;

  &.show {
    .dropdown-toggle {
      border: 1px solid gray('500');
    }
  }

  .dropdown-toggle,
  .dropdown-item {
    position: relative;
    padding: ($spacer * 0.4) ($spacer * 2) ($spacer * 0.6) ($spacer * 0.7);
    font-size: $font-size-sm;
    font-weight: bold;
    transition: background 0.2s ease;
  }

  .dropdown-toggle {
    &:before {
      content: ' ';
      position: absolute;
      top: calc(50% - 0.35rem);
      right: 0.5rem;
      left: auto;
      width: 0;
      height: 0;
      border-top: 0;
      border-right: .3em solid transparent;
      border-bottom: .3em solid;
      border-left: .3em solid transparent;
    }

    &:after {
      position: absolute;
      right: 0.5rem;
      bottom: calc(50% - 0.45rem);
    }
  }

  .dropdown-menu ul,
  .dropdown-menu li,
  .dropdown-menu a,
  .dropdown-toggle {
      width: 5.8rem;
  }

  .dropdown-menu {
    padding: 0;
    background: none;
    border: 0;
    margin-top: 0;

    a:not(.active) {
      background: white;
      border: 1px solid gray('500');

      &:hover {
        background: gray('100');
      }
    }
  }

  a.active {
    border: 1px solid $primary;
    color: $white !important;

    .icon {
      color: $white;
    }
  }

  .icon {
    margin-right: $spacer * 0.5;
    font-size: $font-size-base * 1.1;
    color: gray('600');
    transform: translateY($spacer * 0.13);
  }

  .dropdown-item {
    margin-top: -1px;
  }

  .dropdown-item:not(.active):active {
      color: $black;
      border-color: black !important;
      z-index: 20;
    }
}
