<nav class="nav-lang nav-lang-short ml-auto">
  <ul>
    <li>
      <span class="active" aria-label="Français'">FR</span>
    </li>
    <li>
      <a href="/en" aria-label="English">EN</a>
    </li>
  </ul>
</nav>
