@charset 'utf-8';

.nav-toggle {
  display: none;
  margin-right: $grid-gutter-width / 3;
  padding: $spacer / 4 $spacer / 2;
  &:hover { cursor: pointer; }

  .icon {
    margin-right: 0.2rem;
    font-size: 0.7rem;
  }

  @include media-breakpoint-up(xl) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
