<section class="collapse-container">
  <header
    class="collapse-title collapse-title-desktop collapsed"
    data-toggle="collapse"
    data-target="#collapse-2"
    aria-expanded="false"
    aria-controls="collapse-2"
  >
    <p class="title">Lorem ipsum dolor sit amet, consectetur adipising elit</p>
    <ul class="list-inline has-sep small text-muted">
      <li>Lorem ipsum</li>
      <li>Dolor sit amet</li>
      <li>Consectetur</li>
      <li>Adipsing elit</li>
    </ul>
  </header>

  <div class="collapse collapse-item collapse-item-desktop" id="collapse-2">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut magna facilisis, mollis sapien vel, consectetur sem. Curabitur dignissim sem nisl, at convallis tellus mollis at. Cras accumsan dui maximus mi suscipit faucibus.</p>
    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris dignissim lectus metus, ut sollicitudin ipsum aliquam pellentesque. Donec nec erat tempor, laoreet lacus et, ultricies velit. Suspendisse eget eleifend diam. Integer quis vehicula nibh. Quisque viverra in dui sed blandit. Sed gravida porta leo, in rhoncus metus venenatis ut. Morbi tincidunt tincidunt faucibus. </p>
  </div>
</section>
