@charset 'utf-8';

$collapse-chevron-active: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{theme-color('primary')}' viewBox='0 0 6 3'%3E%3Cpath d='M3 3 6 0 0 0z'/%3E%3C/svg%3E"), "#", "%23");
$collapse-chevron: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{$gray-600}' viewBox='0 0 6 3'%3E%3Cpath d='M3 0 6 3 0 3z'/%3E%3C/svg%3E"), "#", "%23");
$collapse-chevron-size: 12px;

@mixin collapse-btn() {
  $icon-size: 1rem;
  $icon-size-half: $icon-size / 2;
  $icon-thickness: 2px;
  $icon-thickness-half: $icon-thickness / 2;

  display: block;
  position: relative;
  width: 100%;
  margin-bottom: 0;
  padding: 0.9rem 0;
  border-top: 1px solid $gray-300;
  font-size: 1.1rem;
  text-align: left;
  font-weight: 800;
  &:hover { cursor: pointer; }

  &:after {
    content: $collapse-chevron;
    float: right;
    width: $collapse-chevron-size;
    height: ($collapse-chevron-size / 2);
    margin-top: -3px;
    border: 0;
  }

  &.collapsed:after {
    content: $collapse-chevron-active;
  }
}

.collapse-title {
  padding: 0;
  background: none;
  border: none;
  transition: box-shadow 0.25s;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px $red;
  }

  &.collapse-title-desktop {
    @include collapse-btn();
  }

  @include media-breakpoint-down(sm) {
    @include collapse-btn();
  }
}

.collapse-item {
  &:not(.collapse-item-desktop) {
    @include media-breakpoint-up(md) {
      display: block !important;
      height: auto !important;
      min-height: 1px !important;
      overflow: visible !important;
      transition: none !important;
    }
  }
}

.collapse-group {
  border-bottom: 1px solid $gray-300;
  margin-bottom: $spacer * 2;
}

// Link collapse

.link-collapse {
  display: inline-flex;
  align-items: baseline;
  text-decoration: none;

  &:after {
    content: '';
    display: inline-block;
    width: $collapse-chevron-size;
    height: $collapse-chevron-size;
    margin-left: ($collapse-chevron-size / 2);
    background: $collapse-chevron no-repeat center center;
    background-size: contain;
  }

  &.collapsed {
    &:after {
      background-image: $collapse-chevron-active;
    }
  }
}
