<button
  class="collapse-title collapse-title-desktop collapsed"
  type="button"
  data-toggle="collapse"
  data-target="#collapse-1"
  aria-expanded="false"
  aria-controls="collapse-1"
>
  Don't click me
</button>
<div class="collapse collapse-item collapse-item-desktop" id="collapse-1">
  <p>
    In The Sixth Sense, Bruce Willis is in fact a ghost. (I told you XD)
  </p>
</div>
