<div class="collapse collapse-partial" id="biography-text" aria-expanded="false">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad aperiam culpa dolor dolore eaque esse excepturi incidunt libero maxime molestias mollitia neque odit possimus praesentium quaerat quam quas reprehenderit, saepe similique sit totam veritatis vero voluptas voluptatem voluptates voluptatibus! Ab ad adipisci autem blanditiis cum deleniti deserunt dolor, dolores earum eius enim esse est eveniet exercitationem, fuga fugiat fugit illum ipsum maiores molestias mollitia nesciunt officia perferendis praesentium quisquam quos recusandae rem repellat repudiandae sit temporibus vero vitae voluptatem! Blanditiis excepturi neque officia possimus suscipit? A culpa est ipsa nemo officiis. Corporis distinctio, est iure nihil possimus quis veritatis.</p>
</div>

<a class="collapsed btn btn-light btn-block btn-sm mt-3" data-toggle="collapse" aria-hidden="true" href="#biography-text" aria-controls="biography-text">
  Show full biography
  {% include '@atoms/icon/icon.twig' with {icon: 'icon-triangle'} %}
</a>
