<div class="nav-toggle">
  {% block header %}
    {% include '@organisms/header/header.twig' %}
  {% endblock %}

  <div class="main-container nav-toggle">

    {% block nav %}
      {% include '@molecules/nav/nav.twig' %}
    {% endblock %}

    {% block breadcrumb %}
      <div class="container breadcrumb-container">
        {% include '@organisms/breadcrumbs/breadcrumbs.twig' %}
      </div>
    {% endblock %}

    {% block main %}
      <main role="main" class="content">
        {% block content %}{% endblock %}
      </main>
    {% endblock %}


    {% block footer_container %}
      <div class="bg-gray-100 pt-5 mt-5">
        <div class="container">
          {% block footer %}
            {% include '@organisms/footer/footer-dark.twig' %}
          {% endblock %}
        </div>
      </div>
    {% endblock %}
  </div>
</div>
