{% set classes = 'nav-toggle' %}

{% block header %}
  {% include '@organisms/header/header-toggle.twig' %}
{% endblock %}

<div class="main-container {{ classes }}">

  {% block nav %}
    {% include '@molecules/nav/nav.twig' %}
  {% endblock %}

  <main role="main" class="content">
    {% block breadcrumb %}
      <div class="container breadcrumb-container">
        {% include '@organisms/breadcrumbs/breadcrumbs.twig' %}
      </div>
    {% endblock %}

    {% block content %}{% endblock %}

    {% block footer_container %}
      <div class="bg-gray-100 pt-5 mt-5">
        <div class="container">
          {% block footer %}
            {% include '@organisms/footer/footer-dark.twig' %}
          {% endblock %}
        </div>
      </div>
    {% endblock %}
  </main>
</div>
