
{% include '@utilities/access-nav/access-nav.twig' %}

{% block header %}
  {% include '@components/header/header.twig' %}
{% endblock %}

<div class="main-container">
  <div class="nav-toggle-layout nav-aside-layout">

    {% block nav %}
      {% include '@utilities/nav/nav.twig' %}
    {% endblock %}

    <div class="w-100 pb-5">
      {% block breadcrumb %}
        <div class="container nav-toggle-container">
          <div>{% include '@utilities/nav/nav-toggle.twig' %}</div>
          {% include '@components/breadcrumbs/breadcrumbs.twig' %}
        </div>
      {% endblock %}

      {% block main %}
        <main id="main" role="main" class="content {% block grid %}container-grid{% endblock %}">
          {% block content %}{% endblock %}
        </main>
      {% endblock %}

    </div>

    <aside class="nav-aside-wrapper">
      {% include '@utilities/nav-aside/nav-aside.twig' %}
    </aside>
  </div>

  {% block footer_container %}
  <div class="bg-gray-100 pt-5">
    <div class="container">
      {% block footer %}
        {% include '@components/footer/footer-dark.twig' %}
      {% endblock %}
    </div>
  </div>
  {% endblock %}
  </div>
</div>
