
{% include '@utilities/access-nav/access-nav.twig' %}

{% block header %}
  {% include '@components/header/header.twig' %}
{% endblock %}

{% if not isHomepage %}
{% block breadcrumb %}
  <div class="breadcrumb-container">
    <div>{% include '@utilities/nav-toggle/nav-toggle.twig' %}</div>
    {% include '@components/breadcrumbs/breadcrumbs.twig' %}
  </div>
{% endblock %}
{% endif %}


<div class="main-container">
  <div{% if not isHomepage %} class="nav-toggle-layout nav-aside-layout"{% endif %}>

    {% block nav %}
      {% include '@utilities/nav/nav.twig' %}
    {% endblock %}

    <div class="w-100 pb-5">

      {% block main %}
        <main id="main" role="main" class="content {% block grid %}container-grid{% endblock %}">
          {% block content %}{% endblock %}
        </main>
      {% endblock %}

    </div>

    {% if not isHomepage %}
    <aside class="nav-aside-wrapper">
      {% include '@utilities/nav-aside/nav-aside.twig' %}
    </aside>
    {% endif %}
  </div>

  {% block footer_container %}
  <div class="bg-gray-100 pt-5">
    <div class="container">
      {% block footer %}
        {% include '@components/footer/footer-dark.twig' %}
      {% endblock %}
    </div>
  </div>
  {% endblock %}
  </div>
</div>
