<div class="custom-control custom-switch">
  <input type="checkbox" class="custom-control-input" id="custom-switch{{id}}" {{state}}>
  <label class="custom-control-label" for="custom-switch{{id}}">{{ label?: 'Toggle'}}</label>
</div>
