{% if language is not defined %}{% set language = 'fr' %}{% endif %}

{% if language == 'fr' %}
<p class="footer-title footer-title-no-underline">Pratique</p>
<a href="https://www.epfl.ch/campus/services/" class="btn btn-secondary btn-sm">Services et ressources</a>
<a href="tel:+41216933000" class="btn btn-secondary btn-sm">Urgences : +41 21 693 3000</a>
<a href="https://www.epfl.ch/about/overview/contact/" class="btn btn-secondary btn-sm">Contact</a>
<a href="https://map.epfl.ch/?lang=fr" class="btn btn-secondary btn-sm">Plan</a>
{% endif %}

{% if language == 'en' %}
<p class="footer-title footer-title-no-underline">Practical</p>
<a href="https://www.epfl.ch/campus/services/en/" class="btn btn-secondary btn-sm">Services and ressources</a>
<a href="tel:+41216933000" class="btn btn-secondary btn-sm">Emergencies: +41 21 693 3000</a>
<a href="https://www.epfl.ch/about/overview/contact-en/" class="btn btn-secondary btn-sm">Contact</a>
<a href="https://map.epfl.ch/" class="btn btn-secondary btn-sm">Map</a>
{% endif %}

{% if language == 'de' %}
    <p class="footer-title footer-title-no-underline">Praktische Hinweise</p>
    <a href="https://www.epfl.ch/campus/services/en/" class="btn btn-secondary btn-sm">Services und Ressourcen</a>
    <a href="tel:+41216933000" class="btn btn-secondary btn-sm">Notfälle : +41 21 693 3000</a>
    <a href="https://www.epfl.ch/about/overview/de/kontakt/" class="btn btn-secondary btn-sm">Kontakt</a>
    <a href="https://map.epfl.ch/" class="btn btn-secondary btn-sm">Plan</a>
{% endif %}
