<div class="card">
  <a href="#" class="card-img-top">
    <picture>
      <img src="./images/event_teaser.png" class="img-fluid" title="professor Xile Hu" alt="a portrait of professor Xile Hu" />
    </picture>
  </a>
  <div class="card-body">
    <h3 class="h5 card-title">
      <a href="#">Avançon bridge GFRP</a>
    </h3>
    <div class="card-info">
      <span>Composite construction laboratoire CCLAB</span>
    </div>
    <p>Avançon bridge GFRP-balsa sandwich bridge deck adhesively bonded onto steel girders, replacing a one-lane concrete bridge
      by a new two-lane bridge without increasing total load</p>
  </div>
  <div class="card-footer mt-auto">
    <a href="#" class="btn btn-secondary btn-sm">Voir plus</a>
  </div>
</div>
<!-- 🛠 Research project component -->
