{% extends "@pages/partials/layout.twig" %}

{% block breadcrumb %}{% endblock %}

{% block main %}
  <main class="container-grid content" role="main">
    {% block content %}

    {% endblock content %}
  </main>
{% endblock %}
