{% extends "@pages/partials/layout.twig" %}

{% block breadcrumb %}{% endblock %}

{% block main %}
  <main class="container-grid content" role="main">
    <p class="text-center">The wrapper class to enable the grid behaviour is <br><code>.container-grid</code>.</p>
    <p class="text-center">We use this layout on all pages that need to be set up with shortcodes. All shortcodes can have their own way of displaying its content:</p>
    {% block content %}
      <div class="p-4 mb-2 text-center bg-dark text-white">
        <p class="m-0">This is a default look of an item inside the <code>.container-grid</code> wrapper.</p>
        <p class="m-0 small">All the HTML elements that are directly inside this wrapper will have this maximum size.</p>
      </div>
      <div class="p-4 mb-2 container-full text-center bg-dark text-white">
        <p class="m-0">This is a full-width item inside the <code>.container-grid</code> wrapper.</p>
        <p class="m-0 small">Set it up by adding the class <code>.container-full</code></p>
        <p class="m-0 small">Inside this, you could have whatever Bootstrap layout you want.</p>
      </div>
    {% endblock content %}
  </main>
{% endblock %}
