{% extends "@pages/partials/layout.twig" %}

{% block breadcrumb %}{% endblock %}

{% block main %}
  <main class="container-grid content" role="main">
    {% block content %}
      <div class="py-4 mb-2" style="background-color: hotpink;"></div>
      <div class="py-4 mb-2 container-full" style="background-color: hotpink;"></div>
    {% endblock content %}
  </main>
{% endblock %}
