@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i');

// init:
@import '../config/mixins';
@import '../config/variables';
@import '../config/bootstrap';
@import '../config/typography';
@import '../config/layout';
@import '../config/helpers';

// Don't edit the following sections, they should always be preceded by a blank
// line and have exactly those names for the `$ yo toolbox:generate` command
// to work

//
// atoms:
@import 'atoms/link/link';
@import 'atoms/input/input';
@import 'atoms/select/select';
@import 'atoms/upload/upload';
@import 'atoms/icon/icon';
@import 'atoms/checkbox/checkbox';
@import 'atoms/radio/radio';
@import 'atoms/picture/picture';
@import 'atoms/video/video';
@import 'atoms/social-icon/social-icon';
@import 'atoms/icon/icon';

//
// molecules:
@import 'molecules/footnotes/footnotes';
@import 'molecules/sidenotes/sidenotes';
@import 'molecules/event-teaser-item/event-teaser-item';
@import 'molecules/fullwidth-teaser/fullwidth-teaser';
@import 'molecules/datepicker/datepicker';
@import 'molecules/social-feed-item/social-feed-item';
@import 'molecules/form-group/form-group';

//
// organisms:
@import 'organisms/event/event';
@import 'organisms/footer/footer';
@import 'organisms/question/question';
@import 'organisms/introduction/introduction';
@import 'organisms/social/social';
@import 'organisms/social/social-share';
@import 'organisms/footer/footer-light';
@import 'organisms/news/news';
@import 'organisms/tables/tables';
@import 'organisms/publication/publication';
@import 'organisms/link/link';
@import 'organisms/breadcrumbs/breadcrumbs';
@import 'organisms/button/button';
@import 'organisms/header/header';
@import 'organisms/media/media';
@import 'organisms/definition-list/definition-list';
@import 'organisms/alerts/alerts';
@import 'organisms/form/form';
@import 'organisms/pagination/pagination';
@import 'organisms/teaser-press-review/teaser-press-review';
@import 'organisms/study-plan/study-plan';
@import 'organisms/coursebook/coursebook';
@import 'organisms/text/text';
@import 'organisms/newsletter-sign-up/newsletter-sign-up';
@import 'organisms/contact/contact';
@import 'organisms/teaser-mission/teaser-mission';
@import 'organisms/restauration/restauration';
@import 'organisms/tabs/tabs';
