/* Structure */

.site {
  position: relative;
  top: 0;
  transition: top .3s ease-in-out;
  
  .search-open & {
    top: $mm-lang-height;
  }
}

/* Sticky footer */

html,
body {
  height: 100%;
}

body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  
  > .site {
    display: flex;
    flex-direction: column;
    height: 100%;
    
    > header.header {
      flex-shrink: 0;
    }
  }
  
  > .main-container,
  > .site > .main-container {
    flex: 1 0 auto;
    
    + .bg-gray-100 {
      flex-shrink: 0;
    }
  }
}



/* Containers */

.container-grid {

  @include media-breakpoint-down(sm) {
    grid-row-gap: 0;
  }
}

/* Typography */

.content {
  p,
  ol,
  ul,
  dl,
  table {

    & + h1,
    & + h2,
    & + h3,
    & + h4,
    & + h5,
    & + h6 {
      margin-top: 1.75em;
    }
  }
  
  h2 + h3,
  h3 + h4,
  h4 + h5,
  h5 + h6 {
    margin-top: 1.5em;
  }
}
  
.content.container-grid,
.content .container-grid {
  
  p,
  ol,
  ul,
  dl,
  table {

    & + h1,
    & + h2,
    & + h3,
    & + h4,
    & + h5,
    & + h6 {
      margin-top: 1.5em;
    }
  }

  h2 + h3,
  h3 + h4,
  h4 + h5,
  h5 + h6 {
    margin-top: 0.75em;
  }
}