/* Structure */

body {
  overflow-x: hidden;
}

.site {
  position: relative;
  top: 0;
  transition: top .3s ease-in-out;
  
  .search-open & {
    top: $mm-lang-height;
  }
}

/* Containers */

.container-grid {

  @include media-breakpoint-down(sm) {
    grid-row-gap: 0;
  }
}

/* Typography */

.content {
  p,
  ol,
  ul,
  dl,
  table {

    & + h1,
    & + h2,
    & + h3,
    & + h4,
    & + h5,
    & + h6 {
      margin-top: 2rem;
    }
  }
  
  h2 + h3,
  h3 + h4,
  h4 + h5,
  h5 + h6 {
    margin-top: 3rem;
  }
}