{% extends '@content-types/event/event.twig' %}

{% block img_src %}./images/styleguide/event_teaser_large.jpg{% endblock %}

{% block title %}EPFL Drone Days 2018 dates have been announced!{% endblock %}

{% block summary %}
<p>From 1 to 3 September 2018, more than 5,000 people will be treated to drone races, a robotics showcase, a conference and demonstrations on the EPFL's campus. Attendees will enjoy 3 days of thrilling races over the middle of campus, including a night race lit by LEDs and the finals of the Swiss Rotor Sports Association (SRSA).</p>
{% endblock %}

{% block info %}
Lieu : <b>Laboratoire ALICE</b><br>Organisé par <b>Campus Farmers (Unipoly)</b><br>
{% endblock %}
