
<h2>Les prochains événements</h2>
<div class="row mt-2">
  <div class="col-md-6">
    {% include '@content-types/event/event-highlight.twig' %}
  </div>
  <div class="col-md-6">
    {% include '@content-types/event/event-listing.twig' with { bottomlink: true } %}
  </div>
</div>
