<a href="#" class="event-teaser-item card p-4 event-teaser-item-large">
  <picture class="card-img-top">
    <img src="./images/event_teaser_large.jpg" alt="a closeup shot of a white drone flying in front of a bright orange sundown"/>
  </picture>
  <div class="card-body mt-2">
    <h3 class="card-title">EPFL Drone Days 2018 dates have been announced!</h3>
    <p>From 1 to 3 September 2018, more than 5,000 people will be treated to drone races, a robotics showcase, a conference and demonstrations on the EPFL's campus. Attendees will enjoy 3 days of thrilling races over the middle of campus, including a night race lit by LEDs and the finals of the Swiss Rotor Sports Association (SRSA).</p>
  </div>
</a>
