<a href="#" class="event-teaser-item card p-4">
  <picture class="card-img-top">
    <img src="./images/event_teaser.png" class="d-block" title="professor Xile Hu" alt="a portrait of professor Xile Hu" />
  </picture>

  <div class="card-body mt-2">
    <h3 class="card-title">Startup Acceleration Workshops</h3>
    <p>Avec <strong>John Doe</strong></p>
    <p><time datetime="2018-01-01T12:00:00.000Z">10.01.2018 <span aria-hidden="true">&rsaquo;</span> 13:00</time> <span aria-label="à">-</span> <time datetime="2018-01-31T16:30:00.000Z">17:30</time></p>
    <p>Lieu: ArtLab EPFL</p>
    <p>Catégorie: <strong>IPG Seminar</strong></p>
  </div>
</a>
