<a href="#" class="event-teaser-item card p-2 event-teaser-item-small">
  <picture class="mr-2">
    <img src="./images/event_teaser.png" alt="a portrait of professor Xile Hu, smiling happily at the camera, sitting in an empty auditorium." />
  </picture>
  <div class="card-body">
    <h3 class="card-title">Portes ouvertes - C.A.S en coordination BIM</h3>
    <p>Lundi 29 janvier 2018 13:30 - 17:30 ELA 2</p>
  </div>
</a>
