<footer class="footer" role="contentinfo">

  <div class="footer-group footer-sitemap">
      {% include "components::footer/footer-col.twig" with { id: loop.index } %}
  </div>

  <div class="footer-group">
    {% include "components::footer/footer-faculties.twig" %}
  </div>

  <div class="footer-group footer-buttons">
    {% include "components::footer/footer-buttons.twig" %}
  </div>

  <div class="footer-group footer-socials">
    {% include "components::footer/footer-socials.twig" %}
  </div>

  {% include "components::footer/footer-legal.twig" %}

</footer>
