@charset 'utf-8';

.list-bullet {
  padding-left: 0;
  margin-left: -0.7rem;

  li {
    $bullet-size: $spacer * 0.8;

    list-style-type: none;
    padding-left: $spacer;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 0.7rem;
      right: calc(100% - 0.5rem);
      width: 6px;
      height: 5px;
      background: $red;
      font-size: 1.1rem;
      line-height: $bullet-size;

      @include media-breakpoint-down (sm) {
        top: 0.6rem;
      }

      @include media-breakpoint-down (xs) {
        top: 0.5rem;
      }
    }
  }

  &.list-unstyled {
    margin-left: 0;
    li:before { display: none; }
  }

  ul { padding-left: 0; }
  ul li:before {
    background: transparent;
    border: 1px solid $red;
  }
  ul ul li:before {
    background: $red;
    border: none;
  }
}

.list-numbered {
  counter-reset: item;
  padding-left: 0;
  margin-left: -0.9rem;

  li {
    list-style-type: none;
    padding-left: $spacer;
    position: relative;

    &:before {
      content: counter(item);
      counter-increment: item;
      position: absolute;
      top: 0.3rem;
      right: calc(100% - 0.5rem);
      font-size: 0.8rem;
      font-weight: $font-weight-bold;
      color: $red;

      @include media-breakpoint-down (sm) {
        top: 0.2rem;
      }

      @include media-breakpoint-down (xs) {
        top: 0.1rem;
      }
    }
  }

  ol {
    counter-reset: secondary-item;
    padding-left: 0;
  }
  ol ol { counter-reset: third-item; }

  ol li:before {
    content: counter(item) "." counter(secondary-item);
    counter-increment: secondary-item;
    font-weight: $font-weight-normal;
  }

  ol ol li:before {
    content: counter(item) "." counter(secondary-item) "." counter(third-item);
    counter-increment: third-item;
  }
}
