<ul>
  <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, facere!</li>
  <li>Lorem ipsum dolor sit amet.</li>
  <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
  <li>Lorem ipsum dolor sit amet consectetur.</li>
</ul>

<ol>
  <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, facere!</li>
  <li>Lorem ipsum dolor sit amet.</li>
  <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
  <li>Lorem ipsum dolor sit amet consectetur.</li>
</ol>
