@charset 'utf-8';

ul {
  padding-left: $spacer;
  margin-left: 0;

  li {
    $bullet-size: $spacer * 0.8;

    list-style-type: none;
    padding-left: $spacer;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 0.7rem;
      right: calc(100% - 0.5rem);
      width: 6px;
      height: 5px;
      background: $red;
      font-size: 1.1rem;
      line-height: $bullet-size;

      @include media-breakpoint-down (sm) {
        top: 0.6rem;
      }

      @include media-breakpoint-down (xs) {
        top: 0.5rem;
      }
    }
  }

  ul { padding-left: calc( #{$spacer} / 2 ); }
  ul li:before {
    background: transparent;
    border: 1px solid $red;
  }
  ul ul li:before {
    background: $red;
    border: none;
  }
}

ol {
  counter-reset: item;
  padding-left: $spacer;
  margin-left: 0;

  li {
    list-style-type: none;
    padding-left: $spacer;
    position: relative;

    &:before {
      content: counter(item);
      counter-increment: item;
      position: absolute;
      top: 0.3rem;
      right: calc(100% - 0.5rem);
      font-size: 0.8rem;
      font-weight: $font-weight-bold;
      color: $red;

      @include media-breakpoint-down (sm) {
        top: 0.2rem;
      }

      @include media-breakpoint-down (xs) {
        top: 0.1rem;
      }
    }
  }

  ol {
    counter-reset: secondary-item;
    padding-left: calc( #{$spacer} / 2 );
  }
  ol ol { counter-reset: third-item; }

  ol li:before {
    content: counter(item) "." counter(secondary-item);
    counter-increment: secondary-item;
    font-weight: $font-weight-normal;
  }

  ol ol li:before {
    content: counter(item) "." counter(secondary-item) "." counter(third-item);
    counter-increment: third-item;
  }
}

.list-unstyled,
.list-inline,
.nav,
nav {
  
  li {
    padding-left: 0;
    
    &:before {
      content: none;
    }
  }
}

.list-inline {
  
  li {
    display: inline-block;
    
    &:not(:last-child) {
      margin-right: .5em;
    }
  }
  
  &.has-sep {
    
    li:not(:last-child):after {
      content: "|";
      position: relative;
      top: -1px;
      right: -0.125em;
      font-weight: 400;
      margin-left: .5em;
      color: $gray-300;
    }
  }
}
