{% set isSpecial = true %}

{% extends "@templates/base/base.twig" %}

{% block header %}
  {% include '@organisms/header/header-light.twig' with { site_title: 'Event title' } %}
{% endblock %}

{% block content %}

<div class="container-full">
  {% include '@organisms/hero/hero.twig' with {cover_path: 'images/cover/cover01_', title: 'Event title', content: false} %}
</div>

<div class="container">
  {% include '@organisms/introduction/introduction.twig' with {title: 'Introduction', content: "This is an introduction text about the association. It's always interesting to know in few lines what is all about."} %}
</div>

<div class="container">
  {% include '@content-types/news/news-latest-two.twig' %}
</div>

<div class="container mt-5">
  <h2 class="mb-4">Useful informations</h2>
  <div class="row">
    {% for i in 1..2 %}
      <div class="col-md-6">
        {% include '@content-types/basic-page/basic-page.twig' %}
      </div>
    {% endfor %}
  </div>
</div>

<div class="container-full mt-5">
  <div class="container">
    <h2 class="mb-4">Program</h2>
  </div>
  {% include '@organisms/fullwidth-teaser/fullwidth-teaser-horizontal.twig' %}
</div>

<div class="container mt-5">
  <h2 class="mb-4">Our sponsors</h2>
  <div class="row">
    {% for i in 1..3 %}
      <div class="col-md-4">
        {% include '@molecules/sponsor/sponsor.twig' %}
      </div>
    {% endfor %}
  </div>
</div>

<div class="container mt-5">
  {% include '@organisms/contact/contact-banner.twig' %}
</div>

{% endblock %}

{% block footer_container %}
<div class="bg-gray-100 pt-5">
  <div class="container">
    {% block footer %}
      {% include '@organisms/footer/footer-light.twig' %}
    {% endblock %}
  </div>
</div>
{% endblock %}
