@charset 'utf-8';

$table-cours-template-columns: minmax(200px, 3fr) minmax(auto, 1fr) minmax(200px, 3fr);
$table-grid-template-columns: 1fr $table-cours-template-columns 2fr 2fr 2fr minmax(200px, 3fr) 1fr;

$study-plan-0-semesters: minmax(300px, 4fr) 1fr minmax(auto, 2fr) 1fr;
$study-plan-1-semesters: minmax(300px, 4fr) 1fr 2fr minmax(200px, 3fr) 1fr;
$study-plan-2-semesters: minmax(300px, 4fr) 1fr 2fr 2fr minmax(200px, 3fr) 1fr;
$study-plan-3-semesters: minmax(300px, 4fr) 1fr 2fr 2fr 2fr minmax(200px, 3fr) 1fr;
$study-plan-4-semesters: minmax(300px, 4fr) 1fr 2fr 2fr 2fr 2fr minmax(200px, 3fr) 1fr;
$study-plan-5-semesters: minmax(300px, 4fr) 1fr 2fr 2fr 2fr 2fr 2fr minmax(200px, 3fr) 1fr;

$study-plan-master-0-semesters: minmax(250px, 3fr) 1fr minmax(140px, 3fr) 1fr;
$study-plan-master-1-semesters: minmax(250px, 3fr) 1fr 2fr minmax(140px, 3fr) 1fr;
$study-plan-master-2-semesters: minmax(250px, 3fr) 1fr 2fr 2fr minmax(140px, 3fr) 1fr;
$study-plan-master-3-semesters: minmax(250px, 3fr) 1fr 2fr 2fr 2fr minmax(140px, 3fr) 1fr;
$study-plan-master-4-semesters: minmax(250px, 3fr) 1fr 2fr 2fr 2fr 2fr minmax(140px, 3fr) 1fr;
$study-plan-master-5-semesters: minmax(250px, 3fr) 1fr 2fr 2fr 2fr 2fr 2fr minmax(140px, 3fr) 1fr;
$study-plan-master: minmax(250px, 3fr) 1fr 2fr 2fr minmax(170px, 3fr) minmax(140px, 3fr) 1fr;
$study-plan-master-pdm: minmax(250px, 3fr) 1fr 2fr 2fr 2fr 2fr minmax(140px, 3fr) 1fr;


.table-like {
  --table-columns: #{$table-grid-template-columns};

  overflow-x: initial;
  max-width: 100%;

  h3,
  h4 {
    font-size: $font-size-base;
    font-weight: $font-weight-bold;
  }

  // Lines
  // Grid properties are overridden on browsers supporting "display: contents".
  .line,
  .first-line {
    display: grid;
    grid-template-columns: $table-grid-template-columns;
    font-size: 0.9375 * $font-size-base;

    // Cells
    > div {
      border-bottom: $table-border-width solid $table-border-color;

      &:first-child {
        border-left: $table-border-width solid $table-border-color;
      }

      &:last-of-type {
        border-right: $table-border-width solid $table-border-color;
      }

      + div {
        border-left: $table-border-width solid $table-border-color;
      }
    }
  }

  .first-line {
    font-size: 0.6875 * $font-size-base;
    font-weight: $font-weight-bold;
    color: $table-head-color;
    text-transform: uppercase;

    > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-top: $table-border-width solid $table-border-color;
      border-bottom-width: $table-border-width * 2;
      padding: $table-cell-padding;
    }
  }

  .line {

    > div {
      padding: 0;

      > div {
        padding: $table-cell-padding;
      }
    }
  }

  .line-up {
    position: sticky;
    top: 0;
    background-color: $table-head-bg;
  }

  // LOURD
  @supports (display: contents) {
    display: grid;
    grid-template-columns: var(--table-columns);
    background-color: $table-border-color;

    .line-up,
    .line-down,
    .line,
    .first-line {
      display: contents;

      > div {
        background-color: $body-bg;
      }
    }

    .first-line {
      > div {
        background-color: $table-head-bg;
      }
    }

    h3, h4 {
      grid-column: 1 / -1;
      background-color: $body-bg;
      margin-bottom: 0;
      padding-bottom: calc( #{$headings-margin-bottom} * 1.5) ;
    }

    .line-down + h3,
    .line-down +  h4 {
      padding-top: 2em;
    }

    .first-line + .clear,
    .line + .clear {
      display: block;
      grid-column: 1 / -1;
      height: 0;
    }

    .line-down:last-child {
      .clear {
        display: none;
      }
    }
  }
  // 👊✋🎤🎶

  // Bachelor headings and content
  .titre_bachlor {
    text-align: center;
  }

  .bachlor .titre,
  .line .bachlor-text {
    display: grid;
    grid-column-gap: 2px;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;

    .cep {

      text-align: center;
    }
  }

  .bachlor .titre {
    margin-right: -$table-cell-padding;
    margin-left: -$table-cell-padding;
  }

  .line-down .bachlor {
    padding: 0 !important;
  }

  // Stripes
  .bachlor-text {
    height: 100%;
    background: repeating-linear-gradient(0deg, $body-bg, $body-bg 2px, $table-border-color 2px, $table-border-color 4px);

    .cep {
      padding-top: $table-cell-padding;
      padding-bottom: $table-cell-padding;
      background-color: $body-bg;

      &:nth-child(2) {
        background-color: $table-head-bg;
      }
    }
  }

  .line-down .bachlor:nth-child(4) {
    .cep {
      background-color: $table-head-bg;

      &:nth-child(2) {
        background-color: $body-bg;
      }
    }
  }

  // Cours
  .line .cours {
    grid-column-gap: $table-border-width;
    padding: 0 !important; // Have to do this, the > and + are so specific
    background-color: #fff;

    > div {
      padding: 0 $table-cell-padding;
      background-color: $body-bg;

      &:first-child {
        padding-top: .6rem;
      }

      &:last-child {
        padding-bottom: .6rem;
      }
    }

    .cours-name {
      font-weight: bold;
      padding-bottom: .6rem !important;

      i {
        font-weight: normal;
      }
    }

    .cours-code {
      grid-area: 2 / 1;
      padding-top: 0 !important;
    }

    .cours-title {
      .bold {
        color: $body-color;
      }
    }

    .section-name,
    .enseignement-name {
      grid-row: span 2;
    }
  }

  // Lang

  .langue {
    text-align: center;
  }

  // Exam
  .examen {
    display: flex;
  }

  // Credit
  .credit-time {
    font-size: $font-size-lg;
    text-align: center;
    color: $text-muted;
  }

  // Specialisations

  .specialisation {

    p {
      display: inline-block;
      font-size: .875rem;
      margin-right: .6rem;
    }

    ul.spec {
      list-style: none;
      margin: 0;
      padding-left: 0;
      text-align: left;

      li {
        display: inline;
        font-size: .875rem;
        margin-bottom: 0;

        &:after {
          content: ";";
        }
      }

      &.list-bullet {
        margin-left: 0;

        li {
          display: inline-block;
          //white-space: nowrap;

          &:before {
            top: .38em;
          }

          &:after {
            display: none;
          }
        }
      }
    }
  }

  // Languages

  // Icons
  .exam-icon {
    .sun {
      &:before {
        content: '☀️';
      }
    }

    .winter {
      &:before {
        content: '❄️';
      }
    }
  }

  // Hover on line
  .line-down .line {
    &:hover {
      > div,
      .cours > div,
      .cep {
        background-color: $table-head-bg;
      }

      .cep:nth-child(2),
      .bachlor:nth-child(4) .cep {
        background-color: darken($table-head-bg, 4%);
      }

      .bachlor:nth-child(4) .cep:nth-child(2) {
        background-color: $table-head-bg;
      }
    }
  }

  // Maybe we'll have to handle those colors in some way.
  //.bachlor {
  //  &.local-color {
  //    background-color: $table-border-color;
  //  }
  //
  //  &.local-color-light {
  //    background-color: gray('100');
  //  }
  //}

  .clear {
    display: none;
  }

  .btn-collapse {
    display: none;
  }
}

.study-plan-0-semesters {
  --table-columns: #{$study-plan-0-semesters};
}
.study-plan-1-semesters {
  --table-columns: #{$study-plan-1-semesters};
}
.study-plan-2-semesters {
  --table-columns: #{$study-plan-2-semesters};
}
.study-plan-3-semesters {
  --table-columns: #{$study-plan-3-semesters};
}
.study-plan-4-semesters {
  --table-columns: #{$study-plan-4-semesters};
}

.study-plan-5-semesters {
  --table-columns: #{$study-plan-5-semesters};
}

.study-plan-master-0-semesters {
  --table-columns: #{$study-plan-master-0-semesters};
}

.study-plan-master-1-semesters {
  --table-columns: #{$study-plan-master-1-semesters};
}
.study-plan-master-2-semesters {
  --table-columns: #{$study-plan-master-2-semesters};
}
.study-plan-master-3-semesters {
  --table-columns: #{$study-plan-master-3-semesters};
}
.study-plan-master-4-semesters {
  --table-columns: #{$study-plan-master-4-semesters};
}

.study-plan-master-5-semesters {
  --table-columns: #{$study-plan-master-5-semesters};
}

.study-plan-master-pdm {
  --table-columns: #{$study-plan-master-pdm};
}

.study-plan-master {
  --table-columns: #{$study-plan-master};
}

@media all and (max-width: 1359px) {

  .table-like {
    display: block;

    .line-up {
      display: none;
    }

    .line-down {
      display: block;

      .line {
        border-bottom: 4px solid #fff;
        display: block;
        max-height: 1000px;
        overflow: hidden;
        position: relative;
        transition: max-height .2s ease-in-out;

        &:not(.open) {
          max-height: 34px;
        }

        .btn-collapse {
          display: block;
          position: absolute;
          top: 4px; right: 0; left: 0;
          width: 100%;
          height: 20px;
          background: transparent;
          border: 0;
          cursor: pointer;
          padding-top: 0;

          & > * {
            float: right;
          }

          & > span {
            @include sr-only;
          }

          .icon {
            color: $gray-200;
            transition: all .3s ease-in-out;
          }
        }

        &:hover {

          .btn-collapse .icon {
            color: $white;
          }
        }

        &.open {

          .btn-collapse svg {
            transform: rotate(180deg);
          }
        }
      }

      .line > div {
        border-right: 1px solid #d5d5d5;
      }
    }

    .line > div {
      display: block;

      &:before {
        content: attr(data-title);
        display: block !important;
        margin: -1px -1px 0;
        padding: .3rem .6rem;
        background: #D5D5D5;
        color: #000;
        min-width: 100%;
      }

      &.cours:before {
        background: #707070;
        font-weight: bold;
        color: #fff;
      }
    }

    .line {

      .examen > div {
        display: inline-block;
      }

      .langue {
        text-align: left;
      }

      .credit-time {
        text-align: left;
      }

      .specialisation {
        text-align: left;
      }

      .cep .label {
        clip: auto;
        clip-path: none;
        position: static;
        width: auto;
        height: auto;
      }
    }
  }

}
