<div class="study-plan table-like mb-5">
  <h4>Bloc 2 (Propédeutique)</h4>
  <div class="line-up">
    <div class="first-line">
      <div class="langue"></div>
      <div class="cours-title">
        <div class="titre bold">Cours</div>
        <div class="titre">Code</div>
      </div>
      <div class="section">
        <div class="titre bold">&nbsp;</div>
        <div class="titre">Sections</div>
      </div>
      <div class="enseignement">
        <div class="titre bold">&nbsp;</div>
        <div class="titre">Enseignants</div>
      </div>
      <div class="bachlor">
        <div class="titre_bachlor bold">Bachelor 1&nbsp;</div>
        <div class="titre">
          <div class="cep">c</div>
          <div class="cep">e</div>
          <div class="cep">p</div>
        </div>
      </div>
      <div class="bachlor">
        <div class="titre_bachlor bold">Bachelor 2&nbsp;</div>
        <div class="titre">
          <div class="cep">c</div>
          <div class="cep">e</div>
          <div class="cep">p</div>
        </div>
      </div>
      <div class="bachlor">
        <div class="titre_bachlor bold">Mise à niveau&nbsp;</div>
        <div class="titre">
          <div class="cep">c</div>
          <div class="cep">e</div>
          <div class="cep">p</div>
        </div>
      </div>
      <div class="examen">
        <div class="titre_bachlor bold">Examen</div>
        <div class="titre">&nbsp;</div>
      </div>
      <div class="credit">
        <div class="titre_bachlor bold">Coefficient</div>
        <div class="titre">&nbsp;</div>
      </div>
    </div>
    <div class="clear">&nbsp;</div>
  </div>
  <div class="line-down">
    <div class="line">
      <div class="langue">
        <div class="langue francais">
          <div class="diet_icon">&nbsp;</div>&nbsp;
        </div>
        &nbsp;
      </div>
      <div class="cours">
        <div class="cours-name">
          <a href="#">Analyse territoriale et urbaine</a>
        </div>
        <div class="cours-code">AR-153&nbsp;</div>
        <div class="section-name">AR&nbsp;</div>
        <div class="enseignement-name">
          <a href="#">Barcelloni Corte</a><br>
          <a href="#">Cavalieri</a><br>
          <a href="#">Viganò</a>
          &nbsp;
        </div>
      </div>
      <div class=" bachlor local-color bachlor-color">
        <div class="bachlor-text">
          <div class="cep">&nbsp;</div>
          <div class="cep">&nbsp;</div>
          <div class="cep">&nbsp;</div>
        </div>
      </div>
      <div class=" bachlor local-color-light bachlor-color">
        <div class="bachlor-text">
          <div class="cep">1h&nbsp;</div>
          <div class="cep">2h&nbsp;</div>
          <div class="cep">&nbsp;</div>
        </div>
      </div>
      <div class=" bachlor local-color bachlor-color">
        <div class="bachlor-text">
          <div class="cep">&nbsp;</div>
          <div class="cep">&nbsp;</div>
          <div class="cep">&nbsp;</div>
        </div>
      </div>
      <div class="examen">
        <div class="exam-icon">
          <div class="sun"><span class="little_icon">&nbsp;</span></div>
        </div>
        Pendant le semestre
      </div>
      <div class="credit red-color">
        <div class="credit-time">4</div>
      </div>
    </div>
    <div class="clear">&nbsp;</div>
  </div>
  <div class="line-down">
    <div class="line">
      <div class="langue">
        <div class="langue francais">
          <div class="diet_icon">&nbsp;</div>&nbsp;
        </div>
        &nbsp;
      </div>
      <div class="cours">
        <div class="cours-name"><a href="#">Figuration graphique</a></div>
        <div class="cours-code">AR-113&nbsp;</div>
        <div class="section-name">AR&nbsp;</div>
        <div class="enseignement-name"><a href="#">Braghieri</a><br><a href="#">Soubeyrand</a>
          &nbsp;
        </div>
      </div>
      <div class=" bachlor local-color bachlor-color">
        <div class="bachlor-text">
          <div class="cep">&nbsp;</div>
          <div class="cep">&nbsp;</div>
          <div class="cep">&nbsp;</div>
        </div>
      </div>
      <div class=" bachlor local-color-light bachlor-color">
        <div class="bachlor-text">
          <div class="cep">1h&nbsp;</div>
          <div class="cep">3h&nbsp;</div>
          <div class="cep">&nbsp;</div>
        </div>
      </div>
      <div class=" bachlor local-color bachlor-color">
        <div class="bachlor-text">
          <div class="cep">&nbsp;</div>
          <div class="cep">&nbsp;</div>
          <div class="cep">&nbsp;</div>
        </div>
      </div>
      <div class="examen">
        <div class="exam-icon">
          <div class="sun"><span class="little_icon">&nbsp;</span></div>
        </div>
        Pendant le semestre
      </div>
      <div class="credit red-color">
        <div class="credit-time">4</div>
      </div>
    </div>
    <div class="clear">&nbsp;</div>
  </div>
  <div class="line-down">
    <div class="line">
      <div class="langue">
        <div class="langue francais">
          <div class="diet_icon">&nbsp;</div>&nbsp;
        </div>
        &nbsp;
      </div>
      <div class="cours">
        <div class="cours-name"><a href="#">Histoire de l'architecture I</a></div>
        <div class="cours-code">AR-123&nbsp;</div>
        <div class="section-name">AR&nbsp;</div>
        <div class="enseignement-name"><a href="#">Adam</a>
          &nbsp;
        </div>
      </div>
      <div class=" bachlor local-color bachlor-color">
        <div class="bachlor-text">
          <div class="cep">2h&nbsp;</div>
          <div class="cep">&nbsp;</div>
          <div class="cep">&nbsp;</div>
        </div>
      </div>
      <div class=" bachlor local-color-light bachlor-color">
        <div class="bachlor-text">
          <div class="cep">&nbsp;</div>
          <div class="cep">&nbsp;</div>
          <div class="cep">&nbsp;</div>
        </div>
      </div>
      <div class=" bachlor local-color bachlor-color">
        <div class="bachlor-text">
          <div class="cep">&nbsp;</div>
          <div class="cep">&nbsp;</div>
          <div class="cep">&nbsp;</div>
        </div>
      </div>
      <div class="examen">
        <div class="exam-icon">
          <div class="winter"><span class="little_icon">&nbsp;</span></div>
        </div>
        Ecrit
      </div>
      <div class="credit red-color">
        <div class="credit-time">2</div>
      </div>
    </div>
    <div class="clear">&nbsp;</div>
  </div>
  <div class="line-down">
    <div class="line">
      <div class="langue">
        <div class="langue francais">
          <div class="diet_icon">&nbsp;</div>&nbsp;
        </div>
        &nbsp;
      </div>
      <div class="cours">
        <div class="cours-name"><a href="#">Histoire de l'architecture II</a></div>
        <div class="cours-code">AR-124&nbsp;</div>
        <div class="section-name">AR&nbsp;</div>
        <div class="enseignement-name"><a href="#">Gargiani</a>
          &nbsp;
        </div>
      </div>
      <div class=" bachlor local-color bachlor-color">
        <div class="bachlor-text">
          <div class="cep">&nbsp;</div>
          <div class="cep">&nbsp;</div>
          <div class="cep">&nbsp;</div>
        </div>
      </div>
      <div class=" bachlor local-color-light bachlor-color">
        <div class="bachlor-text">
          <div class="cep">2h&nbsp;</div>
          <div class="cep">&nbsp;</div>
          <div class="cep">&nbsp;</div>
        </div>
      </div>
      <div class=" bachlor local-color bachlor-color">
        <div class="bachlor-text">
          <div class="cep">&nbsp;</div>
          <div class="cep">&nbsp;</div>
          <div class="cep">&nbsp;</div>
        </div>
      </div>
      <div class="examen">
        <div class="exam-icon">
          <div class="sun"><span class="little_icon">&nbsp;</span></div>
        </div>
        Ecrit
      </div>
      <div class="credit red-color">
        <div class="credit-time">2</div>
      </div>
    </div>
    <div class="clear">&nbsp;</div>
  </div>
  <div class="line-down">
    <div class="line">
      <div class="langue">
        <div class="langue francais">
          <div class="diet_icon">&nbsp;</div>&nbsp;
        </div>
        &nbsp;
      </div>
      <div class="cours">
        <div class="cours-name"><a href="#">Théorie de l'architecture I</a></div>
        <div class="cours-code">AR-121&nbsp;</div>
        <div class="section-name">AR&nbsp;</div>
        <div class="enseignement-name"><a href="#">Marchand</a>
          &nbsp;
        </div>
      </div>
      <div class=" bachlor local-color bachlor-color">
        <div class="bachlor-text">
          <div class="cep">2h&nbsp;</div>
          <div class="cep">&nbsp;</div>
          <div class="cep">&nbsp;</div>
        </div>
      </div>
      <div class=" bachlor local-color-light bachlor-color">
        <div class="bachlor-text">
          <div class="cep">&nbsp;</div>
          <div class="cep">&nbsp;</div>
          <div class="cep">&nbsp;</div>
        </div>
      </div>
      <div class=" bachlor local-color bachlor-color">
        <div class="bachlor-text">
          <div class="cep">&nbsp;</div>
          <div class="cep">&nbsp;</div>
          <div class="cep">&nbsp;</div>
        </div>
      </div>
    </div>
    <div class="clear">&nbsp;</div>
  </div>
  <div class="line-down">
    <div class="line">
      <div class="langue">
        <div class="langue francais">
          <div class="diet_icon">&nbsp;</div>&nbsp;
        </div>
        &nbsp;
      </div>
      <div class="cours">
        <div class="cours-name"><a href="#">Théorie de l'architecture II</a></div>
        <div class="cours-code">AR-122&nbsp;</div>
        <div class="section-name">AR&nbsp;</div>
        <div class="enseignement-name"><a href="#">Marchand</a>
          &nbsp;
        </div>
      </div>
      <div class=" bachlor local-color bachlor-color">
        <div class="bachlor-text">
          <div class="cep">&nbsp;</div>
          <div class="cep">&nbsp;</div>
          <div class="cep">&nbsp;</div>
        </div>
      </div>
      <div class=" bachlor local-color-light bachlor-color">
        <div class="bachlor-text">
          <div class="cep">2h&nbsp;</div>
          <div class="cep">&nbsp;</div>
          <div class="cep">&nbsp;</div>
        </div>
      </div>
      <div class=" bachlor local-color bachlor-color">
        <div class="bachlor-text">
          <div class="cep">&nbsp;</div>
          <div class="cep">&nbsp;</div>
          <div class="cep">&nbsp;</div>
        </div>
      </div>
      <div class="examen">
        <div class="exam-icon">
          <div class="sun"><span class="little_icon">&nbsp;</span></div>
        </div>
        Ecrit
      </div>
      <div class="credit red-color">
        <div class="credit-time">4</div>
      </div>
    </div>
    <div class="clear">&nbsp;</div>
  </div>
  <div class="line-down">
    <div class="line">
      <div class="langue">
        <div class="langue francais">
          <div class="diet_icon">&nbsp;</div>&nbsp;
        </div>
        &nbsp;
      </div>
      <div class="cours">
        <div class="cours-name"><a href="#">Théorie et critique du projet BA1</a></div>
        <div class="cours-code">AR-101&nbsp;</div>
        <div class="section-name">AR&nbsp;</div>
        <div class="enseignement-name"><a href="#">Dietz</a>
          &nbsp;
        </div>
      </div>
      <div class="bachlor local-color bachlor-color">
        <div class="bachlor-text">
          <div class="cep">2h&nbsp;</div>
          <div class="cep">&nbsp;</div>
          <div class="cep">4h&nbsp;</div>
        </div>
      </div>
      <div class="bachlor local-color-light bachlor-color">
        <div class="bachlor-text">
          <div class="cep">&nbsp;</div>
          <div class="cep">&nbsp;</div>
          <div class="cep">&nbsp;</div>
        </div>
      </div>
      <div class="bachlor local-color bachlor-color">
        <div class="bachlor-text">
          <div class="cep">&nbsp;</div>
          <div class="cep">&nbsp;</div>
          <div class="cep">&nbsp;</div>
        </div>
      </div>
    </div>
    <div class="clear">&nbsp;</div>
  </div>
  <div class="line-down">
    <div class="line">
      <div class="langue">
        <div class="langue francais">
          <div class="diet_icon">&nbsp;</div>&nbsp;
        </div>
        &nbsp;
      </div>
      <div class="cours">
        <div class="cours-name"><a href="#">Théorie et critique du projet BA2</a></div>
        <div class="cours-code">AR-102&nbsp;</div>
        <div class="section-name">AR&nbsp;</div>
        <div class="enseignement-name"><a href="#">Dietz</a>
          &nbsp;
        </div>
      </div>
      <div class=" bachlor local-color bachlor-color">
        <div class="bachlor-text">
          <div class="cep">&nbsp;</div>
          <div class="cep">&nbsp;</div>
          <div class="cep">&nbsp;</div>
        </div>
      </div>
      <div class=" bachlor local-color-light bachlor-color">
        <div class="bachlor-text">
          <div class="cep">2h&nbsp;</div>
          <div class="cep">&nbsp;</div>
          <div class="cep">4h&nbsp;</div>
        </div>
      </div>
      <div class=" bachlor local-color bachlor-color">
        <div class="bachlor-text">
          <div class="cep">&nbsp;</div>
          <div class="cep">&nbsp;</div>
          <div class="cep">&nbsp;</div>
        </div>
      </div>
      <div class="examen">
        <div class="exam-icon">
          <div class="sun"><span class="little_icon">&nbsp;</span></div>
        </div>
        Pendant le semestre
      </div>
      <div class="credit red-color">
        <div class="credit-time">14</div>
      </div>
    </div>
    <div class="clear">&nbsp;</div>
  </div>
</div>

<div class="study-plan table-like" style="--table-columns: 1fr minmax(200px, 3fr) minmax(auto, 1fr) minmax(200px, 3fr) 3fr 1fr">
  <h4>Mineur : Informatique</h4>
  <div class="line-up">
    <div class="first-line">
      <div class="langue"></div>
      <div class="cours-title">
        <div class="titre bold">Cours</div>
        <div class="titre">Code</div>
      </div>
      <div class="section">
        <div class="titre bold">&nbsp;</div>
        <div class="titre">Sections</div>
      </div>
      <div class="enseignement">
        <div class="titre bold">&nbsp;</div>
        <div class="titre">Enseignants</div>
      </div>
      <div class="examen">
        <div class="titre_bachlor bold">Examen</div>
        <div class="titre">&nbsp;</div>
      </div>
      <div class="credit">
        <div class="titre_bachlor bold">Crédits</div>
        <div class="titre">&nbsp;</div>
      </div>
    </div>
    <div class="clear">&nbsp;</div>
  </div>
  <div class="line-down">
    <div class="line">
      <div class="langue">
        <div class="langue anglais">
          <div class="diet_icon">&nbsp;</div>&nbsp;
        </div>
        &nbsp;
      </div>
      <div class="cours">
        <div class="cours-name"><a href="#">Advanced
            algorithms</a></div>
        <div class="cours-code">CS-450&nbsp;</div>
        <div class="section-name">IN&nbsp;</div>
        <div class="enseignement-name"><a
            href="#">Svensson</a>
          &nbsp;
        </div>
      </div>
      <div class="examen">
        <div class="exam-icon">
          <div class="sun"><span class="little_icon">&nbsp;</span></div>
        </div>
        Ecrit
      </div>
      <div class="credit red-color">
        <div class="credit-time">7</div>
      </div>
    </div>
    <div class="clear">&nbsp;</div>
  </div>
  <div class="line-down">
    <div class="line">
      <div class="langue">
        <div class="langue anglais">
          <div class="diet_icon">&nbsp;</div>&nbsp;
        </div>
        &nbsp;
      </div>
      <div class="cours">
        <div class="cours-name"><a
            href="#">Advanced
            computer architecture</a></div>
        <div class="cours-code">CS-470&nbsp;</div>
        <div class="section-name">IN&nbsp;</div>
        <div class="enseignement-name"><a
            href="#">Ienne</a>
          &nbsp;
        </div>
      </div>
      <div class="examen">
        <div class="exam-icon">
          <div class="sun"><span class="little_icon">&nbsp;</span></div>
        </div>
        Oral
      </div>
      <div class="credit red-color">
        <div class="credit-time">4</div>
      </div>
    </div>
    <div class="clear">&nbsp;</div>
  </div>
  <div class="line-down">
    <div class="line">
      <div class="langue">
        <div class="langue anglais">
          <div class="diet_icon">&nbsp;</div>&nbsp;
        </div>
        &nbsp;
      </div>
      <div class="cours">
        <div class="cours-name"><a
            href="#">Advanced computer
            graphics</a></div>
        <div class="cours-code">CS-440&nbsp;</div>
        <div class="section-name">IN&nbsp;</div>
        <div class="enseignement-name"><a
            href="#">Jakob</a>
          &nbsp;
        </div>
      </div>
      <div class="examen">
        <div class="exam-icon">
          <div class="sun"><span class="little_icon">&nbsp;</span></div>
        </div>
        Pendant le semestre
      </div>
      <div class="credit red-color">
        <div class="credit-time">6</div>
      </div>
    </div>
    <div class="clear">&nbsp;</div>
  </div>
  <div class="line-down">
    <div class="line">
      <div class="langue">
        <div class="langue anglais">
          <div class="diet_icon">&nbsp;</div>&nbsp;
        </div>
        &nbsp;
      </div>
      <div class="cours">
        <div class="cours-name"><a
            href="#">Algorithms</a></div>
        <div class="cours-code">CS-250&nbsp;</div>
        <div class="section-name">IN&nbsp;</div>
        <div class="enseignement-name"><a
            href="#">Kapralov</a>
          &nbsp;
        </div>
      </div>
      <div class="examen">
        <div class="exam-icon">
          <div class="winter"><span class="little_icon">&nbsp;</span></div>
        </div>
        Ecrit
      </div>
      <div class="credit red-color">
        <div class="credit-time">6</div>
      </div>
    </div>
    <div class="clear">&nbsp;</div>
  </div>
  <div class="line-down">
    <div class="line">
      <div class="langue">
        <div class="langue francais">
          <div class="diet_icon">&nbsp;</div>&nbsp;
        </div>
        &nbsp;
      </div>
      <div class="cours">
        <div class="cours-name"><a
            href="#">Architecture
            des systems-on-chip</a></div>
        <div class="cours-code">CS-209&nbsp;</div>
        <div class="section-name">IN&nbsp;</div>
        <div class="enseignement-name"><a
            href="#">Ienne</a>
          &nbsp;
        </div>
      </div>
      <div class="examen">
        <div class="exam-icon">
          <div class="sun"><span class="little_icon">&nbsp;</span></div>
        </div>
        Pendant le semestre
      </div>
      <div class="credit red-color">
        <div class="credit-time">4</div>
      </div>
    </div>
    <div class="clear">&nbsp;</div>
  </div>
  <div class="line-down">
    <div class="line">
      <div class="langue">
        <div class="langue anglais">
          <div class="diet_icon">&nbsp;</div>&nbsp;
        </div>
        &nbsp;
      </div>
      <div class="cours">
        <div class="cours-name"><a href="#">Computer
            architecture </a></div>
        <div class="cours-code">CS-208&nbsp;</div>
        <div class="section-name">IN&nbsp;</div>
        <div class="enseignement-name"><a
            href="#">Stojilovic</a>
          &nbsp;
        </div>
      </div>
      <div class="examen">
        <div class="exam-icon">
          <div class="winter"><span class="little_icon">&nbsp;</span></div>
        </div>
        Pendant le semestre
      </div>
      <div class="credit red-color">
        <div class="credit-time">4</div>
      </div>
    </div>
    <div class="clear">&nbsp;</div>
  </div>
  <div class="line-down">
    <div class="line">
      <div class="langue">
        <div class="langue anglais">
          <div class="diet_icon">&nbsp;</div>&nbsp;
        </div>
        &nbsp;
      </div>
      <div class="cours">
        <div class="cours-name"><a href="#">Computer
            networks</a></div>
        <div class="cours-code">COM-208&nbsp;</div>
        <div class="section-name">SC&nbsp;</div>
        <div class="enseignement-name"><a
            href="#">Argyraki</a>
          &nbsp;
        </div>
      </div>
      <div class="examen">
        <div class="exam-icon">
          <div class="winter"><span class="little_icon">&nbsp;</span></div>
        </div>
        Pendant le semestre
      </div>
      <div class="credit red-color">
        <div class="credit-time">5</div>
      </div>
    </div>
    <div class="clear">&nbsp;</div>
  </div>
  <div class="line-down">
    <div class="line">
      <div class="langue">
        <div class="langue anglais">
          <div class="diet_icon">&nbsp;</div>&nbsp;
        </div>
        &nbsp;
      </div>
      <div class="cours">
        <div class="cours-name"><a href="#">Computer
            vision</a></div>
        <div class="cours-code">CS-442&nbsp;</div>
        <div class="section-name">IN&nbsp;</div>
        <div class="enseignement-name"><a
            href="#">Fua</a>
          &nbsp;
        </div>
      </div>
      <div class="examen">
        <div class="exam-icon">
          <div class="sun"><span class="little_icon">&nbsp;</span></div>
        </div>
        Ecrit
      </div>
      <div class="credit red-color">
        <div class="credit-time">4</div>
      </div>
    </div>
    <div class="clear">&nbsp;</div>
  </div>
  <div class="line-down">
    <div class="line">
      <div class="langue">
        <div class="langue anglais">
          <div class="diet_icon">&nbsp;</div>&nbsp;
        </div>
        &nbsp;
      </div>
      <div class="cours">
        <div class="cours-name"><a
            href="#">Cryptography and
            security</a></div>
        <div class="cours-code">COM-401&nbsp;</div>
        <div class="section-name">SC&nbsp;</div>
        <div class="enseignement-name"><a
            href="#">Vaudenay</a>
          &nbsp;
        </div>
      </div>
      <div class="examen">
        <div class="exam-icon">
          <div class="winter"><span class="little_icon">&nbsp;</span></div>
        </div>
        Ecrit
      </div>
      <div class="credit red-color">
        <div class="credit-time">7</div>
      </div>
    </div>
    <div class="clear">&nbsp;</div>
  </div>
  <div class="line-down">
    <div class="line">
      <div class="langue">
        <div class="langue anglais">
          <div class="diet_icon">&nbsp;</div>&nbsp;
        </div>
        &nbsp;
      </div>
      <div class="cours">
        <div class="cours-name"><a href="#">Database
            systems</a></div>
        <div class="cours-code">CS-422&nbsp;</div>
        <div class="section-name">IN&nbsp;</div>
        <div class="enseignement-name"><a
            href="#">Ailamaki</a><br><a
            href="#">Karpathiotakis</a><br><a
            href="#">Papapetrou</a>
          &nbsp;
        </div>
      </div>
      <div class="examen">
        <div class="exam-icon">
          <div class="sun"><span class="little_icon">&nbsp;</span></div>
        </div>
        Pendant le semestre
      </div>
      <div class="credit red-color">
        <div class="credit-time">7</div>
      </div>
    </div>
    <div class="clear">&nbsp;</div>
  </div>
  <div class="line-down">
    <div class="line">
      <div class="langue">
        <div class="langue anglais">
          <div class="diet_icon">&nbsp;</div>&nbsp;
        </div>
        &nbsp;
      </div>
      <div class="cours">
        <div class="cours-name"><a href="#">Distributed
            algorithms</a></div>
        <div class="cours-code">CS-451&nbsp;</div>
        <div class="section-name">SC&nbsp;</div>
        <div class="enseignement-name"><a
            href="#">Guerraoui</a>
          &nbsp;
        </div>
      </div>
      <div class="examen">
        <div class="exam-icon">
          <div class="winter"><span class="little_icon">&nbsp;</span></div>
        </div>
        Ecrit
      </div>
      <div class="credit red-color">
        <div class="credit-time">4</div>
      </div>
    </div>
    <div class="clear">&nbsp;</div>
  </div>
  <div class="line-down">
    <div class="line">
      <div class="langue">
        <div class="langue anglais">
          <div class="diet_icon">&nbsp;</div>&nbsp;
        </div>
        &nbsp;
      </div>
      <div class="cours">
        <div class="cours-name"><a
            href="#">Distributed
            information systems</a></div>
        <div class="cours-code">CS-423&nbsp;</div>
        <div class="section-name">SC&nbsp;</div>
        <div class="enseignement-name"><a
            href="#">Aberer</a>
          &nbsp;
        </div>
      </div>
      <div class="examen">
        <div class="exam-icon">
          <div class="sun"><span class="little_icon">&nbsp;</span></div>
        </div>
        Ecrit
      </div>
      <div class="credit red-color">
        <div class="credit-time">4</div>
      </div>
    </div>
    <div class="clear">&nbsp;</div>
  </div>
  <div class="line-down">
    <div class="line">
      <div class="langue">
        <div class="langue anglais">
          <div class="diet_icon">&nbsp;</div>&nbsp;
        </div>
        &nbsp;
      </div>
      <div class="cours">
        <div class="cours-name"><a href="#">Foundations
            of software</a></div>
        <div class="cours-code">CS-452&nbsp;</div>
        <div class="section-name">IN&nbsp;</div>
        <div class="enseignement-name"><a
            href="#">Odersky</a>
          &nbsp;
        </div>
      </div>
      <div class="examen">
        <div class="exam-icon">
          <div class="winter"><span class="little_icon">&nbsp;</span></div>
        </div>
        Ecrit
      </div>
      <div class="credit red-color">
        <div class="credit-time">4</div>
      </div>
    </div>
    <div class="clear">&nbsp;</div>
  </div>
  <div class="line-down">
    <div class="line">
      <div class="langue">
        <div class="langue anglais">
          <div class="diet_icon">&nbsp;</div>&nbsp;
        </div>
        &nbsp;
      </div>
      <div class="cours">
        <div class="cours-name"><a
            href="#">Information
            theory and coding</a></div>
        <div class="cours-code">COM-404&nbsp;</div>
        <div class="section-name">SC&nbsp;</div>
        <div class="enseignement-name"><a
            href="#">Telatar</a>
          &nbsp;
        </div>
      </div>
      <div class="examen">
        <div class="exam-icon">
          <div class="winter"><span class="little_icon">&nbsp;</span></div>
        </div>
        Ecrit
      </div>
      <div class="credit red-color">
        <div class="credit-time">7</div>
      </div>
    </div>
    <div class="clear">&nbsp;</div>
  </div>
  <div class="line-down">
    <div class="line">
      <div class="langue">
        <div class="langue francais">
          <div class="diet_icon">&nbsp;</div>&nbsp;
        </div>
        &nbsp;
      </div>
      <div class="cours">
        <div class="cours-name"><a
            href="#">Informatique du
            temps réel</a></div>
        <div class="cours-code">CS-321&nbsp;</div>
        <div class="section-name">SC&nbsp;</div>
        <div class="enseignement-name"><a
            href="#">Decotignie</a>
          &nbsp;
        </div>
      </div>
      <div class="examen">
        <div class="exam-icon">
          <div class="winter"><span class="little_icon">&nbsp;</span></div>
        </div>
        Ecrit
      </div>
      <div class="credit red-color">
        <div class="credit-time">4</div>
      </div>
    </div>
    <div class="clear">&nbsp;</div>
  </div>
  <div class="line-down">
    <div class="line">
      <div class="langue">
        <div class="langue francais">
          <div class="diet_icon">&nbsp;</div>&nbsp;
        </div>
        &nbsp;
      </div>
      <div class="cours">
        <div class="cours-name"><a
            href="#">Intelligence
            artificielle</a></div>
        <div class="cours-code">CS-330&nbsp;</div>
        <div class="section-name">IN&nbsp;</div>
        <div class="enseignement-name"><a
            href="#">Faltings</a>
          &nbsp;
        </div>
      </div>
      <div class="examen">
        <div class="exam-icon">
          <div class="sun"><span class="little_icon">&nbsp;</span></div>
        </div>
        Pendant le semestre
      </div>
      <div class="credit red-color">
        <div class="credit-time">4</div>
      </div>
    </div>
    <div class="clear">&nbsp;</div>
  </div>
  <div class="line-down">
    <div class="line">
      <div class="langue">
        <div class="langue anglais">
          <div class="diet_icon">&nbsp;</div>&nbsp;
        </div>
        &nbsp;
      </div>
      <div class="cours">
        <div class="cours-name"><a href="#">Intelligent
            agents</a></div>
        <div class="cours-code">CS-430&nbsp;</div>
        <div class="section-name">IN&nbsp;</div>
        <div class="enseignement-name"><a
            href="#">Faltings</a>
          &nbsp;
        </div>
      </div>
      <div class="examen">
        <div class="exam-icon">
          <div class="winter"><span class="little_icon">&nbsp;</span></div>
        </div>
        Pendant le semestre
      </div>
      <div class="credit red-color">
        <div class="credit-time">6</div>
      </div>
    </div>
    <div class="clear">&nbsp;</div>
  </div>
  <div class="line-down">
    <div class="line">
      <div class="langue">
        <div class="langue anglais">
          <div class="diet_icon">&nbsp;</div>&nbsp;
        </div>
        &nbsp;
      </div>
      <div class="cours">
        <div class="cours-name"><a
            href="#">Introduction
            to computer graphics</a></div>
        <div class="cours-code">CS-341&nbsp;</div>
        <div class="section-name">IN&nbsp;</div>
        <div class="enseignement-name"><a
            href="#">Pauly</a>
          &nbsp;
        </div>
      </div>
      <div class="examen">
        <div class="exam-icon">
          <div class="sun"><span class="little_icon">&nbsp;</span></div>
        </div>
        Ecrit
      </div>
      <div class="credit red-color">
        <div class="credit-time">6</div>
      </div>
    </div>
    <div class="clear">&nbsp;</div>
  </div>
  <div class="line-down">
    <div class="line">
      <div class="langue">
        <div class="langue anglais">
          <div class="diet_icon">&nbsp;</div>&nbsp;
        </div>
        &nbsp;
      </div>
      <div class="cours">
        <div class="cours-name"><a
            href="#">Introduction
            to database systems</a></div>
        <div class="cours-code">CS-322&nbsp;</div>
        <div class="section-name">IN&nbsp;</div>
        <div class="enseignement-name"><a
            href="#">Ailamaki</a><br><a
            href="#">Koch</a>
          &nbsp;
        </div>
      </div>
      <div class="examen">
        <div class="exam-icon">
          <div class="sun"><span class="little_icon">&nbsp;</span></div>
        </div>
        Ecrit
      </div>
      <div class="credit red-color">
        <div class="credit-time">4</div>
      </div>
    </div>
    <div class="clear">&nbsp;</div>
  </div>
  <div class="line-down">
    <div class="line">
      <div class="langue">
        <div class="langue anglais">
          <div class="diet_icon">&nbsp;</div>&nbsp;
        </div>
        &nbsp;
      </div>
      <div class="cours">
        <div class="cours-name"><a
            href="#">Introduction
            to operating systems</a></div>
        <div class="cours-code">CS-323&nbsp;</div>
        <div class="section-name">IN&nbsp;</div>
        <div class="enseignement-name"><a
            href="#">Zwaenepoel</a>
          &nbsp;
        </div>
      </div>
      <div class="examen">
        <div class="exam-icon">
          <div class="sun"><span class="little_icon">&nbsp;</span></div>
        </div>
        Pendant le semestre
      </div>
      <div class="credit red-color">
        <div class="credit-time">3</div>
      </div>
    </div>
    <div class="clear">&nbsp;</div>
  </div>
  <div class="line-down">
    <div class="line">
      <div class="langue">
        <div class="langue anglais">
          <div class="diet_icon">&nbsp;</div>&nbsp;
        </div>
        &nbsp;
      </div>
      <div class="cours">
        <div class="cours-name"><a href="#">Machine
            learning</a></div>
        <div class="cours-code">CS-433&nbsp;</div>
        <div class="section-name">IN&nbsp;</div>
        <div class="enseignement-name"><a
            href="#">Jaggi</a><br><a
            href="#">Urbanke</a>
          &nbsp;
        </div>
      </div>
      <div class="examen">
        <div class="exam-icon">
          <div class="winter"><span class="little_icon">&nbsp;</span></div>
        </div>
        Ecrit
      </div>
      <div class="credit red-color">
        <div class="credit-time">7</div>
      </div>
    </div>
    <div class="clear">&nbsp;</div>
  </div>
  <div class="line-down">
    <div class="line">
      <div class="langue">
        <div class="langue anglais">
          <div class="diet_icon">&nbsp;</div>&nbsp;
        </div>
        &nbsp;
      </div>
      <div class="cours">
        <div class="cours-name"><a
            href="#">Optional
            project in computer science</a></div>
        <div class="cours-code">CS-596&nbsp;</div>
        <div class="section-name">IN&nbsp;</div>
        <div class="enseignement-name">Profs divers
          &nbsp;
        </div>
      </div>
      <div class="examen">
        <div class="exam-icon">
          <div class="sun"><span class="little_icon">&nbsp;</span></div>
          <div class="winter"><span class="little_icon">&nbsp;</span></div>
        </div>
        Pendant le semestre
      </div>
      <div class="credit red-color">
        <div class="credit-time">8</div>
      </div>
    </div>
    <div class="clear">&nbsp;</div>
  </div>
  <div class="line-down">
    <div class="line">
      <div class="langue">
        <div class="langue francais">
          <div class="diet_icon">&nbsp;</div>&nbsp;
        </div>
        &nbsp;
      </div>
      <div class="cours">
        <div class="cours-name"><a
            href="#">Programmation
            orientée système</a></div>
        <div class="cours-code">CS-207&nbsp;</div>
        <div class="section-name">IN&nbsp;</div>
        <div class="enseignement-name"><a
            href="#">Chappelier</a>
          &nbsp;
        </div>
      </div>
      <div class="examen">
        <div class="exam-icon">
          <div class="sun"><span class="little_icon">&nbsp;</span></div>
        </div>
        Pendant le semestre
      </div>
      <div class="credit red-color">
        <div class="credit-time">3</div>
      </div>
    </div>
    <div class="clear">&nbsp;</div>
  </div>
  <div class="line-down">
    <div class="line">
      <div class="langue">
        <div class="langue francais">
          <div class="diet_icon">&nbsp;</div>&nbsp;
        </div>
        &nbsp;
      </div>
      <div class="cours">
        <div class="cours-name"><a
            href="#">Projet
            programmation système</a></div>
        <div class="cours-code">CS-207(a)&nbsp;</div>
        <div class="section-name">IN&nbsp;</div>
        <div class="enseignement-name"><a
            href="#">Chappelier</a><br><a
            href="#">Figueiredo Mascarenhas
            Moreira Pedrosa</a>
          &nbsp;
        </div>
      </div>
      <div class="examen">
        <div class="exam-icon">
          <div class="sun"><span class="little_icon">&nbsp;</span></div>
        </div>
        Pendant le semestre
      </div>
      <div class="credit red-color">
        <div class="credit-time">2</div>
      </div>
    </div>
    <div class="clear">&nbsp;</div>
  </div>
  <div class="line-down">
    <div class="line">
      <div class="langue">
        <div class="langue francais">
          <div class="diet_icon">&nbsp;</div>&nbsp;
        </div>
        &nbsp;
      </div>
      <div class="cours">
        <div class="cours-name"><a href="#">Sécurité
            des réseaux</a></div>
        <div class="cours-code">COM-301&nbsp;</div>
        <div class="section-name">SC&nbsp;</div>
        <div class="enseignement-name"><a
            href="#">Oechslin</a>
          &nbsp;
        </div>
      </div>
      <div class="examen">
        <div class="exam-icon">
          <div class="winter"><span class="little_icon">&nbsp;</span></div>
        </div>
        Ecrit
      </div>
      <div class="credit red-color">
        <div class="credit-time">4</div>
      </div>
    </div>
    <div class="clear">&nbsp;</div>
  </div>
  <div class="line-down">
    <div class="line">
      <div class="langue">
        <div class="langue anglais">
          <div class="diet_icon">&nbsp;</div>&nbsp;
        </div>
        &nbsp;
      </div>
      <div class="cours">
        <div class="cours-name"><a href="#">Software
            engineering</a></div>
        <div class="cours-code">CS-305&nbsp;</div>
        <div class="section-name">IN&nbsp;</div>
        <div class="enseignement-name"><a
            href="#">Candea</a>
          &nbsp;
        </div>
      </div>
      <div class="examen">
        <div class="exam-icon">
          <div class="winter"><span class="little_icon">&nbsp;</span></div>
        </div>
        Pendant le semestre
      </div>
      <div class="credit red-color">
        <div class="credit-time">6</div>
      </div>
    </div>
    <div class="clear">&nbsp;</div>
  </div>
  <div class="line-down">
    <div class="line">
      <div class="langue">
        <div class="langue anglais">
          <div class="diet_icon">&nbsp;</div>&nbsp;
        </div>
        &nbsp;
      </div>
      <div class="cours">
        <div class="cours-name"><a href="#">Theory
            of computation</a></div>
        <div class="cours-code">CS-251&nbsp;</div>
        <div class="section-name">IN&nbsp;</div>
        <div class="enseignement-name"><a
            href="#">Vishnoi</a>
          &nbsp;
        </div>
      </div>
      <div class="examen">
        <div class="exam-icon">
          <div class="sun"><span class="little_icon">&nbsp;</span></div>
        </div>
        Pendant le semestre
      </div>
      <div class="credit red-color">
        <div class="credit-time">4</div>
      </div>
    </div>
    <div class="clear">&nbsp;</div>
  </div>
  <div class="line-down">
    <div class="line">
      <div class="langue">
        <div class="langue anglais">
          <div class="diet_icon">&nbsp;</div>&nbsp;
        </div>
        &nbsp;
      </div>
      <div class="cours">
        <div class="cours-name"><a
            href="#">Topics
            in theoretical computer science</a>&nbsp;<i>(pas donné en 2017-18)</i></div>
        <div class="cours-code">CS-455&nbsp;</div>
        <div class="section-name">IN&nbsp;</div>
        <div class="enseignement-name">
          &nbsp;
        </div>
      </div>
      <div class="examen">
        <div class="exam-icon">
          <div class="sun"><span class="little_icon">&nbsp;</span></div>
          <div class="winter"><span class="little_icon">&nbsp;</span></div>
        </div>
        Pendant le semestre
      </div>
      <div class="credit red-color">
        <div class="credit-time">4</div>
      </div>
    </div>
    <div class="clear">&nbsp;</div>
  </div>
</div>
