
<!-- Study Plan Mineurs -->

<div class="study-plan table-like" style="--table-columns: minmax(300px, 4fr) 1fr minmax(auto, 2fr) 1fr">
  <h3>Mineur : Informatique</h3>
  
  <div class="line-up">
    <div class="first-line">
      <div class="cours-title">
        <div class="titre">Cours</div>
      </div>
      <div class="langue">
        <div class="titre">Langue</div>
      </div>
      <div class="examen">
        <div class="titre_bachlor bold">Examen</div>
        <div class="titre">&nbsp;</div>
      </div>
      <div class="credit">
        <div class="titre_bachlor bold">Crédits</div>
        <div class="titre">&nbsp;</div>
      </div>
    </div>
    <div class="clear">&nbsp;</div>
  </div>
  
  <div class="line-down">
    <div class="line">
      <div class="cours" data-title="Advanced algorithms">
        <div class="cours-name">
          <a href="#">Advanced algorithms</a>
        </div>
        <div class="cours-info">CS-450 / Section <abbr title="Informatique">IN</abbr></div>
        <div class="enseignement-name">
          <a href="#">Svensson</a>
          &nbsp;
        </div>
      </div>
      <div class="langue" data-title="Langue">
        <div class="langue"><abbr title="English">EN</abbr></div>
        &nbsp;
      </div>
      <div class="examen" data-title="Examens">
        <div class="exam-text"><b>Session d'été</b><br>Examen écrit</div>
        &nbsp;
      </div>
      <div class="credit red-color">
        <div class="credit-time">7</div>
      </div>
    </div>
    <div class="clear">&nbsp;</div>
  </div>
  
  <div class="line-down">
    <div class="line">
      <div class="cours" data-title="Advanced computer architecture">
        <div class="cours-name">
          <a href="#">Advanced computer architecture</a>
        </div>
        <div class="cours-info">CS-470 / Section <abbr title="Informatique">IN</abbr></div>
        <div class="enseignement-name">
          <a href="#">Ienne</a>
          &nbsp;
        </div>
      </div>
      <div class="langue" data-title="Langue">
        <div class="langue"><abbr title="English">EN</abbr></div>
        &nbsp;
      </div>
      <div class="examen" data-title="Examens">
        <div class="exam-text"><b>Session d'été</b><br>Examen oral</div>
        &nbsp;
      </div>
      <div class="credit red-color">
        <div class="credit-time">4</div>
      </div>
    </div>
    <div class="clear">&nbsp;</div>
  </div>
  
  <div class="line-down">
    <div class="line">
      <div class="cours" data-title="Advanced computer graphics">
        <div class="cours-name">
          <a href="#">Advanced computer graphics</a>
        </div>
        <div class="cours-info">CS-440 / Section <abbr title="Informatique">IN</abbr></div>
        <div class="enseignement-name">
          <a href="#">Jakob</a>
          &nbsp;
        </div>
      </div>
      <div class="langue" data-title="Langue">
        <div class="langue"><abbr title="English">EN</abbr></div>
        &nbsp;
      </div>
      <div class="examen" data-title="Examens">
        <div class="exam-text"><b>Session d'été</b><br>Examens pendant le semestre</div>
        &nbsp;
      </div>
      <div class="credit red-color">
        <div class="credit-time">6</div>
      </div>
    </div>
    <div class="clear">&nbsp;</div>
  </div>
  
  <div class="line-down">
    <div class="line">
      <div class="cours" data-title="Architecture des systems-on-chip">
        <div class="cours-name">
          <a href="#">Architecture des systems-on-chip</a>
        </div>
        <div class="cours-info">CS-209 / Section <abbr title="Informatique">IN</abbr></div>
        <div class="enseignement-name">
          <a href="#">Ienne</a>
          &nbsp;
        </div>
      </div>
      <div class="langue" data-title="Langue">
        <div class="langue"><abbr title="Français">FR</abbr></div>
        &nbsp;
      </div>
      <div class="examen" data-title="Examens">
        <div class="exam-text"><b>Session d'été</b><br>Examens pendant le semestre</div>
        &nbsp;
      </div>
      <div class="credit red-color">
        <div class="credit-time">4</div>
      </div>
    </div>
    <div class="clear">&nbsp;</div>
  </div>
  
</div>
