@charset "utf-8";

/* stylelint-disable */
@include ie11('.table-like .cours-title') {-ms-grid-column: 2;}
@include ie11('.table-like .cours') {
  -ms-grid-columns: 180px 100px 180px !important;
}
@include ie11('.table-like .line, .table-like .first-line') {
  -ms-grid-columns: 100px 180px 100px 180px auto auto auto 180px 100px !important;
}
@include ie11('.table-like .section') {-ms-grid-column: 3;}
@include ie11('.table-like .enseignement') {-ms-grid-column: 4;}
@include ie11('.table-like .bachlor') {
  -ms-grid-column: 5;
  min-width: 160px;
}
@include ie11('.table-like .bachlor + .bachlor') {-ms-grid-column: 6;}
@include ie11('.table-like .bachlor + .bachlor + .bachlor') {-ms-grid-column: 7;}
@include ie11('.table-like .examen') {-ms-grid-column: 8;}
@include ie11('.table-like .credit') {-ms-grid-column: 9;}

// IE 11 table contents
@include ie11('.table-like .line .cours') {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
}
@include ie11('.table-like .line .bachlor') {-ms-grid-column: 5;}
@include ie11('.table-like .line .bachlor + .bachlor') {-ms-grid-column: 6;}
@include ie11('.table-like .line .bachlor + .bachlor + .bachlor') {-ms-grid-column: 7;}
@include ie11('.table-like .line .examen') {-ms-grid-column: 8;}
@include ie11('.table-like .line .credit') {-ms-grid-column: 9;}

// IE 11 cours grid
@include ie11('.table-like .cours .section-name') {
  -ms-grid-column: 2;
  -ms-grid-row-span: 2;
  border-left: $table-border-width solid $table-border-color;
  border-right: $table-border-width solid $table-border-color;
}
@include ie11('.table-like .cours .enseignement-name') {
  -ms-grid-column: 3;
  -ms-grid-row-span: 2;
}
@include ie11('.table-like .cours .cours-code') {-ms-grid-row: 2;}

// IE 11 Bachlor section
@include ie11(' .cep + .cep') {-ms-grid-column: 2;}
@include ie11('.table-like .cep + .cep + .cep') {-ms-grid-column: 3;}
@include ie11('.table-like .cep + .cep') {-ms-grid-column: 2;}
@include ie11('.table-like .bachlor-text') {-ms-grid-rows: 100%;}
