<p><strong class="pr-3">Regular link:</strong> <a href="#">Teaching & PhD</a></p>
<p class="mt-4"><strong class="pr-3">Dark link:</strong> <span class="p-3 bg-dark"><a class="text-white" href="#">Teaching & PhD</a></span></p>
