<p>Vanilla link: <a href="http://bit.ly/2DLIPLo">Teaching & PhD</a></p>
<p>Pretty link: <a class="link-pretty" href="http://bit.ly/2DLIPLo">Teaching & PhD</a></p>
<p class="mt-4">Dark link: <span class="p-3 bg-dark"><a class="text-white" href="http://bit.ly/2DLIPLo">Teaching & PhD</a></span></p>
<p class="mt-4">Dark pretty link:<span class="p-3 bg-dark"><a class="link-pretty" href="http://bit.ly/2DLIPLo">Teaching & PhD</a></span></p>
