@charset 'utf-8';

// All links are underlined by default. Supported browsers will have the right color. https://caniuse.com/#feat=text-decoration
a {
  text-decoration-color: $link-hover-color;
  transition:
    text-decoration-color 0.2s ease-in-out,
    color 0.2s ease-in-out;

  @include hover-focus-active {
    text-decoration-color: $link-color;
  }

  &:active {
    color: $red;
  }

  &.text-muted:hover {
    color: $link-hover-color !important;
  }
}

// Manage all the underline colors based on `text-` helper class.
@each $color, $value in $theme-colors {
  @include text-emphasis-variant-decoration(".text-#{$color}", $value);
}

// Special case for white links.
@include text-emphasis-variant-decoration(".text-white", $white);

// The link pretty allows you to have more cross-browser friendly link styles and the fancy focus box.
.link-pretty {
  @include link-pretty($red, $body-bg);

  @extend .focused;
}

// Link collapse, see collapse component
