@charset 'utf-8';

// All links are underlined by default. Supported browsers will have the right color. https://caniuse.com/#feat=text-decoration
a {
  text-decoration-color: $link-hover-color;
  transition:
    text-decoration-color 0.2s ease-in-out,
    color 0.2s ease-in-out;

  @include hover-focus-active {
    text-decoration-color: $link-color;
  }

  &:active {
    color: $red;
  }

  &.text-muted {
    text-decoration-color: $text-muted;

    &:hover {
      color: $body-color !important;
      text-decoration-color: $body-color;
    }
  }

  .text-white &,
  &.text-white {
    text-decoration-color: currentcolor;

    @include hover-focus-active {
      text-decoration-color: transparent;
    }
  }

  // add styles for background color variants
  @each $color, $value in $theme-colors {
    .bg-#{$color} & {
      color: color-yiq($value);
      text-decoration-color: currentcolor;

      @include hover-focus-active {
        text-decoration-color: transparent;
      }
    }
  }
}

a,
a:hover,
a:focus,
a:active {
  text-decoration-thickness: 0.08em;
  text-decoration-thickness: min(0.08em, 0.1rem);
  text-underline-offset: 0.14em;
}

// Manage all the underline colors based on `text-` helper class.
@each $color, $value in $theme-colors {
  @include text-emphasis-variant-decoration(".text-#{$color}", $value);
}

// The link pretty allows you to have more cross-browser friendly link styles and the fancy focus box.
// Removed in July 2023, text-decoration color is now well supported by all major broswers: https://caniuse.com/mdn-css_properties_text-decoration-color
/*
.link-pretty {
  @include link-pretty($red, $body-bg);

  @extend .focused;
}
*/

// Fix for existing links with class '.link-pretty'

.nav-link.link-pretty {
  text-decoration: underline;
  text-decoration-color: $link-hover-color;
  text-decoration-thickness: 0.08em;
  text-decoration-thickness: min(0.08em, 0.1rem);
  text-underline-offset: 0.14em;

  @include hover-focus-active {
    text-decoration-color: $link-color;
  }
}

.bg-dark .link-pretty,
.bg-gray-600 .link-pretty{
  color: #fff;

  &:focus,
  &:hover,
  &:active {
    text-decoration-color: #fff;
  }
}

// Link collapse, see collapse component

// Link icon
.link-icon {
  display: flex;
  justify-content: space-between;

  .icon {
    content: '';
    width: 16px;
    height: 16px;
    opacity: 0.5;
    transition: opacity 0.2s;
  }

  &:hover .icon,
  a:hover .link-icon .icon {
    opacity: 1;
  }
}
