@charset 'utf-8';

a {
  position: relative;
  text-decoration: none;
  border-radius: 1px;
  border-bottom: 1px solid $red;
  transition:
    color 0.3s,
    border-color 0.15s,
    box-shadow 0.15s;

  @extend .focused;

  .bg-dark & { color: $white; }

  &:hover,
  &.hover {
    color: $link-hover-color;
    text-decoration: none;
    border-bottom-color: $black !important;
    .bg-dark & { border-bottom-color: $white !important; }
  }

  &:visited,
  &.visited {
    text-decoration: none;
    border-bottom-color: $red;
  }

  &:focus,
  &.focus {
    color: $black;

    .bg-dark & {
      // background: darken($purple, 20%);
      color: $white;
    }
  }

  &:active,
  &.active {
    color: $wild-watermelon;
    border-bottom-color: $red !important;
    &:before { content: none; }
    .bg-dark & { color: $wild-watermelon; }
  }
}

.no-text-link {
  border: none !important;
}

