@charset 'utf-8';

.drawer {
  display: inline-block;
  position: relative;
  height: 100%;
  width: 20px;
  transition: width ease 0.5s;
  overflow: hidden;
  flex-shrink: 0;
  transition: width 0.3s ease;
  background: $red;

  @include media-breakpoint-up(xl) {
    width: auto;
  }

  &.open {
    @include media-breakpoint-down(lg) {
      width: 50%;
    }
  }

  .drawer-link {
    display: block;
    position: relative;
    width: 20px;
    height: 100%;
    line-height: 1.2;
    z-index: 5;
    color: $white;
    transition: width 0.3s ease;

    &:hover {
      background: $red-dark;
    }

    .text {
      position: absolute;
      white-space: nowrap;
      top: 50%;
      padding: 0 2.1em 0 1.1em;
      transform: translateY(-50%);
      text-decoration: underline;
    }
  }

  .drawer-toggle {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 100%;
    background: $red;
    z-index: 10;
    color: $white;

    .icon {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      transform-origin: 50% 50%;
    }

    &:hover {
      background: $red-dark;
    }
  }

  &.open .drawer-toggle .icon {
    transform: rotate(180deg) translateY(50%);
  }
}
