@charset 'utf-8';

.drawer {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 100%;
  min-height: $header-height;
  overflow: hidden;
  flex-shrink: 0;
  background: $red;
  transition: width 0.3s ease;

  &.open {
    @include media-breakpoint-down(lg) {
      width: 50%;
    }
  }

  .drawer-link {
    display: block;
    position: relative;
    width: 20px;
    height: 100%;
    min-height: $header-height;
    line-height: 1.2;
    z-index: $zindex-5;
    color: $white;
    transition: width 0.3s ease;

    &:hover {
      background: $red-dark;
    }

    .text {
      position: absolute;
      white-space: nowrap;
      top: 50%;
      padding: 0 2.1em 0 1.1em;
      transform: translateY(-50%);
      transition: all 0.3s ease-in-out;
      text-decoration: underline;
      text-decoration-thickness: 0.08em;
      text-underline-offset: 2px;
    }
    
    &:focus-visible .text {
      text-decoration-thickness: 0.2em;
      text-underline-offset: 4px;
    }
  }

  .drawer-toggle {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 100%;
    background: $red;
    border: none;
    cursor: pointer;
    z-index: $zindex-10;
    color: $white;

    .icon {
      position: absolute;
      top: 50%;
      right: 0;
      font-size: 1.1rem;
      transform: translateY(-50%);
      transform-origin: 50% 50%;
    }

    &:hover {
      background: $red-dark;
    }
    
    &:focus,
    &:focus-visible {
      outline: 0 !important;
    }
  }

  &.open .drawer-toggle .icon {
    transform: rotate(180deg) translateY(50%);
  }
  
  &:focus-within {
    outline: 2px solid $red-dark;
    outline-offset: 2px;
  }
}
