@charset 'utf-8';

.form-control-range {

  --range: calc(var(--max) - var(--min));
  --ratio: calc((var(--val) - var(--min)) / var(--range));
  --sx: calc(.5 * 1.5em + var(--ratio) * (100% - 1.5em));

  &::-moz-range-progress {
    background-color: $red;
    height: $custom-range-track-height;
    @include border-radius($custom-range-track-border-radius);
  }

  &::-webkit-slider-runnable-track {
    background: linear-gradient($red, $red) 0 / var(--sx) 100% no-repeat $custom-range-track-bg;
  }
}
