{% if block('tablesaw') is not empty %}
<div class="tablesaw-container">
{% endif %}
<table class="{% block classes %}table{% endblock %}" {% block tablesaw %}{% endblock %}>
  <thead>
    <tr>
      <th{{ block('tablesaw') is not empty ? ' data-tablesaw-sortable-col' }}>Header one</th>
      <th{{ block('tablesaw') is not empty ? ' data-tablesaw-sortable-col' }}>Header two</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Curabitur blandit</td>
      <td>Morbi leo porta</td>
    </tr>
    <tr>
      <td>Tempus porttitor</td>
      <td>Duis mollis</td>
    </tr>
    <tr>
      <td>Commodo luctus nisi</td>
      <td>Blandit tempus porttitor</td>
    </tr>
  </tbody>
  {% block footer %}
  <tfoot>
    <tr>
      <td>Footer one</td>
      <td>Footer two</td>
    </tr>
  </tfoot>
  {% endblock %}
</table>
{% if block('tablesaw') is not empty %}
</div>
{% endif %}
