@charset 'utf-8';

.table {
  thead {
    th {
      border-bottom: (3 * $table-border-width) solid $table-border-color;
      padding: $table-cell-padding-sm 0;
    }
  }

  tbody,
  tfoot {
    color: $black;

    td {
      vertical-align: top;
      padding: $table-cell-padding $table-cell-padding-sm;
      border-bottom: $table-border-width solid $table-border-color-light;

      @include media-breakpoint-down(sm) {
        &:first-child {
          margin-top: $table-cell-padding;
        }

        &:last-child {
          margin-bottom: $table-cell-padding;
        }
      }

      .tablesaw-cell-label {
        display: inline-block;
        min-width: 33%;
        color: $body-color;
      }
    }
  }

  tfoot {
    td {
      border-top: (3 * $table-border-width) solid $table-border-color;
      font-weight: $font-weight-bold;
    }
  }
}

.table-boxed {
  @include media-breakpoint-up(md) {
    border: $table-border-width solid $table-border-color;
  }

  thead th {
    border-top: $table-border-width solid $table-border-color;
  }

  thead th,
  tbody td,
  tfoot td {
    padding-left: ($table-cell-padding * 0.75);
    padding-right: ($table-cell-padding * 0.75);
    border-right: $table-border-width solid $table-border-color;

    @include media-breakpoint-down(sm) {
      border-left: $table-border-width solid $table-border-color;
      border-top: $table-border-width solid $table-border-color;
    }
  }

  tbody td,
  tfoot td {
    @include media-breakpoint-down(sm) {
      border-bottom: 0;

      &:last-child {
        border-bottom: $table-border-width solid $table-border-color;
      }
    }
  }

  tbody tr:last-child {
    @include media-breakpoint-down(sm) {
      border-bottom: $table-border-width solid $table-border-color;
    }
  }
}

.table-sortable {
  thead th {
    padding: 0;

    button {
      padding: $table-cell-padding-sm;
      cursor: pointer;

      .tablesaw-sortable-arrow {
        $triangle-width: 0.29rem;
        $triangle-height: 0.35rem;

        display: block;
        position: relative;
        margin-top: 0.1rem;
        float: left;
        width: 1rem;
        height: 1rem;

        &:after {
          content: ' ';
          position: absolute;
          top: 0;
          left: 0;
          width: 0;
          height: 0;
          border-left: $triangle-width solid transparent;
          border-right: $triangle-width solid transparent;
          border-bottom: $triangle-height solid $table-border-color;
          margin: 0;
        }

        &:before {
          content: ' ';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          height: 0;
          border-left: $triangle-width solid transparent;
          border-right: $triangle-width solid transparent;
          border-top: $triangle-height solid $table-border-color;
          margin: 0;
        }
      }
    }

    &.tablesaw-sortable-descending {
      button .tablesaw-sortable-arrow:before {
        border-top-color: $red;
      }
    }

    &.tablesaw-sortable-ascending {
      button .tablesaw-sortable-arrow:after {
        border-bottom-color: $red;
      }
    }
  }
}

.tablesaw-container {
  @include tablesaw-stack( map-get($grid-breakpoints, "md") );

  .tablesaw-sortable-btn {
    min-width: 100%;
    background: transparent;
    border: 0;
    color: inherit;
    text-align: inherit;
    text-transform: inherit;
  }

  .tablesaw-cell-content {
    width: 100%;
  }

  @include media-breakpoint-up(md) {
    .tablesaw-stack tbody tr {
      border-bottom: none;
    }
  }

  @include media-breakpoint-down(sm) {
    .tablesaw-stack tbody {
      tr {
        display: table-row;
      }

      td {
        border-bottom: none;
      }
    }
  }

  tr:first-child {
    border-top: $table-border-width solid $table-border-color-light;
  }
}
