@charset 'utf-8';

.card-slider-wrapper {
  padding: $spacer 0;
  overflow: hidden;
}

.card-slider-footer {
  display: flex;
  flex-direction: row;
  align-items: center;

  > div { margin-right: $spacer * 2; }

  @include media-breakpoint-down(md) {
    justify-content: center;
    margin-top: $spacer * 2.6;
    > div { margin-right: 0; }
  }
}

.card-slider-btn {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 3rem;
  background: $white;
  border: 1px solid $gray-300;
  font-size: 1.4rem;
  color: theme-color('primary');
  line-height: 2.3rem;
  transition:
    opacity 0.3s,
    background 0.3s,
    border 0.3s,
    transform 0.3s,
    color 0.3s;

  &:hover {
    cursor: pointer;
    border: 1px solid $gray-600;
  }

  &:before { margin-top: 1px; }

  &.disabled {
    background: transparent;
    color: $gray-600;
  }

  @include media-breakpoint-down(md) {
    display: none;
  }
}

.card-slider {
  height: 100%;
  .flickity-viewport { overflow: visible; }
}

.card-slider-cell {
  display: flex;
  flex-direction: column;
  width: 23%;
  padding-right: $grid-gutter-width;
  &.card-slider-cell-lg { width: 48%; }

  @include media-breakpoint-down(md) {
    width: 100%;
    padding-right: 0;
    &.card-slider-cell-lg { width: 100%; }
  }
}

.card-slider-wrapper {
  .flickity-page-dots {
    bottom: $spacer * -0.8;
    display: flex;
    justify-content: stretch;
    align-items: center;
  }

  .flickity-page-dots .dot {
    flex: 1 1 1px;
    height: 1px;
    margin: 0;
    background: $gray-600;
    border-radius: 0;

    &.is-selected {
      height: 5px;
      background: theme-color('primary');
    }
  }
}


