<a href="#" class="event-teaser event-teaser-highlighted card p-4">
  <picture class="card-img-top">
    <img src="./images/event_teaser_large.jpg" class="d-block" title="professor Xile Hu" alt="a portrait of professor Xile Hu, smiling happily at the camera, sitting in an empty auditorium." />
  </picture>
  <div class="card-body mt-2">
    <h3 class="card-title">Data Science and Mobility Conference</h3>
    <p>The goal of the Data Science and Mobility Conference is to look at specific examples to find out what role data science has to play in tackling the challenges facing the mobility of the future.</p>
    <div class="row text-small">
      <div class="col-md-6">
        <p>Conférences - Séminaires</p>
        <p>Par <strong>Alexandre Alahi (EPFL)</strong></p>
        <p>Mercredi 31 janvier 2018 08:00 - 17:30</p>
      </div>
      <div class="col-md-6">
        <p>Lieu : STCC</p>
        <p>Organisé par : EPFL Transportation Center, SBB</p>
      </div>
    </div>
  </div>
</a>
