{% extends "@templates/base/base.twig" %}

{% block grid %}{% endblock %}

{% block content %}

<div class="container">
  <div class="container-grid mt-5 mb-6">
    <h1 class="mb-5">Programmes</h1>

    <p>Un cursus de Bachelor représente en règle générale 3 années d'études, soit <a href="https://bachelor.epfl.ch/cms/site/bachelor2/op/edit/lang/fr/faq#faq-492445" target="_blank">180 crédits ECTS</a>. Le cursus est divisé en une première année dite propédeutique puis un cycle plus spécifique de 2 ans. La possibilité de partir pour un échange international d'un semestre ou d'un an est offerte lors de la troisième année du programme.</p>
    <p>Un bachelor EPFL est un diplôme intermédiaire. Il est le passeport pour débuter un programme de master, à l'EPFL ou auprès d'une autre université dans le monde. La page <a href="https://bachelor.epfl.ch/cms/site/bachelor2/lang/fr/structure-etudes" target="_blank">structure générale</a> des études détaille cette organisation des cursus.</p>
  </div>
</div>

<div class="container">
  <h2 class="mb-4">Découvrez les programmes de Bachelor enseignés à l'EPFL :</h2>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        {% for i in 1..12 %}
          <div class="col-md-6">
            {% include '@content-types/section/section.twig' %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

