<header role="banner" class="header">
  <a class="logo" href="#">
    <img src="svg/epfl-logo.svg" alt="Logo EPFL, École polytechnique fédérale de Lausanne" class="img-fluid">
  </a>
  <ul aria-hidden="true" class="nav-header d-none d-xl-flex">
    {% for item in homepage.navbar_items %}
      <li id="menu-item-{{ loop.index }}">
        <a class="nav-item" href="#">{{ item }}</a>
      </li>
    {% endfor %}
     <li id="menu-item-777">
        <a class="nav-item" href="/ducation-2/">
          {% include "@content/icon/icon.twig" with { icon: 'icon-search' } %}
        </a>
      </li>
  </ul>
  {% include '@content/search/search.twig' %}
  {% include '@content/language-switcher/language-switcher.twig' %}
  {% include '@content/menu-toggle-mobile/menu-toggle-mobile.twig' %}
</header>
