@charset 'utf-8';

/**
* Program
**/
.coursebook-program {

  .tree {
    padding: 0;
    list-style-type: none;
  }

  .tree > li {
    flex: 0 0 50%;
    font-size: $font-size-sm;

    strong {
      font-size: $font-size-sm * 0.9;
    }

    .underline {
      display: inline;
    }

    .underline > a {
      text-decoration: none;
    }

    > ul {
      padding: 0;
      list-style-type: none;
      font-size: $font-size-sm;

      li {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        padding: ($spacer * 0.4) ($spacer * 0.2);


        > * {
          flex: 0 0 auto;

          &:first-child {
            flex: 0 0 50%;
          }
        }

        br {
          display: none;
        }
      }

      strong {
        text-transform: uppercase;
      }

      > li:nth-child(even) {
        background: $gray-100;
      }
    }
  }
}

/**
* Reference week
**/

.taken {
  color: white;
  vertical-align: middle;
  text-align: center;

  a {
    color: white !important;
    text-decoration-color: $white;

    &:hover {
      font-weight: bold;
    }
  }
}

.coursebook-reference-week > div > div {
  // these are the items out of the table
  width: auto !important;
  margin-right: 0.9rem;
  font-size: $font-size-sm * 1.07;
}

.semaineDeRef {
  @extend .table, .table-boxed;
  position: relative;
  border: 0;
  
  &:before,
  &:after {
    content: "";
    border-bottom: 1px solid $gray-200;
    position: absolute;
    right: 0;
    left: 0;
  }
  
  &:before {
    top: calc(2rem - 2px);
    bottom: auto;
  }
  
  &:after {
    top: auto;
    bottom: -1px;
  }
  
  tbody {
    
    tr:first-child {
      th {
        padding: ($spacer * 0.12) ($spacer * 0.66);
      }
    }
    tr {

      td {
        padding: ($spacer * 0.15) ($spacer * 0.45);
        transition: background-color .3s ease-in-out;
      }
      
      &:hover {
        td {
          background: $gray-200;
        }
      }
    }
    
    td,
    th {
      width: 16.6667%;
    }

    th {
      height: 2rem;
      background: transparent;
      border: solid $gray-200;
      border-width: 1px 0;
      text-align: center;
    }

    td {
      height: 2rem;
      background: $gray-100;
      border: 2px solid #fff;
    }

    td.time {
      background: transparent;
      color: $black;
      padding-left: 0;
    }
    
    td.taken {
      color: #fff;

      a {
        color: #fff;
      }

      &.cours {
        background: $red;
      }

      &.exercice {
        background: $red-dark url(../images/icons/icon-course-exercise.svg) no-repeat 4px 4px;
      }

      &.projet {
        background: #8e0000 url(../images/icons/icon-course-project.svg) no-repeat 4px 4px;
      }
    }
  }
}

.coursebook-week-caption {
  .caption {
    font-size: 1rem;
    margin-bottom: .5rem;
    
    .caption-icon {
      display: inline-block;
      width: 2rem;
      height: 2rem;
      margin-right: .25rem;
      vertical-align: middle;
    }
  }
  
  .caption-cours .caption-icon {
    background: $red;
  }
  
  .caption-exercice .caption-icon {
    background: $red-dark url(../images/icons/icon-course-exercise.svg) no-repeat .5rem .5rem;
  }
  
  .caption-projet .caption-icon {
    background: #8e0000 url(../images/icons/icon-course-project.svg) no-repeat .5rem .5rem;
  }
}

/**
* Legend
**/

.box.two-cols {
  display: flex;
  flex-flow: row wrap;

  .box-col {
    flex: 0 0 50%;
  }
}

.coursebook-legend {
  h3 {
    flex: 0 0 100%;
    font-size: $font-size-base * 1.2;
  }

  ul {
    list-style: none;
    padding: 0;
    font-size: $font-size-sm;

    li {
      margin-bottom: $spacer * 0.1;
    }
  }
}

/**
* temporary icons style
**/
.img_legende {
  &:before {
    margin-right: $spacer * 0.3;
    float: left;
  }

  &.automne:before {
    content: '🍂';
  }
  &.winter:before {
    content: '❄️';
  }
  &.printemps:before {
    content: '🌼';
  }
  &.sun:before {
    content: '☀️';
  }
  &.anglais:before {
    content: '🏴󠁧󠁢󠁥󠁮󠁧󠁿󠁧󠁢󠁥󠁮󠁧󠁿';
  }
  &.francais:before {
    content: '🇫🇷';
  }
  &.allemand:before {
    content: '🇩🇪';
  }
}
