@charset 'utf-8';

.coursebook-program {

  .tree {
    padding: 0;
    list-style-type: none;
  }

  .tree > li {
    flex: 0 0 50%;

    .underline {
      display: inline;
    }

    .underline > a {
      text-decoration: none;
    }

    > ul {
      padding: 0;
      list-style-type: none;
      font-size: $font-size-sm;

      li {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        padding: ($spacer * 0.4) ($spacer * 0.2);

        > * {
          flex: 0 0 50%;
        }

        .img_legende, br {
          display: none;
        }
      }

      strong {
        text-transform: uppercase;
      }

      > li:nth-child(even) {
        background: $gray-100;
      }
    }
  }
}

.semaineDeRef {
  @extend .table, .table-boxed;

  tbody {
    tr:first-child {
      th {
        padding: ($spacer * 0.12) ($spacer * 0.66);
        background: $table-head-bg;
        border-left: 1px solid gray('200');
        border-bottom: 3px solid gray('200');
        text-transform: uppercase;
        color: $table-head-color;
      }
      th:first-child {
        background: $white;
      }
    }

    tr {
      .time {
        font-weight: bold;
      }

      td {
        padding: ($spacer * 0.15) ($spacer * 0.45)
      }
    }
  }
}

.local-color {
  background: theme-color("primary");
}

.local-color-light {
  background: darken(theme-color("warning"), 5.2);
}

.local-color-dark {
  background: theme-color("info");
}

.taken {
  color: white;
  vertical-align: middle;
  text-align: center;

  a {
    color: white !important;
    text-decoration-color: $white;

    &:hover {
      font-weight: bold;
    }
  }
}

.coursebook-reference-week > div > div {
  // these are the items out of the table
  width: auto !important;
  margin-right: 0.9rem;
  font-size: $font-size-sm * 1.07;


  span {

  }
}
