@charset 'utf-8';

.coursebook-program {
  .tree {
    padding: 0;
    list-style-type: none;
  }
  .tree > li {
    .underline > a {
      text-decoration: none;
    }

    .underline {
      display: inline;
    }

    > ul {
      padding: 0;
      list-style-type: none;

      li:last-of-type {
        margin-bottom: $spacer * 1.5;
      }
    }
  }
}
