<div class="box">
  <h3>In the programs</h3>
  <ul class="tree noNav">
    <li class="open collapsable">
      <div class="underline" id="bama_cyclemaster-sv_b"><a href="/studyplan/en/master/bioengineering">Bioengineering,
          2018-2019, Master semester 1</a></div>
      <ul>
        <li><strong>Semester</strong><br>
          <div class="img_legende automne">
            <div class="little_icon"></div>
          </div>&nbsp;Fall
        </li>
        <li><strong>Exam form</strong><br>
          <div class="img_legende winter">
            <div class="little_icon"></div>
          </div>
          &nbsp;Oral
        </li>
        <li><strong>Credits</strong><br><span class="nbCredits">4</span></li>
        <li><strong>Subject examined</strong><br>Sensorimotor neuroprosthetics</li>
        <li><strong>Lecture</strong><br>2&nbsp;Hour(s) per week x 14 weeks<br></li>
        <li><strong>Exercises</strong><br>2&nbsp;Hour(s) per week x 14 weeks<br></li>
      </ul>
    </li>
    <li>
      <div class="underline" id="bama_cyclemaster-sv_b"><a href="/studyplan/en/master/bioengineering">Bioengineering,
          2018-2019, Master semester 3</a></div>
      <ul>
        <li><strong>Semester</strong><br>
          <div class="img_legende automne">
            <div class="little_icon"></div>
          </div>&nbsp;Fall
        </li>
        <li><strong>Exam form</strong><br>
          <div class="img_legende winter">
            <div class="little_icon"></div>
          </div>
          &nbsp;Oral
        </li>
        <li><strong>Credits</strong><br><span class="nbCredits">4</span></li>
        <li><strong>Subject examined</strong><br>Sensorimotor neuroprosthetics</li>
        <li><strong>Lecture</strong><br>2&nbsp;Hour(s) per week x 14 weeks<br></li>
        <li><strong>Exercises</strong><br>2&nbsp;Hour(s) per week x 14 weeks<br></li>
      </ul>
    </li>
    <li>
      <div class="underline" id="bama_cyclemaster-mt_ro"><a href="/studyplan/en/master/robotics">Robotics, 2018-2019,
          Master semester 1</a></div>
      <ul>
        <li><strong>Semester</strong><br>
          <div class="img_legende automne">
            <div class="little_icon"></div>
          </div>&nbsp;Fall
        </li>
        <li><strong>Exam form</strong><br>
          <div class="img_legende winter">
            <div class="little_icon"></div>
          </div>
          &nbsp;Oral
        </li>
        <li><strong>Credits</strong><br><span class="nbCredits">4</span></li>
        <li><strong>Subject examined</strong><br>Sensorimotor neuroprosthetics</li>
        <li><strong>Lecture</strong><br>2&nbsp;Hour(s) per week x 14 weeks<br></li>
        <li><strong>Exercises</strong><br>2&nbsp;Hour(s) per week x 14 weeks<br></li>
      </ul>
    </li>
    <li>
      <div class="underline" id="bama_cyclemaster-sv"><a href="/studyplan/en/master/life-sciences-and-technologies">Life
          Sciences and Technologies, 2018-2019, Master semester 1</a></div>
      <ul>
        <li><strong>Semester</strong><br>
          <div class="img_legende automne">
            <div class="little_icon"></div>
          </div>&nbsp;Fall
        </li>
        <li><strong>Exam form</strong><br>
          <div class="img_legende winter">
            <div class="little_icon"></div>
          </div>
          &nbsp;Oral
        </li>
        <li><strong>Credits</strong><br><span class="nbCredits">4</span></li>
        <li><strong>Subject examined</strong><br>Sensorimotor neuroprosthetics</li>
        <li><strong>Lecture</strong><br>2&nbsp;Hour(s) per week x 14 weeks<br></li>
        <li><strong>Exercises</strong><br>2&nbsp;Hour(s) per week x 14 weeks<br></li>
      </ul>
    </li>
    <li>
      <div class="underline" id="bama_cyclemaster-sv_stv"><a href="/studyplan/en/master/life-sciences-and-technologies-master-program">Life
          Sciences and Technologies - master program, 2018-2019, Master semester 1</a></div>
      <ul>
        <li><strong>Semester</strong><br>
          <div class="img_legende automne">
            <div class="little_icon"></div>
          </div>&nbsp;Fall
        </li>
        <li><strong>Exam form</strong><br>
          <div class="img_legende winter">
            <div class="little_icon"></div>
          </div>
          &nbsp;Oral
        </li>
        <li><strong>Credits</strong><br><span class="nbCredits">4</span></li>
        <li><strong>Subject examined</strong><br>Sensorimotor neuroprosthetics</li>
        <li><strong>Lecture</strong><br>2&nbsp;Hour(s) per week x 14 weeks<br></li>
        <li><strong>Exercises</strong><br>2&nbsp;Hour(s) per week x 14 weeks<br></li>
      </ul>
    </li>
    <li>
      <div class="underline" id="bama_cyclemaster-sv_stv"><a href="/studyplan/en/master/life-sciences-and-technologies-master-program">Life
          Sciences and Technologies - master program, 2018-2019, Master semester 3</a></div>
      <ul>
        <li><strong>Semester</strong><br>
          <div class="img_legende automne">
            <div class="little_icon"></div>
          </div>&nbsp;Fall
        </li>
        <li><strong>Exam form</strong><br>
          <div class="img_legende winter">
            <div class="little_icon"></div>
          </div>
          &nbsp;Oral
        </li>
        <li><strong>Credits</strong><br><span class="nbCredits">4</span></li>
        <li><strong>Subject examined</strong><br>Sensorimotor neuroprosthetics</li>
        <li><strong>Lecture</strong><br>2&nbsp;Hour(s) per week x 14 weeks<br></li>
        <li><strong>Exercises</strong><br>2&nbsp;Hour(s) per week x 14 weeks<br></li>
      </ul>
    </li>
    <li>
      <div class="underline" id="min-min_neupro"><a href="/studyplan/en/minor/neuroprosthetics">Neuroprosthetics minor,
          2018-2019, Autumn semester</a></div>
      <ul>
        <li><strong>Semester</strong><br>
          <div class="img_legende automne">
            <div class="little_icon"></div>
          </div>&nbsp;Fall
        </li>
        <li><strong>Exam form</strong><br>
          <div class="img_legende winter">
            <div class="little_icon"></div>
          </div>
          &nbsp;Oral
        </li>
        <li><strong>Credits</strong><br><span class="nbCredits">4</span></li>
        <li><strong>Subject examined</strong><br>Sensorimotor neuroprosthetics</li>
        <li><strong>Lecture</strong><br>2&nbsp;Hour(s) per week x 14 weeks<br></li>
        <li><strong>Exercises</strong><br>2&nbsp;Hour(s) per week x 14 weeks<br></li>
      </ul>
    </li>
    <li>
      <div class="underline" id="min-min_neur_comp"><a href="/studyplan/en/minor/computational-neurosciences">Computational
          Neurosciences minor, 2018-2019, Autumn semester</a></div>
      <ul>
        <li><strong>Semester</strong><br>
          <div class="img_legende automne">
            <div class="little_icon"></div>
          </div>&nbsp;Fall
        </li>
        <li><strong>Exam form</strong><br>
          <div class="img_legende winter">
            <div class="little_icon"></div>
          </div>
          &nbsp;Oral
        </li>
        <li><strong>Credits</strong><br><span class="nbCredits">4</span></li>
        <li><strong>Subject examined</strong><br>Sensorimotor neuroprosthetics</li>
        <li><strong>Lecture</strong><br>2&nbsp;Hour(s) per week x 14 weeks<br></li>
        <li><strong>Exercises</strong><br>2&nbsp;Hour(s) per week x 14 weeks<br></li>
      </ul>
    </li>
    <li>
      <div class="underline" id="min-min_biomed"><a href="/studyplan/en/minor/biomedical-technologies">Biomedical
          technologies minor, 2018-2019, Autumn semester</a></div>
      <ul>
        <li><strong>Semester</strong><br>
          <div class="img_legende automne">
            <div class="little_icon"></div>
          </div>&nbsp;Fall
        </li>
        <li><strong>Exam form</strong><br>
          <div class="img_legende winter">
            <div class="little_icon"></div>
          </div>
          &nbsp;Oral
        </li>
        <li><strong>Credits</strong><br><span class="nbCredits">4</span></li>
        <li><strong>Subject examined</strong><br>Sensorimotor neuroprosthetics</li>
        <li><strong>Lecture</strong><br>2&nbsp;Hour(s) per week x 14 weeks<br></li>
        <li><strong>Exercises</strong><br>2&nbsp;Hour(s) per week x 14 weeks<br></li>
      </ul>
    </li>
    <li>
      <div class="underline" id="edoc-edne"><a href="/studyplan/en/doctoral_school/neuroscience">Neuroscience (edoc),
          2018-2019</a></div>
      <ul>
        <li><strong>Semester</strong><br>
          <div class="img_legende automne">
            <div class="little_icon"></div>
          </div>&nbsp;Fall
        </li>
        <li><strong>Exam form</strong><br>
          <div class="img_legende winter">
            <div class="little_icon"></div>
          </div>
          &nbsp;Oral
        </li>
        <li><strong>Credits</strong><br><span class="nbCredits">4</span></li>
        <li><strong>Subject examined</strong><br>Sensorimotor neuroprosthetics</li>
        <li><strong>Lecture</strong><br>2&nbsp;Hour(s) per week x 14 weeks<br></li>
        <li><strong>Exercises</strong><br>2&nbsp;Hour(s) per week x 14 weeks<br></li>
      </ul>
    </li>
  </ul>
  <div style="clear: both;"></div>
</div>
