<div class="box">
  <h3>Reference week</h3>
  <table class="semaineDeRef">
    <tbody>
      <tr>
        <th class="time">&nbsp;</th>
        <th class="day">Lu</th>
        <th class="day">Ma</th>
        <th class="day">Me</th>
        <th class="day">Je</th>
        <th class="day">Ve</th>
      </tr>
      <tr>
        <td class="time">8-9</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td class="time">9-10</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td rowspan="2" class="taken local-color"><a class="espace" href="http://plan.epfl.ch/?lang=fr&amp;room=INF1">INF1</a></td>
      </tr>
      <tr>
        <td class="time">10-11</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td class="time">11-12</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td rowspan="1" class="taken local-color-light"><a class="espace" href="http://plan.epfl.ch/?lang=fr&amp;room=BC01">BC01</a><br><a
            class="espace" href="http://plan.epfl.ch/?lang=fr&amp;room=BC04">BC04</a></td>
      </tr>
      <tr>
        <td class="time">12-13</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td rowspan="1" class="taken local-color-dark"><a class="espace" href="http://plan.epfl.ch/?lang=fr&amp;room=BC01">BC01</a><br><a
            class="espace" href="http://plan.epfl.ch/?lang=fr&amp;room=BC04">BC04</a></td>
      </tr>
      <tr>
        <td class="time">13-14</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td class="time">14-15</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td class="time">15-16</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td class="time">16-17</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td class="time">17-18</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td class="time">18-19</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td class="time">19-20</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td class="time">20-21</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td class="time">21-22</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </tbody>
  </table>
  <div>&nbsp;</div>
  <div style="width: 30%; float: left;"><span class="local-color">&nbsp; &nbsp; &nbsp;</span> Lecture</div>
  <div style="width: 38%; float: left;"><span class="local-color-light">&nbsp; &nbsp; &nbsp;</span> Exercise, TP</div>
  <div style="width: 32%; float: left;"><span class="local-color-dark">&nbsp; &nbsp; &nbsp;</span> Project, other</div>
  <div style="clear: both;"></div>
</div>
