<div class="bg-gray-100 py-5">
  <div class="container">
    <div class="social-share-container social-share-light">
      <div class="social-share ">

        <div class="social-share-text">
          Partager sur
        </div>

        {% include 'content::social-icon/social-icon-link-group.twig' with { discrete: true } %}
      </div>
    </div>
  </div>
</div>