@charset 'utf-8';

.fullwidth-teaser {
  position: relative;
  width: 100%;
  padding: 0 gutter-width / 2;

  @include media-breakpoint-up(md) {
    display: flex;
    flex-flow: row nobreak;
  }

  @include media-breakpoint-up(xl) {
    display: block;
    padding: 0;
  }

  img {
    width: 100%;
  }

  picture,
  .fullwidth-teaser-text {
    @include media-breakpoint-up(md) {
      flex: 0 0 50%;
    }
  }

  picture {
    @include media-breakpoint-down(sm) {
      img {
        width: 100% !important;
        height: auto;
      }
    }

    @include media-breakpoint-up(md) {
      position: relative;
      overflow: hidden;

      img {
        position: absolute;
        top: 0;
        left: -10%;
        width: auto;
        height: 100%;
      }
    }

    @include media-breakpoint-up(xl) {
      img {
        position: relative;
        left: 0;
        width: 100% !important;
      }
    }
  }

  p {
    @include media-breakpoint-up(xl) {
      float: right;
      width: 20rem;
      margin-left: 6rem;
      padding: 1.2rem 1.6rem;
      background: rgba(255, 255, 255, 0.9);
    }
  }
}

.fullwidth-teaser-text {
  padding-top: 1rem;
  background: $white;

  @extend .col-12;

  @include media-breakpoint-up(xl) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 8rem;
    width: auto;
    padding: 2rem 0;
    min-height: 100%;
    overflow: hidden;
    background: none;

    h3,
    .h3 {
      display: inline-block;
      padding: 1.5rem 2rem;
      margin-bottom: 0;
      font-size: 1.75rem;
      background-color: white;
      max-width: 24rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.fullwidth-teaser-text-header {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;

  @include media-breakpoint-up(md) {
    padding-left: 2rem;
  }

  @include media-breakpoint-up(xl) {
    width: auto;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 0;
  }

  h3,
  a {
    flex: 1 1 auto;

    @include media-breakpoint-up(xl) {
      flex: 0 0 auto;
    }
  }

  .btn {
    transition: padding 0.15s;

    &:before {
      border: none;
    }

    &:hover,
    &:focus {
      background: darken($epflred, 15%);
      color: $white;

      @include media-breakpoint-up(xl) {
        padding-left: 2rem;
      }

      &:before,
      &:after {
        background: none;
        border-top-color: darken($epflred, 15%);
      }
    }
  }
}

.fullwidth-teaser-text-content {
  @include media-breakpoint-up(md) {
    padding: 1rem 0 1rem 2rem;
  }

  @include media-breakpoint-up(xl) {
    padding: 0;
  }
}

.fullwidth-teaser-text-footer {
  @include media-breakpoint-up(xs) {
    @extend .row;
  }

  @include media-breakpoint-up(md) {
    padding-left: 2rem;
    margin: 0;
  }
}

.fullwidth-teaser-horizontal {
  @include media-breakpoint-up(xl) {
    .fullwidth-teaser-text {
      left: 10%;
      width: 85%;
      justify-content: flex-end;
      padding-bottom: 8rem;
    }

    .fullwidth-teaser-text-header {
      justify-content: flex-end;
      overflow: visible;
    }

    .btn {
      margin-bottom: -1.62rem;
      padding-right: 2.5rem;

      &:before {
        content: '>';
        position: absolute;
        top: 0.7rem;
        right: 1rem;
        bottom: auto;
        left: auto;
      }
    }

    h3,
    .h3 {
      overflow: visible;
      width: auto;
      max-width: 60%;
      margin: 0;
      white-space: normal;
      text-overflow: initial;
    }

    .fullwidth-teaser-text-content {
      p {
        width: 85%;
        margin: 0 6% 0 0;
        padding-right: 6.5rem;
      }
    }
  }
}
