<div class="fullwidth-teaser">
  <picture>
    <img src="{% block img %}./images/basic_page_teaser.jpg{% endblock %}" aria-labelledby="background-label" alt="An image description"/>
  </picture>

  <div class="fullwidth-teaser-text">

    <div class="fullwidth-teaser-header">
      <div class="fullwidth-teaser-title">
        <h3>
          {% block title %}Tech transfer{% endblock %}
        </h3>
      </div>
      <a href="#" aria-label="En savoir plus sur Tech Transfer" class="btn btn-primary triangle-outer-bottom-right d-none d-xl-block">
        En savoir plus
        {% include '@atoms/icon/icon.twig' with {icon: 'icon-chevron-right'} %}
      </a>
    </div>

    <div class="fullwidth-teaser-content">
      <p>
        {% block content %}La volonté de garantir que les résultats de notre recherche parviennent à la pratique professionnelle et génèrent des services et produits innovants pour notre société, est au cœur de la mission de l'EPFL. <br> L'ENAC s'emploie à promouvoir et à faciliter ce transfert de technologie en encourageant la création de partenariats avec les institutions publiques et les entreprises et en offrant le programme de sensibilisation et de soutien InnoSeed ENAC.{% endblock %}
      </p>
    </div>

    <div class="fullwidth-teaser-footer">
      <a href="#" aria-label="En savoir plus sur Tech Transfer" class="btn btn-primary btn-block d-xl-none">En savoir plus</a>
    </div>
  </div>
</div>
