@charset 'utf-8';

.form-group {
  label {
    font-size: 1em;
    color: $gray-600;
  }

  .custom-control label {
    font-size: $font-size-sm;

    &:before,
    &:after {
      top: 2px;
    }
  }
}

.invalid-label,
.form-group .invalid-label { color: $red; }

.search-container {
  position: relative;
  
  input[type="search"] {
    padding-right: 40px;
  }
  
  .icon {
    color: $gray-300;
    position: absolute;
    top: 50%;
    right: $input-padding-x;
    transform: translateY(-50%);
    transition: color 0.3s;
  }
  
  input[type="search"]:hover + .icon {
    color: $gray-600;
  }
  
  input[type="search"]:focus + .icon {
    color: $black;
  }
}