<div class="form-group">
  <label for="awesome-input">Input's label</label>
  <input
    type="text"
    id="awesome-input"
    class="form-control"
    placeholder="Type here..."
    aria-describedby="awesome-input-help"
  >
  <small id="awesome-input-help" class="form-text text-muted">
    Help text about the text field.
  </small>
</div>
