@charset 'utf-8';

.form-group {
  label {
    font-size: 1em;
    color: $gray-600;
  }

  .custom-control label {
    font-size: $font-size-sm;

    &:before,
    &:after {
      top: 2px;
    }
  }
}

.invalid-label,
.form-group .invalid-label { color: $red; }
