<div class="form-group">
  <label for="error-input" class="invalid-label">Input's label</label>
  <input
    type="text"
    id="error-input"
    class="form-control is-invalid"
    value="Wrong value"
    aria-describedby="error-input-help"
  >
  <small id="error-input-help" class="form-text invalid-feedback">
    Error message goes here!
  </small>
</div>
