@charset 'utf-8';

.form-group {
  label {
    color: $gray-600;
    font-size: 1em;
  }
  
  .custom-control label {
    font-size: $font-size-sm;
  }
}

.invalid-label,
.form-group .invalid-label { color: $red; }
