<a href="#" class="event-teaser event-teaser-passed card p-4 just-finished">
  <picture class="card-img-top fading">
    <img src="./images/event_teaser.png" alt="a portrait of professor Xile Hu, smiling happily at the camera, sitting in an empty auditorium." />
  </picture>
  <div class="card-body mt-2">
    <h3 class="card-title"><span class="badge badge-dark p-2">Just finished</span> Startup Acceleration Workshops</h3>
    <p>Avec <strong>John Doe</strong></p>
    <p>10.01.2018 <span>&rsaquo;</span> 13:00 - 17:30</p>
    <p>Lieu: ArtLab EPFL</p>
    <p>Catégorie: <strong>IPG Seminar</strong></p>
  </div>
</a>
