@charset 'utf-8';

.key-number-group {
  flex-wrap: wrap;
  margin-left: $spacer * -0.5;
  margin-right: $spacer * -0.5;

  > * {
    flex: 0 0 100%;
    padding: $spacer * 0.5;
  }

  @include media-breakpoint-up(md) {
    .key-number {
      flex: 1 0 50%;
    }
  }

  @include media-breakpoint-up(lg) {
    .key-number {
      flex: 0 0 25%;
    }

    .key-number-large {
      flex: 0 0 50%;
    }
  }
}
