<div class="container">
  <div class="key-number-group row">
    {% include '@molecules/key-number/key-number-large.twig' %}
    {% include '@molecules/key-number/key-number.twig' %}
    {% include '@molecules/key-number/key-number.twig' %}
    {% include '@molecules/key-number/key-number.twig' %}
    {% include '@molecules/key-number/key-number-large.twig' %}
    {% include '@molecules/key-number/key-number.twig' %}
  </div>
</div>
