.toolbox-body {
  background: #f0f0f0;
}

.toolbox-h2 { text-align: center; }

.styleguide {
  display: grid;
  grid-template-columns: auto 1fr;
}

.toolbox-sidebar-wrapper {
  grid-column: 1;
  background-color: #F0F0F2;
  padding: 5px 10px;
}

.toolbox-content-wrapper {
  grid-column: 2;
  align-self: start;
  margin-left: 18px;
}