@import '../../variables.scss';

.tlbx-body {
  background: $body-bg;
}

.tlbx-h2 { text-align: center; }

.styleguide {
  display: grid;
  grid-template-columns: 60px 240px 1fr;
  min-height: 100vh;
  max-width: 100%;
}

.tlbx-toolbar-wrapper {
  grid-column: 1;
  background-color: $color-primary;
  color: white;
}

.tlbx-sidebar-wrapper {
  grid-column: 2;
  background-color: $gray-lighter;
}

.tlbx-content-wrapper {
  grid-column: 3;
  align-self: start;
  padding: 0 1rem;
  overflow: hidden;
}
