.tlbx-body {
  background: #f0f0f0;
}

.tlbx-h2 { text-align: center; }

.styleguide {
  display: grid;
  grid-template-columns: 60px 240px 1fr;
  min-height: 100vh;
}

.tlbx-sidebar-wrapper {
  grid-column: 2;
  background-color: #F0F0F2;
}

.tlbx-content-wrapper {
  grid-column: 3;
  align-self: start;
  margin-left: 18px;
}
