{% extends "@templates/base/base.twig" %}

{% set nav_aside_items = [{
  label: "Laboratory Full Name",
  children: ["Projects", "Publications", "News", "Team", "Teaching"]
}] %}
{% set nav_aside_active = 0 %}

{% block fullintro %}
<div class="tlbx-single-full-intro d-flex justify-content-between">
  <h1 class="h3 my-0">Laboratory page (<a href="#/doc/create%20a%20page.md" target="_blank" onclick="window.open('#/doc/create%20a%20page.md')">doc</a>)</h1>
  <button class="btn btn-sm btn-primary" id="tour-start">Start the tour !</button>
</div>
{% endblock %}

{% block content %}
<div class="container-full" id="tour-hero">
  {% include '@organisms/hero/hero.twig' with {
    cover_path: 'images/styleguide/cover/cover01_',
    title: 'Laboratory Full Name LFN',
    content: false
  } %}
</div>

<div class="mt-5" id="tour-lab">
  <div id="tour-intro">
    <p>
      This is a laboratory introduction text about all the good stuff that are made here, the current project and the passionate people who work here. It's always interesting to know in few lines what is all about.
    </p>
  </div>
</div>

<div class="container-full bg-gray-100 py-5 mt-5" id="tour-projects">
  <div class="container">
    {% include '@content-types/project/project.twig' %}
  </div>
</div>

<div class="container">
  <div id="tour-publications">
    <h2 class="mb-4 mt-6">Our publications</h2>
    {% include '@content-types/publication/publication.twig' with { bottomlink: true } %}
  </div>
</div>

<div class="container">
  <div id="tour-news">
    {% include '@content-types/news/news-latest-two.twig' %}
  </div>
</div>

<div class="container-full bg-gray-100 py-5 my-5">
  <div class="container">
    <div id="tour-partof">
      <h2 class="mb-4">DCSL is part of</h2>
      <div class="row mb-5">
        <div class="col-md-6">
          {% include '@content-types/school/school.twig' %}
        </div>
        <div class="col-md-6">
          {% include '@content-types/institute/institute.twig' %}
        </div>
        <div class="col-12">
          <h3>Themes</h3>
          {% for i in 1..5 %}
            <a href="#" class="tag tag-primary">Theme {{i}}</a>
          {% endfor %}
        </div>
      </div>
    </div>
    <div id="tour-contact">
      <div class="bg-white p-4 p-md-5">
        {% include '@organisms/contact/contact-banner.twig' %}
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-6" id="tour-team">
      {% include '@content-types/basic-page/basic-page.twig' %}
    </div>
    <div class="col-md-6" id="tour-sponsors">
      <h3 class="mb-4">Our sponsors</h3>
      {% include '@molecules/sponsor/sponsor.twig' %}
      {% include '@molecules/sponsor/sponsor.twig' %}
    </div>
  </div>
</div>

{% endblock %}
