@charset "utf-8";

.epfl-faq-header {
  margin-bottom: 2rem;
}

.faq-item {
  border-top: 1px solid $gray-300;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  h4.faq-item-question { font-weight: bold; }
}
