<button id="nav-burger" class="nav-burger">
  <span class="sr-only">Toggle the navigation</span>
  <span class="line" aria-hidden="true"></span>
  <span class="line" aria-hidden="true"></span>
  <span class="line" aria-hidden="true"></span>
</button>
