<div class="overlay"></div>
<nav class="nav-main" id="main-navigation" role="navigation">
  <div class="nav-wrapper">
    <div class="nav-container">
      <ul class="nav-menu">
        {% for i in 1..26 %}
        <li class="{{ i == 2 ? 'current-menu-ancestor menu-item-888' : ''}} menu-item-has-children">
          <a href="#">À propos</a>
          <ul>
            <li class="nav-back d-xl-none">
              <a href="/test">
                {% include '@content/icon/icon.twig' with {icon: 'icon-arrow-left'} %} À propos
              </a>
            </li>
            <li class="nav-home d-none d-xl-block">
              <a href="/test">
                {% include '@content/icon/icon.twig' with {icon: 'icon-home'} %}
                <span class="text-muted">&rsaquo;</span>
                À propos
              </a>
            </li>
            {% for y in 1..25 %}
            <li class="{{ y == 2 and i == 2 ? 'current-menu-parent' : ''}} menu-item-has-children">
              <a data-page-id="77" href="/test">Stratégie de l’enseignement</a>
              <a href="#" role="button" aria-hidden="true" class="nav-arrow">
                <div class="icon-container">
                  {% include '@content/icon/icon.twig' with {icon: 'icon-chevron-right'} %}
                </div>
              </a>
              <ul>
                <li class="nav-back">
                  <a href="/test">
                    {% include '@content/icon/icon.twig' with {icon: 'icon-arrow-left'} %}Stratégie de l’enseignement</a>
                </li>
                <li>
                  <a data-page-id="66" href="/test">Stratégie de l’enseignement</a>
                </li>
                <li class="{{ y == 2 and i == 2 ? 'current-menu-item' : ''}}">
                  <a href="/test">Innovation dans l'enseignement</a>
                </li>
              </ul>
            </li>
            {% endfor %}
          </ul>
          <a href="#" role="button" aria-hidden="true" class="nav-arrow">
            <div class="icon-container">
              {% include '@content/icon/icon.twig' with {icon: 'icon-chevron-right'} %}
            </div>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
