<h2 class="mb-4">Our current projects</h2>
<div class="row">
  {% for i in 1..3 %}
    <div class="col-md-4">
      {% include '@content-types/research-project/research-project.twig' %}
    </div>
  {% endfor %}
</div>
<p class="text-center">
  <a class="link-pretty" href="#">See all projects</a>
</p>