{% set isHomepage = true %}

{% extends "@templates/base/base.twig" %}

{% block header %}
  {% include '@organisms/header/header-light.twig' with {
    site_title: 'Actu',
    dropdown: true
  } %}
{% endblock %}

{% block content %}
<div class="container-full">
  {% include '@organisms/headlines/headlines.twig' with { bottomlink: false } %}
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      {% include '@molecules/filters/filters.twig' %}
    </div>
    <div class="col-md-8">
        {% include '@content-types/news/news.twig' %}
        {% include '@molecules/pagination/pagination.twig' %}
    </div>
  </div>
</div>
{% endblock %}

{% block footer_container %}
  <div class="bg-gray-100 pt-5">
    <div class="container">
      {% block footer %}
        {% include '@organisms/footer/footer-light.twig' %}
      {% endblock %}
    </div>
  </div>
  {% endblock %}
  </div>
</div>
