<div class="form-group form-group-search">
  <label for="search-field" class="sr-only">Search</label>
  <p class="search-container icon-right">
    <input
      type="search"
      id="search-field"
      class="form-control"
      placeholder="Keywords..."
      aria-describedby="search-field-help"
    >
    {% include '@atoms/icon/icon.twig' with { icon:  'icon-search' } %}
  </p>
</div>
