<div class="form-group">
  <label for="custom-radio1">{% if label %} {{~ label}} {% else %}Radio button (single choice){% endif %}</label>

  {% for i in [1,2,3] %}
  {% include "@atoms/radio/radio.twig" with {
    id: i,
    label: 'Option ' ~ i
  } %}
  {% endfor %}
</div>
