<div class="form-group">
  <label for="awesome-textarea">{% if label %} {{~ label}} {% else %}Text area{% endif %}</label>
  <textarea class="form-control" id="awesome-textarea" rows="3">Multiple lines can be typed here…</textarea>
</div>
