@charset 'utf-8';

.breadcrumb-container {
  display: flex;
  position: relative;
  margin-bottom: $spacer * 1.6;

  @include media-breakpoint-down(lg) {
    //height: $mm-breadcrumbs-height;
    padding: 0 ($spacer * 0.8);
  }

  @include media-breakpoint-up(xl) {
    // create space out of container on the left for hamburger button
    display: flex;
    position: relative;
    margin: 0 $spacer * 3;
    margin-bottom: $spacer * 2;
  }
}

.breadcrumb-wrapper {
  max-width: 100%;
  width: 100%;
  border-bottom: 1px solid gray('200');

  @include media-breakpoint-up(lg) {
    overflow-y: visible;
    user-select: none;
  }
}

.breadcrumb {
  padding: 0;
  margin-bottom: 0;

  li {
    padding-left: 0;

    &:before {
      content: none;
    }
  }

  @include media-breakpoint-up(lg) {
    max-width: 100%;
    //white-space: nowrap;
    padding: 0.1rem 0;
    .breadcrumb-item:last-child { padding-right: $spacer * 3; }
  }

  @include media-breakpoint-down(lg) {
    //height: $mm-breadcrumbs-height;
    //overflow-x: scroll;
    //white-space: nowrap;
    margin: 0;
    padding: $spacer * 0.64 0;
    z-index: $zindex-breadcrumbs;

    .icon {
      color: gray('300');
    }

    li:last-child {
      padding-right: 5rem;
    }
  }
}

.breadcrumb-item {
  display: inline-block;
  position: relative;
  font-size: $font-size-sm;
  line-height: 1.5rem;

  &.breadcrumb-tags-wrapper {
    display: inline;
  }

  @include media-breakpoint-down(md) {
    display: inline;
  }

  &:before {
    content: ' ';
    display: block;
    position: absolute;
    bottom: -0.1rem;
    left: 0;
    width: 0;
    height: 1px;
    padding: 0;
    background: $red;
    transition: width 0.3s ease;
  }

  &:not(.active):not(.breadcrumb-tags-wrapper):hover:before {
    width: calc(100% - 0.6rem);
  }

  &:after {
    content: "/";
    color: $gray-500;
    padding-inline: 0.25rem;
  }

  a {
    background-image: none !important;
    color: $gray-700;
    text-decoration: none;

    &:hover {
      color: $black;
    }
  }

  .tag {
    vertical-align: baseline;
  }

  .icon {
    top: -0.08em;
    font-size: 0.86em;
  }

  &:last-child:after {
    content: none;
  }

  &.active {
    font-weight: bold;
    color: $gray-700;
  }

  &.expand-links {
    display: none;
  }
}

// Expand links button

.breadcrumb .btn-expand-links {
  height: auto;
  padding: 0;
  border: 0;
  font-size: inherit;
  line-height: 1;
}

@include media-breakpoint-down(md) {
  .breadcrumb .breadcrumb-item,
  .breadcrumb.has-expanded-links .breadcrumb-item.expand-links {
    display: none;
  }

  .breadcrumb .breadcrumb-item:first-of-type,
  .breadcrumb .breadcrumb-item.expand-links,
  .breadcrumb .breadcrumb-item:last-of-type,
  .breadcrumb .breadcrumb-item.active,
  .breadcrumb .breadcrumb-item.breadcrumb-tags-wrapper,
  .breadcrumb.has-expanded-links .breadcrumb-item {
    display: inline;
  }
}

// Dropdown

.breadcrumb .dropdown {
  display: inline;
  position: static;
}

.breadcrumb .dropdown-toggle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  top: -0.08em;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: 0;
  padding: 0;
  border: 0;
  border-radius: 50%;

  .icon {
    top: 0;
    font-size: 1rem;
    color: currentColor;
    transform: rotate(0);
    transition: all 0.2s ease-in-out;
  }

  &:after {
    content: none;
  }

  &:hover,
  &:active {
    background: $red !important;
    color: $white !important;
  }

  &:focus,
  &:focus-visible {
    outline-offset: 0;
  }

  &:focus:not(:focus-visible) {
    outline-color: transparent !important;
  }

  &[aria-expanded="true"] .icon {
    transform: rotate(180deg);
  }
}

.breadcrumb .dropdown-menu {
  &.show {
    // dropdown position depends on the <li>, not the button
    top: 2rem !important;
    left: -0.625rem !important;
    transform: none !important;
  }
}

.breadcrumb .dropdown-item {
  padding: 0.125em 0.625rem;
  font-size: 0.83rem;

  a {
    display: block;
  }

  &.current-menu-item,
  &.current-menu-item-parent {
    font-weight: bold;
  }

  @include media-breakpoint-down(md) {
    white-space: normal;
  }
}
