<nav aria-label="breadcrumb" class="breadcrumb-wrapper" id="breadcrumb-wrapper">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">
        {% include '@atoms/icon/icon.twig' with { icon: 'icon-home' } %}
      </a>
    </li>
    <li class="breadcrumb-item breadcrumb-tags-wrapper">
      <a href="#" class="tag tag-primary">School</a>
      <a href="#" class="tag tag-primary">Innovation</a>
      <a href="#" class="tag tag-primary">W3C</a>
    </li>
    <li class="breadcrumb-item expand-links">
      <button class="btn btn-expand-links" aria-expanded="false" title="Display the complete path">
        <span class="dots" aria-hidden="true">…</span>
        <span class="sr-only">Display the complete path</span>
      </button>
    </li>
    <li class="breadcrumb-item">
      <a class="bread-link" href="#">Schools</a>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-controls="dropdown-menu-1">
          {% include '@atoms/icon/icon.twig' with { icon: 'arrow-down-circle', icon_classes:'feather' } %}
          <span class="sr-only">Display same level pages – Schools</span>
        </button>
        <ul class="dropdown-menu" id="dropdown-menu-1">
          <li class="dropdown-item"><a href="#">About</a></li>
          <li class="dropdown-item"><a href="#">Education</a></li>
          <li class="dropdown-item"><a href="#">Research</a></li>
          <li class="dropdown-item"><a href="#">Innovation</a></li>
          <li class="dropdown-item current-menu-item-parent"><a href="#">Schools</a></li>
          <li class="dropdown-item"><a href="#">Campus</a></li>
        </ul>
      </div>
    </li>
    <li class="breadcrumb-item">
      <a class="bread-link" href="#">School of Architecture, Civil and Environmental Engineering</a>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-controls="dropdown-menu-2">
          {% include '@atoms/icon/icon.twig' with { icon: 'arrow-down-circle', icon_classes:'feather' } %}
          <span class="sr-only">Display same level pages – School of Architecture, Civil and Environmental Engineering</span>
        </button>
        <ul class="dropdown-menu" id="dropdown-menu-2">
          <li class="dropdown-item current-menu-item-parent"><a href="#">School of Architecture, Civil and Environmental Engineering</a></li>
          <li class="dropdown-item"><a href="#">School of Computer and Communication Sciences</a></li>
          <li class="dropdown-item"><a href="#">School of Basic Sciences</a></li>
          <li class="dropdown-item"><a href="#">School of Engineering</a></li>
          <li class="dropdown-item"><a href="#">School of Life Sciences</a></li>
          <li class="dropdown-item"><a href="#">College of Management of Technology</a></li>
          <li class="dropdown-item"><a href="#">College of Humanities</a></li>
          <li class="dropdown-item"><a href="#">Sections</a></li>
        </ul>
      </div>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      <span class="bread-item">ENAC Faculty</span>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-controls="dropdown-menu-3">
          {% include '@atoms/icon/icon.twig' with { icon: 'arrow-down-circle', icon_classes:'feather' } %}
          <span class="sr-only">Display same level pages – ENAC Faculty</span>
        </button>
        <ul class="dropdown-menu" id="dropdown-menu-3">
          <li class="dropdown-item"><a href="#">News</a></li>
          <li class="dropdown-item current-menu-item-parent"><a href="#">ENAC Faculty</a></li>
          <li class="dropdown-item"><a href="#">Education</a></li>
          <li class="dropdown-item"><a href="#">Research</a></li>
          <li class="dropdown-item"><a href="#">Sustainability challenges</a></li>
          <li class="dropdown-item"><a href="#">Intranet ENAC</a></li>
        </ul>
      </div>
    </li>
  </ol>
</nav>
