@charset 'utf-8';

.breadcrumb-container {
  display: flex;
  position: relative;
  margin-bottom: $spacer * 1.6;

  &:before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    width: $spacer * 3;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, $white 80%, $white 100%);
    z-index: 120;
  }

  @include media-breakpoint-down(lg) {
    height: $mm-breadcrumbs-height;
  }

  @include media-breakpoint-up(xl) {
    // create space out of container on the left for hamburger button
    display: flex;
    position: relative;
    margin: 0 $spacer * 3;
    margin-bottom: $spacer * 2;
  }
}

.breadcrumb-wrapper {
  max-width: 100%;
  width: 100%;
  border-bottom: 1px solid gray('300');

  @include media-breakpoint-up(lg) {
    overflow-x: auto;
    overflow-y: visible;
    white-space: nowrap;
    user-select: none;
    cursor: grabbing;
  }
}

.breadcrumb {
  padding: 0;
  margin-bottom: 0;

  @include media-breakpoint-up(lg) {
    max-width: 100%;
    white-space: nowrap;
    padding: 0.1rem 0;
    .breadcrumb-item:last-child { padding-right: $spacer * 3; }
  }

  @include media-breakpoint-down(lg) {
    height: $mm-breadcrumbs-height;
    overflow-x: scroll;
    white-space: nowrap;
    margin: 0;
    padding: $spacer * 0.64 $spacer* 0.8;
    z-index: 110;

    .icon {
      color: gray('300');
    }

    li:last-child {
      padding-right: 5rem;
    }
  }
}

.breadcrumb-item {
  display: inline-block;
  position: relative;
  font-size: $font-size-sm;
  line-height: 1.5rem;

  &:before {
    content: ' ';
    display: block;
    position: absolute;
    bottom: -0.1rem;
    left: 0;
    width: 0;
    height: 1px;
    padding: 0;
    background: $red;
    transition: width 0.3s ease;
  }

  &:not(.active):not(.breadcrumb-tags-wrapper):hover:before {
    width: calc(100% - 0.6rem);
  }

  &:after {
    content: '\203A';
    padding-left: 0.3rem;
    color: $gray-700;
  }

  a {
    background-image: none !important;
    color: $gray-700;
    text-decoration: none;

    &:hover {
      color: $black;
    }
  }

  .icon { font-size: 0.86em; }

  &:last-child:after {
    content: none;
  }

  &.active {
    color: $gray-700;
  }
}
