{# <div class="breadcrumb-container">
  <div>{% include '@atoms/nav-toggle/nav-toggle.twig' %}</div> #}
  <nav aria-label="breadcrumb" class="breadcrumb-wrapper" id="breadcrumb-wrapper">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">
          {% include '@atoms/icon/icon.twig' with { icon: 'icon-home' } %}
        </a>
      </li>
      <li class="breadcrumb-item breadcrumb-tags-wrapper">
        <a href="#" class="tag tag-primary">Sciences et techniques de l'ingénieur STI</a>
        <a href="#" class="tag tag-primary">Informatique et systèmes de communication IC</a>
        <a href="#" class="tag tag-primary">Management de la technologie et ingénierie financière CDM</a>
        <a href="#" class="tag tag-primary">Competition</a>
        <a href="#" class="tag tag-primary">Hyperloop</a>
      </li>
      <li class="breadcrumb-item"><a href="#">Schools</a></li>
      <li class="breadcrumb-item"><a href="#">ENAC</a></li>
      <li class="breadcrumb-item"><a href="#">Formations</a></li>
      <li class="breadcrumb-item active" aria-current="page">Projets</li>
    </ol>
  </nav>
{# </div> #}
