<div class="py-5 bg-gray-100">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <h3 class="h4">Inscrivez-vous à notre newsletter pour ne manquer aucune de nos actualités</h3>

        <div class="newsletter-signup-wrapper form-group mt-4">
          <label for="newsletter-signup">Votre adresse E-mail</label>
          <div class="input-group input-group-inner-space mb-3">
            <input type="text" id="newsletter-signup" class="form-control" placeholder="john.doe@gmail.com">
            <div class="input-group-append">
              <button class="btn btn-primary" type="button">Je m'inscris</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
