@charset 'utf-8';

$input-group-inner-space: 8px;

.input-group-inner-space {
  input,
  button { border-radius: $border-radius !important; }

  .input-group-append { padding-left: $input-group-inner-space; }
}

.newsletter-signup-wrapper {
  @include media-breakpoint-down(xs) {
    overflow: hidden;

    .form-control,
    .input-group-append,
    .btn {
      flex: 0 1 100%;
      width: 100%;
    }

    .input-group-inner-space .input-group-append {
      padding-left: 0;
      margin-top: $input-group-inner-space;

      .btn {
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
      }
    }
  }
}
