<div class="event-teaser-list-highlighted row">
  <div class="col-sm-12 col-md-6 col-lg-8">
    {% include 'molecules::event-teaser/event-teaser-highlighted.twig' %}
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4 d-flex flex-column justify-content-around">
    {% include 'molecules::event-teaser/event-teaser-small.twig' %}
    {% include 'molecules::event-teaser/event-teaser-small.twig' %}
    {% include 'molecules::event-teaser/event-teaser-small.twig' %}
    {% include 'molecules::event-teaser/event-teaser-small.twig' %}
  </div>
</div>
