{% extends "@pages/partials/layout.twig" %}

{% block grid %}{% endblock %}

{% block content %}
  <div class="container mb-5">
    <h1>Des connexions se créent pour dépasser la paralysie</h1>
  </div>

  <div class="bg-gray-100 py-5 mb-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <p class="lead">Des rats paraplégiques retrouvent l’usage de leurs pattes à la suite d’une rééducation neuroprosthétique qui provoque la création de nouvelles connexions cérébrales. Celles-ci transmettent les commandes motrices jusqu’aux centres d'exécution de la moelle épinière en aval de la blessure, permettant ainsi de marcher, nager et même monter des escaliers.</p>
        </div>
        <div class="col-lg-6">
          {% include '@content/picture/picture.twig' %}
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p>Par la combinaison de stimulations électrochimiques de la moelle épinière et d’une rééducation assistée par robot, des rats atteints d'une lésion médullaire clinique retrouvent le contrôle des membres paralysés. Mais comment ces commandes cérébrales (de marche, de natation, ou de montée d’escaliers) peuvent-elles contourner la lésion, atteindre la moelle épinière, et ainsi rendre possibles ces tâches complexes ? Des scientifiques de l'EPFL ont observé pour la première fois que le cerveau ré-achemine des commandes motrices spécifiques par des voies alternatives, soit des fibres neuronales poussant du tronc cérébral jusqu’à la moelle épinière. La thérapie provoque le développement de nouvelles connexions entre le cortex moteur et le tronc cérébral, et entre le tronc cérébral et la moelle épinière, reconnectant ainsi le cerveau avec la moelle épinière de l’autre côté de la lésion. Ces résultats paraissent le 19 mars dans la revue Nature Neuroscience.</p>
        <p>Grégoire Courtine, chef d’unité au Centre de neuroprothèses de l’EPFL, explique que « le cerveau développe de nouvelles connexions anatomiques à travers des régions du système nerveux restées intactes après la lésion. Le cerveau rebranche principalement les circuits du cortex cérébral, du tronc cérébral, et de la moelle épinière. Ce recâblage extensif, nous avons pu l’observer avec un niveau de détail jusqu’ici inégalé, grâce aux technologies dernier cri de microscopie du cerveau et de la moelle épinière. »</p>

        <blockquote class="blockquote">
          <p>La guérison n'est pas spontanée », poursuit Léonie Asboth, scientifique de l'EPFL et auteure principale de l’étude. «Pour que le recâblage ait lieu, les animaux doivent suivre une thérapie de rééducation intensive. Dans notre cas, cette thérapie implique une stimulation électrochimique de la moelle épinière, combinée à une physiothérapie active à l’aide d’un harnais de soutien intelligent. »</p>
          <footer class="blockquote-footer">
            — Grégoire Courtine, chef d’unité au Centre de neuroprothèses de l’EPFL
          </footer>
        </blockquote>

        <p>Dans le laboratoire, des rats rendus totalement paraplégiques par une contusion apprennent à remarcher à l'aide d'une thérapie qui combine une stimulation électrochimique de la moelle épinière et une rééducation assistée par robot. La moelle épinière du rat est doublement stimulée : d’abord par injection de produits pharmaceutiques, puis par stimulation électrique en-dessous de la lésion, afin d’activer les muscles des jambes. Une physiothérapie soutenue par un harnais intelligent qui allège le poids du corps et offre des conditions naturelles de marche permet aux rats de retrouver, au bout de quelques semaines, un contrôle volontaire et étendu de leurs pattes postérieures. A la longue, les rats peuvent contrôler leurs muscles même sans stimulation électrochimique, ni harnais. En 2012, le Prof. Courtine et son équipe avaient déjà montré que des rats portant des lésions médullaires arrivaient, à la suite d’une rééducation neuroprosthétique, à nager et monter des escaliers.</p>
        <p>En comparant les cerveaux de rats blessés puis réhabilités avec ceux de rats sains, les scientifiques ont pu identifier une région spécifique du tronc cérébral, la formation réticulée, comme acteur clé du rétablissement. Ce rôle, les scientifiques l’ont découvert à l’aide de techniques de pointe, l'optogénétique et la chimiogénétique, appliquées à des animaux transgéniques. Cet ensemble d'outils permet d’activer ou d’inhiber sélectivement certains circuits du cerveau et du tronc cérébral afin d’en étudier la fonction. Les chercheurs ont également utilisé, pour visualiser les voies nerveuses, un puissant microscope à « feuilles lumineuses » (light sheet microscope en anglais) nouvellement mis au point par le Wyss Center for Bio and Neuroengineering à Genève. Cette technologie permet de rendre transparent l'ensemble du système nerveux central, à l'exception de nerfs spécifiques où s’exprime une protéine fluorescente. En passant un feuillet de lumière à travers le cerveau et la moelle épinière intactes, les scientifiques ont obtenu des images 3D inédites qui illustrent l'organisation des voies nerveuses chez les animaux sains, et montrent comment la thérapie réorganise ces connexions. Les neurones blessés ne repoussent pas spontanément, mais une réorganisation des connections neurales se produit au-dessus de la lésion, activant de nouveaux canaux de communication.</p>
        <p>Reste encore à voir si la réhabilitation neuroprosthétique conduit aussi, chez l'homme, à un recâblage similaire du cerveau, du tronc cérébral et de la moelle épinière. Grégoire Courtine est optimiste: « Nous avons déjà montré que la plasticité du système nerveux, c’est-à-dire sa remarquable capacité à développer de nouvelles connexions après une lésion de la moelle épinière, est encore plus robuste chez l'homme que chez le rongeur. Nous sommes actuellement en train de tester notre thérapie sur des personnes atteintes d'une lésion de la moelle épinière au Centre hospitalier universitaire vaudois (CHUV). »</p>

      </div>
      <div class="col-md-4 offset-md-2">
        <div class="mb-5">
          <h2 class="h6">Liens</h2>
          <ul class="list-bullet">
            <li><a class="link-pretty" href="#">2012 Results</a></li>
            <li><a class="link-pretty" href="#">Press kit</a></li>
            <li><a class="link-pretty" href="#">Youtube</a></li>
          </ul>
        </div>

        <div class="mb-5">
          <h2 class="h6">En relation</h2>
          <ul class="list-bullet mb-5">
            <li><a class="link-pretty" href="#">Toutes les actualités Mediacom</a></li>
            <li><a class="link-pretty" href="#">Toutes les actualités EPFL</a></li>
          </ul>
        </div>

        <div class="mb-5">
          <h2 class="h6">IMAGES À TÉLÉCHARGER</h2>
          {% for i in 0..1 %}
            <div class="row mb-3">
              <div class="col-4">
                <a href="#">{% include '@content/picture/picture-news-thumb.twig' %}</a>
              </div>
              <div class="col-8">
                5760 x 3840 px
                © 2018 EPFL / Alban Kakulya
              </div>
            </div>
          {% endfor %}
        </div>

        <div class="mb-5">
          <h2 class="h6">Abonnez-vous aux publications de Mediacom</h2>
          <div class="form-group">
            <input type="email" placeholder="Votre email" class="form-control">
          </div>
        </div>

        <div class="mb-5">
          <h2 class="h6">Mots-clés</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, natus.</p>
        </div>

        <div class="mb-5">
          <p class="text-muted">Partager sur</p>
          <div>
            <a href="#" class="social-icon social-icon-discrete social-icon-facebook">
              <svg class="icon"><use xlink:href="#icon-facebook"></use></svg>
            </a>
            <a href="#" class="social-icon social-icon-discrete social-icon-twitter">
              <svg class="icon"><use xlink:href="#icon-twitter"></use></svg>
            </a>
            <a href="#" class="social-icon social-icon-discrete social-icon-instagram">
              <svg class="icon"><use xlink:href="#icon-instagram"></use></svg>
            </a>
            <a href="#" class="social-icon social-icon-discrete social-icon-mail-plane">
              <svg class="icon"><use xlink:href="#icon-mail-plane"></use></svg>
            </a>
            <a href="#" class="social-icon social-icon-discrete social-icon-whatsapp">
              <svg class="icon"><use xlink:href="#icon-whatsapp"></use></svg>
            </a>
            <a href="#" class="social-icon social-icon-discrete social-icon-googleplus">
              <svg class="icon"><use xlink:href="#icon-googleplus"></use></svg>
            </a>
          </div>
        </div>

      </div>
    </div>

  </div>
{% endblock %}
