<a href="#" class="card card-distinction link-trapeze-horizontal">
  {% block img %}
    <picture class="card-img-top">
      <img src="./images/event_teaser.png" class="img-fluid" title="professor Xile Hu" alt="a portrait of professor Xile Hu" />
    </picture>
  {% endblock %}
  <div class="card-body">
    <h3 class="card-title">EPFL doctorate Award 2017 – Priscilla Briquez</h3>
    <p>Text teaser — EPFL biologists and geneticists have uncovered how the circadian clock orchestrates the 24-hour cycle of gene expression by regulating the structure of chromatin, the tightly wound DNA-protein complex of the cell</p>
  </div>
</a>
