<div class="card-deck mini-cards">
  <h2 class="deck-title">Section title</h2>
  {% for i in 1..6 %}
    <a href="#" class="card link-trapeze-horizontal">
      {% block image -%}
      <picture class="card-img-top">
        <img src="./images/styleguide/minicard_teaser.jpg" class="img-fluid" title="" alt="" />
      </picture>
      {% endblock -%}
      {% block card_body %}
      <div class="card-body">
        {% block content %}
          <h3 class="card-title">{% block title %}Card title{% endblock %}</h3>
        {% endblock %}
      </div>
      {% endblock -%}
  </a>
  {% endfor %}
</div>

<div class="card-deck mini-cards">
  {% for i in 1..4 %}
    <a href="#" class="card link-trapeze-horizontal">
      {% block image -%}
      <picture class="card-img-top">
        <img src="./images/styleguide/minicard_teaser.jpg" class="img-fluid" title="" alt="" />
      </picture>
      {% endblock -%}
      {% block card_body %}
      <div class="card-body">
        {% block content %}
          <h3 class="card-title">{% block title %}Card title{% endblock %}</h3>
        {% endblock %}
      </div>
      {% endblock -%}
  </a>
  {% endfor %}
</div>
