<div class="nav-user user-login mr-lg-2">
  <a href="#" class="user-login-link">
    {% include '@atoms/icon/icon.twig' with {'icon': 'user', icon_classes: 'feather'} %}
    <span class="label">Connexion</span>
  </a>
</div>