<div class="row">
  <div class="col-md-6">
    {% include '@molecules/avatar-teaser/avatar-teaser.twig' with {'count': 2} %}
  </div>
  <div class="col-md-6">
    <div class="avatar-teaser">
      <a class="avatar-teaser-img" href="#">
        <img src="https://randomuser.me/api/portraits/men/3.jpg" alt="Julien Richard-Foy">
      </a>
      <a class="avatar-teaser-img-placeholder" href="#">
        2+
      </a>
      <div class="avatar-teaser-body">
        <p>Julien Richard-Foy</p>
      </div>
    </div>
  </div>
</div>

