<div class="avatar-teaser">
  {% for i in 1..count|default(1) -%}
  <a class="avatar-teaser-img" href="#">
    <img src="https://randomuser.me/api/portraits/men/{{ i }}.jpg" alt="Julien Richard-Foy">
  </a>
  {% endfor %}
  <div class="avatar-teaser-body">
    <p>Julien Richard-Foy</p>
  </div>
</div>
