@charset 'utf-8';

.avatar-teaser {
  display: flex;
  align-items: center;
  margin-bottom: $spacer;
}

.avatar-teaser-body {
  flex: 1 1 auto;
  padding: ($spacer * 0.5) 0;
  border-top: $border-width solid gray('100');
  border-bottom: $border-width solid gray('100');
  font-size: $font-size-sm;
  color: $text-muted;

  > * {
    margin: 0;
  }
}

$avatar-size: 50px;

.avatar-teaser-img {
  flex: 0 0 $avatar-size;
  width: $avatar-size;
  margin-right: ($spacer * 0.6);
  border-radius: 50%;

  // Handle image if avatar-teaser-img is a link
  img {
    max-width: 100%;
    border-radius: 50%;
  }

  + .avatar-teaser-img,
  + .avatar-teaser-img-placeholder {
    margin-left: ($spacer * -1.2);
  }

  + .avatar-teaser-img-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $avatar-size;
    height: $avatar-size;
    background-color: gray('200');
    border-radius: 50%;
    text-decoration: none;
    font-weight: $font-weight-bold;
    transition: background-color 0.2s;
  }
}

a.avatar-teaser-img,
a.avatar-teaser-img-placeholder {
  position: relative;
  z-index: 0;
  text-decoration: none;

  &:before {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    top: $border-width * -3;
    right: $border-width * -3;
    bottom: $border-width * -3;
    left: $border-width * -3;
    border: 1px solid $link-hover-color;
    background-color: $white;
    border-radius: 50%;
    opacity: 0;
    transform: scale(0.8);
    transition:
      background-color 0.2s,
      opacity 0.2s,
      transform 0.2s;
  }

  @include hover-focus {
    &:before {
      opacity: 1;
      transform: scale(1);
    }
  }
}

a.avatar-teaser-img-placeholder {
  @include hover {
    &:before {
      background-color: gray('200');
    }
  }
}
