<h5>Make your choice (multiple selection possible):</h5>
{% include '@atoms/checkbox/checkbox.twig' with { id: '12', label: 'First choice' } %}
{% include '@atoms/checkbox/checkbox.twig' with { id: '13', label: 'Choice number two' } %}
{% include '@atoms/checkbox/checkbox.twig' with { id: '14', label: 'Three is for me!' } %}
