@charset "utf-8";

.custom-checkbox .custom-control-label:before { border: 1px solid $gray-600; }

.custom-checkbox .custom-control-input:checked ~ .custom-control-label:before {
  border-color: $red;
}

.custom-control-label:before, .custom-control-label:after {
  top: 3.5px;

  @include media-breakpoint-up(sm){
    top: 3.5px;
  }

  @include media-breakpoint-up(md){
    top: 2px;
  }
}
