<div class="custom-controls-inline">
  {% include '@atoms/checkbox/checkbox.twig' with { id: '22', label: 'First choice', checked: 'checked' } %}
  {% include '@atoms/checkbox/checkbox.twig' with { id: '23', label: 'Choice number two' } %}
  {% include '@atoms/checkbox/checkbox.twig' with { id: '24', label: 'Three is for me!' } %}
</div>
