<div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" id="custom-check{{id}}">
  <label class="custom-control-label" for="custom-check{{id}}">{{ label ?: 'Option one' }}</label>
</div>
