@charset "utf-8";

.custom-checkbox .custom-control-label:before { border: 1px solid $gray-600; }

.custom-checkbox .custom-control-input:checked ~ .custom-control-label:before {
  border-color: $red;
}

.custom-control {
  padding-left: 1.5rem;
}

.custom-control-label:before, .custom-control-label:after {
  top: 3.5px;
  left: -1.5rem;

  @include media-breakpoint-up(sm){
    top: 3.5px;
  }

  @include media-breakpoint-up(md){
    top: 5px;
  }
}

.custom-controls-inline .custom-control {
  display: inline-flex;
  align-items: center;
  margin-right: 1rem;
}

.custom-control-input:focus ~ .custom-control-label:before {
  box-shadow: none;
  outline: 2px solid $gray-600;
  outline-offset: 1px;
}

.custom-control-input:checked:focus ~ .custom-control-label:before {
  outline-color: $red-dark;
}
