@import '../../variables';

$icon-size-base: 1em;

.tblx-icon {
  display: inline-flex;
  position: relative;
  top: 0.1em;
  width: $icon-size-base;
  height: $icon-size-base;
  font-size: 1em;
  line-height: 1em;
  color: inherit;
  transition: transform 0.2s;
  align-self: center;
  fill: currentColor;
}
