@import '../../variables.scss';

.tlbx-item-preview {
  position: relative;
  padding: 1.5rem;
  border: 2px solid $gray-lighter;
}

.tlbx-item-code {
  margin-top: 0;

  pre {
    margin-top: 0;
    max-height: 30vh;

    code { font-family: Monaco, monospace; }
    .react-syntax-highlighter-line-number { line-height: 1.47em; }
  }
}

.tlbx-actions {
  display: flex;
  justify-content: flex-end;
  margin-bottom: -0.8rem;
}

.tlbx-actions-link {
  position: relative;
  z-index: 1;
  padding: 0 0.5em;
  border: 1px solid $link-color;
  background-color: #fff;
  border-radius: 3px;
  color: $link-color;
  font-size: 12px;
  text-decoration: none;

  &:hover {
    color: $link-hover-color;
    border-color: $link-hover-color;
    text-decoration: none;
  }
}

.tlbx-hidden {
  display: none;
}
