@charset 'utf-8';

.header {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: $header-height;

  @include media-breakpoint-up(xl) {
    justify-content: flex-start;
  }

  img {
    margin-top: 0;
    width: 110px;
  }

  .logo {
    margin: 0;
    border: none;
    background-image: none;
    margin-left: 3 * $spacer;

    &:before {
      content: none;
    }
  }

  .nav-header {
    display: flex;
    flex: 0 0 auto;
    flex-flow: row nowrap;
    margin: 0 0 0 (3.7 * $spacer);
    padding: 0;

    li {
      display: flex;
      flex: 0 0 auto;

      a {
        position: relative;
        margin: 0;
        padding: 2rem 0.7rem;
        font-weight: bold;
        text-decoration: none;
      }

      a:after,
      &.dropdown .btn:before {
        content: ' ';
        display: block;
        position: absolute;
        top: 1em;
        left: 0.8rem;
        height: 6px;
        width: 7px;
        background: $red;
        opacity: 0;
        transform: none;
        transition: opacity 0.3s;
      }

      a:hover,
      a.open,
      a.active,
      &.active a,
      a:focus,
      &.current-menu-item a {
        color: $red;

        &:before {
          content: none;
        }

        &:after {
          opacity: 1;
        }
      }

      &:before {
        content: none;
      }
    }

    .dropdown {
      align-items: center;

      .btn {
        padding: 0.7rem;
        font-size: inherit;
        font-weight: bold;
        text-decoration: none;
      }

      .btn:before {
        top: 0 !important;
        border: none;
        border-radius: 0;
      }

      .btn:hover:before,
      .btn:focus:before {
        opacity: 1;
      }
    }

    .dropdown-item {
      padding: 0.25rem 1.25rem;
      font-weight: $font-weight-normal;
      &:after { content: none; }
      &:hover { color: $black; }
    }

    .icon { font-size: 0.9em; }
  }

  @include media-breakpoint-down (lg) {
    height: $header-height;
    max-height: $header-height;
    padding: 0 (0.9 * $spacer);

    .logo {
      margin-left: 0;
    }
  }
}

.header-light {
  padding-left: 0;
  padding-right: 0;

  .logo {
    margin-right: $spacer;
    padding-right: $spacer;
    border-right: 1px solid gray('300');
  }

  h1 {
    align-self: flex-start;
    flex: 0 1 100px;
    margin: auto 0;
    font-size: $font-size-base;
    color: theme-color('primary');
    text-transform: uppercase;
  }

  .drawer.open + .header-light-content {
    @include media-breakpoint-down(sm) {
        .nav-toggle-mobile {
          margin-right: -5rem;
          overflow: hidden;
        }
    }
  }

  .header-light-content {
    flex-grow: 1;
    flex-flow: row wrap;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(sm) {
      .nav-toggle-mobile {
        padding: .5rem 0.9rem;
      }
    }

    @include media-breakpoint-down(lg) {
      height: 100%;
      padding: 0.3rem 0;
      overflow: hidden;

      .logo {
        order: 1;
        margin: 0 auto 0 0;
        padding: 0;
        border: 0;
        img {
          width: 90px;
        }
      }
      .nav-toggle-mobile {
        order: 2;
        margin: 0 1rem 0 0;
        transition: margin 0.2s;
      }
      h1 {
        flex: 0 0 100%;
        margin-top: 9px;
        margin-bottom: 0;
        white-space: nowrap;
        order: 3;
      }
    }
  }

  .nav-header { margin-left: $spacer * 2; }
}
