{% set site_title = site_title|default('sub site name') %}
<header role="banner" class="header header-light">
  {% include '@atoms/drawer/drawer.twig' %}
  <div class="header-light-content">
    <a class="logo" href="#">
      <img src="svg/epfl-logo.svg" alt="Logo EPFL, École polytechnique fédérale de Lausanne" class="img-fluid">
    </a>
    <h1>{{site_title}}</h1>
    <ul aria-hidden="true" class="nav-header d-none d-xl-flex">
      {% if dropdown %}
      <li class="dropdown">
        <button class="btn btn-link dropdown-toggle nav-item" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Canal d'actualités
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Option 1</a>
          <a class="dropdown-item" href="#">Option 2</a>
          <a class="dropdown-item" href="#">Option 3</a>
        </div>
      </li>
      {% endif %}
      <li id="menu-item-888">
        <a class="nav-item" href="/propos-0/">À propos</a>
      </li>
      <li id="menu-item-999">
        <a class="nav-item" href="/campus-1/">Campus</a>
      </li>
      <li id="menu-item-666">
        <a class="nav-item" href="/ducation-2/">Éducation</a>
      </li>
      <li id="menu-item-777">
        <a class="nav-item" href="/ducation-2/">
          {% include "@atoms/icon/icon.twig" with { icon: 'icon-search' } %}
        </a>
      </li>
    </ul>
    {% include '@molecules/search/search.twig' %}
    {% include '@atoms/nav-lang/nav-lang.twig' %}
    {% include '@atoms/nav-toggle-mobile/nav-toggle-mobile.twig' %}
  </div>
</header>
