<header role="banner" class="header">
  <a class="logo" href="#">
    <img src="svg/epfl-logo.svg" alt="Logo EPFL, École polytechnique fédérale de Lausanne" class="img-fluid">
  </a>
  <ul aria-hidden="true" class="nav-header d-none d-xl-flex">
    {% for item in homepage.navbar_items %}
      <li id="menu-item-{{ loop.index }}"{# {% if loop.index == 2 %} class="active"{% endif %}#}>
        <a class="nav-item" href="#">{{ item }}</a>
      </li>
    {% endfor %}
  </ul>
  {% include '@molecules/search/search.twig' %}
  {% include '@molecules/search/search-mobile.twig' %}
  {% include '@atoms/nav-lang/nav-lang.twig' %}
  {% include '@atoms/nav-toggle-mobile/nav-toggle-mobile.twig' %}
</header>
