@charset 'utf-8';

.header {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: $header-height;

  img {
    margin-top: 0;
    width: 110px;
  }

  .logo {
    margin: 0;
    border: none;
    background-image: none;
    margin-left: 3 * $spacer;

    &:before {
      content: none;
    }
  }

  .nav-header {
    display: flex;
    flex-flow: row nowrap;
    margin: 0 0 0 (3.7 * $spacer);
    padding: 0;

    li {
      display: flex;
      flex: 0 0 auto;

      a {
        position: relative;
        margin: 0;
        padding: 2rem 0.7rem;
        font-weight: bold;
        text-decoration: none;

        &:after {
          content: ' ';
          display: block;
          position: absolute;
          top: 1.3rem;
          left: 1rem;
          width: calc(100% - 2rem);
          height: 5px;
          background: $red;
          opacity: 0;
          transition: opacity 0.3s;
        }
      }

      a:hover,
      a.open,
      a.active,
      a:focus,
      &.current-menu-item a {
        color: $red;

        &:before {
          content: none;
        }

        &:after {
          opacity: 1;
        }
      }

      &:before {
        content: none;
      }
    }
  }

  @include media-breakpoint-down (lg) {
    height: $header-height;
    max-height: $header-height;
    overflow: hidden;
    padding: 0 (0.9 * $spacer);

    .logo {
      margin-left: 0;
    }
  }
}

.header-light {
  .drawer-link {
    display: block;
    height: 100%;
    color: $white;
    background: $red;
    display: flex;
    max-width: 18px;
    position: relative;
    transition: max-width ease 0.3s;

    &:hover {
      max-width: calc(180px + 2em);
    }

    .link {
      display: inline-block;
      margin: auto;
      padding: 0.5em 1em;
      text-decoration: underline;
      min-width: 180px;
    }

    .icon {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }
  }
}
