@charset 'utf-8';

.introduction {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: 3rem 0 2.5rem;
  background: $white;

  @include media-breakpoint-down(sm) {
    min-height: 100vh;
  }

  h2,
  .h2 {
    @extend .mb-3;
  }
}
