@charset 'utf-8';

.introduction {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: 3rem 0 2.5rem;
  background: $gray-100;

  @include media-breakpoint-down(sm) {
    min-height: 100vh;
  }

  .introduction__content {
    @extend .container;
  }
}

.introduction--white {
  background: $white;
}
