@charset 'utf-8';

.nav-aside-layout {
  @include media-breakpoint-up(xl){
    display: flex;
    flex-wrap: nowrap;
    margin-top: $spacer;

    .nav-aside-wrapper {
      flex: 0 0 22%;
      order: -1;
      max-width: 22%;
      min-width: 320px;
      border-right: 1px solid gray('200');
    }

    .content {
      flex: 1 1 auto;
      .container { width: 90%; }
    }
  }
}

.nav-aside-layout .nav-aside-wrapper {
  display: block;

  @include media-breakpoint-up(xxl){
    flex: 0 0 16.1%;
    max-width: 16.1%;
  }
}

.nav-aside {
  padding-bottom: $spacer * 3;

  [class^="h"] { padding-left: $spacer * 3; }

  ul { padding-left: 1.2rem; }
  & > ul { padding-left: 0; }

  li {
    list-style-type: none;
    font-size: $font-size-base * 0.9;
    padding-left: 0;
    
    &:before {
      content: none;
    }

    li {
      border-top: none;
      margin: 0;
      padding: 0;
    }

    &.active > a {
      margin-right: -1px;
      margin-left: $spacer * 2;
      padding-left: $spacer * 1;
      background: gray('100');
      border-right: 2px solid theme-color('primary');
      font-weight: $font-weight-bold;
      color: $black;
      & + ul a { color: $black; }
      &:before { content: none; }
    }

    &.active:not(.menu-item-has-children)+li>a:before {
      content: none;
    }

    @include media-breakpoint-down(lg) {
      &.active > a { margin-right: $spacer * 2; }
    }
  }
  & > ul > li:first-child > a:before { content: none; }

  a {
    display: block;
    position: relative;
    padding: $spacer / 1.6 $spacer * 3;
    text-decoration: none;
    color: gray('700');

    &:before {
      content: ' ';
      position: absolute;
      top: 0;
      width: calc(100% - #{$spacer * 6});
      height: 1px;
      background: gray('200');
      transition: background 0.25s;
    }

    &:hover {
      color: theme-color('primary') !important;
      &:before { background: theme-color('primary'); }
    }
  }
  ul ul > li:first-child a:before { content: none; }
}
