<h2 class="mt-5 mb-4">The last news</h2>
<div class="row">
  {% for i in 1..2 %}
    <div class="col-md-6">
      {% include '@content-types/news/news-basic-teaser.twig' %}
    </div>
  {% endfor %}
</div>
<p class="text-center">
  <a class="link-pretty" href="#">See all news</a>
</p>