{% set title = title|default('Recherche') %}
{% set content = content|default('<p>Une organisation unique nous permet de figurer systématiquement dans le haut du classement mondial des universités pour les programmes de recherche.</p><p>Découvrez tout ce qui fait de l’EPFL le creuset idéal des meilleurs projets de recherche en Europe et à l’international.</p>') %}
<div class="hero">
  <div class="hero-content-container">
    <h1 class="hero-title">{{title}}</h1>
    {% if content %}
      <div class="hero-content">
        {{content}}
      </div>
    {% endif %}
  </div>
  <div class="hero-img">
    {% include '@molecules/cover/cover.twig' %}
  </div>
</div>
