@charset 'utf-8';

.hero {
  overflow: hidden;
  
  @include media-breakpoint-up(md) {
    display: flex;
    justify-content: space-between;
  }
}

.hero-content-container {
  @include media-breakpoint-up(md) {
    flex: 1 0 50%;
    position: relative;
    z-index: $zindex-5;
    margin-top: $grid-gutter-width * 4;
  }

  @include media-breakpoint-up(lg) {
    flex: 1 0 30%;
  }
}

.hero-content,
.hero-title {
  @include media-breakpoint-up(md) {
    padding: $grid-gutter-width;
    background-color: $white;
  }
}

.hero-title {
  @include media-breakpoint-up(md) {
    display: inline-block;
    max-width: 100%;
    min-width: 75%;
    margin-bottom: 0;
    padding-top: $grid-gutter-width / 2;
    padding-bottom: $grid-gutter-width / 2;
    text-align: right;
  }
}

.hero-content {
  @include media-breakpoint-up(md) {
    width: 110%;
  }
}

.hero-img {
  picture,
  figure {
    display: block;
    height: 100%;
    max-height: 100%;
  }

  img {
    object-fit: cover;
    object-position: center center;
    font-family: 'object-fit: cover;'; /* stylelint-disable-line */
    width: 100%;
    height: 100%;
  }

  @include media-breakpoint-up(xxl) {
    picture {
      height: 80vh;
      max-height: 80vh;
    }
  }

  @include media-breakpoint-up(md) {
    flex: 0 0 85%;
    margin-left: -35%;
  }

  @include media-breakpoint-up(lg) {
    margin-left: -15%;
  }
}
