<div class="drawer mr-3 mr-xl-0">
  <button class="drawer-toggle">
    {% include "@content/icon/icon.twig" with { icon: 'icon-chevron-right' } %}
  </button>
  <a href="#" class="drawer-link">
    <span class="text">
      Go to main site
    </span>
  </a>
</div>
