@charset 'utf-8';

.page-item {
  background-color: $pagination-bg;
  border-top: $pagination-border-width solid $pagination-border-color;
  border-bottom: $pagination-border-width solid $pagination-border-color;

  &:first-child,
  &:last-child {
    .page-link {
      border-radius: 0;
    }
  }

  &:first-child {
    border-left: $pagination-border-width solid $pagination-border-color;

    .page-link {
      margin-left: -$pagination-border-width;
    }
  }

  &:last-child {
    border-right: $pagination-border-width solid $pagination-border-color;

    .page-link {
      margin-right: -$pagination-border-width;
    }
  }

  &.disabled {
    .page-link {
      border-color: transparent;
    }

    &:last-child .page-link {
      margin-right: 0;
    }

    &:first-child .page-link {
      margin-left: 0;
    }
  }
}

.page-link {
  display: inline-flex;
  justify-content: center;
  min-width: calc(#{$font-size-base * 1.25} + #{$pagination-padding-y * 2});
  height: 100%;
  background-color: transparent;
  border-color: transparent;
  border-radius: 0;
  text-decoration: none;
  font-weight: $font-weight-bold;
  transition: margin 0.1s ease-in-out;

  @include link-trapeze(bottom, $pagination-border-color, 0.3rem);

  &:before {
    left: -$pagination-border-width;
    margin-top: $pagination-border-width;
    width: calc(100% + #{$pagination-border-width * 2});

    .page-item:first-child & {
      border-left-color: $pagination-bg;
    }

    .page-item:last-child & {
      border-right-color: $pagination-bg;
    }
  }

  @include hover {
    z-index: 2;
    border: $pagination-border-width solid $pagination-hover-border-color;
    margin-top: calc(-0.3rem + #{$pagination-border-width});
  }

  @include hover-focus-active {
    background-color: $pagination-hover-bg;
  }
}
