<figure>
  <a href="#">
    <img class="img-fluid d-block mx-auto" src="./images/styleguide/illustrations/brand-identity-teaser.png" alt="Sponsor">
  </a>
  <hr>
  <figcaption><a href="#">Lorem ipsum dolor sit amet.</a></figcaption>
  <hr class="bold">
</figure>