<figure>
  <a href="#">
    <img class="img-fluid d-block mx-auto" src="./images/styleguide/illustrations/brand-identity-teaser.png" alt="Sponsor">
  </a>
  <hr>
  <a href="#">
    <figcaption>Lorem ipsum dolor sit amet.</figcaption>
  </a>
  <hr class="bold">
</figure>
