{% set isSpecial = true %}

{% extends "@templates/base/base.twig" %}

{% block header %}
  {% include '@organisms/header/header-light.twig' with { site_title: 'Event title', dropdown: true } %}
{% endblock %}

{% block breadcrumb %}
<div class="breadcrumb-container">
  {% include '@molecules/breadcrumb/breadcrumb.twig' %}
</div>
{% endblock %}

{% block content %}

<div class="container-full" itemscope itemtype="http://schema.org/Event">
  <div class="container-full py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 itemprop="name">Event title may contains several words on maybe multiple lines, who knows?</h1>
        </div>
      </div>
      <div class="row py-3">
        <div class="col-lg-8 col-md-6">
          {% include '@atoms/picture/picture.twig' %}
        </div>
        <div class="col-lg-4 col-md-6 bg-gray-100">
          {% include '@molecules/metabox/metabox.twig' %}
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>An event about technology</h2>
        <p>L’exposition Kung Fu Motion découle d’une initiative de recherche majeure initiée en 2012, la « Hong Kong Martial Arts Living Archive » (les Archives vivantes des arts martiaux de Hong Kong). Cette recherche en cours est une collaboration entre la International Guoshu Association, City University of Hong Kong, et le Laboratoire de muséologie expérimentale (eM+) de l’Institut des humanités digitales de l’EPFL.</p><p>Hong Kong est un extraordinaire réservoir pour qui s’intéresse au patrimoine immatériel lié aux arts martiaux. Entre le début et ma moitié du XXème siècle, Hong Kong servit de refuge à des milliers d’immigrants de Chine, parmi lesquels quelques-uns des plus grands artistes martiaux au monde. Si leurs pratiques, rendues célèbres mondialement par le cinéma de Jackie Chan et autres, y demeurent présentes, la globalisation, l’urbanisation et le nombre décroissant de pratiquants les menacent de disparition.</p><p>« Kung Fu Motion examine les stratégies permettant d’encoder, de récupérer et de reproduire le patrimoine immatériel de manière à permettre à ces archives d’être « vivantes » dans le présent », explique la Prof. Sarah Kenderdine, directrice d’ArtLab et du laboratoire eM+ à l’EPFL.</p>
        <div class="mt-5">
          {% include '@atoms/button/button.twig' %}
        </div>
      </div>

      <div class="col-md-4 offset-md-2">
        <div class="">
          <a href="#" class="btn btn-secondary">
            <span class="mr-1">
              {% include '@atoms/icon/icon.twig' with {icon: 'icon-arrow-right'} %}
            </span>
            Ajouter à mon calendrier
          </a>
        </div>

        <div class="mt-5">
          <h2 class="h5 text-uppercase">Liens</h2>
          <ul class="list-bullet">
            <li><a class="link-pretty" href="#">Site web de l'exposition</a></li>
          </ul>
        </div>


        <div class="mt-5">
          <h2 class="h5 text-uppercase">Informations pratiques</h2>
          <ul class="list-bullet">
            <li>Organisation: <a href="#">Bureau ArtLab</a></li>
            <li>Accessibilité Tout public</li>
          </ul>
        </div>

        <div class="mt-5">
          <p class="h5 text-uppercase">Partager sur</p>
          <div>
          {% include '@atoms/social-icon/social-icon-link-group.twig' with {discrete: true} %}
          </div>
        </div>

        <div class="mt-5">
          <h2 class="h5 text-uppercase">Abonnez-vous aux publications de Mediacom</h2>
          <div class="form-group">
          <div class="input-group">
            <input type="email" placeholder="Votre email" class="form-control">
            <button type="submit" class="btn btn-primary input-group-append">
              {% include '@atoms/icon/icon.twig' with {icon: 'icon-mail-plane'} %}
            </button>
          </div>
          </div>
        </div>

        <div class="mt-5">
          <h2 class="h5 text-uppercase">Mots-clés</h2>
          <span class="tag tag-light">Technologie</span>
          <span class="tag tag-light">2018</span>
          <span class="tag tag-light">Public</span>
          <span class="tag tag-light">EPFL</span>
          <span class="tag tag-light">Suisse</span>
          <span class="tag tag-light">A.I.</span>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer_container %}
<div class="bg-gray-100 pt-5">
  <div class="container">
    {% block footer %}
      {% include '@organisms/footer/footer-light.twig' %}
    {% endblock %}
  </div>
</div>
{% endblock %}
