<div class="bg-gray-100 py-5">
  <div class="container">
    <div class="social-share-container">
      <div class="social-share ">

        <div class="social-share-text">
          Partager sur
        </div>

        <a href="#" class="social-icon social-icon-facebook social-icon-discrete">
          {% include 'atoms::icon/icon.twig' with { icon: 'icon-facebook' } %}
        </a>
        <a href="#" class="social-icon social-icon-twitter social-icon-discrete">
          {% include 'atoms::icon/icon.twig' with { icon: 'icon-twitter' } %}
        </a>
        <a href="#" class="social-icon social-icon-instagram social-icon-discrete">
          {% include 'atoms::icon/icon.twig' with { icon: 'icon-instagram' } %}
        </a>
        <a href="#" class="social-icon social-icon-mail social-icon-discrete">
          {% include 'atoms::icon/icon.twig' with { icon: 'icon-mail-plane' } %}
        </a>
        <a href="#" class="social-icon social-icon-whatsapp social-icon-discrete">
          {% include 'atoms::icon/icon.twig' with { icon: 'icon-whatsapp' } %}
        </a>
        <a href="#" class="social-icon social-icon-googleplus social-icon-discrete">
          {% include 'atoms::icon/icon.twig' with { icon: 'icon-googleplus' } %}
        </a>
      </div>

      <div class="social-share-copylink">

        <div class="social-share-text">
          Copier le lien
        </div>

        <div class="input-group">
          <input type="text" class="form-control" value="www.epfl.ch/xyz" aria-label="Lien de partage">
          <div class="input-group-append">
            <button class="btn btn-primary btn-sm social-share-copy" type="button" data-success="Copié !">Copier</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
