<div class="form-group">
  <label for="custom-check1">Checkboxes (multiple choice)</label>

  {% for i in [1,2,3] %}
  {% include "content::checkbox/checkbox.twig" with {
    id: i,
    label: 'Option ' ~ i
  } %}
  {% endfor %}
</div>
