<div class="card-deck">
  {% for person in people %}
    {% include '@organisms/contact/contact-compact-for-columns.twig' with {'increment': person.index, 'person': person} %}
  {% endfor %}
  <div class="">
  </div>
  <div class="">
  </div>
</div>
