<div class="container">
  <div class="row">
    {% for i in 1..3 %}
      {% include '@organisms/contact/contact-compact.twig' %}
    {% endfor %}
  </div>
  <div class="row">
    {% for i in 1..1 %}
      {% include '@organisms/contact/contact-compact.twig' %}
    {% endfor %}
    <div class="card">
    </div>
    <div class="card">
    </div>
  </div>
</div>
