@charset 'utf-8';

$contact-list-avatar: 2.5rem;
$person-avatar-height: 8rem;

.person-card-avatar {
  height: $person-avatar-height;
}

.contact-list {
  border-top: 2px solid $gray-200;
  font-size: $font-size-base * 0.95;
}
.contact-list-row {
  position: relative;
  padding: 0.9rem 0 0.9rem ($contact-list-avatar + 0.6rem);
  border-top: 1px solid $gray-200;

  @include media-breakpoint-up(md) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0 0.8rem;
    grid-auto-rows: auto;
    min-height: $contact-list-avatar + 0.6rem;
  }

  @include media-breakpoint-up(xl) {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    grid-template-columns: $contact-list-avatar repeat(4, 1fr);
  }
}

.contact-list-row .contact-list-item {
  @include media-breakpoint-up(md) {
    align-self: center;

    &:nth-child(2) {
      grid-column: 1;
      grid-row: 1;
    }

    &:nth-child(3) {
      grid-column: 1;
      grid-row: 2;
    }

    &:nth-child(4) {
      grid-column: 2;
      grid-row: 1;
    }

    &:nth-child(5) {
      grid-column: 2;
      grid-row: 2;
    }

    &:nth-child(6) {
      grid-column: 3;
      grid-row: 1 ;
    }
  }
}

.contact-list-item {
  display: block;
  line-height: 1.48rem;
}

.contact-list-avatar {
  position: absolute;
  top: 1rem;
  left: 0;
  width: $contact-list-avatar;

  @include media-breakpoint-up(xl) {
    top: 0.3rem;
  }
}

@include media-breakpoint-up(xl) {
  // table mode
  .contact-list {
    display: table;
    width: 100%;
  }

  .contact-list-row {
    display: table-row;
    padding:0;
  }

  .contact-list-item {
    display: table-cell;
    vertical-align: middle;
  }

  .contact-list-avatar {
    display: table-cell;
    position: relative;
    top: 0;
    width: $contact-list-avatar + 0.8rem;
    height: $contact-list-avatar + 0.65rem;
    padding: 0.35rem 0.8rem 0.3rem 0;
  }

  .contact-list-item,
  .contact-list-avatar {
    border-bottom: 1px solid $gray-200;
  }
}

.contact-list-avatar-placeholder {
  img {
    background: $gray-200;
    color: black;
    border-radius: 50%;
    overflow: hidden;
  }
}
