<div class="card">
  <div class="card-body">
    <div class="my-3 d-md-flex align-items-center">
      <img class="img-fluid rounded-circle mr-4" src="https://randomuser.me/api/portraits/women/2.jpg" alt="Heidy Traill">
      <div class="w-100 mt-2 mt-md-0">
        <a class="btn btn-block btn-primary mb-2" href="mailto:heidy.traill@epfl.ch">heidy.traill@epfl.ch</a>
        <a class="btn btn-block btn-secondary" href="tel:+41791234567">+41 79 123 45 67</a>
      </div>
    </div>
    <h3><a class="link-pretty" href="#">Heidy Traill</a></h3>
    <dl class="definition-list definition-list-grid mb-0">
      <dt>Fonction</dt>
      <dd>Journaliste, Secouriste</dd>
      <dt>Bureau</dt>
      <dd><a class="link-pretty" href="#">BM 4129</a></dd>
    </dl>
  </div>
</div>
