@charset 'utf-8';

.contact-list {
  display: table;
  width: 100%;
}

.contact-list-item {
  display: table-row;

  > * {
    display: table-cell;
  }

  picture {
    width: 4rem;
    padding-right: 1rem;
  }
}
