<div class="contact-list">
  <div class="contact-list-item">
    {% include '@atoms/picture/picture-avatar.twig' %}
    <p>Name</p>
    <a href="#">john.doe@epfl.ch</a>
    <a href="#">+41 21 69 <b>36054</b></a>
    <a href="#">CM1245</a>
  </div>
</div>
