<div class="custom-controls-inline">
  {% include '@atoms/radio/radio.twig' with { id: '22', name: '2', label: 'Offres du midi', checked: 'checked' } %}
  {% include '@atoms/radio/radio.twig' with { id: '23', name: '2', label: 'Offres du soir' } %}
</div>
