<div class="custom-control custom-radio">
  <input type="radio" id="custom-radio{{id}}" name="customRadio" class="custom-control-input">
  <label class="custom-control-label" for="custom-radio{{id}}">{{ label ?: 'Option one' }}</label>
</div>
