@charset 'utf-8';

.custom-radio .custom-control-label:before { border: 1px solid $gray-700; }

.custom-radio .custom-control-input:checked ~ .custom-control-label:before {
  border-color: $red;
}

.custom-radio .custom-control-input:focus ~ .custom-control-label:before {
  box-shadow: 0 0 0 1px $white, 0 0 0 2px $red;
  border: 1px solid $white;
}
