<div class="col-md-4">
  <div href="#" class="card">
    <picture class="card-img-top">
      <img src="./images/event_teaser.png" class="img-fluid" title="professor Xile Hu" alt="a portrait of professor Xile Hu" />
    </picture>

    <div class="card-body">
      <p>a classic card</p>
    </div>
  </div>
</div>