<div class="col-md-4">
  <a href="#" class="card link-trapeze-horizontal">
    <picture class="card-img-top">
      <img src="./images/event_teaser.png" class="img-fluid" title="professor Xile Hu" alt="a portrait of professor Xile Hu" />
    </picture>

    <div class="card-body">
      <h3 class="card-title">Startup Acceleration Workshops</h3>
    </div>
  </a>
</div>
