<div class="col-md-4">
  <a href="#" class="card link-trapeze-horizontal">
    <picture class="card-img-top">
      <img src="./images/event_teaser.png" class="img-fluid" title="professor Xile Hu" alt="a portrait of professor Xile Hu" />
    </picture>

    <div class="card-body">
      <h3 class="card-title">Startup Acceleration Workshops</h3>
      <p>Avec <strong>John Doe</strong></p>
      <p>10.01.2018 <span>&rsaquo;</span> 13:00 - 17:30</p>
      <p>Lieu: ArtLab EPFL</p>
      <p>Catégorie: <strong>IPG Seminar</strong></p>
    </div>
  </a>
</div>
