@charset 'utf-8';

//
// Normal card
.card {
  border-color: $gray-100;
  border-radius: 0;
  flex: 1 1 0%;
  max-width: 100%;
  margin-bottom: $grid-gutter-width;

  .bg-gray-100 & {
    // Watch out for this, if a card is inside a white area that is
    // itself inside a gray area, the border will be too dark.
    border-color: gray('300');
  }
}

.card-sm {
  margin-bottom: $grid-gutter-width / 2;
}

.card-gray {
  border-color: $gray-200;

  .card-footer,
  .card-body {
    background: $gray-100;
    transition:
      transform 0.2s,
      background 0.2s;
  }
}

a.card-gray:hover .card-body { background: $white; }

.card-body {
  .card-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: $spacer;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
    font-size: $font-size-sm;
    color: $text-muted;
  }

  + .card-footer {
    padding-top: 0;
  }

  .card-info + p {
    margin-top: .5em;
  }

  p:last-of-type {
    margin-bottom: 0;
  }

  .card-img-top + .card-title { margin-top: $card-spacer-y; }
  .card-img-top + & {
    border-top: none !important;
  }

  .card-sm &,
  &.card-sm {
    padding: $card-spacer-x * 0.5;
  }
}

.card-header {
  border-color: $hr-border-color;
}

.card-footer {
  padding-bottom: $card-spacer-x;
  border: 0;
}

//
// Distinction is when you have a little red fancy flag in the card body.
.card-distinction .card-body {
  position: relative;
  border-top: 1px solid $red !important; // Must override even on hover
  padding-top: ($card-spacer-y * 2);

  &:before {
    content: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{$red}' viewBox='0 0 20 30'%3E%3Cpath d='M0 0h20v30L10 19 0 30z'/%3E%3C/svg%3E"), "#", "%23");
    display: inline-block;
    position: absolute;
    top: 0;
    left: $card-spacer-x;
    width: 20px;
    height: 30px;
  }
}

//
// Card info
.card-info {
  font-size: $font-size-sm;
  margin-bottom: $paragraph-margin-bottom;
  color: $text-muted;
  &:last-of-type { margin-bottom: 0; }

  // Add the separator between the elements
  > :not(:last-of-type) {
    &:after {
      content: ' \203A ';
      margin: 0 0.25em 0 0.15em;
    }
  }
  .card-info-date:not(:last-child):after { content: ' \2013 '; }

  a {
    display: inline-block;
    color: $red;
    text-decoration: none;

    @include hover {
      @include link-pretty($red, $body-bg, $body-color);
    }
  }

  p { color: $body-color; }
  p + & { margin-top: $paragraph-margin-bottom; }
}

.card-info-bordered {
  padding: ($spacer * 0.75) 0;
  border-top: 1px solid $hr-border-color;
  border-bottom: 1px solid $hr-border-color;
}

.card-info-border-sm {
  padding: ($spacer * 0.25) 0;
}

//
// Card items as links
a.card-img-top {
  position: relative;
  .card-body & { display: block; }

  &:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 0 6px $link-hover-color;
    opacity: 0;
    transition: opacity 0.2s;
  }

  &:hover:before {
    opacity: 0.6;
  }
}

a.card-title,
.card-title a {
  transition: color 0.3s;

  @include link-pretty($red, $body-bg, $body-color);

  background-position: 0 90%;

  .card-gray & {
    @include link-pretty($red, gray('100'), $body-color);
  }
}

//
// Whole card as a link
a.card {
  text-decoration: none;

  .card-title {
    transition: 0.4s ease;
  }

  &:hover {
    color: $body-color;
    border-color: $body-color;

    .card-title {
      color: $link-hover-color;
    }
  }

  &.link-trapeze-horizontal:before {
    top: calc(100% + 1px);
    right: -1px;
    left: -1px;
    width: auto;
  }
}

//
// Card overlay image
.card-img-overlay {
  right: auto;
  max-width: 400px;

  .card-title {
    margin-bottom: 0;
  }

  .card-title,
  .h4 {
    @include media-breakpoint-down(sm) {
      font-size: $h4-font-size * 0.8;
    }
  }
}

// Fix for IE not handling image height correctly
// https://github.com/philipwalton/flexbugs/issues/75
.card-img-top,
.card-overlay .card-img {
  min-height: 1px;
}

//
// Grayscale look, see event finished
.card-grayscale {
  &:hover {
    .card-img-top img { filter: grayscale(0%); }
    .card-body { opacity: 1; }
  }

  .card-img-top img {
    transition: filter 0.2s;
    filter: grayscale(100%);
  }

  .card-body {
    opacity: 0.75;
    transition:
      opacity 0.3s,
      background 0.3s,
      border 0.3s !important;
  }
}
