@charset 'utf-8';

.teaser {
  display: block;
  border: none;
  transition:
    background-color 0.15s ease
    border-color 0.15s ease
    box-shadow 0.15s ease;

  &:hover {
    background-color: white;
    box-shadow: 0 2px 0 0 $red, 0 2px 28px 8px rgba(0, 0, 0, 0.32);
  }

  .card-text {
    color: $black;
    transition: none;
  }
}
