<div class="list-group">
  {% for i in 1..4 %}
    <a href="#" class="list-group-item list-group-teaser link-trapeze-vertical">
      <div class="list-group-teaser-container">
        <div class="list-group-teaser-thumbnail">
          {% include '@atoms/picture/picture.twig' with {'variant':'news-thumb'} %}
        </div>
        <div class="list-group-teaser-content" itemscope itemtype="http://schema.org/Article">
          <p class="h5" itemprop="name">Physics: new e-books for the AIAA Education Series</p>
          <p>
            <time datetime="2018-03-26" itemprop="datePublished"><span class="sr-only">Published:</span>26.03.2018</time>
            <span class="text-muted" itemprop="description">— Lorem ipsum dolor sit amet, consectetur adipiscing elit. Si enim ad populum me vocas, eum. Quid enim me prohiberet
              Epicureum esse, si probarem, quae ille diceret?</span>
          </p>
        </div>
      </div>
    </a>
  {% endfor %}

  {% if bottomlink %}
    <a href="#" class="list-group-teaser-more">
      Afficher plus d'actualités
    </a>
  {% endif %}
</div>
