<a href="#" class="card link-trapeze-horizontal">
  {% block img %}
    <picture class="card-img-top">
      <img src="./images/styleguide/event_teaser.png" class="img-fluid" title="professor Xile Hu" alt="a portrait of professor Xile Hu" />
    </picture>
  {% endblock %}
  <div class="card-body" itemscope itemtype="http://schema.org/Article">
    <div class="card-header">
      <strong>Press release</strong>
      <time datetime="2018-01-31" itemprop="datePublished"><span class="sr-only">Published:</span>31.01.18</time>
    </div>
    <h3 class="card-title" itemprop="name">Two months in Pyeongchang to study Korean snowfalls</h3>
    <div class="card-info">
      <span>ENAC</span>
      <span itemprop="about">Environment</span>
    </div>
    <p itemprop="description">Text teaser — EPFL biologists and geneticists have uncovered how the circadian clock orchestrates the 24-hour cycle of gene expression by regulating the structure of chromatin, the tightly wound DNA-protein complex of the cell</p>
  </div>
</a>
