{% set id %}carouselNews{% endset %}
{% set extraClass %}carousel-highlighted-news{% endset %}
{% extends "@molecules/carousel/carousel-base.twig" %}

{% block slide %}
  {% for i in 1..4 %}
  <div class="carousel-item {% if loop.index0 == 0 %}active{% endif %}">
    {% include '@organisms/fullwidth-teaser/fullwidth-teaser-horizontal.twig' %}
  </div>
  {% endfor %}
{% endblock %}
