<div class="upload">
  <input type="file" name="upload-input" class="upload-input" id="upload-input" />
  <label for="upload-input" class="btn btn-secondary btn-sm icon-right">
    Choose a file
    {% include "atoms::icon/icon.twig" with { icon: 'icon-upload' } %}
  </label>
  <div class="upload-preview">No file</div>
</div>
