<div class="upload">

  <div class="box">
    <input type="file" name="file-2[]" id="file-2" class="inputfile inputfile-2" data-multiple-caption="{count} files selected" multiple />

    <label for="file-2">
      {% include "atoms::icon/icon.twig" %}
      <span>Choose a file&hellip;</span>
    </label>
  </div>
</div>
