@charset 'utf-8';

.upload {
  padding: 1rem 0.85rem;
  border: 1px solid $gray-300;

  ul { margin-left: 0.3rem; }
}

.upload-input {
  position: absolute;
  overflow: hidden;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  z-index: -1;
}
