<div class="introduction bg-gray-100">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
          <h2>Étudier à l’EPFL</h2>
          <p>Treize filières de formation dans les sciences de l’ingénieur, des programmes doctoraux de choix, des laboratoires de pointe dirigés par des professeurs de réputation internationale, un campus moderne en plein développement, des liens privilégiés avec l’industrie: l’EPFL offre des conditions d’études hors du commun aux jeunes qui envisagent d’amorcer une formation supérieure dans le domaine des sciences et de la technique.</p>
      </div>
    </div>
  </div>
</div>
