@charset 'utf-8';

.introduction {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: 3rem 0 2.5rem;
  background: $white;

  h2,
  .h2 {
    margin-bottom: $spacer;
  }
}
