<h4>Regular</h4>
<input type="text" class="tag-input" placeholder="Enter a tag...">
<hr>
<h4>Small</h4>
<input type="text" class="tag-input tag-input-sm" placeholder="Enter a tag..." value="Antistatique, EPFL, 🎒">
