<h5>Non-link</h5>
<span class="tag tag-plain">Plain</span>
<span class="tag tag-light">Light</span>

<hr>
<h5>Link</h5>
<a href="#" class="tag tag-primary">Primary</a>
<a href="#" class="tag tag-secondary">Secondary</a>
<hr>
<h5>removable</h5>
<button class="btn tag tag-primary">
  Primary
  <span class="btn btn-secondary remove" title="Remove">×</span>
</button>
<button class="btn tag tag-secondary">
  Secondary
  <span class="btn btn-secondary remove" title="Remove">×</span>
</button>
<hr>
<h5>Small</h5>
<span class="tag tag-sm tag-plain">Plain</span>
<span class="tag tag-sm tag-primary">Primary</span>
<span class="tag tag-sm tag-secondary">Secondary</span>
<span class="tag tag-sm tag-light">Light</span>
<hr>
