<h5>non-link</h5>
<span class="tag tag-plain">Plain</span>
<span class="tag tag-light">Light</span>

<hr>
<h5>link</h5>
<a href="#" class="tag tag-primary">Primary</a>
<a href="#" class="tag tag-secondary">Secondary</a>
<hr>
<h5>removable</h5>
<span class="tag tag-primary">
  Primary
  <a href="javascript:void(0)" class="remove" tabindex="-1" title="Remove">×</a>
</span>
<span class="tag tag-secondary">
  Secondary
  <a href="javascript:void(0)" class="remove" tabindex="-1" title="Remove">×</a>
</span>
<hr>
<h5>small</h5>
<span class="tag tag-sm tag-plain">Plain</span>
<span class="tag tag-sm tag-primary">Primary</span>
<span class="tag tag-sm tag-secondary">Secondary</span>
<span class="tag tag-sm tag-light">Light</span>
<hr>
