@charset 'utf-8';
@use 'sass:color';

a.tag {
  &:hover {
    background: $gray-100;
    border-top-color: color.adjust($gray-300, $lightness: -10%);
    border-right-color: color.adjust($gray-300, $lightness: -10%);
    border-left-color: color.adjust($gray-300, $lightness: -10%);
    color: $black;
    text-decoration: none;
  }
}

.tag {
  display: inline-block;
  margin: 0 0.1em 0.3em 0;
  padding: 0.4em 0.6em;
  text-decoration: none;
  background: $white;
  border: 1px solid $gray-300;
  font-size: inherit;
  line-height: 1;
  font-weight: 400;
  color: $gray-800;
  border-radius: $border-radius;
  transition:
    color 0.2s ease-in-out,
    background 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  vertical-align: middle;

  .remove {
    text-decoration: none;
    float: right;
    padding: 0;
    border: 0;
    font-size: 1.25em;
    line-height: 0.5em;
    margin-top: 0.2em;
    margin-left: 0.3em;
    color: inherit;
    transition: all .2s ease-in-out;
    
    &:hover {
      color: $red;
    }
  }

  &.tag-sm {
    font-size: 0.75em;
  }

  &.tag-plain {
    border-color: $gray-600;
    background: $gray-600;
    color: $white;
  }
  
  &.tag-light-gray {
    border-color: $gray-100;
    background: $gray-100;
  }

  @each $color, $value in $theme-colors {
    &.tag-#{$color} {
      @if $color == "secondary" {
        border-bottom: 1px solid $black;
      }

      @else if $color == "light" {
        border-bottom: 1px solid $gray-300;
      }

      @else {
        border-bottom: 1px solid $value;
      }
    }
  }
}

a.tag,
.btn.tag,
button.tag {
  
  & > * {
    vertical-align: middle;
  }
  
  .remove {
    width: 1.25rem;
    height: 1.25rem;
    margin-top: -1px;
    margin-bottom: -1px;
    margin-right: -2px;
    background: $gray-100;
    border-radius: 2px;
    line-height: 1.3rem;
    text-align: center;
  }
  
  &:hover,
  &:focus {
    border-color: $black;
    
    .remove {
      background: $red;
      color: #fff;
    }
  }
  
  &:focus,
  &:focus-visible,
  &.focus {
    outline: solid 2px $red !important;
    outline-offset: 2px;
  }
  
  &.tag-secondary,
  &.tag-plain {
    &:focus,
    &:focus-visible,
    &.focus {
      outline-color: $gray-600 !important;
    }
  }
  
  &.tag-plain {
    .remove {
      color: $black;
    }
    
    &:hover,
    &:focus {
      border-color: $black;

      .remove {
        background: #fff;
        color: $red;
      }
    }
  }
}

.tag-group {
  padding: 1em;
  background: color.adjust($white, $lightness: -5%);
  border-radius: $border-radius;
  border: 1px solid $gray-300;

  label {
    font-size: 0.85em;
    color: $gray-600;
  }
}

.tag-input {
  &:not(.selectize-control) {
    width: 100%;
  }

  &.tag-input-sm + .tag-input .tag {
    font-size: $font-size-sm;
  }

  .selectize-input {
    padding: 0.3em 0.2em 0.1em;
    background: color.adjust($white, $lightness: -5%);
    border-radius: $border-radius;
    border: 1px solid $gray-300;
  }
}

.btn.tag.tag-sm,
.tag-input-sm .tag.btn {
  .remove {
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
  }
}

.selectize-control {
  cursor: text;

  .selectize-input {
    @extend .form-control;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: $input-height;

    .tag {
      margin-right: 0.4em;
      cursor: pointer;

      &.active,
      &:hover {
        background: $gray-100;
        border-top-color: color.adjust($gray-300, $lightness: -10%);
        border-right-color: color.adjust($gray-300, $lightness: -10%);
        border-left-color: color.adjust($gray-300, $lightness: -10%);
        color: $black;
        text-decoration: none;
      }
    }

    input {
      margin: 0 0.1em 0.2em 0;
      padding: 0.2em 0.4em;
      background: none;
      min-width: 15px !important; // Displays blinking cursor on first focus in some browsers
      border: 0;
      line-height: 1;
      outline: none;
    }
  }

  .selectize-dropdown {
    position: absolute;
    background: $white;
    border: 1px solid $gray-300;
    border-top: none;
  }

  .selectize-dropdown-content {
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;

    .option,
    .create {
      border-top: 1px solid $gray-200;
      padding: 0.4em 0.6em;
      color: $gray-700;
      cursor: pointer;

      &:hover,
      &.active {
        background-color: color.adjust($gray-100, $lightness: 5%);
        color: $body-color;
      }
    }
  }
}
