@charset 'utf-8';

.social-feed-group {
  margin-left: -16px;
  margin-right: -16px;
  padding: 4rem 0;

  .social-feed {
    padding-left: 0;
    padding-right: 0;
  }

  @include media-breakpoint-up(xl) {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    margin: 0;
    padding: 2rem 0;

    .social-feed-container {
      padding: 0 0.7rem;

      .ie & {
        flex: 0 0 33.33%;
        max-width: 33.33%;
      }

      .social-feed {
        height: 100%;
        padding: 2.2rem 1.5rem 1.5rem;
      }

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }
}

.social-feed-container {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;

  @include media-breakpoint-up(xl) {
    flex-flow: row nowrap;
  }

  .social-feed {
    margin-bottom: 3rem;

    @include media-breakpoint-up(xl) {
      margin-bottom: 0;
      height: 100%;
    }
  }
}

.social-feed-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
