@charset 'utf-8';

.social-feed-group {
  padding: 4rem 0;

  @include media-breakpoint-up(lg) {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    padding: 2rem 0;

    .social-feed-container {
      padding: 0 0.7rem;

      .ie & {
        flex: 0 0 33.33%;
        max-width: 33.33%;
      }

      .social-feed {
        height: 100%;
      }

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }
}

.social-feed-container {
  display: flex;
  flex-flow: column nowrap;

  @include media-breakpoint-up(lg) {
    flex-flow: row nowrap;
  }

  .social-feed {
    margin-bottom: 3rem;

    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
      height: 100%;
    }
  }
}

.social-feed-content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
