<div class="container">
  <div class="row">
    <div class="col-md-6">
      <a href="#" class="card trapeze-horizontal-container">
        <div class="card-body">
          <div class="card-info">
            <div class="row">
              <div class="col-6">
                <strong>Press release</strong>
              </div>
              <div class="col-6 text-right">
                <time>31.01.18</time>
              </div>
            </div>
          </div>
          <hr>
          <h3 class="card-title">Title</h3>
          <div class="card-info">
            ENAC
            <span class="separator caret">{% include "atoms::icon/icon.twig" with { icon: 'icon-chevron-right' } %}</span>
            Environment
          </div>
          <p>Text teaser — EPFL biologists and geneticists have uncovered how the circadian clock orchestrates the 24-hour cycle of gene expression by regulating the structure of chromatin, the tightly wound DNA-protein complex of the cell</p>
        </div>
        <span class="trapeze-horizontal"></span>
      </a>
    </div>
    <div class="col-md-6">
      <a href="#" class="card trapeze-horizontal-container">
        <picture class="card-img-top">
          <img src="./images/event_teaser.png" class="img-fluid" title="professor Xile Hu" alt="a portrait of professor Xile Hu" />
        </picture>
        <div class="card-body">
          <div class="card-info">
            <div class="row">
              <div class="col-6">
                <strong>Press release</strong>
              </div>
              <div class="col-6 text-right">
                <time>31.01.18</time>
              </div>
            </div>
          </div>
          <hr>
          <h3 class="card-title">Title</h3>
          <div class="card-info">
            ENAC
            <span class="separator caret">{% include "atoms::icon/icon.twig" with { icon: 'icon-chevron-right' } %}</span>
            Environment
          </div>
          <p>Text teaser — EPFL biologists and geneticists have uncovered how the circadian clock orchestrates the 24-hour cycle of gene expression by regulating the structure of chromatin, the tightly wound DNA-protein complex of the cell</p>
        </div>
        <span class="trapeze-horizontal"></span>
      </a>
    </div>
  </div>
</div>
