{% set isSpecial = true %}

{% extends "@templates/base/base.twig" %}

{% block header %}
<header role="banner" class="header header-light">
  {% include '@atoms/drawer/drawer.twig' %}
  <div class="header-light-content">
    <a class="logo" href="#">
      <img src="svg/epfl-logo.svg" alt="Logo EPFL, École polytechnique fédérale de Lausanne" class="img-fluid">
    </a>
    <h1>Online People Directory</h1>
    {% include '@molecules/search/search.twig' %}
    {% include '@atoms/nav-lang/nav-lang.twig' %}
    {% include '@atoms/nav-toggle-mobile/nav-toggle-mobile.twig' %}
  </div>
</header>
{% endblock %}

{% block breadcrumb %}
<div class="breadcrumb-container">
  {% include '@molecules/breadcrumb/breadcrumb.twig' %}
</div>
{% endblock %}

{% block grid %}{% endblock %}

{% block content %}
  <div class="container">
    {# Title and actions #}
    <div class="d-flex flex-wrap justify-content-between align-items-baseline">
      <h1 class="mr-3">Prenom Nom</h1>
      <div>
        {% include '@atoms/icon/icon.twig' %}
        <a href="#">
          Edit profile <span class="sr-only">of Prenom Nom</span>
        </a>
      </div>
    </div>

    {# Header area #}
    <div class="row mt-5">
      <div class="col-md-12">
        <div class="row">

          <div class="col-md-6">
            {# Person avatar and buttons #}
            <div class="row">
              <div class="col-sm-12 col-md-6 mb-3">
                <!-- Default profile picture markup -->
                <!--
                {% include '@atoms/picture/picture-avatar.twig' %}
                -->

                <!-- Placeholder when there is no profile picture -->
                <img src="svg/avatar-placeholder.svg" alt="Avatar placeholder image" class="img-fluid rounded-circle bg-gray-100">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <h4>Habilitation Dr. Ing</h4>
                <p>
                  <a href="#" class="btn btn-sm btn-primary">prenom.nom@epfl.ch</a>
                  <a href="#" class="btn btn-sm btn-secondary">+41 21 666 77 88</a>
                  <a href="#" class="btn btn-sm btn-secondary">abbr.epfl.ch</a>
                </p>
              </div>
              <div class="col-sm-12">
                <p>
                  {% include "@atoms/social-icon/social-icon-link.twig" with {
                    discrete: true,
                    icon: "icon-facebook"
                  } %}
                  {% include "@atoms/social-icon/social-icon-link.twig" with {
                    discrete: true,
                    icon: "icon-twitter"
                  } %}
                  {% include "@atoms/social-icon/social-icon-link.twig" with {
                    discrete: true,
                    icon: "icon-linkedin"
                  } %}
                </p>
              </div>
              <div class="col-sm-12 my-3">
                <h5>Disponibilités</h5>
                <p>
                  Absente un vendredi sur deux.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            {# Collapsible info #}
            {% include '@molecules/collapse-group/collapse-group-rich-content.twig' with { title: false } %}

            <p class="mt-4">
              <small>
                <a href="#">Liste complète des adresses et fonctions</a>
                <br/>
                {% include "@atoms/icon/icon.twig" with { icon: 'icon-lock' } %}<a href="#">Données administratives</a>
              </small>
            </p>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="position-relative mt-5">
    {# Intermediate navigation #}
    <nav class="nav-tabs-light-wrapper sticky-top" id="intermediate-nav">
      <div class="container">
        <ul class="nav nav-tabs-light">
          <li class="nav-item">
            <a class="nav-link active" href="#biography">Biography</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#publications">Publications</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#teaching-and-phd">Teaching & PhD</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#research">Research</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      {# Biography area #}
      <div class="row mt-5">
        <div class="col-md-7">
          <h2 id="biography">Biography<span class="sr-only">of Xavier Alexandre</span></h2>
          {% include '@atoms/collapse/collapse-partial.twig' %}
        </div>
        <div class="col-md-5">
          <h2>Fields of expertises<span class="sr-only">of Xavier Alexandre</span></h2>
          <p>
            <a href="#" class="tag tag-primary">Expertise</a>
            <a href="#" class="tag tag-primary">Expertise</a>
            <a href="#" class="tag tag-primary">Expertise</a>
            <a href="#" class="tag tag-primary">Expertise</a>
            <a href="#" class="tag tag-primary">Expertise</a>
            <a href="#" class="tag tag-primary">Expertise</a>
            <a href="#" class="tag tag-primary">Expertise</a>
            <a href="#" class="tag tag-primary">Expertise</a>
          </p>
        </div>
      </div>

      {# Publications #}
      <div class="mt-5">
        <h2 id="publications">Publications<span class="sr-only">of Xavier Alexandre</span></h2>
        {% include '@molecules/list-group/list-group-borderless.twig' %}
          <a class="btn btn-light btn-block btn-sm" aria-hidden="true" href="#publications">
            Show all publications
          </a>
      </div>

      {# Teaching and PHD area #}
      <div class="mt-5">
        <h2 id="teaching-and-phd">Teaching & PHD<span class="sr-only">of Xavier Alexandre</span></h2>
        <div class="row mt-4">
          <div class="col-md-4">
            <h4>Teaching</h4>
            <div class="card">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Computer science</li>
                <li class="list-group-item">Communication systems</li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <h4>PhD Programs</h4>
            <div class="card">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, reiciendis!</li>
                <li class="list-group-item">Lorem ipsum dolor sit amet, consectetur.</li>
                <li class="list-group-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <h4>PhD Students</h4>
            <div class="mt-3">
              {% include '@molecules/avatar-teaser/avatar-teaser.twig' %}
              {% include '@molecules/avatar-teaser/avatar-teaser.twig' %}
              {% include '@molecules/avatar-teaser/avatar-teaser.twig' %}
            </div>
          </div>
        </div>
      </div>

      <div class="mt-5">
        <h2 id="courses">Courses<span class="sr-only">of Xavier Alexandre</span></h2>
        {% include '@molecules/tabs/tabs-vertical.twig' %}
      </div>


      <div class="mt-5">
        <h2 id="research">Research<span class="sr-only">of Xavier Alexandre</span></h2>

        <h3>Topics</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>

        <h3>Ongoing Research Projects</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>

      </div>

    </div>
  </div>
{% endblock %}

{% block footer %}
  {% include '@organisms/footer/footer-light.twig' %}
{% endblock %}
