@charset 'utf-8';

.people-title {
  font-size: 1.75rem;
  font-weight: 700;
}

.people-basic-info {
  flex-direction: row-reverse;
}

.people-contacts {

  hr {
    border-color: $gray-300;
    margin: 0;
  }
}

.list-group + h3 {
  margin-top: 2em;
}

.people-contents {

  .list-group {

    .list-group-item-borderless:not(.education-list):last-child {
      border-bottom: 0;
      margin-bottom: 0;
    }
  }
}

.education-list {
  display: grid;
  grid-template-columns: minmax(20%,4fr) minmax(20%,3fr) minmax(20%,3fr) 8rem;
  padding-top: .75rem;
  padding-bottom: .75rem;

  p {
    margin: 0;
    padding-right: 1rem;

    &:last-child {
      padding-right: 0;
      text-align: right;
    }
  }
}
