<div class="alert alert-{{ type ?: 'success' }} alert-dismissible fade show" role="alert">
  {{ content|default('<strong>Yay!</strong> Cette barre vous confirme un succès dans l’accomplissement d’une tâche, comme l’envoi d’un formulaire par exemple.') }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

