@import '../../variables';

body {
  margin: 0;
  padding: 0;
}

.tlbx-h2 { text-align: center; }

.styleguide {
  display: grid;
  grid-template-columns: $toolbar-width 240px 1fr;
  min-height: 100vh;
  max-width: 100%;
  font-family: inherit, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: inherit;

  @media only screen and (max-width: 767px) {
    display: block;
    overflow: hidden;
  }
}

.tlbx-toolbar-wrapper {
  display: flex;
  flex: 0 0 $toolbar-width;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: $toolbar-width;
  padding: 5px;
  color: white;

  flex-direction: column;

  z-index: 999;
  box-sizing: border-box;
  grid-column: 1;
  background-color: $color-primary;

  @media only screen and (max-width: 767px) {
    bottom: auto;
    width: 100%;
  }
}

.tlbx-sidebar-wrapper {
  flex: 0 0 240px;
  grid-column: 2;
  background-color: $gray-lighter;

  @media only screen and (max-width: 767px) {
    position: fixed;
    top: $toolbar-width;
    right: 0;
    bottom: 0;
    transform: translateX(100%);
    transition: transform 0.3s;
    z-index: 998;
    overflow-y: auto;
    min-height: 100vh;
    max-width: 240px;
    box-shadow: -3px 0 20px 0 rgba(0, 0, 0, 0.3);
    &.tlbx-sidebar-open { transform: translateX(0); }
  }
}

.tlbx-content-wrapper {
  flex: 1 1 auto;
  grid-column: 3;
  align-self: start;
  overflow: hidden;

  @media only screen and (max-width: 767px) {
    padding-top: $toolbar-width;
    box-sizing: border-box;
    width: 100%;
  }
}

.tlbx-content {
  padding: 1.2rem 2rem;
}

.tlbx-notes,
.tlbx-doc-markdown-wrapper {
  table {
    max-width: 100%;
    margin-bottom: 1rem;
  }

  table th,
  table td {
    padding: .75rem;
    border-top: 1px solid #dee2e6;
  }

  table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
  }
}
