<div class="social-feed-item">

  <span class="social-icon social-icon-twitter social-icon-round">
    {% include 'atoms::icon/icon.twig' with { icon: 'icon-twitter' } %}
  </span>


  <div class="social-feed-item-content">
    <div>
      <p class="social-feed-header"><strong>@epflENAC</strong> <span class="text-small">il y a 8 heures</span></p>
      <p>A Berlin, les étudiantes et étudiants de Dominique Perrault exposent leurs travaux à la galerie Aedes Architecture Forum du 27 janvier au 8 mars. @dpa_official http://www.aedes..</p>

      {% include 'atoms::picture/picture-one-third.twig' %}

      <p>What's your fave spot for sunset on campus? 😎</p>
    </div>
    <div>
      <a class="btn btn-secondary mt-4">Nous rejoindre sur Twitter</a>
    </div>
  </div>

  

  

</div>
