@charset 'utf-8';

.social-feed-item {
  position: relative;
  padding: 2.2rem 1.5rem 1.5rem;
  background: $white;
  color: $gray-400;

  strong {
    color: $black;
  }

  .social-icon {
    position: absolute;
    top: -1.3rem;
  }

  .social-feed-header {
    margin-bottom: 0.6rem;
  }

  picture {
    img {
      margin-bottom: $paragraph-margin-bottom;
    }
  }
}
