<div class="social-feed">
  {% include '@atoms/social-icon/social-icon.twig' with { icon: 'icon-twitter', round: true } %}

  <div class="social-feed-content">
    <div>
      <p class="social-feed-header"><strong>@epflENAC</strong> <span class="text-small">il y a 8 heures</span></p>
      <p>Exposition à Berlin</p>

      {# {% include '@atoms/picture/picture-one-third.twig' %} #}
    </div>
    <div>
      <a class="btn btn-secondary mt-4">Nous rejoindre sur Twitter</a>
    </div>
  </div>
</div>
