@charset 'utf-8';

.datepicker-event {
  display: none;

  & + .picker .picker__holder {
    background: none;

    @include media-breakpoint-down (sm) {
      overflow: hidden;
      padding: 1.1rem 0 0.9rem;
      border-left: 0;
      border-right: 0;

      table {
        display: block;
        position: relative;
        min-height: 3rem;

        @each $i in (1, 2, 3, 4, 5, 6) {
          tbody[data-week="#{$i}"] {
            $left: $i - 1;

            left: calc(-100% * #{$left});
          }
        }

        tbody {
          position: absolute;
          top: 1.3;
          left: 0;
        }

        tbody,
        thead {
          display: flex;
          flex-flow: row nowrap;
          width: 100%;

          tr {
            display: flex;
            flex: 0 0 100%;

            td,
            th {
              display: block;
              flex: 1 1 auto;
              padding-bottom: 0.2rem;
            }
          }
        }
      }
    }

    @include media-breakpoint-up (md) {
      $tablewidth: 500px;

      padding: 3.5rem 0 4rem !important;

      .picker__header {
        position: initial;
      }

      .picker__box {
        position: relative;
      }

      .picker__nav--prev,
      .picker__nav--next {
        top: 50%;
        width: 3.8rem;
        height: 3.8rem;
        background: $white;
        transition: box-shadow 0.2s;

        &:before {
          top: 1.64rem;
          left: 0;
          border-color: $red $red transparent transparent;
          transition: border-width 0.2s;
        }

        &:hover {
          box-shadow: 0 0 20px 1px rgba(33, 33, 33, 0.25);
          border: 1px solid $gray-100;

          &:before {
            border-color: $red-dark $red-dark transparent transparent;
            border-width: 3px 3px 0 0;
          }
        }
      }

      .picker__nav--prev {
        left: calc(50% - #{$tablewidth} / 2 - 4.3rem);
      }

      .picker__nav--next {
        right: calc(50% - #{$tablewidth} / 2 - 4.3rem);
      }

      .picker__table {
        max-width: $tablewidth;
        margin: auto;
      }

      .picker__day {
        width: 2.7rem;
        height: 2.7rem;
        padding: 0.4325em 0;
        line-height: 1.6rem;
        transition: border 0.2s;
        margin-bottom: 0.2rem;
      }

      .picker__weekday {
        padding-bottom: 1.1em;
      }
    }

    .picker__day--highlighted {
      font-weight: bold;
      color: $red;
      border-color: transparent;

      &.picker__day--selected {
        color: $white;
      }
    }

    .picker__day--today {
      border-color: $red;
    }

    .nextMonthLabel,
    .prevMonthLabel {
      position: absolute;
      top: 6.8rem;
      font-size: 8rem;
      font-weight: bold;
      color: $gray-200;
      text-transform: uppercase;
      z-index: -1;
    }

    .nextMonthLabel {
      left: calc(50% + 19rem);
    }

    .prevMonthLabel {
      right: calc(50% + 19rem);
    }
  }

  & + .picker {
    & + .nextMonthLabel,
    & ~ .prevMonthLabel {
      display: none;
    }
  }
}

