<div class="row">
  <div class="col-md-6">
    <figure>
      {% include '@atoms/picture/picture.twig' %}
      <figcaption>Lorem ipsum dolor sit amet.</figcaption>
    </figure>
  </div>
  <div class="col-md-6 d-flex justify-content-end align-items-center">
    <figure>
      {% include '@atoms/picture/picture-one-third-square.twig' %}
      <figcaption>Lorem ipsum dolor sit amet.</figcaption>
    </figure>
  </div>
</div>
