<div class="row">
  <div class="col-md-4">
    <img src="https://via.placeholder.com/150x150.jpg" alt="">
    <hr class="mt-auto">
    Lorem ipsum dolor sit amet.
    <hr class="bold">
  </div>
  <div class="col-md-4">
    <img src="https://via.placeholder.com/200x150.jpg" alt="">
    <hr class="mt-auto">
    Lorem ipsum dolor sit amet.
    <hr class="bold">
  </div>
  <div class="col-md-4">
    <img src="https://via.placeholder.com/300x150.jpg" alt="">
    <hr class="mt-auto">
    Lorem ipsum dolor sit amet.
    <hr class="bold">
  </div>
</div>
