<div class="list-group">
  {% for i in 1..3 %}
  <div class="list-group-item list-group-item-borderless list-group-item-infoscience">
    <div class="record-content">
      <p>Noms des auteurs: <strong>Titre de la publication lorem ipsum dolor sit amet consectetur adipscing elit</strong>; <i>Sous-titre lorem ipsum dolor sit amet consectetur adipscing elit</i>; Références, lieu de publication, etc.</p>
    </div>
    <div class="item-metadata">
      <p class="item-date">18.11.2019</p>
      <p class="item-links small">
        <a href="#" target="_blank">Notice détaillée</a> – <a href="#" target="_blank">Texte intégral</a>
      </p>
    </div>
  </div>
  {% endfor %}
  <!-- Publication with thumbnail image -->
  <div class="list-group-item list-group-item-borderless list-group-item-infoscience has-thumbnail">
    <div class="list-group-thumbnail">
      {% include '@atoms/picture/picture-thumb-square.twig' %}
    </div>
    <div class="list-group-content">
      <div class="record-content">
        <p>Noms des auteurs: <strong>Titre de la publication lorem ipsum dolor sit amet consectetur adipscing elit</strong>; <i>Sous-titre lorem ipsum dolor sit amet consectetur adipscing elit</i>; Références, lieu de publication, etc.</p>
      </div>
      <div class="item-metadata">
        <p class="item-date">18.11.2019</p>
        <p class="item-links small">
          <a href="#" target="_blank">Notice détaillée</a> – <a href="#" target="_blank">Texte intégral</a>
        </p>
      </div>
    </div>
  </div>
</div>
