
// Colors
$black: #010a15;
$white: #f0f0f0;
$color-primary: #003baf;
$color-secondary-light: #3474a8;
$color-secondary-dark: #012f4d;
$gray-lighter: #f2f2f4;
$alto: #d8d8d8;


$body-color: $black;
$body-bg: $white;
$link-color: $color-secondary-light;
$link-hover-color: $color-secondary-dark;

$toolbar-width: 60px;
