<button
  class="collapse-title collapse-title-desktop collapsed"
  type="button"
  data-toggle="collapse"
  data-target="#collapse-1"
  aria-expanded="false"
  aria-controls="collapse-1"
>
  Collapse title
</button>
<div class="collapse collapse-item collapse-item-desktop" id="collapse-1">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto distinctio dolores fugiat modi necessitatibus officiis provident qui tempora ullam voluptas? Asperiores dolorem eius error esse nisi reprehenderit repudiandae ut! Eligendi.</p>
</div>
