{% extends "@pages/partials/layout.twig" %}

{% block grid %}{% endblock %}


{% block content %}
  <div class="container">
    <div class="d-flex flex-wrap justify-content-between align-items-baseline">
      <h1 class="mr-3">Actualités</h1>
      <p>FILTRES</p>
    </div>

    <div class="mb-4">
      {% include '@components/teaser-basic-page/teaser-basic-page-highlighted.twig' %}
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        {% include '@components/news/news-basic-teaser.twig' %}
      </div>
      <div class="col-md-6">
        {% include '@components/news/news-basic-teaser.twig' %}
      </div>
    </div>

    {% include '@components/news/news.twig' %}

    {% include '@components/pagination/pagination.twig' %}

  </div>
{% endblock %}
