<div class="nav-container">
  <nav class="nav-main nav-main-mobile" id="main-navigation" role="navigation">
    <div class="nav-wrapper">
      <div class="nav-container current-menu-parent">
        <ul id="menu-main" class="nav-menu">
          <li class=""><a href="#">About</a></li>
          <li><a href="#">Education</a></li>
          <li><a href="#">Research</a></li>
          <li><a href="#">Innovation</a></li>
          <li class="current-menu-item"><a href="#">Schools</a></li>
          <li><a href="#">Campus</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Add side navigation here in order to display it in the mobile menu -->
  {% if not isSpecial %}
  <aside class="nav-aside-wrapper">
    {% block sideNav %}
      {% include '@organisms/nav-aside/nav-aside.twig' %}
    {% endblock %}
  </aside>
  {% endif %}
</div>
