{% set isSpecial = true %}

{% extends "@templates/base/base.twig" %}

{% block header %}
  {% include '@organisms/header/header-light.twig' with { site_title: 'People' } %}
{% endblock %}

{% block breadcrumb %}
<div class="breadcrumb-container">
  {% include '@molecules/breadcrumb/breadcrumb-tagged.twig' %}
</div>
{% endblock %}

{% block content %}

<div class="container">
  <h1>Résultats de recherche pour "Nom de la personne"</h1>
  <h2>10 résultats</h2>
</div>

<div class="container mt-5">
  <div class="row">
    {% for i in 1..8 %}
      <div class="col-md-4">
        {% if i % 3 == 0 %}
          {% include '@organisms/contact/contact-compact.twig' with {
            'function': 'Doctoral Assistant, Project Assistant, Scientist, Professor, Guest',
            'picture_url': 'https://randomuser.me/api/portraits/women/3.jpg',
            'name': 'Dolores Felicitas Lane',
            'email': 'dolores.felicitas.lane@epfl.ch'
          } %}
        {% endif %}
        {% if i % 3 == 1 %}
          {% include '@organisms/contact/contact-compact.twig' with {
            'function': 'Doctoral Assistant, Project Assistant, Scientist, Full time Professor, Educational technologist',
            'picture_url': 'https://randomuser.me/api/portraits/men/4.jpg',
            'name': 'Marcellus Bradley',
            'email': 'marcellus.bradley@epfl.ch'
          } %}
        {% endif %}
        {% if i % 3 == 2 %}
          {% include '@organisms/contact/contact-compact.twig' %}
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block footer_container %}
  <div class="bg-gray-100 pt-5">
    <div class="container">
      {% block footer %}
        {% include '@organisms/footer/footer-light.twig' %}
      {% endblock %}
    </div>
  </div>
{% endblock %}
