{% set navType = navType is defined ? navType : 'nav-toggle' %}

<div class="{{ navType }}">

  {% include '@components/header/header.twig' %}

  <div class="main-container">

    {% include '@utilities/nav/nav.twig' with {'no_toggle_wrapper' : true} %}

    <main role="main" class="content pt-5">
      <div class="container">
        {% include '@components/breadcrumbs/breadcrumbs.twig' %}
      </div>
      <div class="hero-container">
        <img src="https://picsum.photos/1920/400?random&amp;raa=46" class="img-fluid hero" width="1920px" height="700px">
      </div>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="title">
              <h1>Cours et plans d'études master</h1>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Est enim effectrix multarum et magnarum voluptatum. Neque
              solum ea communia, verum etiam paria esse dixerunt. Legimus tamen Diogenem, Antipatrum, Mnesarchum, Panaetium,
              multos alios in primisque familiarem nostrum Posidonium. Quam nemo umquam voluptatem appellavit, appellat; Quas
              enim kakaw Graeci appellant, vitia malo quam malitias nominare.</p>
            <p>Habent enim et bene longam et satis litigiosam disputationem. Mihi vero, inquit, placet agi subtilius et, ut ipse
              dixisti, pressius. Quid enim de amicitia statueris utilitatis causa expetenda vides. Cum praesertim illa perdiscere
              ludus esset. Quid est, quod ab ea absolvi et perfici debeat? Huius ego nunc auctoritatem sequens idem faciam.
              Qui-vere falsone, quaerere mittimus-dicitur oculis se privasse; Eam si varietatem diceres, intellegerem, ut etiam
              non dicente te intellego; Negat enim summo bono afferre incrementum diem.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
