<div class="basic-page-teaser">
  <picture class="card-img-top fading">
    <img src="./images/basic_page_teaser.jpg" aria-labelledby="background-label" alt="An image description"/>
  </picture>

  <div class="basic-page-teaser-text">

    <div class="basic-page-teaser-text-header">
      <h3>Tech Transfer</h3>
      <a href="#" aria-label="Link to read more of that page" class="btn btn-epfl triangle-outer-bottom-right d-none d-xl-block">En savoir plus</a>
    </div>

    <div class="basic-page-teaser-text-content">
      <p>La volonté de garantir que les résultats de notre recherche parviennent à la pratique professionnelle et génèrent des services et produits innovants pour notre société, est au cœur de la mission de l'EPFL. <br/> L'ENAC s'emploie à promouvoir et à faciliter ce transfert de technologie en encourageant la création de partenariats avec les institutions publiques et les entreprises et en offrant le programme de sensibilisation et de soutien InnoSeed ENAC.</p>
    </div>

    <div class="basic-page-teaser-text-footer">
      <a href="#" aria-label="Link to read more of that page" class="btn btn-epfl btn-block d-xl-none">En savoir plus</a>
    </div>
  </div>



</div>
