<div class="list-group list-events">
  {% include '@molecules/card/card-event.twig' with { live_now: true } %}
  
  {% include '@molecules/card/card-event.twig' with { live_future: true } %}
  
  {% for i in 1..3 %}
    {% include '@molecules/card/card-event.twig' %}
  {% endfor %}

  {% if bottomlink|default(true) %}
    <a href="#" class="list-group-teaser-more">
      Voir tous les événements
    </a>
  {% endif %}
</div>
