<div class="row align-items-center">
  <div class="col-md-6">
    <h2>Les prochains événements</h2>
  </div>
  <div class="col-md-6 text-right">
    <a href="#">Voir tous les événements de la faculté</a>
  </div>
</div>
<div class="row mt-2">
  <div class="col-md-6">
    {% include '@content-types/event/event-highlight.twig' %}
  </div>
  <div class="col-md-6">
    {% include '@content-types/event/event-listing.twig' %}
  </div>
</div>
