@charset 'utf-8';

.list-events {
  
  @include media-breakpoint-up(xl) {
    
    .list-group-teaser-content {
    
      .event-actions {
        position: absolute;
        top: 0;
        right: 1rem;
      }
    }
  }
}

// Featured events

.list-group.list-events-featured {
  
  .list-group-teaser-container {
    flex-direction: column;
    height: 100%;
  }
  
  .list-group-teaser-content {
    
    .event-actions {
      position: static;
      
      .btn {
        width: 100%;
      }
    }
  }
  
  @include media-breakpoint-up(lg) {
    flex-direction: row;
  
    .list-group-teaser + .list-group-teaser {
      margin-top: 0;
      margin-left: -1px;
    }
    
    .list-group-teaser-thumbnail {
      padding-bottom: 0;
    }
  }
}

// Events page

.events-links {
  
  ul {
    margin-bottom: 0;
  }
  
  li {
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    
    & + li {
      margin-left: 1rem;
    }
  }
}

.events-pager {
  .pagination {
    margin-bottom: 0;
  }
}