@charset 'utf-8';

// Card

.event-location a {
  color: $link-color;
  text-decoration-line: underline !important;
  text-decoration-color: $link-hover-color;
  transition:
    text-decoration-color 0.2s ease-in-out,
    color 0.2s ease-in-out;

  @include hover-focus-active {
    background: transparent !important;
    text-decoration-color: $link-color !important;
  }

  &:active {
    color: $red;
  }
}

// List

.list-events {
  
  .list-group-teaser-content {
    .card-title {
      max-width: 660px;
    }
    .event-actions {
      .btn + .btn {
        margin-left: 0.5rem;
      }
    }
  }
  
  @include media-breakpoint-up(xl) {
    
    .list-group-teaser-content {
    
      .event-actions {
        position: absolute;
        top: 0;
        right: 1rem;
        
        @for $i from 1 through 7 {
          .col-md-#{$i} & {
            position: static;
          }
        }
        
      }
    }
  }
}

// Featured events

.list-group.list-events-featured {
  
  .list-group-teaser {
    background: transparent;
    margin-bottom: 1rem;
    
    &:last-child {
      margin-bottom: 0;
    }
  }
  
  .list-group-teaser-container {
    background: #fff;
    flex-direction: column;
    height: 100%;

    .btn-secondary {
      &:hover,
      &:active,
      &:focus {
        background: #fff;
      }
    }
  }
  
  .list-group-teaser-content {
    
    .event-actions {
      position: static;
      
      .btn {
        width: 100%;
        
        & + .btn {
          margin-left: 0;
          margin-top: 0.75rem;
        }
      }
    }
  }
  
  @include media-breakpoint-up(lg) {
    flex-direction: row;
    margin-left: -10px;
    margin-right: -10px;
    
    .list-group-teaser {
      margin-bottom: 0;
      padding-left: 10px;
      padding-right: 10px;
      
      & + .list-group-teaser {
        margin-top: 0;
      }
    }
    
    .list-group-teaser-thumbnail {
      padding-bottom: 0;
    }
    
    .list-group-teaser-content {
      display: flex;
      flex-direction: column;
      
      .card-info {
        display: flex;
        flex-direction: column;
        height: 100%;
      }
      
      .event-actions {
        margin-top: auto;
      }
    }
  }
}

// Events page

.events-links {
  
  @include media-breakpoint-up(lg) {
    ul {
      margin-bottom: 0;
    }
  }
  
  li {
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    margin-right: 1rem;
    
    &:last-child {
      margin-right: 0;
    }
  }
}

.events-pager {
  .pagination {
    margin-bottom: 0;
  }
}