@charset 'utf-8';

.list-events {
  
  @include media-breakpoint-up(xl) {
    
    .list-group-teaser-content {
    
      .event-actions {
        position: absolute;
        top: 0;
        right: 1rem;
      }
    }
  }
}

// Featured events

.list-group.list-events-featured {
  
  .list-group-teaser {
    background: transparent;
    margin-bottom: 1rem;
    
    &:last-child {
      margin-bottom: 0;
    }
  }
  
  .list-group-teaser-container {
    background: #fff;
    flex-direction: column;
    height: 100%;

    .btn-secondary {
      &:hover,
      &:active,
      &:focus {
        background: #fff;
      }
    }
  }
  
  .list-group-teaser-content {
    
    .event-actions {
      position: static;
      
      .btn {
        width: 100%;
      }
    }
  }
  
  @include media-breakpoint-up(lg) {
    flex-direction: row;
    margin-left: -10px;
    margin-right: -10px;
    
    .list-group-teaser {
      margin-bottom: 0;
      padding-left: 10px;
      padding-right: 10px;
      
      & + .list-group-teaser {
        margin-top: 0;
      }
    }
    
    .list-group-teaser-thumbnail {
      padding-bottom: 0;
    }
  }
}

// Events page

.events-links {
  
  ul {
    margin-bottom: 0;
  }
  
  li {
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    
    & + li {
      margin-left: 1rem;
    }
  }
}

.events-pager {
  .pagination {
    margin-bottom: 0;
  }
}