<a href="#" class="{% block classes %}card card-gray link-trapeze-horizontal{% endblock %}" itemscope itemtype="http://schema.org/Event">
  <div class="card-body">
    {% block img -%}
    <picture class="card-img-top">
      <img src="{% block img_src %}./images/styleguide/event_teaser.png{% endblock %}" class="img-fluid" title="Image title" alt="Image alt description" />
    </picture>
    {% endblock %}

    <h3 class="card-title" itemprop="name">{% block title %}Startup Acceleration Workshops{% endblock %}</h3>
    {% block summary %}{% endblock -%}
    <div class="card-info">
      {% block date %}
      <span class="card-info-date" itemprop="startDate" content="2018-01-10T12:00">10.01.2018</span>
      <span>13:00</span>
      <span>17:30</span>
      {% endblock %}
      <p itemprop="location" itemscope itemtype="http://schema.org/Place">
        {% block info %}
        Lieu : <b><span itemprop="name">ArtLab EPFL</span></b>
        <br> Catégorie : <b>Événements culturel</b>
        {% endblock %}
      </p>
    </div>
  </div>
  {% block footer %}{% endblock %}
</a>
