<div class="list-group">
  {% for i in 1..5 %}
    <a href="#" class="list-group-item list-group-item-gray list-group-teaser link-trapeze-vertical">
      <div class="list-group-teaser-container">
        <div class="list-group-teaser-thumbnail">
          {% include '@atoms/picture/picture.twig' with {'variant':'news-thumb'} %}
        </div>
        <div class="list-group-teaser-content">
          <p class="h5">Startup Acceleration Workshops</p>
          <div class="card-info mt-0">
            {% block date %}
            <span class="card-info-date">10.01.2018</span>
            <span>13:00</span>
            <span>17:30</span>
            {% endblock %}
            <p>
              {% block info %}Lieu : <b>ArtLab EPFL</b><br> Catégorie : <b>Événements culturel</b><br>{% endblock %}
            </p>
          </div>
        </div>
      </div>
    </a>
  {% endfor %}

  {% if bottomlink %}
    <a href="#" class="list-group-teaser-more">
      Afficher plus d'événements
    </a>
  {% endif %}
</div>
