<div class="list-group list-events {% if hasGrayBackground|default(false) %}list-group-gray{% endif %}">

  {% include '@molecules/list-group/list-group-event.twig' with { eventLocation: 'online_room', live_now: true } %}

  {% include '@molecules/list-group/list-group-event.twig' with { eventLocation: 'online' } %}

  {% for i in 1..3 %}
    {% include '@molecules/list-group/list-group-event.twig' %}
  {% endfor %}

  {% if bottomlink|default(true) %}
    <a href="#" class="list-group-teaser-more">
      Voir tous les événements
    </a>
  {% endif %}
</div>
