<div class="list-group list-events list-events-featured">
  {% include '@molecules/card/card-event.twig' %}
  {% include '@molecules/card/card-event.twig' with { live_now: true, online_event: true } %}
  {% include '@molecules/card/card-event.twig' with { live_future: true } %}
</div>
