@charset 'utf-8';

$nav-spacer: 4px;

//
// Inner nav styles
//
.nav-main {
  position: relative;
  background: color('white');
  z-index: $zindex-nav;
  transition: left 0.3s;
  border-right: 1px solid gray('100');

  li.current-menu-item {
    & > a:first-child,
    & > a:first-child:hover {
      background: theme-color('primary');
      font-weight: bold;
      color: $white;
    }
  }

  ul {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    margin: 0;
    padding: 0 $spacer;
    transition: left 0.2s;
  }

  li {
    display: flex;
    flex-flow: row nowrap;
    max-height: 0;
    border-bottom: 1px solid gray('200');
    position: static;
    transition: max-height 0s 0.2s;
    padding-left: 0;
    
    &:before {
      content: none;
    }
  }

  .current-menu-parent,
  .current-menu-parent li { max-height: 100%; }

  a {
    display: block;
    flex: 1 1 auto;
    margin: $nav-spacer 0;
    padding: 0.4 * $spacer;
    transition: all 0.2s;
    text-decoration: none;
    margin-left: -0.7 * $spacer;
    padding-left: 0.7 * $spacer;

    &:before {
      content: none;
    }

    &:hover,
    &:focus {
      color: $body-color;

      &:not(.nav-arrow) {
        background: gray('100');
      }

      .icon-container {
        background: gray('100');
      }
    }
  }

  .menu-item-has-children > .nav-arrow {
    margin-left: $nav-spacer;
  }

  .nav-menu {
    display: block;
    left: 0;
  }
}

// navigation back or home button
.nav-home,
.nav-back,
li.nav-back,
li.nav-home {
  display: block;
  padding-bottom: 1.2 * $spacer;
  margin-left: -2 * $spacer;
  padding-left: 2 * $spacer;

  a {
    color: gray('700');
  }

  .icon {
    color: gray('500');
  }
}

li.nav-back {
  .icon {
    width: 0.8 * $spacer;
    margin-right: 0.2 * $spacer;
    color: gray('300');
    transition: transform 0.2s, fill 0.2s;
  }

  &:hover {
    .icon {
      color: $body-color;
      transform: translateX(-0.2 * $spacer);
    }
  }
}

li.nav-home {
  .icon {
    width: 0.6 * $spacer;
    margin-top: 0.1 * $spacer;
  }
}

a.nav-arrow {
  flex: 0 0 (3 * $spacer);
  position: relative;
  margin-top: $nav-spacer;
  margin-bottom: $nav-spacer;
  padding: (0 $nav-spacer) (0 $nav-spacer+1) !important;
  font-size: 1.3 * $font-size-base !important;
  line-height: 1  * $font-size-base !important;
  font-weight: normal !important;

  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: background-color 0.3s;
  }

  &:before,
  &:after {
    content: ' ';
    position: absolute;
    top: 5%;
    left: 0;
    width: 1px;
    height: 90%;
    background: gray('200');
  }

  &:after {
    left: 100%;
  }

  .icon {
    width: 1 * $spacer;
    transform: translateY(-0.1 * $spacer);
  }

  &:hover {
    .icon-container {
      background: gray('100');
    }
  }
}

//
// Vertical scroll for menu toggle
// horizontal slide of menus
//
.nav-wrapper {
  width: 100%;
  height: 100%;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  .current-menu-ancestor > ul {
    display: block;
    left: 0;
  }

  .current-menu-parent > ul {
    display: block;
    left: 100%;
  }
}

.nav-container {
  display: block;
  position: relative;
  width: 100%;
  margin-left: -100%;
  padding-left: 100%;
}

//
// Desktop
//
@include media-breakpoint-up(xl) {
  // Solid nav
  .nav-solid-layout {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .nav-main {
      flex: 0 0 $main-nav-width;
      max-width: $main-nav-width;
      min-height: calc(100vh - #{$header-height});
    }

    .content {
      flex: 1 1 auto;
    }

    .overlay {
      display: none;
    }
  }

  // Toggle nav
  .nav-toggle-layout {
    .nav-main {
      position: fixed;
      left: $main-nav-width * -1.3;
      width: $main-nav-width;
      height: calc(100% - #{ $header-height });
      border: 1px solid gray('300');
      border-radius: $btn-border-radius $btn-border-radius 0 0;
    }

    .content {
      position: relative;
    }

    .nav-aside-wrapper {
      display: none;
    }
  }

  .desktop-menu-open {
    height: 100vh;
    overflow: hidden;

    .nav-toggle-layout {

      .overlay {
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        opacity: 0.95;
      }

      .nav-main {
        left: 0;
      }
    }
  }

  .nav-main {
    li {
      font-size: 0.9 * $font-size-base;
    }

    .nav-back,
    .nav-home {
      border-bottom: none;
    }
  }
}

//
// Mobile
//
@include media-breakpoint-down(lg) {
  .main-container {
    position: relative;
  }

  .nav-main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid gray('300');
    transform: translateX(-100%);
    transition: transform 0.2s;
  }

  ul.nav-menu {
    a {
      font-size: $font-size-base;
      padding-top: 0.8 * $spacer;
      padding-bottom: 0.8 * $spacer;
    }
  }

  .nav-arrow {
    flex: 0 0 (4 * $spacer);
  }

  .nav-home {
    display: none;
  }

  // handle breadcrumb
  .content .breadcrumb {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .nav-back,
  .nav-home {
    margin: 0;
    padding: 0;
  }

  // mobile opened menu
  .mobile-menu-open {
    height: calc(100% - #{$header-height + $mm-breadcrumbs-height});

    .nav-main {
      transform: translateX(0);
    }

    .main-container {
      height: calc(100vh - #{$header-height + $mm-breadcrumbs-height });
      overflow: hidden;
    }

    .header .search-mobile {
      bottom: 0;
    }

    .nav-lang {
      //bottom: 0;
    }

    .nav-lang-mobile {
      display: block;
    }
  }
}

//
// Overlay
//
.overlay {
  content: ' ';
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  cursor: pointer;
  z-index: $zindex-nav-overlay;
  opacity: 0;
  background: $white;
  transition: opacity 0.3s;
}
