@charset 'utf-8';

.fullwidth-teaser {
  position: relative;
  width: 100%;
  margin-bottom: $spacer * 2;
  padding: 0 ($grid-gutter-width / 2);

  @include media-breakpoint-up(md) {
    display: flex;
    flex-flow: row nowrap;
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: 0;
  }

  @include media-breakpoint-up(xl) {
    display: block;
    padding: 0;
  }

  img {
    width: 100%;
  }

  picture,
  .fullwidth-teaser-text {
    @include media-breakpoint-up(md) {
      flex: 0 0 50%;
    }
  }

  picture {
    @include media-breakpoint-down(sm) {
      img {
        width: 100% !important;
        height: auto;
      }
    }

    @include media-breakpoint-up(md) {
      position: relative;
      overflow: hidden;

      img {
        position: absolute;
        top: 0;
        left: -10%;
        width: auto;
        height: 100%;
      }
    }

    @include media-breakpoint-up(xl) {
      img {
        position: relative;
        left: 0;
        width: 100% !important;
      }
    }
  }

  .fullwidth-teaser-content p {
    @include media-breakpoint-up(xl) {
      float: right;
      max-width: 28rem;
      margin-left: 6rem;
      padding: 1.2rem 1.6rem;
      background: rgba($white, 0.9);
    }
  }
}

.fullwidth-teaser-text {
  padding-top: 1rem;
  background: $white;

  @include make-col(12, 12);

  max-width: map-get($grid-breakpoints, 'xl');

  @include media-breakpoint-up(xl) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 8rem;
    width: auto;
    padding: 2rem 0;
    min-height: 100%;
    overflow: hidden;
    background: none;

    .fullwidth-teaser-title {
      padding: 1.5rem 2rem;
      background-color: $white;
      max-width: 24rem;

      .list-inline {
        font-size: 0.85 * $font-size-base;
        margin-bottom: -0.3 * $spacer;
        color: $text-muted;
        li { margin-right: 0; }
        li:not(:last-child):after { content: ' \203A'; }
      }
    }

    h3,
    .h3 {
      display: inline-block;
      margin-bottom: 0;
      font-size: 1.75rem;
    }
  }
}

.fullwidth-teaser-header {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;

  @include media-breakpoint-up(md) {
    padding-left: 2rem;
  }

  @include media-breakpoint-up(xl) {
    width: auto;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 0;
  }

  h3,
  a {
    flex: 1 1 auto;

    @include media-breakpoint-up(xl) {
      flex: 0 0 auto;
    }
  }

  .btn {
    transition: padding 0.15s;

    &:before {
      border: none;
    }

    &:hover,
    &:focus {
      background: darken($red, 15%);
      color: $white;

      @include media-breakpoint-up(xl) {
        padding-left: 2rem;
      }

      &:before,
      &:after {
        background: none;
        border-top-color: darken($red, 15%);
      }
    }
  }
}

.fullwidth-teaser-content {
  @include media-breakpoint-up(md) {
    padding: 1rem 0 1rem 2rem;
  }

  @include media-breakpoint-up(xl) {
    padding: 0;
  }
}

.fullwidth-teaser-footer {
  margin-bottom: $grid-gutter-width / 2;

  @include make-col(12);

  @include media-breakpoint-up(md) {
    padding-left: 2rem;
    margin: 0;
  }
}

.fullwidth-teaser-horizontal {
  @include media-breakpoint-up(xl) {
    .fullwidth-teaser-text {
      left: 10%;
      width: 85%;
      justify-content: flex-end;
      padding-bottom: 8rem;
    }

    .fullwidth-teaser-header {
      justify-content: flex-end;
      overflow: visible;
    }

    .btn {
      margin-bottom: -1.62rem;
    }

    .fullwidth-teaser-title {
      width: auto;
      max-width: 60%;
      overflow: visible;
      white-space: normal;
      text-overflow: initial;
    }

    h3,
    .h3 {
      margin: 0;
    }

    .fullwidth-teaser-content {
      p {
        width: 85%;
        margin: 0 6% 0 0;
        padding-right: 6.5rem;
      }
    }
  }
}
