<div class="fullwidth-teaser fullwidth-teaser-horizontal">
  <picture>
    <img src="{% block img %}./images/basic_page_teaser.jpg{% endblock %}" aria-labelledby="background-label" alt="An image description"/>
  </picture>

  <div class="fullwidth-teaser-text">

    <div class="fullwidth-teaser-header">
      <div class="fullwidth-teaser-title">
        <h3>
          {% block title %}
            Des océans plus froids que ce que nous le pensions
          {% endblock %}
        </h3>
        <ul class="list-inline mt-2">
          <li class="list-inline-item">Actualités</li>
          <li class="list-inline-item">Biologie</li>
        </ul>
      </div>
      <a href="#" aria-label="Link to read more of that page" class="btn btn-primary triangle-outer-top-right d-none d-xl-block">
        Lire l'article
        <span class="sr-only">sur Tech Transfer.</span>
        {% include '@content/icon/icon.twig' with {icon: 'icon-chevron-right'} %}
      </a>
    </div>

    <div class="fullwidth-teaser-content">
      <p>
        {% block content %}Une équipe de chercheurs de l’EPFL et européenne a découvert une erreur dans la façon dont ont été estimées jusqu’ici les températures des océans, faisant potentiellement du réchauffement climatique actuel un évènement sans précédent ces cent derniers millions d’années.{% endblock %}
      </p>
    </div>

    <div class="fullwidth-teaser-footer">
      <a href="#" aria-label="Link to read more of that page" class="btn btn-primary btn-block d-xl-none">En savoir plus</a>
    </div>
  </div>
</div>
