<div class="box two-cols">
  <h3>légende</h3>
  <div class="box-col box-left-col">
    <ul>
      <li>
        <div class="img_legende automne">
          <div class="little_icon"></div>
        </div>Semestre d'automne
      </li>
      <li>
        <div class="img_legende winter">
          <div class="little_icon"></div>
        </div>Session d'hiver
      </li>
      <li>
        <div class="img_legende printemps">
          <div class="little_icon"></div>
        </div>Semestre de printemps
      </li>
      <li>
        <div class="img_legende sun">
          <div class="little_icon"></div>
        </div>Session d'été
      </li>
    </ul>
  </div>
  <div class="box-col box-right-col">
    <ul>
      <li>
        <div class="img_legende francais">
          <div class="diet_icon"></div>
        </div>Cours en français
      </li>
      <li>
        <div class="img_legende anglais">
          <div class="diet_icon"></div>
        </div>Cours en anglais
      </li>
      <li>
        <div class="img_legende allemand">
          <div class="diet_icon"></div>
        </div>Cours en allemand
      </li>
    </ul>
  </div>
  <div class="clear"></div>
</div>
