{% extends "@templates/base/base.twig" %}

{% block content %}

<div class="container-full">
  <div class="hero">
    <div class="hero-content-container">
      <h1 class="hero-title">Education</h1>
    </div>
    <div class="hero-img">
      <img src="images/gallery/gallery_01.jpg" alt="IMAGE DESCRIPTION HERE" class="img-fluid">
    </div>
  </div>
</div>

<div class="mt-5">
  <p>
    Treize filières de formation dans les sciences de l’ingénieur, des programmes doctoraux de choix, des laboratoires de pointe dirigés par des professeurs de réputation internationale, un campus moderne en plein développement, des liens privilégiés avec l’industrie: l’EPFL offre des conditions d’études hors du commun aux jeunes qui envisagent d’amorcer une formation supérieure dans le domaine des sciences et de la technique.
  </p>
</div>

<div class="container">
  <h2 class="mb-4 mt-6">Composant "chiffre clés"</h2>
</div>

<div class="container mt-5">
  <h2 class="mb-4 mt-4">Cursus</h2>
  <div class="row">
    <div class="col-md-4">
      {% include '@content-types/cursus/cursus.twig' %}
    </div>
    <div class="col-md-4">
      {% include '@content-types/cursus/cursus.twig' %}
    </div>
    <div class="col-md-4">
      {% include '@content-types/cursus/cursus.twig' %}
    </div>
  </div>
</div>

<div class="container">
  {% include '@content-types/news/news-latest-two.twig' %}
</div>

<div class="container-full bg-gray-100 py-5 mt-5">
  <div class="overflow-hidden">
    <div class="container">
      <h2 class="mb-4 mt-4">The next events</h2>
      {% include '@organisms/card-slider/card-slider.twig' %}
    </div>
  </div>
</div>

<div class="container py-5 mt-5">
  <div class="row">
    <div class="col-md-4">
      {% include '@content-types/basic-page/basic-page.twig' %}
    </div>
    <div class="col-md-4">
      {% include '@content-types/basic-page/basic-page.twig' %}
    </div>
    <div class="col-md-4">
      {% include '@molecules/links-group/links-group.twig' %}
    </div>
  </div>
</div>

<div class="container mt-5">
  {% include '@organisms/contact/contact-banner.twig' %}
</div>


{% endblock %}
