{% set round = round ? round : false %}
{% set discrete = discrete ? discrete : false %}
{% set negative = negative ? negative : false %}

<ul class="social-icon-list list-inline">
  <li>
    {% include '@atoms/social-icon/social-icon-single.twig' with { pretty_name: 'Facebook', icon: 'icon-facebook', round: round, discrete: discrete, negative: negative } %}
  </li>
  <li>
    {% include '@atoms/social-icon/social-icon-single.twig' with { pretty_name: 'X', icon: 'icon-x', round: round, discrete: discrete, negative: negative } %}
  </li>
  <li>
    {% include '@atoms/social-icon/social-icon-single.twig' with { pretty_name: 'Instagram', icon: 'icon-instagram', round: round, discrete: discrete, negative: negative } %}
  </li>
  <li>
    {% include '@atoms/social-icon/social-icon-single.twig' with { pretty_name: 'E-mail', icon: 'icon-mail-plane', round: round, discrete: discrete, negative: negative } %}
  </li>
  <li>
    {% include '@atoms/social-icon/social-icon-single.twig' with { pretty_name: 'Whatsapp', icon: 'icon-whatsapp', round: round, discrete: discrete, negative: negative } %}
  </li>
  <li>
    {% include '@atoms/social-icon/social-icon-single.twig' with { pretty_name: 'Linkedin', icon: 'icon-linkedin', round: round, discrete: discrete, negative: negative } %}
  </li>
  <li>
    {% include '@atoms/social-icon/social-icon-single.twig' with { pretty_name: 'Mastodonn', icon: 'icon-mastodon', round: round, discrete: discrete, negative: negative } %}
  </li>
  <li>
    {% include '@atoms/social-icon/social-icon-single.twig' with { pretty_name: 'TikTok', icon: 'icon-tiktok', round: round, discrete: discrete, negative: negative } %}
  </li>
</ul>
