<a href="#" class="social-icon social-icon-facebook social-icon-discrete social-icon-round">
  {% include '../../atoms/icon/icon.twig' with { icon: 'icon-facebook' } %}
</a>
<a href="#" class="social-icon social-icon-twitter social-icon-discrete social-icon-round">
  {% include '../../atoms/icon/icon.twig' with { icon: 'icon-twitter' } %}
</a>
<a href="#" class="social-icon social-icon-instagram social-icon-discrete social-icon-round">
  {% include '../../atoms/icon/icon.twig' with { icon: 'icon-instagram' } %}
</a>
