{% set pretty_name = pretty_name or 'Twitter' %}
{% set icon = icon or 'icon-twitter' %}
{% set round = round ? ' social-icon-round' : '' %}
{% set discrete = discrete ? ' social-icon-discrete' : '' %}
{% set negative = negative ? ' social-icon-negative' : '' %}
<a href="#" class="{{ 'social-icon social-' ~ icon ~ round ~ negative ~ discrete }}">
  {% include '@atoms/icon/icon.twig' with { icon: icon } %}
</a> 
