@charset 'utf-8';

.social-icon {
  display: inline-block;
  padding: 0.6rem;
  background: $gray-100;
  border-radius: 0.17rem;
  line-height: 0;

  .icon {
    top: 0;
    font-size: 1.2rem;
    fill: $white;
  }
}

a.social-icon {
  border: none;
  transition:
    transform 0.2s ease,
    background-color 0.2s ease,
    background-image 0.2s ease;

  &:hover {
    transform: translateY(-0.2rem);
  }
}

.social-icon-facebook {
  background-color: $facebook;
}

.social-icon-twitter {
  background-color: $twitter;
}

.social-icon-instagram {
  background-image: linear-gradient(-135deg, $instagramblue 5%, $instagrampurple, $instagramred 95%);
}

.social-icon-round {
  border-radius: 100%;
  padding: 0.66rem;

  &.social-icon-instagram {
    background-image: linear-gradient(-135deg, $instagramblue 5%, $instagrampurple, $instagramred 90%);
  }
}

.social-icon-discrete {
  .icon {
    transition: fill 0.2s ease;
  }

  &:not(:hover) {
    background: $gray-100;

    .icon {
      fill: $gray-500;
    }
  }
}
