<a href="#" class="social-icon social-icon-facebook social-icon-round">
  {% include '../../atoms/icon/icon.twig' with { icon: 'icon-facebook' } %}
</a>
<a href="#" class="social-icon social-icon-twitter social-icon-round">
  {% include '../../atoms/icon/icon.twig' with { icon: 'icon-twitter' } %}
</a>
<a href="#" class="social-icon social-icon-instagram social-icon-round">
  {% include '../../atoms/icon/icon.twig' with { icon: 'icon-instagram' } %}
</a>
<a href="#" class="social-icon social-icon-mail social-icon-round">
  {% include '../../atoms/icon/icon.twig' with { icon: 'icon-mail-plane' } %}
</a>
<a href="#" class="social-icon social-icon-whatsapp social-icon-round">
  {% include '../../atoms/icon/icon.twig' with { icon: 'icon-whatsapp' } %}
</a>
<a href="#" class="social-icon social-icon-googleplus social-icon-round">
  {% include '../../atoms/icon/icon.twig' with { icon: 'icon-googleplus' } %}
</a>
