<span class="social-icon social-icon-facebook">
  {% include '../../atoms/icon/icon.twig' with { icon: 'icon-facebook' } %}
</span>
<span class="social-icon social-icon-twitter">
  {% include '../../atoms/icon/icon.twig' with { icon: 'icon-twitter' } %}
</span>
<span class="social-icon social-icon-instagram">
  {% include '../../atoms/icon/icon.twig' with { icon: 'icon-instagram' } %}
</span>
<span class="social-icon social-icon-mail">
  {% include '../../atoms/icon/icon.twig' with { icon: 'icon-mail-plane' } %}
</span>
<span class="social-icon social-icon-whatsapp">
  {% include '../../atoms/icon/icon.twig' with { icon: 'icon-whatsapp' } %}
</span>
<span class="social-icon social-icon-googleplus">
  {% include '../../atoms/icon/icon.twig' with { icon: 'icon-googleplus' } %}
</span>
