@charset 'utf-8';

.social-icon {
  display: inline-block;
  padding: 0.7rem;
  background: $gray-100;
  border-radius: 0.17rem;
  line-height: 0;

  .icon {
    top: 0;
    font-size: 1.2rem;
    fill: $white;
  }
}

a.social-icon {
  border: none;
  transition:
    transform 0.2s ease,
    background-color 0.2s ease,
    background-image 0.2s ease;

  &:hover,
  &:focus {
    transform: translateY(-0.2rem);
    box-shadow: 0;
  }
}

.social-icon-facebook {
  background-color: $facebook;
}

.social-icon-twitter {
  background-color: $twitter;
}

.social-icon-whatsapp {
  background-color: $whatsappgreen;
}

.social-icon-mail {
  background-color: $blue;
}

.social-icon-googleplus {
  background-color: $googleplus;
}

.social-icon-instagram {
  background-image: linear-gradient(-135deg, $instagramblue 5%, $instagrampurple, $instagramred 95%);
}

.social-icon-round {
  border-radius: 100% !important;
  padding: 0.8rem;

  &.social-icon-instagram {
    background-image: linear-gradient(-135deg, $instagramblue 5%, $instagrampurple, $instagramred 90%);
  }
}

.social-icon-negative {
  padding: 0.5rem;
  background: transparent;
  transition: background 0.2s;

  .icon {
    fill: $black;
    font-size: 1.5rem;
    transition: fill 0.2s;
  }

  &:hover {
    background: $red !important;

    .icon {
      fill: $white !important;
    }
  }

  & + .social-icon-negative {
    margin-left: 0.3rem;
  }
}

.social-icon-discrete {
  .icon {
    transition: fill 0.2s ease;
  }

  &:not(:hover) {
    background: $gray-100;

    .icon {
      fill: $gray-500;
    }
  }
}
