<a href="#" class="social-icon social-icon-facebook">
  {% include '../../atoms/icon/icon.twig' with { icon: 'icon-facebook' } %}
</a>
<a href="#" class="social-icon social-icon-twitter">
  {% include '../../atoms/icon/icon.twig' with { icon: 'icon-twitter' } %}
</a>
<a href="#" class="social-icon social-icon-instagram">
  {% include '../../atoms/icon/icon.twig' with { icon: 'icon-instagram' } %}
</a>
