{% set round = round ? round : false %}
{% set discrete = discrete ? discrete : true %}
{% set negative = negative ? negative : false %}

{% include '@atoms/social-icon/social-icon-single-link-with-details.twig' with { pretty_name: 'LinkedIn', icon: 'icon-linkedin', round: round, discrete: discrete, negative: negative, url: 'https://www.linkedin.com/school/epfl/' } %}
{% include '@atoms/social-icon/social-icon-single-link-with-details.twig' with { pretty_name: 'Google Scholar', icon: 'icon-google', round: round, discrete: discrete, negative: negative, url: 'https://scholar.google.com/' } %}
<a href="true" class="social-icon social-icon-details social-icon-discrete" rel="nofollow" title="View on Scopus">
  <span class="user">Scopus: 123456789</span>
</a>