<button class="btn btn-primary hover">Primary hover</button>
<button class="btn btn-primary active">Primary active</button>
<button class="btn btn-primary focus">Primary focus</button>
<button class="btn btn-primary" disabled>Primary disabled</button>
