<button class="btn btn-tertiary hover">Tertiary hover</button>
<button class="btn btn-tertiary active">Tertiary active</button>
<button class="btn btn-tertiary focus">Tertiary focus</button>
<button class="btn btn-tertiary" disabled>Tertiary disabled</button>
