<div class="py-1">
  <button class="btn btn-primary btn-sm">Primary small</button>
</div>
<div class="py-1">
  <button class="btn btn-primary">Primary normal</button>
</div>
<div class="py-1">
  <button class="btn btn-primary btn-lg">Primary large</button>
</div>
<div class="py-1">
  <button class="btn btn-primary btn-block">Primary block</button>
</div>
