<button class="btn btn-secondary hover">Secondary hover</button>
<button class="btn btn-secondary active">Secondary active</button>
<button class="btn btn-secondary focus">Secondary focus</button>
<button class="btn btn-secondary" disabled>Secondary disabled</button>
