<div id="my-gallery-{{ id ?: 1 }}" class="gallery gallery-main">
  {% for i in 1..7 %}
    <figure class="gallery-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <div class="gallery-item-inner">
        <img src="./images/styleguide/gallery/gallery_0{{i}}.jpg" alt="Picture of an amazing science topic" class="img-fluid">
        <figcaption>
          <span>Picture of an amazing science topic</span>
        </figcaption>
      </div>
    </figure>
  {% endfor %}
</div>

<div class="gallery-nav" data-gallery="my-gallery-{{ id ?: 1 }}" aria-hidden="true">
  {% for i in 1..7 %}
    <figure class="gallery-nav-item" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <img src="./images/styleguide/gallery/thumb_0{{i}}.jpg" alt="Thumbnail of an amazing science topic" class="img-fluid">
      <figcaption>Picture of an amazing science topic</figcaption>
    </figure>
  {% endfor %}
</div>
