@charset "utf-8";
@use 'sass:math';

$gallery-btn-size: 41px;
$gallery-btn-margin: 14px;

.gallery.is-fullscreen {
  z-index: $zindex-gallery-opened !important; /* eslint disable line */
  max-width: none;
  width: 100% !important;
}

.gallery,
.gallery-nav {
  position: relative;
  opacity: 0;
  transition: opacity 0.3s;
  &.ready { opacity: 1; }

  .img-fluid {
    width: 100%;
  }
}

.gallery-nav:after {
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 5%;
  background: linear-gradient(to right, transparent 0%, $white 100%);
}

.gallery.flickity-enabled.is-fullscreen {
  margin: 0 !important;
  background: $white;

  .flickity-slider {
    display: flex;
    align-items: center;

    .ie & {
      padding-top: 20vmin;
      align-items: start;
    }
  }

  .gallery-item {
    align-items: center;
    max-height: 80vmin;

    .gallery-item-inner {
      height: 100%;
      padding: 0;

      .img-wrapper {
        max-height: 100%;
        position: relative;
      }
    }

    .img-fluid {
      max-height: calc( 80vmin - 2rem );
      max-width: 100vmin;
      margin: 0 auto;
    }

    figcaption {
      position: relative;
      top: 2rem;
    }

    figcaption span:last-child { padding-left: 3rem; }
  }

  .flickity-prev-next-button {
    top: 50% !important;
    border: 1px solid $gray-300;
    &.next { right: 6%; }
    &.previous { left: 6%; }
  }
}

.gallery-item {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  figcaption {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.6rem 0.2rem;
    font-size: $font-size-sm;
    color: $gray-600;

    > span {
      display: inline-block;
      flex: 1 1 auto;
    }

    > span:last-child {
      text-align: right;
      padding-left: 1rem;
    }
  }

  img {
    display: block;
    max-height: 100%;
    width: auto !important;
  }
}
.gallery-item .gallery-item-inner {

  /* center images in cells with flexbox */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 0;
  padding: 0 0 66.6667%;
  background: $gray-100;

  .img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.gallery-nav-item {
  display: block;
  position: relative;
  width: calc(23% - 0.8rem);
  margin-right: 0.8rem;
  border-bottom: 1px solid $gray-300;

  &:after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: - math.div($grid-gutter-width, 2);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: math.div($grid-gutter-width, 2) math.div($grid-gutter-width, 2) 0;
    border-color: transparent;
    transition: border-color 0.25s;
  }

  &.is-nav-selected:after { border-color: $white transparent transparent; }

  figcaption {
    overflow: hidden;
    padding: 0.4rem 0;
    font-size: $font-size-sm;
    color: $gray-600;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.gallery .flickity-prev-next-button,
.gallery .flickity-fullscreen-button {
  width: $gallery-btn-size;
  height: $gallery-btn-size;
  border-radius: $gallery-btn-size;
  opacity: 1;

  svg.flickity-button-icon {
    position: static;
  }
}

.gallery .flickity-prev-next-button {
  display: flex;
  top: 45%;
  align-items: center;
  justify-content: center;
  margin-top: $gallery-btn-size * -0.5;
  background: $white;
  transform: scale(1);
  transition: transform 0.25s;
  &:hover { transform: scale(1.1); }
  &.next { right: $gallery-btn-margin; }
  &.previous { left: $gallery-btn-margin; }

  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.gallery .flickity-fullscreen-button {
  top: $gallery-btn-margin;
  right: $gallery-btn-margin;
  background: $gray-600;
  text-align: center;
  transition: background 0.25s;

  &:hover { background: $gray-900; }

  svg.flickity-button-icon {
    width: 17px;
    * { fill: $white; }
  }

  &.flickity-fullscreen-button-exit svg.flickity-button-icon { width: 10px; }
}

.gallery.is-fullscreen .gallery-item {
  height: 100%;
  padding: 0;

  .gallery-item-inner {
    background: transparent;
  }

  figcaption {
    border-top: 1px solid $gray-100;
    margin-left: 6%;
    margin-right: 6%;
    width: 88%;
  }
}

ol.flickity-page-dots li {
  padding: 0;

  &:before {
    content: none;
  }
}
