@charset 'utf-8';

$gallery-btn-size: 41px;
$gallery-btn-margin: 14px;

.gallery,
.gallery-nav {
  position: relative;
  opacity: 0;
  transition: opacity 0.3s;
  // [class*="-item"]:not(:first-child) { display: none; }

  &.ready {
    opacity: 1;
    // [class*="-item"]:not(:first-child) { display: block; }
  }

  .img-fluid {
    width: 100%;
  }
}

.gallery-nav:after {
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 5%;
  background: linear-gradient(to right, transparent 0%, $white 100%);
}

.gallery.flickity-enabled.is-fullscreen {
  background: $white;

  .flickity-slider {
    display: flex;
    align-items: center;
  }

  .gallery-item {
    align-items: center;
    max-height: 80vmin;

    .img-fluid {
      max-width: 100vmin;
      margin: 0 auto;
    }

    figcaption span:last-child { padding-left: 3rem; }
  }

  .flickity-prev-next-button {
    top: 50% !important;
    border: 1px solid $gray-300;
    &.next { right: 6%; }
    &.previous { left: 6%; }
  }
}

.gallery-item {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  figcaption {
    display: flex;
    justify-content: space-between;
    padding: 0.6rem 0.2rem;
    font-size: $font-size-sm;
    color: $gray-600;

    > span {
      display: inline-block;
      flex: 1 1 auto;
    }

    > span:last-child {
      text-align: right;
      padding-left: 1rem;
    }
  }
}

.gallery-nav-item {
  display: block;
  position: relative;
  width: calc(23% - 0.8rem);
  margin-right: 0.8rem;
  border-bottom: 1px solid $gray-300;

  &:after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -15px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 15px 0;
    border-color: transparent;
    transition: border-color 0.25s;
  }

  &.is-nav-selected:after { border-color: $white transparent transparent; }

  figcaption {
    overflow: hidden;
    padding: 0.4rem 0;
    font-size: $font-size-sm;
    color: $gray-600;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.gallery .flickity-prev-next-button,
.gallery .flickity-fullscreen-button {
  width: $gallery-btn-size;
  height: $gallery-btn-size;
  border-radius: $gallery-btn-size;
  opacity: 1;

  svg.flickity-button-icon {
    position: static;
  }
}

.gallery .flickity-prev-next-button {
  display: flex;
  top: 45%;
  align-items: center;
  justify-content: center;
  margin-top: $gallery-btn-size * -0.5;
  background: $white;
  transform: scale(1);
  transition: transform 0.25s;
  &:hover { transform: scale(1.1); }
  &.next { right: $gallery-btn-margin; }
  &.previous { left: $gallery-btn-margin; }

  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.gallery .flickity-fullscreen-button {
  top: $gallery-btn-margin;
  right: $gallery-btn-margin;
  background: $gray-600;
  text-align: center;
  transition: background 0.25s;

  &:hover { background: $gray-900; }

  svg.flickity-button-icon {
    width: 17px;
    margin-top: 6px;
    * { fill: $white; }
  }

  &.flickity-fullscreen-button-exit svg.flickity-button-icon { width: 10px; }
}
