<div class="event-teaser-list">
  {% include 'atoms::event-teaser/event-teaser-highlighted.twig' %}
  {% include 'atoms::event-teaser/event-teaser.twig' %}
  {% include 'atoms::event-teaser/event-teaser.twig' %}
</div>
