<div class="event-teaser-list row">
  <div class="col-sm-12 col-lg-6">
    {% include 'atoms::event-teaser/event-teaser-highlighted.twig' %}
  </div>
  <div class="col-sm-12 col-lg-3">
    {% include 'atoms::event-teaser/event-teaser.twig' %}
  </div>
  <div class="col-sm-12 col-lg-3">
    {% include 'atoms::event-teaser/event-teaser.twig' %}
  </div>
</div>
