<div class="event-teaser event-teaser-basic row">
  <div class="col-sm-12 col-lg-3">
    {% include '@molecules/event-teaser-item/event-teaser-item.twig' %}
  </div>
  <div class="col-sm-12 col-lg-3">
    {% include '@molecules/event-teaser-item/event-teaser-item.twig' %}
  </div>
  <div class="col-sm-12 col-lg-3">
    {% include '@molecules/event-teaser-item/event-teaser-item.twig' %}
  </div>
  <div class="col-sm-12 col-lg-3">
    {% include '@molecules/event-teaser-item/event-teaser-item.twig' %}
  </div>
  <div class="col-sm-12 col-lg-3">
    {% include '@molecules/event-teaser-item/event-teaser-item.twig' %}
  </div>
</div>
