<div class="row">
  <div class="col-6 offset-3 col-sm-4 offset-sm-4 col-md-2 offset-md-0 text-center text-md-right">
    {% include "@atoms/picture/picture-avatar.twig" %}
  </div>

  <blockquote class="blockquote mt-3 col-md-10 border-0">
    <p class="mb-0">EPFL greatly helps alumni remembering their high value on the job market. Boosting self confidence helps to find and successfully apply for interesting positions. Very systematic, good psychology.</p>
    <footer class="blockquote-footer"><cite title="Fabien">Fabien</cite>, Diploma in Electrical and Electronic Engineering, 2002 <br> Engineering STI</footer>
  </blockquote>
</div>
