<aside>
  <div class="d-flex justify-content-between px-3 p-md-0 align-baseline">
    <h3 class="h5 mb-0 font-weight-normal">Filtrer votre recherche</h3>
    <button
      class="btn btn-sm btn-secondary d-md-none collapsed collapse-drop-toggle"
      type="button"
      data-toggle="collapse"
      data-target="#form-filters"
      aria-expanded="false"
      aria-controls="form-filters"
    >
      Filtres
      {% include '@content/icon/icon.twig' with {'icon': 'icon-filters'} %}
    </button>
  </div>
  <div class="collapse collapse-md-show collapse-drop" id="form-filters">
    <form class="p-3 p-md-0">
      {% include "@utilities/form-group/form-group-select.twig" %}
      {% include "@utilities/form-group/form-group-checkboxes.twig" %}
      {% include "@utilities/form-group/form-group-checkboxes.twig" %}
    </form>
  </div>
</aside>
