<button id="nav-toggle" class="nav-toggle nav-toggle-async btn btn-secondary">
  {% include '@atoms/loader/loader.twig' %}
  {% include '@atoms/icon/icon.twig' with { icon: 'icon-browse' } %}
  {% include '@atoms/icon/icon.twig' with { icon: 'icon-close' } %}
  Browse
</button>
