{% if language is not defined %}{% set language = 'fr' %}{% endif %}

<nav class="nav-lang nav-lang-short ml-auto">
  <ul>
    {% if language == 'fr' %}
    <li>
      <span class="active" aria-label="Français">FR</span>
    </li>
    <li>
      <a href="#" aria-label="English">EN</a>
    </li>
    {% endif %}
    {% if language == 'en' %}
    <li>
      <a href="#" aria-label="Français">FR</a>
    </li>
    <li>
      <span class="active" aria-label="English">EN</span>
    </li>
    {% endif %}
    {% if language == 'de' %}
      <li>
        <span class="active" aria-label="Deutsch">DE</span>
      </li>
      <li>
        <a href="#" aria-label="Français">FR</a>
      </li>
    {% endif %}
  </ul>
</nav>
