@charset 'utf-8';

article {
  counter-reset: footnotes;

  footer,
  aside {
    margin-top: 1.6rem;
    padding-top: 0.72rem;
    border-top: 1px solid $gray-300;
    font-size: $font-size-sm;

    ol {
      counter-reset: item;
      padding-left: 0;
      margin-left: 0;
    }

    ol li {
      display: block;
      padding-left: 0;
    }

    ol li:before {
      content: counter(item);
      counter-increment: item;
      display: inline-block;
      position: static;
      height: 0.7rem;
      margin-right: 0.4rem;
      padding-right: 0.15rem;
      border-right: 1px solid $gray-300;
      font-size: 0.7rem;
      line-height: 0.7rem;
      font-weight: $font-weight-bold;
      color: $red;
    }
  }
}

/**
 * Inline footnotes references
 * 1. Increment the counter at each new reference
 * 2. Reset link styles to make it appear like regular text
 */
[aria-describedby="footnote-label"],
[aria-describedby="footnote-label"]:hover,
[aria-describedby="sidenote-label"],
[aria-describedby="sidenote-label"]:hover {
  counter-increment: footnotes; /* 1 */
  text-decoration: none; /* 2 */
  color: inherit; /* 2 */
  cursor: default; /* 2 */
  outline: none; /* 2 */
  border-bottom: none;

  &:focus,
  &:active,
  &:focus:active { box-shadow: none !important; }

  &:after {
    border-left-color: $red;
    border-right-color: $red;
  }
}

/**
 * Actual numbered references
 */
[aria-describedby="footnote-label"]:after,
[aria-describedby="sidenote-label"]:after {
  content: counter(footnotes);
  display: inline-block;
  height: 0.61rem;
  margin-left: 2px;
  padding: 0 0.15rem;
  cursor: pointer;
  vertical-align: super;
  font-size: 0.61rem;
  line-height: 0.61rem;
  font-weight: $font-weight-bold;
  border-left: 1px solid $gray-300;
  border-right: 1px solid $gray-300;
  color: $red;
  transition:
    border 0.2s,
    color 0.2s;
}

/**
 * Resetting the default focused styles on the number
 */
[aria-describedby="footnote-label"]:focus:after,
[aria-describedby="sidenote-label"]:focus:after {
  outline: thin dotted;
  outline-offset: 2px;
}

.back-to-content {
  font-size: 0.8em;
  color: $red;
  border-bottom: none;
}

/**
 * Highlight target note
 */
footer :target {
  background: transparentize($red, 0.8);
}
