<div class="social-feed-item">
  {% include 'content::social-icon/social-icon.twig' with { icon: 'icon-facebook', round: true } %}

  <div class="social-feed-item-content">
    <div>
      <p class="social-feed-header"><strong>@epflENAC</strong> <span class="text-small">il y a 8 heures</span></p>
      <p>A Berlin, les étudiantes et étudiants de Dominique Perrault exposent leurs travaux à la galerie Aedes Architecture Forum du 27 janvier au 8 mars. @dpa_official http://www.aedes..</p>

      {% include 'content::picture/picture-one-third.twig' %}

      <p>What's your fave spot for sunset on campus? 😎</p>
    </div>
    <div>
      <a class="btn btn-secondary mt-4">Likez notre page Facebook</a>
    </div>
  </div>
</div>
