<div class="links-block links-block-teaser">
  <h5 id="links-block-title"><a href="#">Vue d’ensemble de l’EPFL</a></h5>
  <nav
    class="nav flex-column flex-wrap align-items-start"
    role="navigation"
    aria-labelledby="links-block-title"
  >
    <a class="nav-link" href="#">Chiffres clés</a>
    <a class="nav-link" href="#">3 missions de l’EPFL</a>
    <a class="nav-link" href="#">Organigrammes de la direction</a>
    <a class="nav-link" href="#">Réalisations importantes de l’EPFL</a>
  </nav>
</div>
