@charset 'utf-8';

.links-block {
  padding: 1.66rem;
  background: $white;
  border: 1px solid $gray-200;

  .nav-link {
    padding: 0;
    margin-bottom: 0.8rem;
  }

  &.links-block-teaser h5 {
    margin-bottom: 1.2rem;
    padding-bottom: 1.6rem;
    border-bottom: 1px solid $gray-200;
  }
}
