<div class="links-block">
  <h5 id="links-block-title">Plus d'informations sur la faculté</h5>
  <nav
    class="nav flex-column flex-wrap align-items-start"
    role="navigation"
    aria-labelledby="links-block-title"
  >
    <a class="nav-link" href="#">Tous les laboratoires de la faculté</a>
    <a class="nav-link" href="#">Liste des professeurs de la faculté</a>
    <a class="nav-link" href="#">Postes à pourvoir à l'ENAC</a>
    <a class="nav-link" href="#">Services internes</a>
    <a class="nav-link" href="#">L'organisation de la faculté</a>
    <a class="nav-link" href="#">Chaires de l'ENAC</a>
  </nav>
</div>
