@charset 'utf-8';

// Definition list.
.definition-list {
  margin: $paragraph-margin-bottom 0;
  padding-top: $paragraph-margin-bottom;
  border-top: 2px solid $gray-100;
  border-bottom: 2px solid $gray-100;

  dd {
    margin-bottom: $paragraph-margin-bottom;
  }
}

// Definition list displayed in a table-like layout.
.definition-list-grid {
  display: grid;
  grid-template-columns: minmax(min-content, 100px) 1fr;
  grid-auto-rows: auto;
  border: none;

  dt {
    grid-column: 1;
    font-weight: $font-weight-base;
    color: $text-muted;
    padding-right: $grid-gutter-width / 2;

    &.definition-list-item-full {
      padding-bottom: 0;
      border-bottom: none;
    }
  }

  dd {
    grid-column: 2;

    &:last-child {
      border-bottom: none;
    }
  }

  dt,
  dd {
    margin-bottom: $grid-gutter-width / 2;
    padding-bottom: $grid-gutter-width / 2;
    border-bottom: $border-width solid $border-color;

    &:first-of-type {
      padding-top: $grid-gutter-width / 2;
      border-top: $border-width solid $border-color;
    }
  }

  .definition-list-item-full {
    grid-column: 1 / span 2;
  }
}

