@charset 'utf-8';

.nav-toggle {
  display: none;
  position: relative;
  top: 1px;
  z-index: $zindex-toggle;
  margin-right: $grid-gutter-width / 3;
  padding: $spacer / 4 $spacer / 2;
  &:hover { cursor: pointer; }

  .loader {
    display: none;
    margin-right: 0.2rem;
  }

  &.is-loading {
    .loader { display: inline-block; }
    .icon { display: none !important; }
  }

  .icon {
    margin-right: 0.2rem;
    font-size: 0.7rem;

    &:first-of-type {
      display: block;
    }

    &:last-of-type {
      display: none;
    }
  }

  @include media-breakpoint-up(xl) {
    display: flex;
    justify-content: center;
    align-items: center;

    .bg-gray-100 &:after { background: gray('100'); }
  }
}

.desktop-menu-open .nav-toggle {
  .icon:first-of-type {
    display: none;
  }

  .icon:last-of-type {
    display: block;
  }
}
