<button id="nav-toggle" class="nav-toggle btn btn-secondary">
  {% include '@atoms/icon/icon.twig' with { icon: 'icon-browse' } %}
  {% include '@atoms/icon/icon.twig' with { icon: 'icon-close' } %}
  Browse
</button>
