<div class="container">
  <div class="news-listing">
      {% include 'news-listing-item.twig' %}
      {% include 'news-listing-item.twig' %}
      {% include 'news-listing-item.twig' %}
      {% include 'news-listing-item.twig' %}
      {% include 'news-listing-item.twig' %}
      {% include 'news-listing-item.twig' %}

      <a href="#" class="news-listing-more no-text-link">
        Afficher plus d'actualités
      </a>
  </div>
</div>