@charset 'utf-8';

$popover-border-bottom-color: $black;

.popover {
  border-bottom-color: $popover-border-bottom-color;

  @include media-breakpoint-down(sm) {
    width: $popover-max-width;
    max-width: 90vw;
  }

  &:after,
  &:before {
    content: '';
    position: absolute;
    top: 100%;
    right: $popover-arrow-width;
    border-style: solid;
    border-width: 0 $popover-arrow-width $popover-arrow-height 0;
    border-color: transparent $popover-arrow-color transparent transparent;
  }

  &:before {
    border-width: 0 ($popover-arrow-width + $popover-border-width) ($popover-arrow-height + $popover-border-width) 0;
    border-right-color: $popover-arrow-outer-color;
  }

  &:after {
    box-shadow: $popover-border-width 0 0 0 $popover-border-bottom-color;
  }
}

.btn-circle[data-toggle="popover"] {
  .icon:last-child {
    display: none;
  }

  &[aria-describedby] {
    color: $link-hover-color;

    .icon {
      &:first-child {
        display: none;
      }

      &:last-child {
        display: inline-block;
      }
    }

    @include hover {
      color: darken($link-hover-color, 5%);
    }
  }
}
