<div class="popover fade bs-popover-top show" role="tooltip">
  <div class="popover-body">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aut deserunt doloremeligendi, nemo nulla quae reprehenderit saepe sapiente similique!
  </div>
</div>
