@charset 'utf-8';

@use 'sass:math';
@use "sass:color";
@use "sass:map";

.fullwidth-teaser {
  position: relative;
  width: 100%;
  background: $gray-100;

  .vimeo-wrapper {
    background: gray('100');
  }

  @include media-breakpoint-up(md) {
    display: flex;
    flex-flow: row nowrap;
    min-height: 30rem;
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: 0;
  }

  img {
    width: 100%;
    height: auto;
  }
  figure{
    margin-bottom: 0;
  }

  picture,
  figure,
  .fullwidth-teaser-text {
    @include media-breakpoint-up(md) {
      flex: 0 0 50%;
    }
  }

  picture,
  figure {
    @include media-breakpoint-down(sm) {
      img {
        width: 100% !important;
        height: auto;
      }
    }

    @include media-breakpoint-up(md) {
      position: relative;
      overflow: hidden;

      img {
        position: relative;
        left: 0;
        object-fit: cover;
        object-position: top center;
        font-family: 'object-fit: cover;'; /* stylelint-disable-line */
        width: 100%;
        height: 100%;
        max-width: none;
      }
    }
  }

  @include media-breakpoint-up(xl) {
    display: block;
    padding: 0;

    picture,
    figure {
      display: block;
      height: 90vh;
      max-height: 90vh;
    }
  }

  .fullwidth-teaser-content p {
    @include media-breakpoint-up(xl) {
      float: right;
      max-width: 28rem;
      margin-left: 6rem;
      padding: 1.2rem 1.6rem;
      background: rgba($white, 0.9);
    }
  }
}

.fullwidth-teaser-text {
  padding: math.div($grid-gutter-width, 2);
  background: $white;

  @include make-col(12, 12);

  max-width: map.get($grid-breakpoints, 'xl');

  @include media-breakpoint-up(md) {
    padding: 1rem $grid-gutter-width 0;
  }

  @include media-breakpoint-up(xl) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 8rem;
    width: auto;
    padding: 2rem 0;
    min-height: 100%;
    overflow: hidden;
    background: none;

    .fullwidth-teaser-title {
      padding: 1.5rem 2rem;
      background-color: $white;
      max-width: 24rem;
    }

    h3,
    .h3 {
      display: inline-block;
      margin-bottom: 0;
      font-size: 1.75rem;
    }
  }

  .list-inline {
    font-size: 0.85 * $font-size-base;
    margin-bottom: 0;
    color: $text-muted;
    li { margin-right: 0; }
    li:not(:last-child):after {
      content: ' \203A';
      margin: 0 0.25em 0 0.15em;
    }

    @include media-breakpoint-up('xl') {
      margin-bottom: $spacer * -0.3;
    }
  }
}

.fullwidth-teaser-header {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;

  @include media-breakpoint-up(xl) {
    width: auto;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 0;
  }

  h3,
  a {
    flex: 1 1 auto;

    @include media-breakpoint-up(xl) {
      flex: 0 0 auto;
    }
  }

  .btn {
    transition: padding 0.15s;

    &:before {
      border: none;
    }

    &:hover,
    &:focus {
      background: color.adjust($red, $lightness: -15%);
      color: $white;

      @include media-breakpoint-up(xl) {
        padding-left: 2rem;
      }

      &:before,
      &:after {
        background: none;
        border-top-color: color.adjust($red, $lightness: -15%);
      }
    }
  }
}

.fullwidth-teaser-content {
  padding: 1rem 0 0;

  @include media-breakpoint-up(md) {
    padding: 1rem 0;
  }

  @include media-breakpoint-up(xl) {
    padding: 0;
  }
}

.fullwidth-teaser-footer {
  margin-bottom: math.div($grid-gutter-width, 2);

  &:last-child {
    margin-bottom: 0;
  }

  @include make-col(12);

  @include media-breakpoint-up(md) {
    margin: 0;
  }
}

.fullwidth-teaser-horizontal {
  @include media-breakpoint-up(xl) {
    .fullwidth-teaser-text {
      left: 10%;
      width: 80%;
      justify-content: flex-end;
      padding-bottom: $spacer * 6;
    }

    .fullwidth-teaser-header {
      justify-content: flex-end;
      overflow: visible;
    }

    .btn {
      margin-bottom: -1.62rem;
    }

    .fullwidth-teaser-title {
      width: auto;
      max-width: 70%;
      overflow: visible;
      white-space: normal;
      text-overflow: initial;
    }

    h3,
    .h3 {
      margin: 0;
    }

    .fullwidth-teaser-content {
      p {
        width: 89%;
        margin: 0 11% 0 0;
        padding-right: 5.3rem;
        max-width: none;
      }
    }
  }

    @include media-breakpoint-up(xxl) {
    .fullwidth-teaser-text {
      left: 20%;
      width: 60%;
    }
  }
}

.fullwidth-teaser-left {

  @include media-breakpoint-up(md) {
    picture img,
    figure img {
      right: -10%;
      left: auto;
    }
  }

  @include media-breakpoint-up(lg) {
    picture img,
    figure img {
      right: 0;
    }
    .fullwidth-teaser-text {
      right: auto;
      left: 2rem;
    }
  }
}

.fullwidth-teaser-horizontal.thinner-teaser {
  background: $gray-100;
  min-height: 24rem;

  @include media-breakpoint-up(xl) {

    picture,
    figure {
      height: 30vw;
      max-height: 50vh;
      min-height: 24rem;
    }

    .fullwidth-teaser-text {
      padding-bottom: $spacer * 3;
    }
  }
}
