@charset 'utf-8';

figure {
  picture {
    display: block;
    margin-bottom: ($spacer * 0.5);
  }
}

figcaption {
  font-size: $font-size-xs;
  color: $text-muted;
}

.cover {
  position: relative;

  figcaption {
    position: absolute;
    right: ($grid-gutter-width / 2);
    bottom: ($grid-gutter-width / 2);
    z-index: 1;

    @include media-breakpoint-up(md) {
      right: $grid-gutter-width;
      bottom: $grid-gutter-width;
    }
  }
}

.media-map {
  display: flex;
  flex: 1 1 100%;
  position: relative;

  figure {
    flex: 1 1 100%;
  }

  picture {
    width: 100%;
    margin-bottom: 0;
  }

  img {
    height: 100%;
    object-fit: cover;
    font-family: 'object-fit: cover;'; /* stylelint-disable-line */
  }
}

.media-map-over {
  position: absolute;
  right: ($grid-gutter-width / 2);
  bottom: ($grid-gutter-width / 2);
  left: ($grid-gutter-width / 2);
}
