<h4 class="sr-only">Access map</h4>
<figure class="media-map">
  {% include '@atoms/picture/picture.twig' %}
  <figcaption class="media-map-over">
    <a href="#" class="btn btn-primary btn-block">Itinéraire vers le bureau BP (1er étage)</a>
  </figcaption>
</figure>
