{% extends "@templates/base/base.twig" %}

{% block header %}
  {% include '@organisms/header/header-light.twig' with { site_title: 'example blog name' } %}
{% endblock %}

{% block content %}

<article class="blog-post">

  <header class="entry-header mb-5">
    <h1 itemprop="name">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h1>
    <div class="post-meta my-4">
      <p class="text-muted">Publié le 9 décembre 2019</p>
      <p class="sr-only">Catégories:</p>
      <p>
        <a href="#" class="tag tag-primary">Catégorie 1</a>
        <a href="#" class="tag tag-primary">Catégorie 2</a>
      </p>
    </div>
  </header>
  
  <div class="entry-content mb-5">
    
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent at pharetra est, non bibendum dolor. Proin turpis neque, viverra a augue vitae, dapibus iaculis tellus. Morbi ante nisi, venenatis vel velit id, ultrices efficitur nisl. Morbi consectetur non turpis eu interdum. Phasellus nec felis at justo efficitur cursus sed quis sapien. Proin facilisis sapien sit amet venenatis pellentesque. Nulla efficitur, massa a facilisis egestas, massa nulla scelerisque tellus, quis fringilla orci ante sed risus.</p>
    <p>Sed varius volutpat mollis. Vestibulum suscipit hendrerit congue. Donec ante urna, molestie et magna quis, pellentesque auctor urna. Donec porta ligula sed nisl consequat vehicula. Maecenas aliquet, sapien vitae iaculis vestibulum, arcu neque viverra tellus, nec pulvinar diam sem id massa. Nunc vestibulum lacus nunc. Nunc sodales nisi in ante molestie gravida. Sed iaculis, libero quis efficitur fermentum, lacus orci sagittis lacus, sit amet consectetur lectus nibh vel nisi. Sed et accumsan orci. Cras imperdiet nibh odio, vitae dictum purus luctus in. Maecenas a nunc sit amet mauris fermentum fermentum. Curabitur sit amet neque sit amet lorem commodo rutrum vitae sed magna. Sed quis lectus dolor. Nullam placerat augue ut sollicitudin pharetra.</p>

    <blockquote class="blockquote">
      <p>In ut viverra mauris. Duis hendrerit, nulla ac condimentum condimentum, quam sem dignissim nulla, ut suscipit lorem purus sodales sapien. Mauris luctus scelerisque malesuada. Maecenas id augue velit. Donec malesuada, dolor vel auctor fermentum, eros enim auctor tellus, non vestibulum felis elit ut arcu. Maecenas sed euismod arcu, quis aliquam mi. Donec faucibus tristique ex, id cursus metus varius quis. Aenean neque mauris, pulvinar id placerat ac, finibus vel quam.</p>
      <footer class="blockquote-footer">
        — Prénom Nom, chef d’unité
      </footer>
    </blockquote>

    <p>In ut viverra mauris. Duis hendrerit, nulla ac condimentum condimentum, quam sem dignissim nulla, ut suscipit lorem purus sodales sapien. Mauris luctus scelerisque malesuada. Maecenas id augue velit. Donec malesuada, dolor vel auctor fermentum, eros enim auctor tellus, non vestibulum felis elit ut arcu. Maecenas sed euismod arcu, quis aliquam mi. Donec faucibus tristique ex, id cursus metus varius quis. Aenean neque mauris, pulvinar id placerat ac, finibus vel quam. Praesent fringilla neque ante, et auctor augue gravida at. Nunc pulvinar, nibh fringilla suscipit interdum, augue velit convallis enim, tempor rutrum risus justo ac mauris. Praesent lobortis odio augue. Curabitur vestibulum condimentum ipsum, a rhoncus est malesuada quis. Fusce luctus nisl et tortor varius ornare.</p>
    <p>Nunc id imperdiet est. Phasellus a semper ante. Sed purus nisi, iaculis non purus id, ultricies vulputate leo. Ut dignissim vitae quam eget gravida. Nulla nec metus tortor. Nullam quis nisl at purus commodo consequat. Nullam sem dolor, faucibus in turpis eleifend, condimentum ultricies nisi. Phasellus vitae gravida lectus. Nam tellus magna, lacinia vel congue non, egestas at erat. Mauris consequat, justo in lobortis pharetra, nibh sapien gravida risus, vitae commodo nunc tellus eu nisi. Fusce tempus nisl laoreet diam luctus dictum. Aenean nisi felis, maximus nec ante ut, sodales viverra nisl. Vivamus iaculis fermentum lorem, vel sagittis erat imperdiet ac. In hac habitasse platea dictumst. Vivamus congue augue eget mi mollis tristique.</p>
    <p>Cras non sem sed erat feugiat pellentesque. In in risus est. Praesent ut lectus sit amet leo viverra scelerisque. Nulla facilisi. Cras vel lectus tortor. In auctor dictum odio vitae mollis. Donec fringilla viverra suscipit. Curabitur cursus nibh a purus volutpat imperdiet. Integer mollis varius enim eu porttitor.</p>
    
  </div>
    
  <footer class="post-footer pt-4">
    
    <div class="post-nav py-md-1">
      
      <div class="nav-next">
        <a class="btn btn-secondary post-link" href="#">
          <span class="label muted">
            {% include '@atoms/icon/icon.twig' with { icon: 'arrow-left', icon_classes:'feather' } %}
            Next post<span class="colon">:</span>
          </span>
          <span class="post-title"><strong>Lorem ipsum dolor sit amet</strong></span>
        </a>
      </div>
      
      <div class="nav-prev">
        <a class="btn btn-secondary post-link" href="#">
          <span class="label muted">
            Previous post<span class="colon">:</span>
            {% include '@atoms/icon/icon.twig' with { icon: 'arrow-right', icon_classes:'feather' } %}
          </span>
          <span class="post-title"><strong>Consectetur adipiscing elit</strong></span>
        </a>
      </div>
      
    </div>
    
    <div class="post-meta mt-4">
      <h2 class="h5">Mots-clés</h2>
      <p>
        <a href="#" class="tag tag-primary">Lorem ipsum</a>
        <a href="#" class="tag tag-primary">Dolor sit amet</a>
        <a href="#" class="tag tag-primary">Consectetur</a>
        <a href="#" class="tag tag-primary">Adipiscing</a>
        <a href="#" class="tag tag-primary">Praesent</a>
        <a href="#" class="tag tag-primary">Viverra a augue</a>
        <a href="#" class="tag tag-primary">Morbi ante nisi</a>
        <a href="#" class="tag tag-primary">Venenatis</a>
      </p>
    </div>

  </footer>

</article>
{% endblock %}
