@charset 'utf-8';

article.blog-post {
  
  header {
    border-bottom: 1px solid $gray-100;
  }
  
  footer {
    border-color: $gray-100;
  }
}

.entry-content {
  
  p:last-child {
    margin-bottom: 0;
  }
}

.post-footer .post-nav {
  
  .nav-prev,
  .nav-next {
    text-align: center;
    
    .btn {
      width: 100%;
      font-size: .875rem;
      text-align: inherit;
    }
    
    .icon {
      display: none;
    }
      
    .label,
    .post-title {
      display: block;
    }
  }
  
  .nav-prev {
    margin-top: .5rem;
  }
  
  @include media-breakpoint-up(md) {
    display: flex;
    justify-content: space-between;
    
    .nav-prev,
    .nav-next {
      max-width: 48%;
    
      .icon {
        display: inline;
      }
      
      .colon {
        @include sr-only;
      }
    }
    
    .nav-next {
      text-align: left;
    }
    
    .nav-prev {
      margin: 0 0 0 auto;
      text-align: right;
    }
    
    .post-title {
      font-size: .9375rem;
    }
  }
}
