{% if title is not defined %}{% set title = 'Further readings' %}{% endif %}
{% if title %}
<h4>{{title}}</h4>
{% endif %}

<button
  class="collapse-title collapse-title-desktop"
  type="button"
  data-toggle="collapse"
  data-target="#collapse-1"
  aria-expanded="false"
  aria-controls="collapse-1"
>
  Teaching Staff Member at School Concil IC
</button>

<div class="collapse collapse-item show collapse-item-desktop" id="collapse-1">

  <div class="row pt-3 pb-4">
    <div class="col-md-7">
      <p itemprop="location" itemscope itemtype="http://schema.org/Place">
        <strong itemprop="name">EPFL PRES</strong><br/>
        <span itemprop="address">
          CE 3 316 (Centre Est)<br/>
          Station 1<br/>
          CH-1015 Lausanne
        </span>
      </p>
    </div>
    <div class="col-md-5">
      <a href="tel:+41 21 666 77 88" class="btn btn-sm btn-secondary mb-2">+41 21 666 77 88</a><br/>
      {% include "@atoms/icon/icon.twig" %} <a href="#">Website</a><br/>
      {% include "@atoms/icon/icon.twig" %} <a href="#">Directory</a><br/>
      {% include "@atoms/icon/icon.twig" %} <a href="#">CE 3 316</a>
    </div>
  </div>

</div>

<button
  class="collapse-title collapse-title-desktop collapsed"
  type="button"
  data-toggle="collapse"
  data-target="#collapse-2"
  aria-expanded="false"
  aria-controls="collapse-2"
>
  Silent Spring
</button>

<div class="collapse collapse-item collapse-item-desktop" id="collapse-2">
  <div class="row pt-3 pb-4">
    <div class="col-md-7">
      <p itemprop="location" itemscope itemtype="http://schema.org/Place">
        <strong itemprop="name">EPFL PRES</strong><br/>
        <span itemprop="address">
          CE 3 316 (Centre Est)<br/>
          Station 1<br/>
          CH-1015 Lausanne
        </span>
      </p>
    </div>
    <div class="col-md-5">
      <a href="tel:+41 21 666 77 88" class="btn btn-sm btn-secondary mb-2">+41 21 666 77 88</a><br/>
      {% include "@atoms/icon/icon.twig" %} <a href="#">Website</a><br/>
      {% include "@atoms/icon/icon.twig" %} <a href="#">Directory</a><br/>
      {% include "@atoms/icon/icon.twig" %} <a href="#">CE 3 316</a>
    </div>
  </div>
</div>

<button
  class="collapse-title collapse-title-desktop collapsed"
  type="button"
  data-toggle="collapse"
  data-target="#collapse-3"
  aria-expanded="false"
  aria-controls="collapse-3"
>
  The Hitchhiker's Guide to the Galaxy
</button>

<div class="collapse collapse-item collapse-item-desktop" id="collapse-3">
  <div class="row pt-3 pb-4">
    <div class="col-md-7">
      <p itemprop="location" itemscope itemtype="http://schema.org/Place">
        <strong itemprop="name">EPFL PRES</strong><br/>
        <span itemprop="address">
          CE 3 316 (Centre Est)<br/>
          Station 1<br/>
          CH-1015 Lausanne
        </span>
      </p>
    </div>
    <div class="col-md-5">
      <a href="tel:+41 21 666 77 88" class="btn btn-sm btn-secondary mb-2">+41 21 666 77 88</a><br/>
      {% include "@atoms/icon/icon.twig" %} <a href="#">Website</a><br/>
      {% include "@atoms/icon/icon.twig" %} <a href="#">Directory</a><br/>
      {% include "@atoms/icon/icon.twig" %} <a href="#">CE 3 316</a>
    </div>
  </div>
</div>
