{% if title is not defined %}{% set title = 'Further readings' %}{% endif %}
{% if title %}
<h4>{{title}}</h4>
{% endif %}

<button
  class="collapse-title collapse-title-desktop collapsed"
  type="button"
  data-toggle="collapse"
  data-target="#collapse-1"
  aria-expanded="false"
  aria-controls="collapse-1"
>
  On the Origin of Species
</button>

<div class="collapse collapse-item collapse-item-desktop" id="collapse-1">
  <p>Book by Charles Darwin, 1859 — On the Origin of Species, published on 24 November 1859, is a work of scientific literature by Charles Darwin which is considered to be the foundation of evolutionary biology.</p>
</div>

<button
  class="collapse-title collapse-title-desktop collapsed"
  type="button"
  data-toggle="collapse"
  data-target="#collapse-2"
  aria-expanded="false"
  aria-controls="collapse-2"
>
  Silent Spring
</button>

<div class="collapse collapse-item collapse-item-desktop" id="collapse-2">
  <p>Book by Rachel Carson, 1962 — Silent Spring is an environmental science book by Rachel Carson. The book was published on 27 September 1962 and it documented the adverse effects on the environment of the indiscriminate use of pesticides.</p>
</div>

<button
  class="collapse-title collapse-title-desktop collapsed"
  type="button"
  data-toggle="collapse"
  data-target="#collapse-3"
  aria-expanded="false"
  aria-controls="collapse-3"
>
  The Hitchhiker's Guide to the Galaxy
</button>

<div class="collapse collapse-item collapse-item-desktop" id="collapse-3">
  <p>Book by Douglas Adams, 1978–80 — The Hitchhiker's Guide to the Galaxy (sometimes referred to as HG2G, HHGTTG or H2G2) is a comedy science fiction series created by Douglas Adams. Originally a radio comedy broadcast on BBC Radio 4 in 1978, it was later adapted to other formats, including stage shows, novels, comic books, a 1981 TV series, a 1984 video game, and 2005 feature film.</p>
</div>
