{% if title is not defined %}{% set title = 'Contact information' %}{% endif %}
{% if title %}
<h4>{{title}}</h4>
{% endif %}

<button
  class="collapse-title collapse-title-desktop"
  type="button"
  data-toggle="collapse"
  data-target="#collapse-1"
  aria-expanded="false"
  aria-controls="collapse-1"
>
  <strong>Fonction précise</strong>, <span class="font-weight-normal">Nom du département</span>
</button>

<div class="collapse collapse-item show collapse-item-desktop" id="collapse-1">

  <div class="row pt-2 pb-2">
    <div class="col-md-5">
      <p itemprop="location" itemscope itemtype="http://schema.org/Place">
        <strong itemprop="name">EPFL PRES</strong><br/>
        <span itemprop="address">
          CE 3 316 (Centre Est)<br/>
          Station 1<br/>
          CH-1015 Lausanne
        </span>
      </p>
    </div>
    <div class="col-md-7">
      <p>
        <a href="tel:+41 21 666 77 88" class="btn btn-sm btn-secondary mb-2 align-baseline">+41 21 666 77 88</a>
        <small class="align-baseline ml-2">Bureau principal: <a href="#">INN 019</a></small>
        <br>
        <a href="tel:+41 21 666 55 66" class="btn btn-sm btn-secondary mb-2 align-baseline">+41 21 666 55 66</a>
        <small class="align-baseline ml-2">Bureau: <a href="#">INN 018</a></small>
        <br>
        <small>Unité: <a href="#">EPFL</a> &rsaquo; <a href="#">SI</a> &rsaquo; <a href="#">SI-EXOP</a> &rsaquo; <a href="#">EXAPP</a></small>
      </p>
    </div>
    <div class="col-sm-12">
      <p><span class="sr-only">Web site: </span><a href="https://www.epfl.ch/about/vice-presidencies/vice-presidencies/information-systems/">https://www.epfl.ch/about/vice-presidencies/vice-presidencies/information-systems/</a></p>
    </div>
  </div>

</div>

<button
  class="collapse-title collapse-title-desktop collapsed"
  type="button"
  data-toggle="collapse"
  data-target="#collapse-2"
  aria-expanded="false"
  aria-controls="collapse-2"
>
  <strong>Fonction précise</strong>, <span class="font-weight-normal">Nom du département</span>
</button>

<div class="collapse collapse-item collapse-item-desktop" id="collapse-2">

  <div class="row pt-2 pb-2">
    <div class="col-md-5">
      <p itemprop="location" itemscope itemtype="http://schema.org/Place">
        <strong itemprop="name">EPFL PRES</strong><br/>
        <span itemprop="address">
          CE 3 316 (Centre Est)<br/>
          Station 1<br/>
          CH-1015 Lausanne
        </span>
      </p>
    </div>
    <div class="col-md-7">
      <p>
        <a href="tel:+41 21 666 77 88" class="btn btn-sm btn-secondary mb-2 align-baseline">+41 21 666 77 88</a>
        <small class="align-baseline ml-2">Bureau principal: <a href="#">INN 019</a></small>
        <br>
        <small>Unité: <a href="#">EPFL</a> &rsaquo; <a href="#">SI</a> &rsaquo; <a href="#">SI-EXOP</a> &rsaquo; <a href="#">EXAPP</a></small>
      </p>
    </div>
    <div class="col-sm-12">
      <p><span class="sr-only">Web site: </span><a href="https://rh.epfl.ch/">https://rh.epfl.ch/</a></p>
    </div>
  </div>

</div>

<button
  class="collapse-title collapse-title-desktop collapsed"
  type="button"
  data-toggle="collapse"
  data-target="#collapse-3"
  aria-expanded="false"
  aria-controls="collapse-3"
>
  <strong>Fonction précise</strong>, <span class="font-weight-normal">Nom du département</span>
</button>

<div class="collapse collapse-item collapse-item-desktop" id="collapse-3">

  <div class="row pt-2 pb-2">
    <div class="col-md-5">
      <p itemprop="location" itemscope itemtype="http://schema.org/Place">
        <strong itemprop="name">EPFL PRES</strong><br/>
        <span itemprop="address">
          CE 3 316 (Centre Est)<br/>
          Station 1<br/>
          CH-1015 Lausanne
        </span>
      </p>
    </div>
    <div class="col-md-7">
      <p>
        <a href="tel:+41 21 666 77 88" class="btn btn-sm btn-secondary mb-2 align-baseline">+41 21 666 77 88</a>
        <small class="align-baseline ml-2">Bureau principal: <a href="#">INN 019</a></small>
        <br>
        <a href="tel:+41 21 666 55 66" class="btn btn-sm btn-secondary mb-2 align-baseline">+41 21 666 55 66</a>
        <small class="align-baseline ml-2">Bureau: <a href="#">INN 018</a></small>
        <br>
        <small>Unité: <a href="#">EPFL</a> &rsaquo; <a href="#">SI</a> &rsaquo; <a href="#">SI-EXOP</a> &rsaquo; <a href="#">EXAPP</a></small>
      </p>
    </div>
  </div>

</div>