<div class="form-group custom-control">
  <label for="range-slider">Example range</label>
  <input type="range" id="rangeSlider" name="range" class="form-control-range custom-range" min="1" max="10" step="1" value="3" id="range-slider" oninput="rangeOutput.value = rangeSlider.value">
  <span class="output">
    Value:
    <strong><output for="range-slider" id="rangeOutput" aria-hidden="true">3</output></strong>
  </span>
</div>
