{% extends "@templates/base/base.twig" %}

{% block content %}

<div class="container-full">
  {% include '@organisms/hero/hero.twig' with {
    title: 'Research',
    cover_path: 'images/cover/cover01_',
    content: ''
  } %}
</div>

<div class="container">
  <div class="container-grid mt-5 mb-6" id="tour-intro">
    <p>
      Insérer le composant "Key numbers"
    </p>
  </div>
</div>

<div class="container-full bg-gray-100 py-5 mb-5">
  <div class="container">
    <h2 class="mb-4">The last news</h2>
    <div class="row">
      {% for i in 1..2 %}
        <div class="col-md-6">
          {% include '@content-types/news/news-basic-teaser.twig' %}
        </div>
      {% endfor %}
    </div>
    <p class="text-center">
      <a href="#">See all news</a>
    </p>
  </div>
</div>

<div class="container">
  <div class="mb-4">
    <p>
      L'EPFL s'engage dans des projets novateurs alliant recherche fondamentale et recherche appliquée. Cette orientation permet de transformer l'excellence scientifique en compétitivité économique, en emplois et en qualité de vie, grâce au transfert des technologies.</p>
      <p>L'Ecole dispose d'une organisation unique pour stimuler les recherches transdisciplinaires et favoriser les partenariats avec d'autres institutions.</p>
      <p>Avec plus de 300 laboratoires et groupes de recherche sur son campus, l'EPFL figure parmi les institutions les plus innovantes et les plus productives sur le plan scientifique.</p>
    </p>
  </div>
</div>

<div class="container-full bg-gray-100 py-5 mb-5 mt-6">
  <div class="container">
    <h2 class="mb-4">Explore</h2>
    <div class="row">
      {% for i in 1..3 %}
        <div class="col-md-4">
          {% include '@content-types/basic-page/basic-page.twig' %}
        </div>
      {% endfor %}
    </div>
    </p>
  </div>
  <div class="container">
    <h2 class="mb-4">Engage</h2>
    <div class="row">
      {% for i in 1..4 %}
        <div class="col-md-6">
          {% include '@content-types/basic-page/basic-page.twig' %}
        </div>
      {% endfor %}
    </div>
    </p>
  </div>
</div>


<div class="container">
  <div class="mb-4">
    <div class="row">
      <div class="col-md-6">
        {% include '@organisms/contact/contact.twig' %}
      </div>
      <div class="col-md-6">
        {% include '@content-types/basic-page/basic-page.twig' %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
