{% set isSpecial = true %}

{% extends "@templates/base/base.twig" %}

{% block header %}
  {% include '@organisms/header/header-light.twig' with { site_title: 'Event title' } %}
{% endblock %}

{% block breadcrumb %}
<div class="breadcrumb-container">
  {% include '@molecules/breadcrumb/breadcrumb.twig' %}
</div>
{% endblock %}

{% block content %}

<div class="container mt-5">
  <h1>Événements</h1>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <div>
        {% include '@molecules/datepicker/datepicker.twig' %}
      </div>
      <div class="mt-5">
        {% include '@molecules/filters/filters.twig' %}
      </div>
    </div>
    <div class="col-md-8">
      {% include '@content-types/event/event-listing.twig' %}
    </div>
  </div>
</div>
{% endblock %}

{% block footer_container %}
  <div class="bg-gray-100 pt-5">
    <div class="container">
      {% block footer %}
        {% include '@organisms/footer/footer-light.twig' %}
      {% endblock %}
    </div>
  </div>
  {% endblock %}
  </div>
</div>
