<div class="container">
    <div class="row">
      <div class="col-md-6" id="tour-team">
        {% include '@content-types/basic-page/basic-page.twig' %}
      </div>
      <div class="col-md-6" id="tour-sponsors">
        <h3 class="mb-4">Our sponsors</h3>
        {% include '@molecules/sponsor/sponsor.twig' %}
        {% include '@molecules/sponsor/sponsor.twig' %}
      </div>
    </div>
  </div>