{% set isHomepage = true %}

{% extends "@templates/base/base.twig" %}

{% block content %}
  <div class="alert alert-info">
    <h4>container-grid</h4>
    <p>The <strong>.container-grid</strong> class is used to wrap the whole content of a page. All the direct childs of this wrapper (text blocks for example) will have a maximum width, to ensure a good readability</p>
  </div>

  <div class="container-full">
    <div class="alert alert-warning">
      <h4>container-full</h4>
      <p>Inside of the <strong>.container-grid</strong>, you can use the <strong>.container-full</strong> class to make a component take the full width page.</p>
    </div>
  </div>

  <div class="container">
    <div class="alert alert-success">
      <h4>container</h4>
      <p>This <strong>.container</strong> class is the bootstrap defaut one. When used, It will fallback to the default bootstrap behavior, that cant be divided with rows, columns, etc... (see <a href="https://getbootstrap.com/docs/4.1/layout/grid/">the Bootstrap documentation)</a></p>
    </div>
  </div>
{% endblock %}