{% set isSpecial = true %}

{% extends "@templates/base/base.twig" %}

{% block header %}
  {% include '@organisms/header/header-light.twig' with { site_title: 'example blog name' } %}
{% endblock %}

{% block content %}
<div class="container-full">
  {% include '@content-types/news/news-highlighted.twig' %}
</div>

<div class="container mt-5">
  <div class="card-deck">
    {% for 1 in 1..12 %}
      {% include '@content-types/news/news-basic-teaser.twig' %}
    {% endfor %}
  </div>
</div>

<div class="container mt-3">
  {% include '@molecules/pagination/pagination-center.twig' %}
</div>
{% endblock %}

{% block footer_container %}
<div class="bg-gray-100 pt-5">
  <div class="container">
    {% block footer %}
      {% include '@organisms/footer/footer-light.twig' %}
    {% endblock %}
  </div>
</div>
{% endblock %}
