<div class="row">
  <div class="col-md-6">
    <p class="mb-1"><b>Standard</b></p>
    <span class="badge tag tag-primary">Catégorie</span>
  </div>
  <div class="col-md-6">
    <p class="mb-1"><b>Dismissible</b></p>
    <span class="badge tag tag-primary">
      Rouge
      <a href="javascript:void(0)" class="remove" tabindex="-1" title="Remove">×</a>
    </span>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <p class="mb-1 mt-3">Exemple d'utilisation</p>
    <span class="badge tag tag-primary">Huîtres</span>
    <span class="badge tag tag-primary">Crevettes</span>
    <span class="badge tag tag-primary">Bar</span>
    <span class="badge tag tag-primary">Citron</span>
    <span class="badge tag tag-primary">Saint-Jacques</span>
    <span class="badge tag tag-primary">Turbo</span>
    <span class="badge tag tag-primary">Algues vertes</span>
    <span class="badge tag tag-primary">Beurre demi-sel</span>
    <span class="badge tag tag-primary">Saumon</span>
  </div>
  <div class="col-md-6">
    <p class="mb-1 mt-3">Exemple d'utilisation</p>
    <div class="form-group">
      <label class="custom-control-label" for="">Vos critères de recherches</label>
      <input type="text" class="selectize">
    </div>
  </div>
</div>

