@charset 'utf-8';

.btn {
  text-decoration: none;
  transition:
    background 0.15s,
    color 0.15s,
    border-color 0.15s;

  @extend .focused;

  &:before { border-width: 2px; }

  &:disabled,
  &.disabled { opacity: 1; }
}

.btn-primary {
  font-weight: $font-weight-bold;

  &:hover,
  &.hover {
    background: $dark-red;
    border-color: $dark-red;
  }

  &:focus:before,
  &.focus:before { border-color: $dark-red; }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    // ugly ↓
    // background: linear-gradient(to bottom, $dark-red 0%, $red 100%);
    background: darken($dark-red, 10%);
    border-color: darken($dark-red, 10%);
  }

  &:disabled,
  &.disabled {
    background: $gray-100;
    border-color: $gray-300;
    color: $gray-300;

    .bg-dark & {
      background: $gray-800;
      border-color: $gray-700;
      color: $gray-600;
    }
  }
}

.btn-secondary {
  background: transparent;
  border-color: $gray-300;

  .bg-dark & {
    border-color: $gray-600;
    color: $white !important;
  }

  .bg-gray-100 & {
    background-color: $body-bg;
  }

  &:hover,
  &.hover {
    background: $gray-100;
    border-color: $gray-600;

    .bg-dark & {
      background: transparent;
      border-color: $gray-100;
    }
  }

  &:focus:before,
  &.focus:before { border-color: $gray-600; }

  .bg-dark &:focus,
  .bg-dark &.focus {
    border-color: $gray-100;
    &:before { border-color: $gray-100; }
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    background: linear-gradient(to bottom, $gray-100 0%, $white 100%);
    border-color: $gray-400;

    .bg-dark & {
      background: $gray-600;
      border-color: $white;
    }
  }

  &:disabled,
  &.disabled {
    background: transparent;
    border-color: $gray-700;
    color: $gray-600 !important;
  }
}

.btn-light {
  &,
  &:hover {
    border-color: gray('600');
  }
}
