<div class="row">
  <div class="col-md-6">
    <p class="mb-1"><b>Standard</b></p>
    <a href="#" class="badge badge-primary">Catégorie</a>
  </div>
  <div class="col-md-6">
    <p class="mb-1"><b>Dismissible</b></p>
    <a href="#" class="badge badge-primary badge-dismissible">Rouge</a>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <p class="mb-1 mt-3">Exemple d'utilisation</p>
    <a href="#" class="badge badge-primary">Huîtres</a>
    <a href="#" class="badge badge-primary">Crevettes</a>
    <a href="#" class="badge badge-primary">Bar</a>
    <a href="#" class="badge badge-primary">Citron</a>
    <a href="#" class="badge badge-primary">Saint-Jacques</a>
    <a href="#" class="badge badge-primary">Turbo</a>
    <a href="#" class="badge badge-primary">Algues vertes</a>
    <a href="#" class="badge badge-primary">Beurre demi-sel</a>
    <a href="#" class="badge badge-primary">Saumon</a>
  </div>
  <div class="col-md-6">
    <p class="mb-1 mt-3">Exemple d'utilisation</p>
    <div class="form-group">
      <label class="custom-control-label" for="">Vos critères de recherches</label>
      <div class="badge-group">
        <a href="#" class="badge badge-primary badge-dismissible">Grand</a>
        <a href="#" class="badge badge-primary badge-dismissible">Salon</a>
        <a href="#" class="badge badge-primary badge-dismissible">42</a>
      </div>
    </div>
  </div>
</div>

