{% set isHomepage = true %}

{% extends "@templates/base/base.twig" %}

{% block grid %}{% endblock %}

{% block content %}

<div class="hero">
  <div class="hero-content-container">
    <h1 class="hero-title">Event name</h1>
  </div>
  <div class="hero-img">
    <img src="images/gallery/gallery_01.jpg" alt="IMAGE DESCRIPTION HERE" class="img-fluid">
  </div>
</div>

<div class="container">
  <div class="container-grid mt-5 mb-6">
    <p>
      This is a laboratory introduction text about the event. It's always interesting to know in few lines what is all about.
    </p>
  </div>
</div>

<div class="container">
  <h2 class="mb-4 mt-6">The last news</h2>
  <div class="row">
    {% for i in 1..2 %}
      <div class="col-md-6">
        {% include '@content-types/news/news-basic-teaser.twig' %}
      </div>
    {% endfor %}
  </div>
  <p class="text-center">
    <a class="link-pretty" href="#">See all news</a>
  </p>
</div>

<div class="container">
  <h2 class="mb-4 mt-6">Useful informations</h2>
  <div class="row">
    {% for i in 1..2 %}
      <div class="col-md-6">
        {% include '@content-types/basic-page/basic-page.twig' %}
      </div>
    {% endfor %}
  </div>
  </p>
</div>

<div class="container">
  <h2 class="mb-4 mt-6">Program</h2>
  <div class="row">
    {% include '@organisms/fullwidth-teaser/fullwidth-teaser-horizontal.twig' %}
  </div>
  </p>
</div>

<div class="container">
  <h2 class="mb-4 mt-6">Our sponsors</h2>
  <div class="row">
    {% for i in 1..3 %}
      <div class="col-md-4">
        {% include '@molecules/sponsor/sponsor.twig' %}
      </div>
    {% endfor %}
  </div>
  </p>
</div>

<div class="container">
  <div class="row">
    {% include '@organisms/contact/contact-banner.twig' %}
  </div>
  </p>
</div>


{% endblock %}

