<form class="question" action="">

  <div class="question-img">
    {% include '@atoms/picture/picture-question.twig' %}
  </div>

  <div class="question-content">
    <h2 class="question-title">Question de science</h2>
    <h3 class="question-subtitle mt-3 mb-0">À quoi l'éternel brouillard de San Francisco est-il dû ?</h3>

    <div class="question-answers mt-4">
      {% for i in [1,2,3] %}
          <input type="radio" id="custom-radio{{i}}" name="customRadio" class="custom-control-input">
          <label class="custom-control-label" for="custom-radio{{i}}">
            <span class="custom-control-label-content">
            {{ label ?: 'Option ' ~ i }}</span>
            <span class="trapeze-horizontal d-none d-lg-block"></span>
            <span class="trapeze-vertical d-lg-none"></span>
          </label>
      {% endfor %}
    </div>
    <input type="submit" class="btn btn-primary mt-4 " value="Voter">
  </div>
</form>
