<div class="question">

  <div class="question-img">
    {% include '@atoms/picture/picture-question.twig' %}
  </div>

  <div class="question-content">
    {% if type %}<p class="h6">{{ type }}</p>{% endif %}
    <p class="h3">À quoi l’éternel brouillard de San Francisco est-il principalement dû ?</p>

    <div class="question-answers">
      {% set options = options|default(['Option 1', 'Option 2', 'Option 3']) %}
      {% for option in options %}
        <input type="radio" id="custom-radio{{loop.index}}" name="customRadio" class="custom-control-input">
        <label class="custom-control-label" for="custom-radio{{loop.index}}">
          <span class="custom-control-label-content">
          {{ option }}</span>
          <span class="trapeze-horizontal d-none d-lg-block"></span>
          <span class="trapeze-vertical d-lg-none"></span>
        </label>
      {% endfor %}
    </div>

    {% if vote %}
    <div class="mt-4">
      <a href="#" class="btn btn-primary">Voter</a>
    </div>
    {% endif %}
  </div>
</div>
