@charset 'utf-8';
@use 'sass:math';

$checked-tag: 1.7rem;
$half-checked-tag: math.div($checked-tag, 2);
$icon-checked-tag: math.div($checked-tag, 2.7);
$animation: 0.2s;

.question {
  display: flex;
  flex-flow: column wrap;

  // icon appearance animation
  @keyframes popin {
    100% {
      transform: scale(1);
    }
  }

  h3,
  .h3 {
    margin-top: 1rem;
    margin-bottom: 3rem;
  }

  .custom-control-label {
    flex: 1 1 auto;
    flex-basis: 0;
    position: relative;
    transition: $animation;

    // red icon styles
    &:before {
      content: ' ';
      position: absolute;
      width: $checked-tag;
      height: $checked-tag;
      border: none;
      border-radius: 50%;
      margin-top: 0;
      transform: scale(0);
      transition: margin $animation;
      box-shadow: none !important;
      z-index: $zindex-10 + 5;
    }

    &:after {
      content: ' ';
      position: absolute;
      width: $icon-checked-tag;
      height: $icon-checked-tag;
      background: $custom-checkbox-indicator-icon-checked;
      transform: scale(0);
      transition: margin $animation;
      z-index: $zindex-10 + 15;
    }

    // base hover behaviour
    &:hover {
      cursor: pointer;

      .custom-control-label-content {
        border-color: $black;
        z-index: $zindex-10;
      }
    }
  }

  .custom-control-label-content {
    display: block;
    position: relative;
    padding: 1rem 1.3rem;
    background: $white;
    border: 1px solid $gray-200;
    z-index: $zindex-5;
    transition: $animation;
  }

  // checked animation and styles
  .custom-control-input:checked + .custom-control-label {
    @extend .custom-control-label, :hover;
    z-index: $zindex-10;

    .custom-control-label-content {
      border-color: $black;
      z-index: $zindex-10;
    }

    &:before,
    &:after {
      animation: popin $animation forwards;
    }
  }
}

.question-title {
  font-size: $font-size-base * 1.2;
  text-transform: uppercase;
  color: gray('600');
}

.question-subtitle {
  font-size: $font-size-base * 1.4;
  font-weight: bold;
}

.question-img {
  flex: 0 0 100%;
}

.question-content {
  padding: ($spacer * 4);
}

.question-answers {
  display: flex;
  flex-flow: column nowrap;
  padding-right: $checked-tag;
}

// mobile styles
@include media-breakpoint-down(md) {
  .question {
    .custom-control-label {
      @include trapeze-span-vertical-container();

      // icon positionning
      &:before {
        top: calc(50% - #{$half-checked-tag});
        right: -$half-checked-tag;
        left: auto;
      }

      &:after {
        top: calc(50% - #{math.div($icon-checked-tag, 2)});
        right: - math.div($icon-checked-tag, 2);
        left: auto;
      }
    }

    // border overlap
    .custom-control-label-content {
      margin-bottom: -1px;
    }
  }

  .question-content {
    padding: $spacer 0;
  }

  // checked styles
  .custom-control-input:checked + .custom-control-label {
    z-index: $zindex-10;
  }
}

@include media-breakpoint-up(lg) {
  .question {
    flex-flow: row nowrap;
    align-items: stretch;
    background-image: linear-gradient(to right, $white 30%, $gray-100 30%);
    padding: 10rem 0;

    h3,
    .h3 {
      margin-top: 0;
    }

    // icon positioning
    .custom-control-label {
      @include trapeze-span-horizontal-container();

      &:before {
        top: -$half-checked-tag;
        left: calc(50% - #{$half-checked-tag});
      }

      &:after {
        top: - math.div($icon-checked-tag, 2);
        left: calc(50% - #{math.div($icon-checked-tag, 2)});
      }

      &:hover {
        z-index: $zindex-10;
      }
    }

    // border overlap and stretch
    .custom-control-label-content {
      height: 100%;
      margin-left: -1px;
    }
  }

  .question-img {
    flex: 0 0 45%;

    picture,
    img {
      display: block;
      width: 100% !important;
    }
  }

  .question-answers {
    display: flex;
    flex-flow: row nowrap;
    padding: 0;
  }

  .question-content {
    padding: 0 4rem;
  }
}
