<div class="py-1">
  <progress value="0"></progress>
</div>
<div class="py-1">
  <progress value="0.25"></progress>
</div>
<div class="py-1">
  <progress value="1" max="2"></progress>
</div>
<div class="py-1">
  <progress value="75" max="100"></progress>
</div>
<div class="py-1">
  <progress value="100" max="100"></progress>
</div>
