<div class="py-1">
  <progress
    class="progress"
    value="75"
    max="100"
    style="height: 1px"
  ></progress>
</div>
<div class="py-1">
  <progress
    class="progress"
    value="75"
    max="100"
    style="height: 25px"
  ></progress>
</div>
