
{% extends "@templates/base/base.twig" %}

{% block header %}
<header role="banner" class="header header-light">
  {% include '@atoms/drawer/drawer.twig' %}
  <div class="header-light-content">
    <a class="logo" href="#">
      <img src="svg/epfl-logo.svg" alt="Logo EPFL, École polytechnique fédérale de Lausanne" class="img-fluid">
    </a>
    <h1>Plans d'études</h1>
    {% include '@molecules/search/search-mobile.twig' %}
    {% include '@molecules/search/search.twig' %}
    {% include '@atoms/nav-lang/nav-lang-short.twig' %}
    {% include '@atoms/nav-toggle-mobile/nav-toggle-mobile.twig' %}
  </div>
</header>
{% endblock %}

{% block breadcrumb %}
<div class="breadcrumb-container">
  <nav aria-label="breadcrumb" class="breadcrumb-wrapper">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">
          {% include '@atoms/icon/icon.twig' with { icon: 'icon-home' } %}
        </a>
      </li>
      <li class="breadcrumb-item"><a href="#">Éducation</a></li>
      <li class="breadcrumb-item"><a href="#">Plans d'études</a></li>
      <li class="breadcrumb-item active" aria-current="page">Cycle Bachelor</li>
    </ol>
  </nav>
</div>
{% endblock %}

{% block sideNav %}
  
<nav id="nav-aside" class="nav-aside" role="navigation" aria-describedby="nav-aside-title">
  <h2 class="h5 sr-only-xl">Dans la même section</h2>
  <ul>
    <li class="active">
      <a href="#">Bachelor <span class="sr-only">(page courante)</span></a>
      <ul>
        <li><a href="#">Architecture</a></li>
        <li><a href="#">Chimie</a></li>
        <li><a href="#">Chimie et génie chimique</a></li>
        <li><a href="#">Génie électrique et électronique</a></li>
        <li><a href="#">Génie civil</a></li>
        <li><a href="#">Génie mécanique</a></li>
        <li><a href="#">Informatique</a></li>
        <li><a href="#">Mathématiques</a></li>
        <li><a href="#">Microtechnique</a></li>
        <li><a href="#">Science et génie des matériaux</a></li>
        <li><a href="#">Physique</a></li>
        <li><a href="#">Systèmes de communication</a></li>
        <li><a href="#">Programme Sciences humaines et sociales</a></li>
        <li><a href="#">Sciences et ingénierie de l'environnement</a></li>
        <li><a href="#">Ingénierie des sciences du vivant</a></li>
        <li><a href="#">Projeter ensemble ENAC</a></li>
        <li><a href="#">Génie chimique</a></li>
      </ul>
    </li>
    <li><a href="#">Propédeutique</a></li>
    <li><a href="#">Master</a></li>
    <li><a href="#">Mineur</a></li>
    <li><a href="#">École doctorale</a></li>
  </ul>
</nav>

{% endblock %}

{% block content %}

<div class="container-full px-5 px-xxl-6 mt-5">
  <header class="page-header d-xl-flex justify-content-xl-between align-items-xl-center mb-5">
    <h2 class="mb-4 mb-xl-0">Plan d'études – Cycle Bachelor</h2>
    <button class="btn btn-sm btn-secondary">
    {% include '@atoms/icon/icon.twig' with { icon: 'download', icon_classes:'feather' } %}
    Télécharger le plan d'étude (PDF)
  </button>
  </header>
  {% include '@content-types/study-plan/study-plan-bachelor.twig' %}
</div>

{% endblock %}

{% block footer_container %}
<div class="bg-gray-100 pt-5">
  <div class="container">
    {% block footer %}
      {% include '@organisms/footer/footer-light.twig' %}
    {% endblock %}
  </div>
</div>
{% endblock %}