<h4>Terms definition list</h4>
<dl class="definition-list">
  <dt>Exams and student assessment</dt>
  <dd>All you need to know about exams: schedules, pass conditions, statements of results, what to do in case of illness on the day of an exam, what to do in case of failure, etc.</dd>
  <dt>Internships</dt>
  <dd>Internship exchange. Information on internships by Section.</dd>
  <dt><a href="#">Special needs / course exemptions</a></dt>
  <dd>Application procedure for course exemption. Application procedure for adapted curricula for disabled students or students with high-level sporting or musical activities.</dd>
</dl>
