<h4>Informations utiles</h4>
<dl class="definition-list definition-list-grid">
  <dt>Fonction</dt>
  <dd>Chercheur</dd>
  <dt>Unité</dt>
  <dd><a class="link-pretty" href="#">Laboratoire de métallurgie mécanique</a></dd>
  <dt>Domaines de recherche</dt>
  <dd>
    <a href="#" class="tag tag-primary">Inorganic Chemistry</a>
    <a href="#" class="tag tag-primary">Organic Chemistry</a>
    <a href="#" class="tag tag-primary">Renewable Energy</a>
  </dd>
  <dt>Bureau</dt>
  <dd><a class="link-pretty" href="#">BM 42</a></dd>
  <dt class="definition-list-item-full">A propos</dt>
  <dd class="definition-list-item-full">Research at the Laboratory of Mechanical Metallurgy addresses the science and engineering of advanced metallic materials. Our activities and interests span the entire spectrum from materials processing to the exploration of links between the microstructure and the properties of materials. Materials we study are made at least in part of metal and can be destined for structural or for functional applications.</dd>
</dl>
