<dl class="definition-list definition-list-grid">
  <dt>Fonction</dt>
  <dd>Fonction</dd>
  <dt>Unité</dt>
  <dd><a class="link-pretty" href="#">Laboratoire de métallurgie mécanique</a></dd>
  <dt>Domaine de recherche</dt>
  <dd>
    <a href="#" class="tag tag-primary">Inorganic Chemistry</a>
    <a href="#" class="tag tag-primary">Organic Chemistry</a>
    <a href="#" class="tag tag-primary">Renewable Energy</a>
  </dd>
  <dt>Bureau</dt>
  <dd><a class="link-pretty" href="#">BM 4129</a></dd>
  <dt class="definition-list-item-full">A propos</dt>
  <dd class="definition-list-item-full">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit.</dd>
</dl>
