@charset 'utf-8';

dl {
  margin: $paragraph-margin-bottom 0;
  padding-top: $paragraph-margin-bottom;
  border-top: 2px solid $gray-100;
  border-bottom: 2px solid $gray-100;
}

dd {
  margin-bottom: $paragraph-margin-bottom;
}
