<dl>
  <dt>Information scientifique et bibliothèques</dt>
  <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit eum dolorem numquam aliquam! Sit dolores consequuntur est modi autem nobis qui dicta dolorem ipsa odio ipsum labore tempore esse, saepe quos repellendus, dolore at, minus expedita cum porro! Dolor, dolorum.</dd>
  <dt>Domaine de la recherche</dt>
  <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit eum dolorem numquam aliquam! Sit dolores consequuntur est modi autem nobis qui dicta dolorem ipsa odio ipsum labore tempore esse, saepe quos repellendus, dolore at, minus expedita cum porro! Dolor, dolorum.</dd>
  <dt>Domaine de la <a href="#">recherche</a></dt>
  <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit eum dolorem numquam aliquam! Sit dolores consequuntur est modi autem nobis qui dicta dolorem ipsa odio ipsum labore tempore esse, saepe quos repellendus, dolore at, minus expedita cum porro! Dolor, dolorum.</dd>
</dl>
