@charset 'utf-8';

.access-nav {
  position: absolute;
  top: -1000px;

  ul {
    margin-bottom: 0;

    @include list-unstyled;
  }

  li {
    a {
      display: block;
      position: fixed;
      top: 0;
      left: 25px;
      z-index: 3003;
      transform: translateY(-100%);
      transition:
        opacity 0.2s,
        transform 0.2s;
      opacity: 0;
    }

    a:focus {
      top: 25px;
      transform: translateY(0%);
      opacity: 1;
    }
  }
}
