<nav class="access-nav" aria-label="Raccourcis de navigation">
  <ul>
    <li>
      <a class="btn btn-primary" href="/" title="[ALT + 1]" accesskey="1">Page d'accueil du site</a>
    </li>
    <li>
      <a class="btn btn-primary" href="#main" title="[ALT + 2]" accesskey="2" >Accéder au contenu</a>
    </li>
    <li>
      <a class="btn btn-primary" href="#main-navigation" title="[ALT + 3]" accesskey="3" >Accéder à la navigation principale</a>
    </li>
    <li>
      <a class="btn btn-primary" href="#search" title="[ALT + 4]" accesskey="4" >Accéder à la recherche</a>
    </li>
    <li>
      <a class="btn btn-primary" href="mailto:email@example.com" title="[ALT + 5]" accesskey="5">Nous contacter</a>
    </li>
  </ul>
</nav>
