@charset 'utf-8';

.table {
  width: 100%;

  thead {
    th {
      border-bottom: 3px solid $gray-200;
      padding: 0.3rem 0;
    }
  }

  tbody,
  tfoot {
    color: $black;

    td {
      padding: 0.3rem 0;
      border-bottom: 1px solid $gray-200;

      @include media-breakpoint-down(sm) {
        &:last-child() {
          margin-bottom: 1.2rem;
        }
      }

      .tablesaw-cell-label {
        color: $black;
      }
    }
  }

  tfoot {
    td {
      border-top: 3px solid $gray-200;
      font-weight: bold;
    }
  }
}

.table-boxed {
  @include media-breakpoint-up(md) {
    border: 1px solid $gray-200;
  }

  thead th {
    border-top: 1px solid $gray-200;
  }

  thead th,
  tbody td,
  tfoot td {
    padding-left: 0.45rem;
    padding-right: 0.45rem;
    border-right: 1px solid $gray-200;

    @include media-breakpoint-down(sm) {
      border-left: 1px solid $gray-200;
    }
  }
}

.table-sortable {
  thead {
    th {
      padding: 0;

      button {
        padding: 0.3rem;
        cursor: pointer;

        .tablesaw-sortable-arrow {
          $triangle_width: 0.29rem;
          $triangle_height: 0.35rem;

          display: block;
          position: relative;
          margin-top: 0.1rem;
          float: left;
          width: 1rem;
          height: 1rem;

          &:after {
            content: ' ';
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 0;
            border-left: $triangle_width solid transparent;
            border-right: $triangle_width solid transparent;
            border-bottom: $triangle_height solid $gray-200;
            margin: 0;
          }

          &:before {
            content: ' ';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 0;
            border-left: $triangle_width solid transparent;
            border-right: $triangle_width solid transparent;
            border-top: $triangle_height solid $gray-200;
            margin: 0;
          }
        }
      }

      &.tablesaw-sortable-descending {
        button .tablesaw-sortable-arrow:before {
          border-top-color: $red;
        }
      }

      &.tablesaw-sortable-ascending {
        button .tablesaw-sortable-arrow:after {
          border-bottom-color: $red;
        }
      }
    }
  }
}

.tablesaw-sortable-btn {
  background: transparent;
  border: none;
}
