{% set icon = icon|default("https://via.placeholder.com/") %}
<div class="key-number">
  <div class="card border-0 bg-white m-0 h-100">
    <div class="card-header border-0">
      <p class="h6 mb-3 text-capitalize">Étudiants</p>
      <img src="images/key-numbers/students.png" class="d-block m-auto" alt="">
    </div>
    <div class="card-body pt-0">
      <div class="row">
        <div class="col-sm-6">
          <hr>
          <p class="h5 mb-0">2'706</p>
          <p class="text-small">Femmes</p>
        </div>
        <div class="col-sm-6">
          <hr>
          <p class="h5 mb-0">7'180</p>
          <p class="text-small">Hommes</p>
        </div>
      </div>
    </div>
  </div>
</div>
