{% set icon = icon|default("https://via.placeholder.com/") %}
<div class="card">
  <div class="card border-0 bg-white m-0 h-100">
    <div class="card-header border-0">
      <div class="row">
        <div class="col-md-6">
          <p class="h4">près de 18'000</p>
        </div>
        <div class="col-md-6 text-right">
          <img src="images/styleguide/key-numbers/students.png" class="d-block m-auto" alt="Pictogramme avec deux personnages" />
        </div>
      </div>
    </div>
    <div class="card-body pt-0">
      <div class="row">
        <div class="col-md-12">
          <hr />
          <p>étudiant·es, collaborateurs et collaboratrices font de l'EPFL une petite ville trépidante et dynamique</p>
        </div>
      </div>
    </div>
  </div>
</div>