<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">EPFL</a></li>
    <li class="breadcrumb-item"><a href="#">Schools</a></li>
    <li class="breadcrumb-item active" aria-current="page">ENAC</li>
  </ol>
</nav>