<form action="#" class="d-lg-none">
  <div class="input-group search" role="search">
    <div class="input-group-prepend">
      <span class="input-group-text">
        {% include '@content/icon/icon.twig' with { icon: 'icon-search' } %}
      </span>
    </div>
      <label for="search" class="sr-only">Rechercher sur le site</label>
      <input type="text" class="form-control" id="search" placeholder="Rechercher">
  </div>
</form>
