<div class="card">
  <a href="#" class="card-img-top">
    <picture>
      <img src="./images/event_teaser.png" class="img-fluid" title="professor Xile Hu" alt="a portrait of professor Xile Hu" />
    </picture>
  </a>
  <div class="card-body">
    <p class="small text-muted">BioS</p>
    <h3 class="h5 card-title"><a href="#">BioNanoPhotonic Systems Laboratory</a></h3>
    {% include '@utilities/avatar-teaser/avatar-teaser.twig' %}
    <p>Optical nanobiosensors, lab-on-a-chip devices, ultra-sensitive spectroscopy, nanoplasmonics, metamaterials</p>
  </div>
  <div class="card-footer mt-auto">
    <a href="#" class="btn btn-secondary btn-sm">Voir plus</a>
  </div>
</div>
