<article class="card">
  <a href="#" class="card-img-top">
    <picture>
      <img src="./images/event_teaser.png" class="img-fluid" title="professor Xile Hu" alt="a portrait of professor Xile Hu" />
    </picture>
  </a>
  <div class="card-body">
    <h3 class="h5 card-title"><a href="#">Archivistique, bibliothéconomie et sciences de l'information</a></h3>
    <div class="card-info card-info-bordered">
      <span>MAS CAS FCO</span>
    </div>
    <p>Activités et fonctions des services d'archives et bibliothèques; Systèmes d'information et Records Management.</p>
  </div>
  <div class="card-footer mt-auto">
    <a href="#" class="btn btn-secondary btn-sm mt-auto">Button</a>
  </div>
</article>
