<div class="card">
  <div class="card-body pb-0">
    <div class="card-info">
      <span>Bachelor</span>
      <span>BioS</span>
    </div>
    <h3 class="h5 card-title">
      <a href="#">Generic user interfaces for data manipulation programs</a>
    </h3>
  </div>
  <div class="card-footer mt-auto">
    {% include '@molecules/avatar-teaser/avatar-teaser.twig' %}
    <a href="#" class="btn btn-secondary btn-sm">Project details</a>
  </div>
</div>
