<div class="card">
  <div class="card-body">
    <h3 class="h5 card-title"><a href="#">Institut d'ingénierie de l'environnement – IIE</a></h3>
    <div class="card-info">
      <span>Faculté de l’Environnement Naturel, Architectural et Construit </span>
    </div>
    <p>L’objectif principal de l’Institut d’architecture et de la ville (IA) est le développement de la recherche. Une tâche fondamentale qui sous-entend que l’architecture, la qualité de la construction, l’insertion dans le milieu environnant, le respect des paysages naturels et urbains ainsi que celui du patrimoine culturel sont prioritairement d’intérêt général.</p>
  </div>
  <div class="card-footer mt-auto">
    <a href="#" class="btn btn-secondary btn-sm">Découvrir</a>
  </div>
</div>
